Newworkflows/Agendar.json
{
  "active": false,
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-24T11:34:37.462Z",
  "id": "HrzW3HnfrlGhgMYr",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Agendar",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Fecha"
            },
            {
              "name": "Horario"
            },
            {
              "name": "Nombre Completo"
            },
            {
              "name": "Email"
            },
            {
              "name": "Numero TLF",
              "type": "number"
            }
          ]
        }
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        272,
        352
      ]
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "carlos.f.g.work@gmail.com",
          "mode": "list",
          "cachedResultName": "carlos.f.g.work@gmail.com"
        },
        "start": "={{ $json.Fecha }}T{{ $json.Horario }}",
        "end": "={{ new Date(Date.UTC(\n    Number($json.Fecha.split('-')[0]),\n    Number($json.Fecha.split('-')[1]) - 1,\n    Number($json.Fecha.split('-')[2]),\n    Number($json.Horario.split(':')[0]),\n    Number($json.Horario.split(':')[1]) + 30\n)).toISOString().slice(0,19) }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        480,
        352
      ],
      "id": "fc7ff52d-0fc2-41e1-8c6e-210df40a7f6a",
      "name": "Create an event",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "uibgZJgdZkL31iR6",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ztOH1Om6N7m8oPUS4WOsBijiBBhowsfgDcJgOnjjvGo",
          "mode": "list",
          "cachedResultName": "Contactos Clientes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ztOH1Om6N7m8oPUS4WOsBijiBBhowsfgDcJgOnjjvGo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ztOH1Om6N7m8oPUS4WOsBijiBBhowsfgDcJgOnjjvGo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID Calendar": "={{ $json.id }}",
            "Numero TLF": "1234",
            "Email": "={{ $('When Executed by Another Workflow').item.json.Email }}",
            "Nombre": "={{ $('When Executed by Another Workflow').item.json[\"Nombre Completo\"] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Numero TLF",
              "displayName": "Numero TLF",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID Calendar",
              "displayName": "ID Calendar",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        688,
        352
      ],
      "id": "e84f7a0a-3713-41d6-ab04-7eadb6aa696e",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "b3iIwyK8DLzQZxfk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b27c0709-37dd-4a22-9867-30ddbdac35c9",
              "name": "Listo",
              "value": "Listo",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        352
      ],
      "id": "2dcebb63-8e62-464b-9a82-b54410c6a7f4",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Madrid",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "updatedAt": "2025-10-24T11:34:37.468Z",
      "createdAt": "2025-10-24T11:34:37.468Z",
      "role": "workflow:owner",
      "workflowId": "HrzW3HnfrlGhgMYr",
      "projectId": "Mg9CftDHMIrQGniA"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-01T03:38:18.000Z",
  "versionId": "e1a69145-2b72-4db9-966c-1ecbe164432f"
}