Newworkflows/Agendar Pruebas.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Agendar Pruebas": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-05-03T16:32:34.461Z",
  "id": "maPtE2EIyJRTppWC",
  "isArchived": false,
  "meta": null,
  "name": "Agendar Pruebas",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Nombre"
            },
            {
              "name": "Fecha Inicio"
            },
            {
              "name": "Fecha Fin"
            },
            {
              "name": "Descripcion"
            }
          ]
        }
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "Agendar Pruebas",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        272,
        208
      ]
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "3cf455fae61998f2cf7bfffba57a4e28188afc46dd5d892692826a9254905124@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Restaurante Esturión"
        },
        "start": "={{ $('Agendar Pruebas').item.json['Fecha inicio'] }}",
        "end": "={{ $('Agendar Pruebas').item.json['Fecha fin'] }}",
        "additionalFields": {
          "description": "={{ $('Agendar Pruebas').item.json['Descripción'] }}",
          "summary": "={{ $('Agendar Pruebas').item.json.Titulo }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        720,
        208
      ],
      "id": "8640e57b-d58a-47c8-823c-91716590087d",
      "name": "Create an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "BxLdTiBYRwntbItp",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Obtener la fecha de inicio desde el trigger\nconst fechaInicio = $('Agendar Pruebas').first().json['Fecha inicio'];\n\n// Si no hay fecha de inicio, usar la fecha actual (fallback)\nif (!fechaInicio) {\n  return [{\n    json: {\n      error: \"No se proporcionó Fecha inicio\"\n    }\n  }];\n}\n\n// Calcular fecha fin (añadir 2 horas = 120 minutos)\nconst inicio = new Date(fechaInicio);\nconst fin = new Date(inicio.getTime() + (120 * 60 * 1000));\n\n// Devolver ambas fechas en formato ISO\nreturn [{\n  json: {\n    'Fecha inicio': inicio.toISOString(),\n    'Fecha fin': fin.toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        208
      ],
      "id": "4494e80d-dbe2-49f2-9f3f-7feab66cab4e",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-05-03T16:32:34.470Z",
      "createdAt": "2026-05-03T16:32:34.470Z",
      "role": "workflow:owner",
      "workflowId": "maPtE2EIyJRTppWC",
      "projectId": "Mg9CftDHMIrQGniA"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-05-03T16:42:23.180Z",
  "versionId": "21431344-0d95-484b-81be-0a1112f92419"
}