Newworkflows/Agendar Esturión.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-23T17:29:00.000Z",
    "createdAt": "2026-01-23T16:54:14.482Z",
    "versionId": "26192941-13d7-46b8-a152-272d9efd8838",
    "workflowId": "usBIrNERTn5gZqI8",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "Titulo"
              },
              {
                "name": "Fecha inicio"
              },
              {
                "name": "Fecha fin"
              },
              {
                "name": "Descripción"
              }
            ]
          }
        },
        "id": "c055762a-8fe7-4141-a639-df2372f30060",
        "typeVersion": 1.1,
        "name": "Agendar Esturión",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          272,
          352
        ]
      },
      {
        "parameters": {
          "calendar": {
            "__rl": true,
            "value": "3cf455fae61998f2cf7bfffba57a4e28188afc46dd5d892692826a9254905124@group.calendar.google.com",
            "mode": "list",
            "cachedResultName": "Restaurante Esturión"
          },
          "start": "={{ $json['Fecha Inicio'] }}",
          "end": "={{ $json['Fecha Fin'] }}",
          "additionalFields": {
            "description": "={{ $json['Descripción'] }}",
            "summary": "={{ $json.Titulo }}"
          }
        },
        "type": "n8n-nodes-base.googleCalendar",
        "typeVersion": 1.3,
        "position": [
          480,
          352
        ],
        "id": "df0e9d46-857f-45a3-8ab8-63efc9c51a28",
        "name": "Create an event",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "BxLdTiBYRwntbItp",
            "name": "Google Calendar account 2"
          }
        }
      }
    ],
    "connections": {
      "Agendar Esturión": {
        "main": [
          [
            {
              "node": "Create an event",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Carlos Fernández",
    "name": "Agendar Esturión",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "26192941-13d7-46b8-a152-272d9efd8838",
  "connections": {
    "Agendar Esturión": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-23T16:13:58.956Z",
  "id": "usBIrNERTn5gZqI8",
  "isArchived": false,
  "meta": null,
  "name": "Agendar Esturión",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Titulo"
            },
            {
              "name": "Fecha inicio"
            },
            {
              "name": "Fecha fin"
            },
            {
              "name": "Descripción"
            }
          ]
        }
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "Agendar Esturión",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        272,
        352
      ]
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "3cf455fae61998f2cf7bfffba57a4e28188afc46dd5d892692826a9254905124@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Restaurante Esturión"
        },
        "start": "={{ $('Agendar Esturión').item.json['Fecha inicio'] }}",
        "end": "={{ $json['2026-02-14T00:30:00'] }}",
        "additionalFields": {
          "description": "={{ $('Agendar Esturión').item.json['Descripción'] }}",
          "summary": "={{ $('Agendar Esturión').item.json.Titulo }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        688,
        352
      ],
      "id": "df0e9d46-857f-45a3-8ab8-63efc9c51a28",
      "name": "Create an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "BxLdTiBYRwntbItp",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "addToDate",
        "magnitude": "={{ $json['Fecha inicio'] }}",
        "timeUnit": "hours",
        "duration": 2,
        "outputFieldName": "={{ $json['Fecha fin'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        480,
        352
      ],
      "id": "0e3604ad-a778-43c4-a5e6-1f68facd9f72",
      "name": "Date & Time"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Europe/Madrid",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "updatedAt": "2026-01-23T16:13:58.971Z",
      "createdAt": "2026-01-23T16:13:58.971Z",
      "role": "workflow:owner",
      "workflowId": "usBIrNERTn5gZqI8",
      "projectId": "Mg9CftDHMIrQGniA"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-01T17:23:20.965Z",
  "versionId": "986c1f15-53f6-4ac1-8334-b4cf80fdc885"
}