Newworkflows/Agendar Esturión.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-02-19T12:53:04.000Z",
    "createdAt": "2026-02-19T12:52:59.941Z",
    "versionId": "6ea1b89c-e88a-4377-bcc2-cc39074bc453",
    "workflowId": "usBIrNERTn5gZqI8",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "Titulo"
              },
              {
                "name": "Fecha inicio"
              },
              {
                "name": "Fecha fin"
              },
              {
                "name": "Descripción"
              }
            ]
          }
        },
        "id": "c055762a-8fe7-4141-a639-df2372f30060",
        "typeVersion": 1.1,
        "name": "Agendar Esturión",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          272,
          352
        ]
      },
      {
        "parameters": {
          "calendar": {
            "__rl": true,
            "value": "3cf455fae61998f2cf7bfffba57a4e28188afc46dd5d892692826a9254905124@group.calendar.google.com",
            "mode": "list",
            "cachedResultName": "Restaurante Esturión"
          },
          "start": "={{ $('Agendar Esturión').item.json['Fecha inicio'] }}",
          "end": "={{ $('Agendar Esturión').item.json['Fecha fin'] }}",
          "additionalFields": {
            "description": "={{ $('Agendar Esturión').item.json['Descripción'] }}",
            "summary": "={{ $('Agendar Esturión').item.json.Titulo }}"
          }
        },
        "type": "n8n-nodes-base.googleCalendar",
        "typeVersion": 1.3,
        "position": [
          672,
          352
        ],
        "id": "df0e9d46-857f-45a3-8ab8-63efc9c51a28",
        "name": "Create an event",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "BxLdTiBYRwntbItp",
            "name": "Google Calendar account 2"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Obtener la fecha de inicio desde el trigger\nconst fechaInicio = $('Agendar Esturión').first().json['Fecha inicio'];\n\n// Si no hay fecha de inicio, usar la fecha actual (fallback)\nif (!fechaInicio) {\n  return [{\n    json: {\n      error: \"No se proporcionó Fecha inicio\"\n    }\n  }];\n}\n\n// Calcular fecha fin (añadir 2 horas = 120 minutos)\nconst inicio = new Date(fechaInicio);\nconst fin = new Date(inicio.getTime() + (120 * 60 * 1000));\n\n// Devolver ambas fechas en formato ISO\nreturn [{\n  json: {\n    'Fecha inicio': inicio.toISOString(),\n    'Fecha fin': fin.toISOString()\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          480,
          352
        ],
        "id": "de63ee40-2ac1-4774-9137-3af6632fa9c4",
        "name": "Code in JavaScript"
      }
    ],
    "connections": {
      "Agendar Esturión": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Create an event",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Carlos Fernández",
    "name": "Agendar Esturión",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "6ea1b89c-e88a-4377-bcc2-cc39074bc453",
  "connections": {
    "Agendar Esturión": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-23T16:13:58.956Z",
  "id": "usBIrNERTn5gZqI8",
  "isArchived": false,
  "meta": null,
  "name": "Agendar Esturión",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Titulo"
            },
            {
              "name": "Fecha inicio"
            },
            {
              "name": "Fecha fin"
            },
            {
              "name": "Descripción"
            }
          ]
        }
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "Agendar Esturión",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        272,
        352
      ]
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "3cf455fae61998f2cf7bfffba57a4e28188afc46dd5d892692826a9254905124@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Restaurante Esturión"
        },
        "start": "={{ $('Agendar Esturión').item.json['Fecha inicio'] }}",
        "end": "={{ $('Agendar Esturión').item.json['Fecha fin'] }}",
        "additionalFields": {
          "description": "={{ $('Agendar Esturión').item.json['Descripción'] }}",
          "summary": "={{ $('Agendar Esturión').item.json.Titulo }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        672,
        352
      ],
      "id": "df0e9d46-857f-45a3-8ab8-63efc9c51a28",
      "name": "Create an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "BxLdTiBYRwntbItp",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Obtener la fecha de inicio desde el trigger\nconst fechaInicio = $('Agendar Esturión').first().json['Fecha inicio'];\n\n// Si no hay fecha de inicio, usar la fecha actual (fallback)\nif (!fechaInicio) {\n  return [{\n    json: {\n      error: \"No se proporcionó Fecha inicio\"\n    }\n  }];\n}\n\n// Calcular fecha fin (añadir 2 horas = 120 minutos)\nconst inicio = new Date(fechaInicio);\nconst fin = new Date(inicio.getTime() + (120 * 60 * 1000));\n\n// Devolver ambas fechas en formato ISO\nreturn [{\n  json: {\n    'Fecha inicio': inicio.toISOString(),\n    'Fecha fin': fin.toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        352
      ],
      "id": "de63ee40-2ac1-4774-9137-3af6632fa9c4",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {
    "Agendar Esturión": [
      {
        "json": {
          "Titulo": "Reserva Carlos Fernández - 5 personas",
          "Fecha inicio": "2026-02-25T21:30:00",
          "Fecha fin": "2026-02-25T23:30:00",
          "Descripción": "Reserva para 5 personas. Teléfono: 640310426. Solicitado por el cliente vía chat."
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Europe/Madrid",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "updatedAt": "2026-01-23T16:13:58.971Z",
      "createdAt": "2026-01-23T16:13:58.971Z",
      "role": "workflow:owner",
      "workflowId": "usBIrNERTn5gZqI8",
      "projectId": "Mg9CftDHMIrQGniA"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-19T12:52:59.940Z",
  "versionId": "6ea1b89c-e88a-4377-bcc2-cc39074bc453"
}