Newworkflows/Agendar Restaurante.json
{
  "active": false,
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-21T19:05:55.796Z",
  "id": "QnO0e45HCRNkTllN",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Agendar Restaurante",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Fecha"
            },
            {
              "name": "Horario"
            },
            {
              "name": "Nombre Completo"
            },
            {
              "name": "Numero TLF",
              "type": "number"
            },
            {
              "name": "Personas",
              "type": "number"
            }
          ]
        }
      },
      "id": "dc5eee5e-2a5c-4ccc-a0a8-d5c8971182e9",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        448,
        352
      ]
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "carlos.f.g.work@gmail.com",
          "mode": "list",
          "cachedResultName": "carlos.f.g.work@gmail.com"
        },
        "start": "={{ $json.Start }}",
        "end": "={{ $json.End }}",
        "additionalFields": {
          "summary": "=Nombre: {{ $json.Nombre }}\nTlf: {{ $json.Telefono }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        896,
        352
      ],
      "id": "a1c8c035-ca1f-480e-a57b-a3a39c7c3245",
      "name": "Create an event",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "uibgZJgdZkL31iR6",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1aJ0aV7wR97UGlsX8G143LVHh4J3IpYtTatCxOrhaSMk",
          "mode": "list",
          "cachedResultName": "Reservas Restaurantes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aJ0aV7wR97UGlsX8G143LVHh4J3IpYtTatCxOrhaSMk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aJ0aV7wR97UGlsX8G143LVHh4J3IpYtTatCxOrhaSMk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nombre Reserva": "={{ $json.Nombre }}",
            "Numero TLF": "={{ $json.Telefono }}",
            "Hora de Reserva": "={{ $json.FechaInicio }}",
            "Personas": "={{ $('When Executed by Another Workflow').item.json.Personas }}",
            "Estado": "={{ $json.Confirmado }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nombre Reserva",
              "displayName": "Nombre Reserva",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Personas",
              "displayName": "Personas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Hora de Reserva",
              "displayName": "Hora de Reserva",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Numero TLF",
              "displayName": "Numero TLF",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1360,
        352
      ],
      "id": "bb878c42-cd6e-4635-8790-3f714ecd6350",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "b3iIwyK8DLzQZxfk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b27c0709-37dd-4a22-9867-30ddbdac35c9",
              "name": "Listo",
              "value": "Listo",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1584,
        352
      ],
      "id": "4ddbbe3e-2dc7-4abb-a603-55c77f5e772b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "const [anio, mes, dia] = items[0].json.Fecha.split('-'); // fecha como '2025-11-24'\nconst hora = items[0].json.Horario.length === 5 ? items[0].json.Horario + ':00' : items[0].json.Horario;\nconst fechaISO = `${anio}-${mes}-${dia}T${hora}`;\nconst horaFin = (parseInt(hora.split(':')[0], 10) + 2).toString().padStart(2, '0') + ':' + hora.split(':')[1] + ':00';\nconst fechaISOFin = `${anio}-${mes}-${dia}T${horaFin}`;\n\nreturn [\n  {\n    json: {\n      Start: fechaISO,\n      End: fechaISOFin,\n      Nombre: items[0].json['Nombre Completo'],\n      Telefono: items[0].json['Numero TLF']\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        352
      ],
      "id": "05028e28-48a9-4fc2-8949-1e9d2baefa1a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "function formatFechaHora(fechaIso) {\n  // Ejemplo: '2025-11-24T20:00:00+01:00'\n  if (!fechaIso || fechaIso.indexOf('T') === -1) return '';\n  // Quitar zona horaria si existe\n  const sinZona = fechaIso.split('+')[0]; // '2025-11-24T20:00:00'\n  const [fecha, hora] = sinZona.split('T');\n  const [anio, mes, dia] = fecha.split('-');\n  const horaMinutos = hora.slice(0,5); // '20:00'\n  return `${dia}-${mes}-${anio} ${horaMinutos}`;\n}\n\nconst fechaInicioISO = items[0].json.start?.dateTime || '';\nconst fechaFinISO = items[0].json.end?.dateTime || '';\nconst nombre = items[0].json.summary?.split('Nombre: ')[1]?.split('\\n')[0] || '';\nconst telefono = items[0].json.summary?.split('Tlf: ')[1] || '';\n\nreturn [\n  {\n    json: {\n      FechaInicio: formatFechaHora(fechaInicioISO),\n      FechaFin: formatFechaHora(fechaFinISO),\n      Nombre: nombre,\n      Telefono: telefono,\n      Estado: \"Confirmado\"\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        352
      ],
      "id": "947cc6ad-ced7-4206-8092-f2774bc049a1",
      "name": "Code in JavaScript1"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Madrid",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2025-11-21T19:05:55.802Z",
      "createdAt": "2025-11-21T19:05:55.802Z",
      "role": "workflow:owner",
      "workflowId": "QnO0e45HCRNkTllN",
      "projectId": "Mg9CftDHMIrQGniA"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-23T20:20:48.000Z",
  "versionId": "9f137af4-5424-4e88-9d00-9c6d7241fa90"
}