Newworkflows/Agente Restaurante Esturión.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis1": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Redis2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis2": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis3": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Redis4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis4": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Redis3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis5": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If7": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Redis5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agendar Esturión": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Modificar Evento Esturión": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Cancelar Evento Esturión": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Disponibilidad Esturión'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-05T16:45:31.759Z",
  "id": "d2ZTLHBkUcCZLvulYNRMJ",
  "isArchived": false,
  "meta": null,
  "name": "Agente Restaurante Esturión",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cf611be9-ebe6-48f4-af1c-6996d5dfb497",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1120,
        96
      ],
      "id": "1cef3040-6769-4edb-b0d9-e89a7c78a027",
      "name": "Webhook",
      "webhookId": "cf611be9-ebe6-48f4-af1c-6996d5dfb497"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "844d9ab8-f2dd-47b5-8f29-29ea70e52009",
              "leftValue": "={{ $json.body.event }}",
              "rightValue": "=message_created",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -896,
        96
      ],
      "id": "10c10ef6-0eff-4592-976f-85501ade8910",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "db7831e6-2930-4c9d-adbd-0b6cb1a0294b",
              "leftValue": "={{ $json.body.conversation.messages[0].sender_type }}",
              "rightValue": "Contact",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -672,
        96
      ],
      "id": "a4befdb4-56d5-4f78-ac0a-28ea0bd198e0",
      "name": "If1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "34908a1a-910b-4240-b270-c5bae76d6672",
              "name": "accountID",
              "value": "={{ $json.body.account.id }}",
              "type": "string"
            },
            {
              "id": "861750b8-6d53-4256-833c-048704fb4711",
              "name": "conversationID",
              "value": "={{ $json.body.conversation.messages[0].conversation_id }}",
              "type": "string"
            },
            {
              "id": "db3956f9-9900-4b56-ac29-ffe7889b2299",
              "name": "sessionID",
              "value": "={{ $json.body.conversation.messages[0].source_id }}",
              "type": "string"
            },
            {
              "id": "cd35006e-6aca-472c-a395-8218acf4de48",
              "name": "Identificador",
              "value": "={{ $json.body.conversation.meta.sender.identifier }}",
              "type": "string"
            },
            {
              "id": "1f42345f-4d66-4ac4-9368-2b08b226d4b0",
              "name": "telefono",
              "value": "={{ $json.body.conversation.meta.sender.phone_number }}",
              "type": "string"
            },
            {
              "id": "55ad0e2a-09a6-42b7-925d-d30a4b19661b",
              "name": "mensaje",
              "value": "={{ $json.body.content }}",
              "type": "string"
            },
            {
              "id": "f1e69443-9dbe-4203-b32c-98bd1dcddbc1",
              "name": "data_time",
              "value": "={{ $json.body.conversation.timestamp.toDateTime('s').toLocal() }}",
              "type": "string"
            },
            {
              "id": "470e66ac-542e-461a-829b-aa96232dec8c",
              "name": "tipo_mensaje",
              "value": "={{ $json.body.conversation.messages[0].attachments[0].file_type }}",
              "type": "string"
            },
            {
              "id": "9dd36975-250a-4e22-a33e-e7068195cd65",
              "name": "body.conversation.messages[0].attachments[0].data_url",
              "value": "={{ $json.body.conversation.messages[0].attachments[0].data_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -448,
        96
      ],
      "id": "66bb0f99-eb60-4877-9319-437d6802be9c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "// Obtener el valor original del campo\nconst sender = $input.first().json.telefono;\n\n// Limpiar el número:\n// - Eliminar el prefijo '34' o '49' si existe, y quitar el dominio de whatsapp\nconst cleanedNumber = sender\n  .replace(/^(\\+?34|\\+?49)/, '') // Quita el '+34', '34', '+49' o '49' al inicio\n  .replace(/@s\\.whatsapp\\.net$/, ''); // Quita el '@s.whatsapp.net' al final\n\n// Devolver el número limpio\nreturn [\n  {\n    json: {\n      cleanedNumber\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        192
      ],
      "id": "491d5c62-a392-4269-a7d2-05af6f0054b4",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $json.Identificador }}",
        "messageData": "={{ $json.mensaje }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        896,
        192
      ],
      "id": "517295be-7cdb-4363-8874-17c49f01dd33",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "rmwGdInGMfi5lhMd",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1120,
        192
      ],
      "id": "0975007f-05bb-4532-bd7b-7553208b7a00",
      "name": "Wait",
      "webhookId": "71ac37ec-4a28-4234-a581-e5bf42c39a02"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "message",
        "key": "={{ $('Edit Fields1').item.json.Identificador }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1344,
        192
      ],
      "id": "d1714183-cdbb-4fe3-b5de-b22d054165eb",
      "name": "Redis1",
      "credentials": {
        "redis": {
          "id": "rmwGdInGMfi5lhMd",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "96158e05-c548-462c-94c3-8138dd2ceaf9",
              "leftValue": "={{ $json.message.last() }}",
              "rightValue": "={{ $('Edit Fields1').item.json.mensaje }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1568,
        192
      ],
      "id": "56909323-8b18-422b-b867-36c4cdfe3ee7",
      "name": "If3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "34908a1a-910b-4240-b270-c5bae76d6672",
              "name": "accountID",
              "value": "={{ $('Edit Fields').item.json.accountID }}",
              "type": "string"
            },
            {
              "id": "861750b8-6d53-4256-833c-048704fb4711",
              "name": "conversationID",
              "value": "={{ $('Edit Fields').item.json.conversationID }}",
              "type": "string"
            },
            {
              "id": "db3956f9-9900-4b56-ac29-ffe7889b2299",
              "name": "sessionID",
              "value": "={{ $('Edit Fields').item.json.sessionID }}",
              "type": "string"
            },
            {
              "id": "cd35006e-6aca-472c-a395-8218acf4de48",
              "name": "Identificador",
              "value": "={{ $('Edit Fields').item.json.Identificador }}",
              "type": "string"
            },
            {
              "id": "54a552ab-1572-4814-8549-4887c93002c0",
              "name": "telefono",
              "value": "={{ $json.cleanedNumber }}",
              "type": "string"
            },
            {
              "id": "55ad0e2a-09a6-42b7-925d-d30a4b19661b",
              "name": "mensaje",
              "value": "={{ $('Edit Fields').item.json.mensaje }}",
              "type": "string"
            },
            {
              "id": "f1e69443-9dbe-4203-b32c-98bd1dcddbc1",
              "name": "data_time",
              "value": "={{ $('Edit Fields').item.json.data_time }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": false
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        192
      ],
      "id": "8ebc23de-9744-46f7-be0f-a47e928219e0",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Edit Fields1').item.json.Identificador }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1792,
        192
      ],
      "id": "531fdb8a-5299-4f1e-88c0-79b499166ac9",
      "name": "Redis2",
      "credentials": {
        "redis": {
          "id": "rmwGdInGMfi5lhMd",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5a1e36e3-f8de-419c-83ae-5cc7fead47df",
              "name": "mensaje",
              "value": "={{ $json.message.join(\" \") }}",
              "type": "string"
            },
            {
              "id": "ed4e679f-704c-454a-88e4-d46623e9b6dd",
              "name": "telefono",
              "value": "={{ $('Edit Fields1').item.json.telefono }}",
              "type": "string"
            },
            {
              "id": "67bac86b-a225-4b80-8f56-0544eb594701",
              "name": "Identificador",
              "value": "={{ $('Edit Fields1').item.json.Identificador }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2016,
        192
      ],
      "id": "50e53f64-ae22-461b-98db-11969497c6c3",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "url": "=https://n8n2nkz-chatwoot.vc1wee.easypanel.host{{ $json.body.conversation.messages[0].attachments[0].data_url.replace('http://https', '') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        0
      ],
      "id": "4ade9470-3900-4083-bab4-a1a4eb6e5a69",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        224,
        0
      ],
      "id": "084fdced-d7c3-4af9-91b5-f8469e44ca36",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "WvSLkCujVhY8jIGz",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Obtener el valor original del campo\nconst sender = $('If4').first().json.telefono;\n// Eliminar el prefijo '34' o '49' si existe, y quitar el dominio de WhatsApp\nconst cleanedNumber = sender\n  .replace(/^(\\+?34|\\+?49)/, '')       // Quita el '+34', '34', '+49' o '49' al inicio\n  .replace(/@s\\.whatsapp\\.net$/, ''); // Quita el '@s.whatsapp.net' al final\n\n// Devolver el número limpio\nreturn [\n  {\n    json: {\n      cleanedNumber\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ],
      "id": "54901eab-f8b5-42d2-a8a8-e8d1385bc047",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $json.Identificador }}",
        "messageData": "={{ $json.mensaje_audio }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        896,
        0
      ],
      "id": "650a0bd5-62a9-48ef-a124-af431cda4f22",
      "name": "Redis3",
      "credentials": {
        "redis": {
          "id": "rmwGdInGMfi5lhMd",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1120,
        0
      ],
      "id": "b168da63-85cc-4820-b5f8-3fafe0e752c5",
      "name": "Wait1",
      "webhookId": "71ac37ec-4a28-4234-a581-e5bf42c39a02"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "message",
        "key": "={{ $('Edit Fields3').item.json.Identificador }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1344,
        0
      ],
      "id": "4065c25d-7e95-4bc8-bad9-172012bf8fb6",
      "name": "Redis4",
      "credentials": {
        "redis": {
          "id": "rmwGdInGMfi5lhMd",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "34908a1a-910b-4240-b270-c5bae76d6672",
              "name": "accountID",
              "value": "={{ $('Edit Fields').item.json.accountID }}",
              "type": "string"
            },
            {
              "id": "861750b8-6d53-4256-833c-048704fb4711",
              "name": "conversationID",
              "value": "={{ $('Edit Fields').item.json.conversationID }}",
              "type": "string"
            },
            {
              "id": "db3956f9-9900-4b56-ac29-ffe7889b2299",
              "name": "sessionID",
              "value": "={{ $('Edit Fields').item.json.sessionID }}",
              "type": "string"
            },
            {
              "id": "cd35006e-6aca-472c-a395-8218acf4de48",
              "name": "Identificador",
              "value": "={{ $('Edit Fields').item.json.Identificador }}",
              "type": "string"
            },
            {
              "id": "54a552ab-1572-4814-8549-4887c93002c0",
              "name": "telefono",
              "value": "={{ $json.cleanedNumber }}",
              "type": "string"
            },
            {
              "id": "55ad0e2a-09a6-42b7-925d-d30a4b19661b",
              "name": "mensaje_audio",
              "value": "={{ $('Transcribe a recording').item.json.text }}",
              "type": "string"
            },
            {
              "id": "f1e69443-9dbe-4203-b32c-98bd1dcddbc1",
              "name": "data_time",
              "value": "={{ $('Edit Fields').item.json.data_time }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": false
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        0
      ],
      "id": "603f9dd7-520f-426f-9428-323a62e68c63",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Edit Fields3').item.json.Identificador }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1792,
        0
      ],
      "id": "059667c9-d355-4bed-a4cd-521afef03304",
      "name": "Redis5",
      "credentials": {
        "redis": {
          "id": "rmwGdInGMfi5lhMd",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5a1e36e3-f8de-419c-83ae-5cc7fead47df",
              "name": "mensaje_audio",
              "value": "={{ $json.message.join(\" \") }}",
              "type": "string"
            },
            {
              "id": "ed4e679f-704c-454a-88e4-d46623e9b6dd",
              "name": "telefono",
              "value": "={{ $('Edit Fields3').item.json.telefono }}",
              "type": "string"
            },
            {
              "id": "67bac86b-a225-4b80-8f56-0544eb594701",
              "name": "Identificador",
              "value": "={{ $('Edit Fields3').item.json.Identificador }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2016,
        0
      ],
      "id": "d5d1426a-d63e-4739-9818-d102ec79b9a7",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Mensaje_texto_cliente: {{ $json.mensaje }}\nMensaje_audio_cliente: {{ $json.mensaje_audio }}\nTelefono cliente: {{ $json.telefono }}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Identidad y propósito\nEres Beatriz, asistente virtual de atención al cliente del Restaurante Esturión, integrada en el sistema n8n. Atiendes solicitudes de clientes con cordialidad, eficiencia y autonomía, usando las herramientas disponibles para gestionar reservas, resolver dudas sobre el restaurante y ofrecer un servicio impecable.\n\nEstilo y tono\n\nNo seas robótica: usa tono natural y humano, y emoticonos cuando convenga (no siempre el mismo)\nTrata siempre de usted al cliente\nRespuestas claras y concisas: en el sector de restauración, la brevedad y eficiencia son clave\nUsa \"reservar\" o \"hacer la reserva\" en lugar de otros términos\n\nFrases/plantillas de ejemplo (usar \"usted\")\n\n\"Para esta semana, tenemos disponibilidad el miércoles al mediodía y el viernes por la noche...\"\n\"Para poder hacer la reserva, ¿sería tan amable de facilitarme el día, la hora, número de personas y un nombre para la reserva?\"\n\"Esta semana no tenemos mesas disponibles para ese horario, pero podría ofrecerle...\"\n\n\nPresentación inicial (solo primer mensaje)\nAl inicio de la conversación con un cliente, preséntate diciendo quién eres y para quién trabajas con un mensaje como:\n\"Hola, soy Beatriz, la asistente virtual del Restaurante Esturión\"\nActo seguido, contesta al mensaje del cliente. Esto se hace solo en el primer mensaje. Para detectar si es inicio/apertura, analiza el mensaje.\n\nEntrada de mensajes y contexto\nAnaliza el mensaje del cliente {{ $json.mensaje }} o {{ $json.mensaje_audio }} e identifica si es un mensaje unico o un conjunto de mensajes enviados por separado, que debes analizar de derecha a izquierda para entender el contexto completo.\nEntiende los mensajes de \"hola\" \"Buenos Dias\" como mensajes que manda el cliente para para iniciar una conversacion, a la cual tienes que presentarte con tu mensaje de presentacion incicial.\nEntiende los mensajes de \"Adios\" \"Muchas Gracias\" como mensajes que manda el cliente para cerrar la conversacion, la cual tienes que responder con una despedida elegante y acorde a tu personalidad.\n\nÁmbito de actuación\nEntiende los mensajes de saludos (\"hola\", \"Buenos Dias\", \"Buenas\") y despedidas (\"Adios\", \"Un placer\") como mensajes de saludos (comenzar la conversacion) o despedida (cerrar la conversacion).\nCualquier mensaje que no tenga que ver con tu labor de resolver dudas sobre el restaurante o gestionar reservas, siempre analizando el contexto y la memoria de ese chat, debes responder solo con: False.\nNunca digas el horario completo sin que te lo pida el cliente expresamente, solo pregunta que quiere hacer de forma elegante y cordial.\n\nAnaliza el mensaje del cliente y responde solo si tiene sentido que gestiones una reserva o des información del restaurante; si es de otro tema responde False.\n\nREGLA 1 – Gestión de reservas\n1.1. Horarios de apertura del Restaurante Esturión\n\nCerrado:\n\nLunes y Martes\n\nAbierto:\n\nMiércoles a Sábado:\n\nDesayunos: 9:00 h – 12:00 h\nAlmuerzo: 13:30 h – 16:30 h\nCena: 21:00 h – 23:30 h\n\n\nDomingo:\n\nDesayunos: 9:00 h – 12:00 h\nAlmuerzo: 13:30 h – 16:30 h\nCena: 21:30 h – 23:30 h\n\n\n\nImportante: Siempre valida que el día y hora solicitados estén dentro de estos horarios antes de confirmar disponibilidad.\n\n1.2. Alcance temporal y validación en Google Sheets\n\nLa semana actual se cuenta de lunes a domingo\nSe pueden reservar mesas para semanas futuras, pero siempre debes comprobar y ceñirte al horario de trabajo en Google Sheets\nGoogle Sheets se compone de todos los días de miércoles a domingo del mes, con el horario que opera el restaurante cada día\nPara reservar, debes regirte obligatoriamente por ese horario\n\nSiempre que propongas u ofrezcas reservas (semana en curso o futuras), valida en Google Sheets que:\n\nEse día está habilitado (miércoles a domingo según hoja)\nLa hora está dentro del rango marcado para ese día\nSe respetan los huecos libres reales según las reservas ya agendadas\n\n\n1.3. Reservas para grupos\nSi el cliente quiere una reserva para varias personas, pide:\n\nDía y hora deseados\nNúmero de comensales\nNombre para la reserva\nTeléfono de contacto\n\nComprueba el horario y disponibilidad antes de confirmar.\n\n1.4. Proceso para hacer una reserva\nMuy importante: para reservar debes pedir el nombre completo al cliente, número de personas, dia y hora; si no te da estos datos no puedes reservar, cuando tengas todos los datos, confirmalos con el cliente.\nIdentificación del servicio (tipo de reserva)\nEl cliente puede solicitar:\n\nDesayuno (9:00 h – 12:00 h)\nAlmuerzo/Comida (13:30 h – 16:30 h)\nCena (21:00 h – 23:30 h miércoles-sábado / 21:30 h – 23:30 h domingo)\n\nEjemplos:\n\n\"Quiero reservar para comer el sábado\" → Almuerzo\n\"Mesa para cenar el viernes\" → Cena\n\"Desayuno para dos personas el domingo\" → Desayuno\n\nNo pedir detalles innecesarios sobre preferencias gastronómicas en este momento (eso se gestiona en el restaurante).\n\nCalcular disponibilidad\n\nObtén todas las reservas ya agendadas del dia que ha pedido el cliente usando la herramienta de Disponibilidad Esturión\nDuraciones aproximadas por servicio:\n\nDesayuno: 60 min\nAlmuerzo: 120 min (2 horas)\nCena: 120 min (2 horas)\n\n\nUn hueco solo es válido si:\n\nLa hora solicitada está dentro del horario de apertura\nNo se solapa con ninguna reserva existente\nHay capacidad suficiente de mesas para el número de personas\n\n\nDejar margen entre reservas si es necesario para optimizar el servicio\n\n\nCuando el cliente indica fecha y hora\n\nComprobar en Google Sheets:\n\nSi ese día está habilitado (miércoles a domingo según hoja)\nSi la hora solicitada está en rango para ese día (desayuno/almuerzo/cena)\n\n\nSi NO está en rango → Responde:\n\n\"En esa fecha y hora el restaurante no está abierto\" y pide otra fecha (dentro de los días y horas habilitados)\n\n\nSi está en rango → comprueba disponibilidad real (sin solapes y con capacidad)\nSi ocupada/sin capacidad → Responde:\n\n\"Ese horario no está disponible\" y pide nueva fecha/hora o sugiere alternativas cercanas\n\n\nSi disponible → Crea la reserva con la herramienta de creación\n\n\nImportante (durante el proceso de reserva)\n\nNunca preguntar al cliente si quiere cancelar o modificar en el momento de reservar\nCuando se ha confirmado una fecha y hora con el cliente, nunca preguntes si prefiere otro horario\nSolo se gestionan cancelaciones/modificaciones cuando el cliente lo pida expresamente\n\n\n🔧 Herramientas disponibles\n\nHorarios semanales: Consultar Google Sheets\nGestión de reservas:\n\nComprobar disponibilidad\nCrear reserva\nObtener próximas reservas\nModificar reserva\nCancelar reserva\n\n\nComunicación:\n\nConfirmaciones\nNotificaciones de cambios/cancelaciones\n\n\nInformación general:\n\nCarta y platos destacados\nHorarios\nDirección y parking\nEventos especiales (música en directo, animación infantil)\nBodas y celebraciones\n\n\nObjetivo final\nEl cliente debe percibir un servicio eficiente, cálido y profesional, con control total de la agenda y cumplimiento estricto de las reglas, evitando ofrecer huecos que no están disponibles.\n\nNorma operativa clave (antes de responder)\nAntes de responder a cualquier mensaje, revisa siempre el calendario para comprobar la disponibilidad real: huecos libres y ya ocupados.\nAsí:\n\nEvitas pedir fechas/horas que ya estén ocupadas\nAseguras coherencia y utilidad desde el primer momento\nOfreces opciones viables\n\nEn resumen: primero comprueba el calendario, luego responde.\n\nInformación del Restaurante Esturión (para responder preguntas)\nDatos básicos\n\nNombre: Restaurante Esturión\nDirección: Calle Batán, s/n, 41100 Coria del Río, Sevilla, España\nTeléfono: +34 955 23 56 44\nTipo de cocina: Mediterránea / Europea / tradicional con toques locales\nPrecio medio: ~20-40 € por persona\nParking: Sí, parking privado disponible\nAccesible: Sí (acceso para personas con discapacidad)\n\nAmbiente & experiencia\n\nSituado en un entorno natural precioso junto al Río Guadalquivir\nVistas únicas y ambiente tranquilo en interior y gran terraza al aire libre\nMúsica en directo en verano (jueves a sábado por la noche)\nAnimación infantil los fines de semana y festivos\n\nGastronomía y carta\nCocina local con toques mediterráneos y platos tradicionales:\n\nPescados frescos (incluyendo elaboraciones con esturión)\nCarnes a la brasa jugosas\nArroces melosos y caldosos\nTapas y entradas para compartir\nVinos andaluces y nacionales\n\nPlatos destacados\n\nEsturión preparado en varias formas\nArroces (negro, con pato, etc.)\nVerduras salteadas, langostinos, torrijas\nCarabineros y mariscos frescos\n\nEventos, celebraciones & bodas\nEl restaurante ofrece espacios al aire libre y salones interiores con menú personalizado para bodas, fiestas y eventos especiales.\n\nHistoria del lugar\nEl restaurante está situado en lo que fue la histórica fábrica de caviar de Coria del Río (principios del S. XX), que producía caviar de esturión reconocido en Europa. El edificio mantiene parte de su carácter original fusionando historia con gastronomía contemporánea.\n\nCasos y reglas adicionales\n\nNo repitas mensajes varias veces; con decirlo una vez basta\nSigue las reglas especificadas; no des más contexto del que pida el cliente\nPedir nombre y teléfono solo cuando confirme fecha, hora y número de personas\nNo repitas cosas constantemente salvo que sea necesario\nMensajes sin contexto o ajenos a restaurante/reservas → responde False\nPara reservar: pide nombre completo, teléfono y número de comensales\nSi el cliente no recuerda su reserva y te pide fecha/hora → pide nombre completo y verifica la reserva\nPreséntate solo en el inicio de conversación; luego no repitas quién eres ni dónde trabajas\nTras reservar, no digas \"si prefiere otro horario...\"\nPide nombre y teléfono solo después de confirmar que quiere la hora y que está disponible\nAl dar huecos, no asumas que quiere reservar; no pidas datos hasta su confirmación\nSi la fecha/hora pedidas no tienen huecos esa semana, ofrece otros horarios; si necesita exactamente esa franja, que espere a la siguiente semana\nSi el cliente te pide que elijas tú la hora o \"primer hueco disponible\", propón una hora disponible y pide confirmación\nAntes de reservar, verifica que el cliente quiere esa hora (aunque te haya dado libertad)\nNo menciones cancelaciones/cambios a menos que el cliente lo pida\nNunca elijas una hora por el cliente sin confirmación\nTen en cuenta día/hora actuales: no ofrezcas días u horas pasadas\nPara sacar huecos, considera siempre día y hora actuales (no muestres días/horas pasados)\nAl terminar (reservar/modificar/cancelar o resolver dudas), no preguntes si puedes ayudar en algo más\nTodo mensaje fuera de tu labor (gestionar reservas del restaurante) → responde False\nResponde siempre y exclusivamente con el formato del Structure Ouput Parser que te dejo a continuación a la hora de responder, si el mensaje supera los 1000 caracteres dividelo en otro mensaje seguido como una persona real, haz esto hasta un limite de 3 mensajes.\n\n{\n  \"Response\": {\n    \"Part1\": \"Primera parte del mensaje\",\n    \"Part2\": \"Segunda parte del mensaje\",\n    \"Part3\": \"Tercera parte del mensaje\"\n  }\n}\n\n\nProhibiciones explícitas\nNunca decir que puedes enviar recordatorios\nNunca repetir constantemente los horarios del restaurante\nNunca pedir detalles innecesarios sobre preferencias alimenticias durante la reserva\nNunca firmar los mensajes con un nombre al final (no estilo correo)\nNunca mencionar que has comprobado herramientas o sistemas internos\nNunca le digas el horario completo al cliente, excepto cuando el te lo pida expresamente.\nLimitate a escribir en texto plano sin caracteres raros o especiales.\n \nFecha de referencia\nLa fecha actual es {{ $now }}.\n\n¡Importante! Este prompt está diseñado para gestionar reservas del Restaurante Esturión con profesionalidad, eficiencia y un toque humano cercano. Recuerda siempre verificar disponibilidad antes de confirmar y mantener un tono amable y natural."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2688,
        96
      ],
      "id": "e23c718d-91a0-4f63-9254-56887868d867",
      "name": "AI Agent",
      "retryOnFail": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2240,
        320
      ],
      "id": "92204458-0461-4204-8a4a-9f33cba67337",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "WvSLkCujVhY8jIGz",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.Identificador }}",
        "tableName": "=Clínica"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        2368,
        320
      ],
      "id": "0262c65a-423f-484d-8c07-4a6d664f9976",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "lynsIk4t0FUvPeMz",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "3cf455fae61998f2cf7bfffba57a4e28188afc46dd5d892692826a9254905124@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Restaurante Esturión"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        2496,
        320
      ],
      "id": "f15e91dd-d977-4bdf-a7a6-e6a1cca483b8",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "BxLdTiBYRwntbItp",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c536a974-fb1f-4d5b-9970-5d59a0121721",
              "leftValue": "={{ $json.output.Response.Part1 }}",
              "rightValue": "false",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3632,
        96
      ],
      "id": "a5fc13f3-adec-4c67-a984-63eb05097ba7",
      "name": "If5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://n8n2nkz-chatwoot.vc1wee.easypanel.host//api/v1/accounts/{{ $('Edit Fields').item.json.accountID }}/conversations/{{ $('Edit Fields').item.json.conversationID }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"{{ $('AI Agent').item.json.output.Response.Part1 }}\",\n  \"message_type\": \"outgoing\",\n  \"sender\": {\n    \"type\": \"bot\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3856,
        96
      ],
      "id": "0b6477c1-44f6-4729-b53d-ae44b0c564a9",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "s9IC0e9qhwPtXegM",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7371417a-70c7-4cb2-936c-5a09884e761b",
              "leftValue": "={{ $('AI Agent').item.json.output.Response.Part2 }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4080,
        96
      ],
      "id": "b5201e3b-de83-40a1-8d81-f04d263272df",
      "name": "If6"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4304,
        96
      ],
      "id": "aad0d893-ceeb-49de-a4b1-4a682548e759",
      "name": "Wait2",
      "webhookId": "751bef90-71de-41d2-ac4f-795b995cc5dd"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "79d91a9e-b4fa-47bd-a54a-6dcf817d24b5",
              "leftValue": "={{ $('AI Agent').item.json.output.Response.Part3 }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4752,
        96
      ],
      "id": "b19e7a93-fb96-4508-a02b-f309dde04172",
      "name": "If7"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4976,
        96
      ],
      "id": "bc7237b2-ef54-4ef7-a1d6-a0d7f7368e58",
      "name": "Wait3",
      "webhookId": "751bef90-71de-41d2-ac4f-795b995cc5dd"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "96158e05-c548-462c-94c3-8138dd2ceaf9",
              "leftValue": "={{ $json.message.last() }}",
              "rightValue": "={{ $('Edit Fields3').item.json.mensaje_audio }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1568,
        0
      ],
      "id": "d7329183-cc69-4604-850c-113e113dad40",
      "name": "If2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d6581874-f941-437c-b4a6-90cb46415c1d",
              "leftValue": "={{ $json.tipo_mensaje }}",
              "rightValue": "audio",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -224,
        96
      ],
      "id": "7b61fdde-c739-4811-b8d9-21fc40fb6d0d",
      "name": "If4"
    },
    {
      "parameters": {
        "description": "Usa esta herramienta cuando necesites más razonamiento"
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        2624,
        320
      ],
      "id": "e16abec7-3e8f-433c-81b7-83da13134621",
      "name": "Think"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://n8n2nkz-chatwoot.vc1wee.easypanel.host//api/v1/accounts/{{ $('Edit Fields').item.json.accountID }}/conversations/{{ $('Edit Fields').item.json.conversationID }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"{{ $('AI Agent').item.json.output.Response.Part2 }}\",\n  \"message_type\": \"outgoing\",\n  \"sender\": {\n    \"type\": \"bot\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4528,
        96
      ],
      "id": "407efebf-3f08-4492-b88f-04c20033f284",
      "name": "HTTP Request2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Zhnapx6EMtJKOOW9",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://n8n2nkz-chatwoot.vc1wee.easypanel.host//api/v1/accounts/{{ $('Edit Fields').item.json.accountID }}/conversations/{{ $('Edit Fields').item.json.conversationID }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"{{ $('AI Agent').item.json.output.Response.Part3 }}\",\n  \"message_type\": \"outgoing\",\n  \"sender\": {\n    \"type\": \"bot\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5200,
        96
      ],
      "id": "ed82c02e-ecc9-4aea-82e4-e62b852c72b7",
      "name": "HTTP Request3",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Zhnapx6EMtJKOOW9",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"Response\": {\n    \"Part1\": \"Primera parte del mensaje\",\n    \"Part2\": \"Segunda parte del mensaje\",\n    \"Part3\": \"Tercera parte del mensaje\"\n  }\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        3264,
        320
      ],
      "id": "15926406-1f28-4a4a-ac85-341e96163c58",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        3344,
        528
      ],
      "id": "94784c34-09ee-4e11-8dd4-33f6d69d1aee",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "WvSLkCujVhY8jIGz",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "description": "=Llama a esta herramienta cuando detectes la intención de el usuario de que quiere agendar un evento, cita, reuinion, llamada, etc, pero siempre una vez de haber comprobado la disponibilidad.\nLa fecha actual es {{ $now }}",
        "workflowId": {
          "__rl": true,
          "value": "usBIrNERTn5gZqI8",
          "mode": "list",
          "cachedResultUrl": "/workflow/usBIrNERTn5gZqI8",
          "cachedResultName": "Agendar Esturión"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Titulo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Titulo', ``, 'string') }}",
            "Descripción": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Descripci_n', ``, 'string') }}",
            "Fecha inicio": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha_inicio', ``, 'string') }}",
            "Fecha fin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha_fin', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Titulo",
              "displayName": "Titulo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Fecha inicio",
              "displayName": "Fecha inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Fecha fin",
              "displayName": "Fecha fin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Descripción",
              "displayName": "Descripción",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2880,
        320
      ],
      "id": "5a411a71-11a5-46f7-8608-c33a67dde05e",
      "name": "Agendar Esturión"
    },
    {
      "parameters": {
        "description": "=Llama a esta herramienta cuando detectes la intención del usuario de modificar un evento, llamada, reunión, etc. Para modificar la fecha o la hora de un evento primero tienes que comprobar la nueva fecha o la nueva hora que quiere el usuario.\nLa fecha actual es {{ $now }}",
        "workflowId": {
          "__rl": true,
          "value": "r4N2wTKIasCoYE7U",
          "mode": "list",
          "cachedResultUrl": "/workflow/r4N2wTKIasCoYE7U",
          "cachedResultName": "Modificar Evento Esturion"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Titulo",
              "displayName": "Titulo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Fecha inicio",
              "displayName": "Fecha inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Fecha fin",
              "displayName": "Fecha fin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Descripción",
              "displayName": "Descripción",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3008,
        320
      ],
      "id": "6ab4e630-1240-431a-ac77-6891939562b0",
      "name": "Modificar Evento Esturión"
    },
    {
      "parameters": {
        "description": "=Llama a esta herramienta cuando detectes la intención del usuario de cancelar o eliminar un evento, llamada, reunión, etc.\nLa fecha actual es {{ $now }}",
        "workflowId": {
          "__rl": true,
          "value": "vRBdW8Ddciq6nwFA",
          "mode": "list",
          "cachedResultUrl": "/workflow/vRBdW8Ddciq6nwFA",
          "cachedResultName": "Cancelar Evento Esturion"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Titulo",
              "displayName": "Titulo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Fecha inicio",
              "displayName": "Fecha inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Fecha fin",
              "displayName": "Fecha fin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Descripción",
              "displayName": "Descripción",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3136,
        320
      ],
      "id": "0115e5e7-7f15-438d-9c4e-fcb48399ee18",
      "name": "Cancelar Evento Esturión"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "QURkLGwyKLMD7n5M",
          "mode": "list",
          "cachedResultUrl": "/workflow/QURkLGwyKLMD7n5M",
          "cachedResultName": "Disponibilidad Esturión"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Fecha y Hora": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha_y_Hora', ``, 'string') }}"
          },
          "matchingColumns": [
            "Fecha"
          ],
          "schema": [
            {
              "id": "Fecha y Hora",
              "displayName": "Fecha y Hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Hora",
              "displayName": "Hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2752,
        320
      ],
      "id": "31038141-6bb1-459f-849c-539d87f5aafb",
      "name": "Call 'Disponibilidad Esturión'"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n2nkz-n8n.vc1wee.easypanel.host",
            "user-agent": "rest-client/2.1.0 (linux-musl x86_64) ruby/3.3.3p89",
            "content-length": "2521",
            "accept": "application/json",
            "accept-encoding": "gzip;q=1.0,deflate;q=0.6,identity;q=0.3",
            "content-type": "application/json",
            "x-forwarded-for": "172.19.0.1",
            "x-forwarded-host": "n8n2nkz-n8n.vc1wee.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "88eeb68a63a5",
            "x-real-ip": "172.19.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "account": {
              "id": 1,
              "name": "KZ"
            },
            "additional_attributes": {},
            "content_attributes": {},
            "content_type": "text",
            "content": "Puedes volver a mirar la disponibilidad del 14 de febrero para cenar?",
            "conversation": {
              "additional_attributes": {},
              "can_reply": true,
              "channel": "Channel::Api",
              "contact_inbox": {
                "id": 80,
                "contact_id": 40,
                "inbox_id": 1,
                "source_id": "060a280e-a40e-4ec6-b8c3-fc946fb2496e",
                "created_at": "2026-01-25T18:12:47.554Z",
                "updated_at": "2026-01-25T18:12:47.554Z",
                "hmac_verified": false,
                "pubsub_token": "YtGeULQmCKqDf4Hn4594giHe"
              },
              "id": 40,
              "inbox_id": 1,
              "messages": [
                {
                  "id": 1523,
                  "content": "Puedes volver a mirar la disponibilidad del 14 de febrero para cenar?",
                  "account_id": 1,
                  "inbox_id": 1,
                  "conversation_id": 40,
                  "message_type": 0,
                  "created_at": 1770314214,
                  "updated_at": "2026-02-05T17:56:54.031Z",
                  "private": false,
                  "status": "sent",
                  "source_id": "WAID:AC4451E841B46A7469688445E775B569",
                  "content_type": "text",
                  "content_attributes": {},
                  "sender_type": "Contact",
                  "sender_id": 40,
                  "external_source_ids": {},
                  "additional_attributes": {},
                  "processed_message_content": "Puedes volver a mirar la disponibilidad del 14 de febrero para cenar?",
                  "sentiment": {},
                  "conversation": {
                    "assignee_id": null,
                    "unread_count": 1,
                    "last_activity_at": 1770314214,
                    "contact_inbox": {
                      "source_id": "060a280e-a40e-4ec6-b8c3-fc946fb2496e"
                    }
                  },
                  "sender": {
                    "additional_attributes": {},
                    "custom_attributes": {},
                    "email": null,
                    "id": 40,
                    "identifier": "175299207659662@lid",
                    "name": "Josefa González Cordero",
                    "phone_number": "+34640310426",
                    "thumbnail": "",
                    "type": "contact"
                  }
                }
              ],
              "labels": [],
              "meta": {
                "sender": {
                  "additional_attributes": {},
                  "custom_attributes": {},
                  "email": null,
                  "id": 40,
                  "identifier": "175299207659662@lid",
                  "name": "Josefa González Cordero",
                  "phone_number": "+34640310426",
                  "thumbnail": "",
                  "type": "contact"
                },
                "assignee": null,
                "team": null,
                "hmac_verified": false
              },
              "status": "open",
              "custom_attributes": {},
              "snoozed_until": null,
              "unread_count": 1,
              "first_reply_created_at": "2026-01-25T18:12:59.905Z",
              "priority": null,
              "waiting_since": 1770314214,
              "agent_last_seen_at": 1770313783,
              "contact_last_seen_at": 0,
              "last_activity_at": 1770314214,
              "timestamp": 1770314214,
              "created_at": 1769364767
            },
            "created_at": "2026-02-05T17:56:54.031Z",
            "id": 1523,
            "inbox": {
              "id": 1,
              "name": "Practica UDIA"
            },
            "message_type": "incoming",
            "private": false,
            "sender": {
              "account": {
                "id": 1,
                "name": "KZ"
              },
              "additional_attributes": {},
              "avatar": "",
              "custom_attributes": {},
              "email": null,
              "id": 40,
              "identifier": "175299207659662@lid",
              "name": "Josefa González Cordero",
              "phone_number": "+34640310426",
              "thumbnail": ""
            },
            "source_id": "WAID:AC4451E841B46A7469688445E775B569",
            "event": "message_created"
          },
          "webhookUrl": "https://n8n2nkz-n8n.vc1wee.easypanel.host/webhook/cf611be9-ebe6-48f4-af1c-6996d5dfb497",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Europe/Madrid",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "updatedAt": "2026-02-05T16:45:31.766Z",
      "createdAt": "2026-02-05T16:45:31.766Z",
      "role": "workflow:owner",
      "workflowId": "d2ZTLHBkUcCZLvulYNRMJ",
      "projectId": "Mg9CftDHMIrQGniA"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-02-08T17:34:35.281Z",
  "versionId": "bfe448a9-1722-46e7-8b38-8ecf7b64b644"
}