Newworkflows/Agendar Pruebas.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Agendar Pruebas": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-05-03T16:32:34.461Z",
  "id": "maPtE2EIyJRTppWC",
  "isArchived": true,
  "meta": null,
  "name": "Agendar Pruebas",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Nombre"
            },
            {
              "name": "Fecha Inicio"
            },
            {
              "name": "Fecha Fin"
            },
            {
              "name": "Descripcion"
            }
          ]
        }
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "Agendar Pruebas",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        272,
        208
      ]
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "b3be31f352404ba86060acb35b136d80e91f4c9d2fadf91921d0b632d982ff29@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Pruebas"
        },
        "start": "={{ $json[\"Fecha Inicio\"] }}",
        "end": "={{ $json[\"Fecha Fin\"] }}",
        "additionalFields": {
          "description": "={{ $json.Descripcion }}",
          "summary": "={{ $json.Nombre }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        720,
        208
      ],
      "id": "8640e57b-d58a-47c8-823c-91716590087d",
      "name": "Create an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "BxLdTiBYRwntbItp",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const fechaInicio = $('Agendar Pruebas').first().json['Fecha Inicio'];\nconst nombre = $('Agendar Pruebas').first().json['Nombre'];\nconst descripcion = $('Agendar Pruebas').first().json['Descripcion'];\n\nif (!fechaInicio) {\n  return [{json: {error: \"No se proporcionó Fecha Inicio\"}}];\n}\n\nconst inicio = new Date(fechaInicio);\nconst fin = new Date(inicio.getTime() + (30 * 60 * 1000));\n\n// Función para formatear la fecha manualmente sin el desfase UTC (quitar la Z)\nconst formatLocal = (date) => {\n  return date.toLocaleString('sv-SE').replace(' ', 'T');\n};\n\nreturn [{\n  json: {\n    'Nombre': nombre,\n    'Fecha Inicio': formatLocal(inicio), // Output: 2026-05-05T18:00:00\n    'Fecha Fin': formatLocal(fin),       // Output: 2026-05-05T18:30:00\n    'Descripcion': descripcion\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        208
      ],
      "id": "4494e80d-dbe2-49f2-9f3f-7feab66cab4e",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {
    "Agendar Pruebas": [
      {
        "json": {
          "Nombre": "Beatriz Garcia",
          "Fecha Inicio": "2026-05-05T18:00:00",
          "Fecha Fin": "2026-05-05T19:00:00",
          "Descripcion": "corte de puntas - Tel: 632215545"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "timezone": "Europe/Madrid",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "updatedAt": "2026-05-03T16:32:34.470Z",
      "createdAt": "2026-05-03T16:32:34.470Z",
      "role": "workflow:owner",
      "workflowId": "maPtE2EIyJRTppWC",
      "projectId": "Mg9CftDHMIrQGniA"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-05-04T17:54:23.000Z",
  "versionId": "77bef241-6357-42cc-aedf-a787865b123d"
}