Newworkflows/Backup.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-04-12T11:49:15.000Z",
    "createdAt": "2026-04-12T11:49:03.783Z",
    "versionId": "3133abce-155b-4009-8fe0-9be8da2ad3f3",
    "workflowId": "Lbg3Eal63hxA6Uvk",
    "nodes": [
      {
        "parameters": {},
        "id": "9644734e-2428-45f8-8d43-d39ffed3d84c",
        "name": "On clicking 'execute'",
        "type": "n8n-nodes-base.manualTrigger",
        "position": [
          -1568,
          240
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "dataType": "string",
          "value1": "={{$json[\"github_status\"]}}",
          "rules": {
            "rules": [
              {
                "value2": "same"
              },
              {
                "value2": "different",
                "output": 1
              },
              {
                "value2": "new",
                "output": 2
              }
            ]
          }
        },
        "id": "21219ece-284f-4103-99b5-930388e459b4",
        "name": "github_status",
        "type": "n8n-nodes-base.switch",
        "position": [
          224,
          232
        ],
        "typeVersion": 1
      },
      {
        "parameters": {},
        "id": "2fa524f7-53d8-4926-97c5-f0fc8850a91d",
        "name": "same",
        "type": "n8n-nodes-base.noOp",
        "position": [
          448,
          208
        ],
        "typeVersion": 1
      },
      {
        "parameters": {},
        "id": "4a5d0292-ce39-4d19-8d29-164d0c667c06",
        "name": "different",
        "type": "n8n-nodes-base.noOp",
        "position": [
          448,
          400
        ],
        "typeVersion": 1
      },
      {
        "parameters": {},
        "id": "0446cb8a-7cd6-494c-8f0d-67374f4da524",
        "name": "new",
        "type": "n8n-nodes-base.noOp",
        "position": [
          448,
          592
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "edit",
          "owner": "={{$node[\"Variables\"].json[\"repo\"][\"owner\"]}}",
          "repository": "={{$node[\"Variables\"].json[\"repo\"][\"name\"]}}",
          "filePath": "={{$node[\"Variables\"].json[\"repo\"][\"path\"]}}{{$node[\"OneAtATime\"].json[\"name\"]}}.json",
          "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
          "commitMessage": "=[N8N Backup] {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
        },
        "id": "96c21833-4492-47cf-b4a7-94497fd5ea81",
        "name": "GitHub Edit",
        "type": "n8n-nodes-base.github",
        "position": [
          672,
          496
        ],
        "typeVersion": 1,
        "webhookId": "9a7df154-b7d6-44eb-97a4-7ca181d52d74",
        "credentials": {
          "githubApi": {
            "id": "Sh1O5dMRTvhUpTYl",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "owner": "={{$node[\"Variables\"].json[\"repo\"][\"owner\"]}}",
          "repository": "={{$node[\"Variables\"].json[\"repo\"][\"name\"]}}",
          "filePath": "={{$node[\"Variables\"].json[\"repo\"][\"path\"]}}{{$node[\"OneAtATime\"].json[\"name\"]}}.json",
          "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
          "commitMessage": "=[N8N Backup] {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
        },
        "id": "f1d3af9d-738a-4409-9b56-999646e23729",
        "name": "GitHub Create",
        "type": "n8n-nodes-base.github",
        "position": [
          672,
          688
        ],
        "typeVersion": 1,
        "webhookId": "6eb0df8b-0807-4440-9281-06510eae9c73",
        "alwaysOutputData": true,
        "credentials": {
          "githubApi": {
            "id": "Sh1O5dMRTvhUpTYl",
            "name": "GitHub account"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "filters": {},
          "requestOptions": {}
        },
        "id": "f5830b66-a038-456a-b17b-9622225b1b27",
        "name": "n8n",
        "type": "n8n-nodes-base.n8n",
        "position": [
          -896,
          376
        ],
        "typeVersion": 1,
        "credentials": {
          "n8nApi": {
            "id": "HfSVgBprlvvyzk3d",
            "name": "n8n account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// File Returned with Content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Get JSON Objects\n  var origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64'));\n  var n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON Objects\n  var orderedOriginal = {}\n  var orderedActual = {}\n  \n  Object.keys(origWorkflow).sort().forEach(function(key) {\n    orderedOriginal[key] = origWorkflow[key];\n  });\n  \n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n\n  // Determine Difference\n  if ( JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual) ) {\n    $input.all()[0].json.github_status = \"same\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n// No File Returned / New Workflow\n} else {\n  // Order JSON Object\n  var n8nWorkflow = ($input.all()[1].json);\n  var orderedActual = {}\n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n  \n  // Proper Formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return Items\nreturn $input.all();"
        },
        "id": "37486a77-c0cf-4b0e-8cde-3f5280928b7c",
        "name": "isDiffOrNew",
        "type": "n8n-nodes-base.code",
        "position": [
          0,
          264
        ],
        "typeVersion": 1
      },
      {
        "parameters": {},
        "id": "01f2b003-e17d-4b79-bf63-506c86f195f0",
        "name": "Merge",
        "type": "n8n-nodes-base.merge",
        "position": [
          -224,
          264
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "values": {
            "string": [
              {
                "name": "repo.owner",
                "value": "CarlKZ"
              },
              {
                "name": "repo.name",
                "value": "Backup"
              },
              {
                "name": "repo.path",
                "value": "Newworkflows/"
              }
            ]
          },
          "options": {}
        },
        "id": "65bcba78-e72f-45bf-802f-2c15de9d2beb",
        "name": "Variables",
        "type": "n8n-nodes-base.set",
        "position": [
          -1344,
          376
        ],
        "typeVersion": 1
      },
      {
        "parameters": {},
        "id": "c6cd9f90-51f0-4753-a93e-355ba9c66303",
        "name": "Fin",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          -448,
          0
        ]
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "a94d429b-dcba-4a87-8043-e9d19e74f384",
        "name": "OneAtATime",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -672,
          376
        ]
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "get",
          "owner": "={{$node[\"Variables\"].json[\"repo\"][\"owner\"]}}",
          "repository": "={{$node[\"Variables\"].json[\"repo\"][\"name\"]}}",
          "filePath": "={{$node[\"Variables\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json",
          "asBinaryProperty": false,
          "additionalParameters": {}
        },
        "id": "06cb87d5-c0d0-4332-b3c2-9e437674f35f",
        "name": "Get a file",
        "type": "n8n-nodes-base.github",
        "position": [
          -448,
          192
        ],
        "typeVersion": 1,
        "alwaysOutputData": true,
        "webhookId": "18b40e79-8ed9-4c02-8c9f-a676a8eb08d1",
        "credentials": {
          "githubApi": {
            "id": "Sh1O5dMRTvhUpTYl",
            "name": "GitHub account"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "jsCode": "const workflow = $json;\n\n// Detecta y anonimiza secretos en nodos\nif(workflow.nodes){\n  workflow.nodes.forEach(node => {\n    // Campos de credenciales (n8n los guarda en 'credentials')\n    if(node.credentials){\n      Object.keys(node.credentials).forEach(credKey => {\n        node.credentials[credKey] = 'FILTERED';\n      });\n    }\n    // Campos de parámetros con posibles secretos\n    if(node.parameters){\n      for (const param in node.parameters) {\n        // Filtra posibles nombres de campo con secreto\n        if (\n          param.toLowerCase().includes('apikey') ||\n          param.toLowerCase().includes('token') ||\n          param.toLowerCase().includes('password') ||\n          param.toLowerCase().includes('secret') ||\n          param.toLowerCase().includes('accesskey')\n        ) {\n          node.parameters[param] = 'FILTERED';\n        }\n      }\n    }\n  });\n}\n\nreturn workflow;\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1120,
          376
        ],
        "id": "9632fc8a-6c4c-44ab-ad68-5f784141df4e",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "weeks"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -1568,
          544
        ],
        "id": "73f5e934-9100-4182-99d1-95cfaddaa52e",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "filters": {},
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.n8n",
        "typeVersion": 1,
        "position": [
          -1344,
          688
        ],
        "id": "1ed03b44-9036-4f5a-98ca-6850b328ec0a",
        "name": "Get many workflows",
        "credentials": {
          "n8nApi": {
            "id": "HfSVgBprlvvyzk3d",
            "name": "n8n account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -1120,
          688
        ],
        "id": "b8907b79-393e-4f53-9a60-a28477dbf8d3",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "jsCode": "const workflow = items[0].json;\nconst contenido = JSON.stringify(workflow, null, 2);\nconst nombre = `${workflow.name}'_mensual_${new Date().toISOString().split('T')[0]}.json`;\n\nconst binaryData = await this.helpers.prepareBinaryData(\n  Buffer.from(contenido, 'utf8'),\n  nombre,\n  'application/json'\n);\n\nreturn [{\n  json: { nombre },\n  binary: { data: binaryData }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -896,
          768
        ],
        "id": "7c57ede1-e8b0-4fd8-9164-9321b74ee317",
        "name": "Code in JavaScript1"
      },
      {
        "parameters": {
          "name": "={{ $json.nombre }}",
          "driveId": {
            "__rl": true,
            "value": "My Drive",
            "mode": "list",
            "cachedResultName": "My Drive",
            "cachedResultUrl": "https://drive.google.com/drive/my-drive"
          },
          "folderId": {
            "__rl": true,
            "value": "1YHx-zgJ_4XcRhyp42LaE-52urhVWLzkW",
            "mode": "list",
            "cachedResultName": "Backup n8n",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1YHx-zgJ_4XcRhyp42LaE-52urhVWLzkW"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -720,
          928
        ],
        "id": "5fa90509-0854-4955-8015-28e9295d1bff",
        "name": "Upload file",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "LtqVq84eX4sOdWIu",
            "name": "Google Drive account"
          }
        }
      }
    ],
    "connections": {
      "On clicking 'execute'": {
        "main": [
          [
            {
              "node": "Variables",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "github_status": {
        "main": [
          [
            {
              "node": "same",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "different",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "new",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "same": {
        "main": [
          [
            {
              "node": "OneAtATime",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "different": {
        "main": [
          [
            {
              "node": "GitHub Edit",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "new": {
        "main": [
          [
            {
              "node": "GitHub Create",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GitHub Edit": {
        "main": [
          [
            {
              "node": "OneAtATime",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GitHub Create": {
        "main": [
          [
            {
              "node": "OneAtATime",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "n8n": {
        "main": [
          [
            {
              "node": "OneAtATime",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "isDiffOrNew": {
        "main": [
          [
            {
              "node": "github_status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "isDiffOrNew",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Variables": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OneAtATime": {
        "main": [
          [
            {
              "node": "Fin",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Get a file",
              "type": "main",
              "index": 0
            },
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Get a file": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "n8n",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Get many workflows",
              "type": "main",
              "index": 0
            },
            {
              "node": "Variables",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many workflows": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [],
          [
            {
              "node": "Code in JavaScript1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript1": {
        "main": [
          [
            {
              "node": "Upload file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload file": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Carlos Fernández",
    "name": "Backup",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "3133abce-155b-4009-8fe0-9be8da2ad3f3",
  "connections": {
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "github_status": {
      "main": [
        [
          {
            "node": "same",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "different",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "same": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "different": {
      "main": [
        [
          {
            "node": "GitHub Edit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "new": {
      "main": [
        [
          {
            "node": "GitHub Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Edit": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Create": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isDiffOrNew": {
      "main": [
        [
          {
            "node": "github_status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "isDiffOrNew",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variables": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OneAtATime": {
      "main": [
        [
          {
            "node": "Fin",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many workflows",
            "type": "main",
            "index": 0
          },
          {
            "node": "Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many workflows": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-27T10:32:55.864Z",
  "id": "Lbg3Eal63hxA6Uvk",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Backup",
  "nodes": [
    {
      "parameters": {},
      "id": "9644734e-2428-45f8-8d43-d39ffed3d84c",
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -1568,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json[\"github_status\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "same"
            },
            {
              "value2": "different",
              "output": 1
            },
            {
              "value2": "new",
              "output": 2
            }
          ]
        }
      },
      "id": "21219ece-284f-4103-99b5-930388e459b4",
      "name": "github_status",
      "type": "n8n-nodes-base.switch",
      "position": [
        224,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "2fa524f7-53d8-4926-97c5-f0fc8850a91d",
      "name": "same",
      "type": "n8n-nodes-base.noOp",
      "position": [
        448,
        208
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "4a5d0292-ce39-4d19-8d29-164d0c667c06",
      "name": "different",
      "type": "n8n-nodes-base.noOp",
      "position": [
        448,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "0446cb8a-7cd6-494c-8f0d-67374f4da524",
      "name": "new",
      "type": "n8n-nodes-base.noOp",
      "position": [
        448,
        592
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": "={{$node[\"Variables\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Variables\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Variables\"].json[\"repo\"][\"path\"]}}{{$node[\"OneAtATime\"].json[\"name\"]}}.json",
        "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
        "commitMessage": "=[N8N Backup] {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
      },
      "id": "96c21833-4492-47cf-b4a7-94497fd5ea81",
      "name": "GitHub Edit",
      "type": "n8n-nodes-base.github",
      "position": [
        672,
        496
      ],
      "typeVersion": 1,
      "webhookId": "9a7df154-b7d6-44eb-97a4-7ca181d52d74",
      "credentials": {
        "githubApi": {
          "id": "Sh1O5dMRTvhUpTYl",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": "={{$node[\"Variables\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Variables\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Variables\"].json[\"repo\"][\"path\"]}}{{$node[\"OneAtATime\"].json[\"name\"]}}.json",
        "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
        "commitMessage": "=[N8N Backup] {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
      },
      "id": "f1d3af9d-738a-4409-9b56-999646e23729",
      "name": "GitHub Create",
      "type": "n8n-nodes-base.github",
      "position": [
        672,
        688
      ],
      "typeVersion": 1,
      "webhookId": "6eb0df8b-0807-4440-9281-06510eae9c73",
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "Sh1O5dMRTvhUpTYl",
          "name": "GitHub account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "f5830b66-a038-456a-b17b-9622225b1b27",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        -896,
        384
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "HfSVgBprlvvyzk3d",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// File Returned with Content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Get JSON Objects\n  var origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64'));\n  var n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON Objects\n  var orderedOriginal = {}\n  var orderedActual = {}\n  \n  Object.keys(origWorkflow).sort().forEach(function(key) {\n    orderedOriginal[key] = origWorkflow[key];\n  });\n  \n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n\n  // Determine Difference\n  if ( JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual) ) {\n    $input.all()[0].json.github_status = \"same\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n// No File Returned / New Workflow\n} else {\n  // Order JSON Object\n  var n8nWorkflow = ($input.all()[1].json);\n  var orderedActual = {}\n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n  \n  // Proper Formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return Items\nreturn $input.all();"
      },
      "id": "37486a77-c0cf-4b0e-8cde-3f5280928b7c",
      "name": "isDiffOrNew",
      "type": "n8n-nodes-base.code",
      "position": [
        0,
        272
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "01f2b003-e17d-4b79-bf63-506c86f195f0",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        -224,
        272
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "repo.owner",
              "value": "CarlKZ"
            },
            {
              "name": "repo.name",
              "value": "Backup"
            },
            {
              "name": "repo.path",
              "value": "Newworkflows/"
            }
          ]
        },
        "options": {}
      },
      "id": "65bcba78-e72f-45bf-802f-2c15de9d2beb",
      "name": "Variables",
      "type": "n8n-nodes-base.set",
      "position": [
        -1344,
        384
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "c6cd9f90-51f0-4753-a93e-355ba9c66303",
      "name": "Fin",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -448,
        0
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a94d429b-dcba-4a87-8043-e9d19e74f384",
      "name": "OneAtATime",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -672,
        384
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": "={{$node[\"Variables\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Variables\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Variables\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "06cb87d5-c0d0-4332-b3c2-9e437674f35f",
      "name": "Get a file",
      "type": "n8n-nodes-base.github",
      "position": [
        -448,
        192
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "webhookId": "18b40e79-8ed9-4c02-8c9f-a676a8eb08d1",
      "credentials": {
        "githubApi": {
          "id": "Sh1O5dMRTvhUpTYl",
          "name": "GitHub account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const workflow = $json;\n\n// Detecta y anonimiza secretos en nodos\nif(workflow.nodes){\n  workflow.nodes.forEach(node => {\n    // Campos de credenciales (n8n los guarda en 'credentials')\n    if(node.credentials){\n      Object.keys(node.credentials).forEach(credKey => {\n        node.credentials[credKey] = 'FILTERED';\n      });\n    }\n    // Campos de parámetros con posibles secretos\n    if(node.parameters){\n      for (const param in node.parameters) {\n        // Filtra posibles nombres de campo con secreto\n        if (\n          param.toLowerCase().includes('apikey') ||\n          param.toLowerCase().includes('token') ||\n          param.toLowerCase().includes('password') ||\n          param.toLowerCase().includes('secret') ||\n          param.toLowerCase().includes('accesskey')\n        ) {\n          node.parameters[param] = 'FILTERED';\n        }\n      }\n    }\n  });\n}\n\nreturn workflow;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        384
      ],
      "id": "9632fc8a-6c4c-44ab-ad68-5f784141df4e",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1568,
        544
      ],
      "id": "73f5e934-9100-4182-99d1-95cfaddaa52e",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -1344,
        688
      ],
      "id": "1ed03b44-9036-4f5a-98ca-6850b328ec0a",
      "name": "Get many workflows",
      "credentials": {
        "n8nApi": {
          "id": "HfSVgBprlvvyzk3d",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1120,
        688
      ],
      "id": "b8907b79-393e-4f53-9a60-a28477dbf8d3",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "const workflow = items[0].json;\nconst fecha = new Date().toISOString().split('T')[0];\nconst contenido = JSON.stringify({\n  ...workflow,\n  _backup_fecha: fecha,\n  _backup_timestamp: new Date().toISOString()\n}, null, 2);\n\nconst nombre = `${workflow.name.replace(/[^a-z0-9]/gi, '_')}.json`;\n\nconst binaryData = await this.helpers.prepareBinaryData(\n  Buffer.from(contenido, 'utf8'),\n  nombre,\n  'application/json'\n);\n\nreturn [{\n  json: { nombre },\n  binary: { data: binaryData }\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -928,
        768
      ],
      "id": "7c57ede1-e8b0-4fd8-9164-9321b74ee317",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "name": "={{ $json.nombre }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1YHx-zgJ_4XcRhyp42LaE-52urhVWLzkW",
          "mode": "list",
          "cachedResultName": "Backup n8n",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1YHx-zgJ_4XcRhyp42LaE-52urhVWLzkW"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        16,
        1088
      ],
      "id": "5fa90509-0854-4955-8015-28e9295d1bff",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "LtqVq84eX4sOdWIu",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "newUpdatedFileName": "={{ $json.name }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -32,
        880
      ],
      "id": "dd78e66f-97ba-43d0-bdcd-55d1f952645e",
      "name": "Update file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "WraNUZoNIabL3fsM",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b57cec4c-e622-4cbc-8ac0-9ff66a1e5fc3",
              "leftValue": "={{ $json.id }}",
              "rightValue": "=",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -464,
        896
      ],
      "id": "1a7e7bca-aff3-407e-8414-c771253df1b6",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $json.nombre }}",
        "limit": 1,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -720,
        896
      ],
      "id": "87aeda6d-3832-4cf8-a3e6-26f42036ca7a",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "WraNUZoNIabL3fsM",
          "name": "Google Service Account account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Madrid",
    "callerPolicy": "workflowsFromSameOwner",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2025-09-27T10:32:55.872Z",
      "createdAt": "2025-09-27T10:32:55.872Z",
      "role": "workflow:owner",
      "workflowId": "Lbg3Eal63hxA6Uvk",
      "projectId": "Mg9CftDHMIrQGniA"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-04-22T10:49:52.531Z",
  "versionId": "c4111313-a18c-4e4b-8cea-5c5ee2fd7f0c"
}