Newworkflows/Cancelar Evento Esturion.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-02-20T19:07:54.000Z",
    "createdAt": "2026-02-20T19:07:12.277Z",
    "versionId": "b61615b6-1f29-490c-b0cd-b6e11da9f6ab",
    "workflowId": "vRBdW8Ddciq6nwFA",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "Titulo"
              },
              {
                "name": "Fecha inicio"
              },
              {
                "name": "Fecha fin"
              },
              {
                "name": "Descripción"
              },
              {
                "name": "ID"
              }
            ]
          }
        },
        "id": "c055762a-8fe7-4141-a639-df2372f30060",
        "typeVersion": 1.1,
        "name": "Cancelar Evento Esturion",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          64,
          208
        ]
      },
      {
        "parameters": {
          "operation": "delete",
          "calendar": {
            "__rl": true,
            "value": "3cf455fae61998f2cf7bfffba57a4e28188afc46dd5d892692826a9254905124@group.calendar.google.com",
            "mode": "list",
            "cachedResultName": "Restaurante Esturión"
          },
          "eventId": "={{ $json.ID_real }}",
          "options": {}
        },
        "type": "n8n-nodes-base.googleCalendar",
        "typeVersion": 1.3,
        "position": [
          736,
          208
        ],
        "id": "93e0a847-7a77-4325-858c-55f44775600e",
        "name": "Delete an event",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "BxLdTiBYRwntbItp",
            "name": "Google Calendar account 2"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Obtener el título/nombre de la reserva desde el nodo trigger de este flujo\nconst tituloBuscado = $('Cancelar Evento Esturion').first().json['Titulo'];\n\n// Obtener todos los eventos del Google Calendar (nodo \"Consigue muchos eventos\")\nconst eventos = $input.all();\n\n// Buscar el evento que coincida por título (summary)\nconst eventoEncontrado = eventos.find(evento => \n  evento.json.summary === tituloBuscado\n);\n\n// Si no se encuentra\nif (!eventoEncontrado) {\n  return [{\n    json: {\n      error: 'No se encontró el evento para cancelar',\n      titulo_buscado: tituloBuscado,\n      eventos_encontrados: eventos.length\n    }\n  }];\n}\n\n// Devolver solo el ID real para que el nodo \"Eliminar un evento\" pueda borrarlo\nreturn [{\n  json: {\n    ID_real: eventoEncontrado.json.id,\n    Titulo: eventoEncontrado.json.summary,\n    Fecha_inicio: eventoEncontrado.json.start?.dateTime,\n    Fecha_fin: eventoEncontrado.json.end?.dateTime,\n    Descripcion: eventoEncontrado.json.description\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          512,
          208
        ],
        "id": "a86a2421-65b5-42ea-8d5d-4ca8c9c1de66",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "operation": "getAll",
          "calendar": {
            "__rl": true,
            "value": "3cf455fae61998f2cf7bfffba57a4e28188afc46dd5d892692826a9254905124@group.calendar.google.com",
            "mode": "list",
            "cachedResultName": "Restaurante Esturión"
          },
          "timeMax": "={{ $now.plus({ month: 1 }) }}",
          "options": {
            "query": "={{ $json.Titulo }}"
          }
        },
        "type": "n8n-nodes-base.googleCalendar",
        "typeVersion": 1.3,
        "position": [
          288,
          208
        ],
        "id": "effb0d7f-baf7-4764-bf31-e121a1b4d505",
        "name": "Get many events",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "BxLdTiBYRwntbItp",
            "name": "Google Calendar account 2"
          }
        }
      }
    ],
    "connections": {
      "Cancelar Evento Esturion": {
        "main": [
          [
            {
              "node": "Get many events",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many events": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Delete an event",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Carlos Fernández",
    "name": "Cancelar Evento Esturion",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "b61615b6-1f29-490c-b0cd-b6e11da9f6ab",
  "connections": {
    "Cancelar Evento Esturion": {
      "main": [
        [
          {
            "node": "Get many events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Delete an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-23T16:57:45.639Z",
  "id": "vRBdW8Ddciq6nwFA",
  "isArchived": false,
  "meta": null,
  "name": "Cancelar Evento Esturion",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Titulo"
            },
            {
              "name": "Fecha inicio"
            },
            {
              "name": "Fecha fin"
            },
            {
              "name": "Descripción"
            },
            {
              "name": "ID"
            }
          ]
        }
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "Cancelar Evento Esturion",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        64,
        208
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "3cf455fae61998f2cf7bfffba57a4e28188afc46dd5d892692826a9254905124@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Restaurante Esturión"
        },
        "eventId": "={{ $json.ID_real }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        736,
        208
      ],
      "id": "93e0a847-7a77-4325-858c-55f44775600e",
      "name": "Delete an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "BxLdTiBYRwntbItp",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Obtener el título/nombre de la reserva desde el nodo trigger de este flujo\nconst tituloBuscado = $('Cancelar Evento Esturion').first().json['Titulo'];\n\n// Obtener todos los eventos del Google Calendar (nodo \"Consigue muchos eventos\")\nconst eventos = $input.all();\n\n// Buscar el evento que coincida por título (summary)\nconst eventoEncontrado = eventos.find(evento => \n  evento.json.summary === tituloBuscado\n);\n\n// Si no se encuentra\nif (!eventoEncontrado) {\n  return [{\n    json: {\n      error: 'No se encontró el evento para cancelar',\n      titulo_buscado: tituloBuscado,\n      eventos_encontrados: eventos.length\n    }\n  }];\n}\n\n// Devolver solo el ID real para que el nodo \"Eliminar un evento\" pueda borrarlo\nreturn [{\n  json: {\n    ID_real: eventoEncontrado.json.id,\n    Titulo: eventoEncontrado.json.summary,\n    Fecha_inicio: eventoEncontrado.json.start?.dateTime,\n    Fecha_fin: eventoEncontrado.json.end?.dateTime,\n    Descripcion: eventoEncontrado.json.description\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        208
      ],
      "id": "a86a2421-65b5-42ea-8d5d-4ca8c9c1de66",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "3cf455fae61998f2cf7bfffba57a4e28188afc46dd5d892692826a9254905124@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Restaurante Esturión"
        },
        "timeMax": "={{ $now.plus({ month: 1 }) }}",
        "options": {
          "query": "={{ $json.Titulo }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        288,
        208
      ],
      "id": "effb0d7f-baf7-4764-bf31-e121a1b4d505",
      "name": "Get many events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "BxLdTiBYRwntbItp",
          "name": "Google Calendar account 2"
        }
      }
    }
  ],
  "pinData": {
    "Cancelar Evento Esturion": [
      {
        "json": {
          "Titulo": "Reserva - Carlos Fernández",
          "Fecha inicio": "2026-02-23T22:30:00+01:00",
          "Fecha fin": "2026-02-24T00:30:00+01:00",
          "Descripción": "Reserva para 4 comensales. Tel: 640310426",
          "ID": "qi0qvpavjtdk0nv13ih9iitddk"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Europe/Madrid",
    "callerPolicy": "workflowsFromSameOwner",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-01-23T16:57:45.648Z",
      "createdAt": "2026-01-23T16:57:45.648Z",
      "role": "workflow:owner",
      "workflowId": "vRBdW8Ddciq6nwFA",
      "projectId": "Mg9CftDHMIrQGniA"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-20T19:07:12.275Z",
  "versionId": "b61615b6-1f29-490c-b0cd-b6e11da9f6ab"
}