Newworkflows/Clase 13.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Copy file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy file": {
      "main": [
        [
          {
            "node": "Update a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a document": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Send a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-22T13:49:13.744Z",
  "id": "GuE0DSEnrIm8QAQ8",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Clase 13",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        3120,
        -448
      ],
      "id": "6af8a429-e7a9-4ff3-ab4a-26cfa26f495b",
      "name": "Telegram Trigger",
      "webhookId": "dd80a0e6-a5b3-4f21-8993-a60f40bd3eed"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "={{ $json.message.text }}",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "2e1cea0d-0652-44ec-a75a-a398b64df960"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a6ede8a0-e014-4cc5-80c7-825c556941cd",
                    "leftValue": "={{ $json.message.voice }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        3328,
        -448
      ],
      "id": "620dcba4-dd37-4356-b1db-68bec0582b7a",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fa31fba7-29b4-4fe8-8a27-807fe46bedfe",
              "name": "Texto",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3536,
        -544
      ],
      "id": "8ae2c4f9-b12b-4d86-9c29-3a7817e5a20d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Tu objetivo es analizar los mensajes y obtener el nombre de la empresa a la que se le va a crear la factura, la fecha, número de factura, localidad del cliente, CIF o NIF, servicio, descripción (sobre que trata el servicio) y precio del servicio. Deberás devolver un JSON con esta estructura SIEMPRE:\n\nSiempre devuelve como respuesta un json como este\n{\n  \"empresa\": \"\",\n  \"fecha\": \"\",\n  \"factura\": \"\",\n  \"servicio\": \"\",\n  \"descripcion\": \"\",\n  \"precio\": \"\"\n}\n\n\nSi el usuario no te proporciona la fecha, utiliza la fecha actual: {{ $today.format(\"dd/MM/yyyy\") }}\nEl “precio” deberás poner solamente el precio sin utilizar el símbolo de “€”\nEl “servicio” solamente tiene que ser de 1 o 2 palabras (ej. Automatización, Agente de IA, Sitio web etc), palabras muy directas.\n\nMensaje: {{ $json.Texto }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        3696,
        -800
      ],
      "id": "058b4b71-3821-4db7-92ed-118396fd9349",
      "name": "Message a model"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1cJBx9dkISUcYCN5wpEHHqbY2fW2sMAMLdReQBgArXxc",
          "mode": "list",
          "cachedResultName": "CRM - Empresa",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cJBx9dkISUcYCN5wpEHHqbY2fW2sMAMLdReQBgArXxc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1cJBx9dkISUcYCN5wpEHHqbY2fW2sMAMLdReQBgArXxc/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Nombre",
              "lookupValue": "={{ $json.empresa }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        4400,
        -624
      ],
      "id": "9e4085ea-bab5-483a-bedc-1e908abd634d",
      "name": "Get row(s) in sheet"
    },
    {
      "parameters": {
        "jsCode": "// Lee el texto devuelto por el Message a model\nconst raw = $('Message a model').first().json.message.content;\n\n// --- Limpieza robusta del string ---\nlet s = String(raw).trim();\n\n// 1) Si viene dentro de ```json ... ``` o ``` ... ``` quítalo\ns = s\n  .replace(/^```(?:json)?\\s*/i, '')   // abre fence\n  .replace(/```$/i, '')               // cierra fence\n  .trim();\n\n// 2) Si por cualquier motivo hay texto extra, quédate con lo que haya entre el\n//    primer '{' y el último '}'\nconst firstBrace = s.indexOf('{');\nconst lastBrace  = s.lastIndexOf('}');\nif (firstBrace !== -1 && lastBrace !== -1) {\n  s = s.slice(firstBrace, lastBrace + 1).trim();\n}\n\n// 3) Quitar posibles comas colgantes (por si el modelo las puso)\ns = s.replace(/,\\s*([}\\]])/g, '$1');\n\nlet obj;\ntry {\n  obj = JSON.parse(s);\n} catch (e) {\n  throw new Error('No se pudo parsear el JSON del modelo. Recibido:\\n' + s);\n}\n\n// Devuelve cada campo como parámetros separados\nreturn [\n  {\n    empresa: obj.empresa ?? '',\n    fecha: obj.fecha ?? '',\n    factura: obj.factura ?? '',\n    servicio: obj.servicio ?? '',\n    descripcion: obj.descripcion ?? '',\n    precio: obj.precio ?? '',\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4176,
        -560
      ],
      "id": "d2ab8c87-3b93-4444-b842-eb0296577086",
      "name": "Code1"
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "1ruJve9Jyk6Osh3DZW05IvvlvZsnRqqf-cDkSRQgxCEY",
          "mode": "list",
          "cachedResultName": "Plantilla Factura",
          "cachedResultUrl": "https://docs.google.com/document/d/1ruJve9Jyk6Osh3DZW05IvvlvZsnRqqf-cDkSRQgxCEY/edit?usp=drivesdk"
        },
        "name": "=Factura nº{{ $json.factura }} para {{ $json.empresa }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        4608,
        -560
      ],
      "id": "55fe0a77-d3ab-40b0-aa85-2060f2cbd596",
      "name": "Copy file"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceAll",
              "text": "{{factura}}",
              "replaceText": "={{ $('Code1').item.json.factura }}"
            },
            {
              "action": "replaceAll",
              "text": "{{fecha}}",
              "replaceText": "={{ $('Code1').item.json.fecha }}"
            },
            {
              "action": "replaceAll",
              "text": "{{cliente_nombre}}",
              "replaceText": "={{ $('Code1').item.json.empresa }}"
            },
            {
              "action": "replaceAll",
              "text": "{{localidad_cliente}}",
              "replaceText": "={{ $('Get row(s) in sheet').first().json[\"Dirección\"] }},{{ $('Get row(s) in sheet').first().json[\"Población\"] }}, {{ $('Get row(s) in sheet').first().json[\"País\"] }}"
            },
            {
              "action": "replaceAll",
              "text": "{{Cif_cliente}}",
              "replaceText": "={{ $('Get row(s) in sheet').first().json.CIF }}"
            },
            {
              "action": "replaceAll",
              "text": "{{servicio}}",
              "replaceText": "={{ $('Code1').item.json.servicio }}"
            },
            {
              "action": "replaceAll",
              "text": "{{descripcion_1}}",
              "replaceText": "={{ $('Code1').item.json.descripcion }}"
            },
            {
              "action": "replaceAll",
              "text": "{{precio}}",
              "replaceText": "={{ $('Code1').item.json.precio }}"
            },
            {
              "action": "replaceAll",
              "text": "{{factura}}",
              "replaceText": "={{ $('Code1').item.json.factura }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        4816,
        -560
      ],
      "id": "d40b305a-70a0-4f69-a000-07f43ced9c52",
      "name": "Update a document"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "=Factura  {{ $('Code1').item.json.factura }} generada para {{ $('Code1').item.json.empresa }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        5024,
        -560
      ],
      "id": "1b1894d5-6a2b-40a0-b40c-202c5c81d5b0",
      "name": "Send a text message",
      "webhookId": "ec4b843a-4c41-4f18-aff7-705c79f7dad1"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Update a document').item.json.documentId }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf",
              "drawingsToFormat": "application/pdf",
              "slidesToFormat": "application/pdf",
              "sheetsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        5232,
        -560
      ],
      "id": "b72a991c-59e8-4efc-870c-bf004f5f8745",
      "name": "Download file"
    },
    {
      "parameters": {
        "operation": "sendDocument",
        "chatId": "={{ $json.result.chat.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        5456,
        -400
      ],
      "id": "aee098a7-431c-4652-8491-248919f6c71c",
      "name": "Send a document",
      "webhookId": "0d40a312-a19e-4e9c-ac14-f26f3067c383"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-03-22T13:49:13.752Z",
      "createdAt": "2026-03-22T13:49:13.752Z",
      "role": "workflow:owner",
      "workflowId": "GuE0DSEnrIm8QAQ8",
      "projectId": "Mg9CftDHMIrQGniA"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-04-02T12:09:56.761Z",
  "versionId": "811bc308-9496-48a5-82ad-d3abbfefaecb"
}