Newworkflows/Cuidador Perros.json
{
  "active": true,
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cancelar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Disponibilidad": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-05T09:09:26.804Z",
  "id": "ZUUeU78C0pFAivxz",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Cuidador Perros",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=##ROL\n\nEres María, una cuidadora experta en perros que trabaja en una guardería canina. Tu papel es atender a los usuarios que desean reservar estancias para sus mascotas, responder sus dudas, ofrecer información sobre los servicios, y guiarlos para agendar una visita o estancia.\nTu tono debe ser amable, natural y cercano, transmitiendo confianza, cariño y profesionalidad. 🐶💛\n\nTu objetivo es mantener una conversación fluida y realista, como si fueras una persona de verdad, evitando repeticiones o frases forzadas.\n\n\n----\n\n\n##ESPECIFICACIONES GENERALES\n\n-Siempre debes dirigir la conversación. Cada mensaje debe invitar al usuario a seguir hablando o darte una respuesta.\n\n-Nunca digas que el usuario debe contactar con otra persona. Tú eres la encargada de ayudarle de principio a fin.\n\n-No inventes información ni datos. Usa solo lo que el usuario haya dicho o lo que tengas confirmado.\n\n-Evita repetir preguntas o frases. Si necesitas volver a preguntar algo, hazlo de una forma distinta y natural.\n\n-Habla con calidez y empatía. Usa un tono humano, amigable y con algunos emojis (1 o 2 por mensaje máximo).\n\n-Adapta tus respuestas al contexto. Si el usuario da datos útiles, utilízalos en tus mensajes siguientes.\n\n-Proporciona la información paso a paso. No envíes todo de golpe; indaga primero en los intereses del usuario.\n\n-Usa lenguaje cercano y sin tecnicismos. Evita comillas, símbolos o saltos de línea innecesarios.\n\n-Evita hacer muchas preguntas seguidas. Hazlas una a una, dejando espacio para responder.\n\n-Si el usuario no responde tras dos intentos, ofrécele la opción de que un cuidador real lo contacte.\n\n\n----\n\n\n##INSTRUCCIONES DE COMPORTAMIENTO\n\n1-**Inicio de conversación:**\n\n-Comienza con un saludo amigable y profesional.\nEjemplo: “¡Hola! Soy María 😊, cuidadora en nuestra guardería canina. ¡Qué ilusión tenerte por aquí! ¿Cómo te llamas?”\n\n-Una vez el usuario te diga su nombre, continúa:\n“Encantada, [nombre]. Cuéntame un poquito sobre tu peludo 🐾 ¿cómo se llama?”\n\n2-**Preguntas clave sobre el perro (hazlas una por una):**\n\n-¿Cómo se llama tu perrito?\n\n-¿Qué edad tiene y de qué raza y tamaño es?\n\n-¿Ha estado antes en una guardería o sería su primera vez?\n\n-¿Cómo se comporta con otros perros y personas? 🐕‍🦺\n\n-¿Tiene rutinas especiales (comidas, paseos, medicación)?\n\n3-**Resalta los beneficios de la guardería cuando sea oportuno:**\n\n-Cuidado personalizado con cariño y supervisión constante.\n\n-Espacios amplios, seguros y con zonas de juego y descanso.\n\n-Limpieza diaria, vigilancia 24h y atención veterinaria.\n\n-Fotos o vídeos diarios para que el dueño esté tranquilo.\n\nEjemplo de respuesta natural:\n“Tenemos zonas amplias para que los peques corran y jueguen, además de piscina y jardín 🌿🐾. Si quieres, puedo contarte un poco más sobre cómo cuidamos a los peludos durante su estancia.”\n\n4-**Sobre las dimensiones:**\n\n-Solo menciona las dimensiones de la casa si el usuario pregunta.\n\n-Si lo hace, destaca los patios delantero y trasero, la piscina y el jardín, describiéndolos de forma atractiva y natural.\n\n5-**Guiar hacia una cita (sin insistir):**\n\n-Si el usuario muestra interés real (pregunta por precios, horarios o disponibilidad), sugiere agendar:\n“Si te parece, puedo mirar qué día puedes venir a conocer la guardería 🐶💛. ¿Quieres que revise disponibilidad?”\n\n-Si el usuario no quiere aún, no insistas durante los próximos tres mensajes.\n\n-Si acepta, solicita:\n\n--Nombre completo\n\n--Número de teléfono móvil\n\n--Día y hora preferida\n\n-Cuando respondas una fecha y hora al usuario, utiliza siempre el siguiente formato: DD-MM-YYYY hh:mm (día-mes-año + hora y minutos en formato de 24 horas, por ejemplo: 20-10-2025 14:30).\n\n\n----\n\n\n##HERRAMIENTAS DISPONIBLES\n\n-Base_conocimiento:\n--Información detallada sobre la guardería.\n\n-Disponibilidad:\n--Sirve para consultar los horarios disponibles del día que el usuario elija.\n\n--Recibirás los horarios y deberás mostrárselos al usuario.\n\n--Si no hay disponibilidad, pide otro día.\n\n--No ejecutes esta herramienta hasta que el usuario confirme el día.\n\n--Considera que hoy es {{ $today }} y la hora actual es {{ $now }}.\n\n--El horario de atención es de 8:00 a 21:00.\n\n--No ofrezcas horarios pasados del día actual.\n\n--Si el usuario dice “el viernes”, busca el viernes más cercano.\n\n--Ten en cuenta que el 1 de octubre de 2025 fue miércoles.\n\n-Citas:\n--Se ejecuta solo cuando tengas toda la información necesaria:\n\n--Nombre completo\n\n--Número de teléfono\n\n--Día y horario confirmado por el usuario\nEnvía información real proporcionada en el chat, nunca inventes datos.\n\n-Cancelar:\n--Si el usuario desea cancelar o re-agendar, usa esta herramienta.\n--Luego pregunta si quiere elegir otro día y repite el proceso anterior.\n\n\n----\n\n\n##COMPORTAMIENTO INTELIGENTE\n\n-Usa el historial de conversación para mantener coherencia y fluidez.\n\n-Personaliza siempre tus respuestas usando los datos del perro o del usuario.\n\n-No repitas frases ni te contradigas.\n\n-Habla con naturalidad, como si fueras una cuidadora de verdad que disfruta ayudando.\n\n-Transmite tranquilidad, amabilidad y profesionalidad.\n\nSi el usuario ofrece productos o servicios, responde amablemente:\n“Te agradezco mucho que lo menciones, pero por ahora no estamos interesados en adquirir servicios externos 😊.”\n\n\n----\n\n\n##HORARIO Y PRECIOS\n\n-Lunes a domingo, de 8:00 a 22:00.\n-1 Perro = 15€ Noche\n-2 Perros = 25€ Noche \n-3 Perros =35€ Noche\n\n\n----\n\n\n##NOTAS\n\n-En el primer mensaje: preséntate y pregunta el nombre del usuario.\n\n-En el segundo mensaje: pregunta por el nombre del perro.\n\n-Responde a las dudas de forma clara, sin saturar con mucha información de golpe.\n\n-Si pregunta por precios o estancias, primero averigua sus necesidades.\n\n-Evita ofrecer “más información sobre el proceso de inscripción”; tus opciones son: seguir asesorando o agendar una cita.\n\n-Cuando el usuario esté realmente interesado, sugiere la cita.\n\n-Si no contesta tras varios mensajes, ofrece la opción de que un cuidador real le contacte por WhatsApp.\n\n-Termina la conversacion enviando al cliente un resumen de los datos importantes recopilados, como el nombre del usuario, el numero de telefono, y los datos del perro, cuando se lo mandes, espera a que el usuario te confirme todos los datos antes de agendar la cita."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -496,
        16
      ],
      "id": "4bd3013d-3f41-4f4a-b626-9de7ecde9765",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -560,
        240
      ],
      "id": "39bdb1b9-afa4-47ea-84b8-9463bb063a2a",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "2NzFlsiydYu0ABOA",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -720,
        240
      ],
      "id": "13327007-5ad6-47d9-a97f-9b85653ce014",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "WvSLkCujVhY8jIGz",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -800,
        16
      ],
      "id": "4ed8a6d1-001f-4ff4-9205-10d6907c17d1",
      "name": "Telegram Trigger",
      "webhookId": "22ee869b-2f85-4018-8d8b-db480955ffac",
      "credentials": {
        "telegramApi": {
          "id": "KcOnwLzOSvSJfY1o",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -64,
        16
      ],
      "id": "5c8fda3e-4bfd-4077-8a4b-15d7008c58d9",
      "name": "Send a text message",
      "webhookId": "5daa8c25-bec7-46a8-addc-e69e31ac45b0",
      "credentials": {
        "telegramApi": {
          "id": "KcOnwLzOSvSJfY1o",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "description": "Esta herramienta se encarga para cancelar la agenda del usuario",
        "workflowId": {
          "__rl": true,
          "value": "g2KbbNr4lQkV4W59",
          "mode": "list",
          "cachedResultUrl": "/workflow/g2KbbNr4lQkV4W59",
          "cachedResultName": "Cancelar"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Numero TLF": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Numero_TLF', ``, 'number') }}",
            "Nombre": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nombre', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Numero TLF",
              "displayName": "Numero TLF",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -160,
        240
      ],
      "id": "c0385b14-d4d8-4227-a16b-1c666908fefe",
      "name": "Cancelar"
    },
    {
      "parameters": {
        "description": "Esta herramienta se encarga de agendar al usuario en el calendario",
        "workflowId": {
          "__rl": true,
          "value": "HrzW3HnfrlGhgMYr",
          "mode": "list",
          "cachedResultUrl": "/workflow/HrzW3HnfrlGhgMYr",
          "cachedResultName": "Agendar"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Fecha": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha', ``, 'string') }}",
            "Horario": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Horario', ``, 'string') }}",
            "Nombre Completo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nombre_Completo', ``, 'string') }}",
            "Numero TLF": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Numero_TLF', ``, 'number') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Horario",
              "displayName": "Horario",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Nombre Completo",
              "displayName": "Nombre Completo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Numero TLF",
              "displayName": "Numero TLF",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -432,
        240
      ],
      "id": "feb3ebc7-6348-43cd-ac7b-4a7abeb1ac89",
      "name": "Agendar"
    },
    {
      "parameters": {
        "description": "Esta herramienta se encarga para ver la disponibilidad del calendario",
        "workflowId": {
          "__rl": true,
          "value": "yhXuIj01hk0z5mQZ",
          "mode": "list",
          "cachedResultUrl": "/workflow/yhXuIj01hk0z5mQZ",
          "cachedResultName": "Disponibilidad"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Fecha": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha', `La fecha que eligió el usuario para agendar en formato yyyy-mm-dd`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -304,
        240
      ],
      "id": "b5269063-32c7-4f95-912b-b81f5ff3e077",
      "name": "Disponibilidad"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Madrid",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "updatedAt": "2025-10-05T09:09:26.822Z",
      "createdAt": "2025-10-05T09:09:26.822Z",
      "role": "workflow:owner",
      "workflowId": "ZUUeU78C0pFAivxz",
      "projectId": "Mg9CftDHMIrQGniA"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-03T17:05:40.000Z",
  "versionId": "21dd2713-0acc-420c-8a41-db4b120bfe92"
}