Newworkflows/Disponibilidad Pruebas.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Disponibilidad Pruebas": {
      "main": [
        [
          {
            "node": "Code6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch4": {
      "main": [
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code6": {
      "main": [
        [
          {
            "node": "Get many events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code7": {
      "main": [
        [
          {
            "node": "Switch4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events": {
      "main": [
        [
          {
            "node": "Code7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-05-03T16:33:55.958Z",
  "id": "PatJQQO0y7D8Ig2v",
  "isArchived": true,
  "meta": null,
  "name": "Disponibilidad Pruebas",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Fecha y hora"
            }
          ]
        }
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "Disponibilidad Pruebas",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -192,
        496
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a3949635-7477-4332-9aa6-b6912dee31c4",
              "name": "Disponibilidad",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        928,
        592
      ],
      "id": "4766d74c-e5d1-4b58-aad5-2a2e5dc87729",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "77a01a69-ca3b-4ba1-97b6-496e734c7128",
              "name": "disponibilidad",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        928,
        400
      ],
      "id": "fd9f5f6d-1c4b-4379-a951-40832eb3252b",
      "name": "Edit Fields7"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "307f8081-ea6e-4446-8296-56983cabeb74",
                    "leftValue": "={{ $json.result }}",
                    "rightValue": "={{ $json.start.dateTime }}",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "No Disponible"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "db38c069-4b77-47e4-9b23-c6e86477c7c5",
                    "leftValue": "={{ $json.result }}",
                    "rightValue": "={{ $json.start.dateTime }}",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Disponible"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        704,
        496
      ],
      "id": "c043454e-0f10-461e-be00-33c4ba078646",
      "name": "Switch4"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const fechaStr = item.json[\"Fecha y hora\"];\n  const start = new Date(fechaStr);\n const end = new Date(start.getTime() + 30 * 60 * 1000);\n\n  const formatDate = (date) => {\n    const pad = (num) => num.toString().padStart(2, '0');\n    return `${date.getFullYear()}-${pad(date.getMonth() + 1)}-${pad(date.getDate())}T${pad(date.getHours())}:${pad(date.getMinutes())}:${pad(date.getSeconds())}`;\n  };\n\n  item.json.start_time = formatDate(start);\n  item.json.end_time = formatDate(end);\n\n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        496
      ],
      "id": "f0e1df29-cda9-4d8c-9b5c-431fb9a01c10",
      "name": "Code6"
    },
    {
      "parameters": {
        "jsCode": "const fechaHoraSolicitada = $('Disponibilidad Pruebas').first().json['Fecha y hora'];\n\nif (!fechaHoraSolicitada) {\n  return [{json: {error: \"No se proporcionó 'Fecha y hora'\"}}];\n}\n\nconst todosLosEventos = $input.all();\n\nlet fechaHoraNormalizada = fechaHoraSolicitada;\nif (!fechaHoraNormalizada.includes('+') && !fechaHoraNormalizada.includes('Z')) {\n  fechaHoraNormalizada = fechaHoraNormalizada + '+02:00'; // Hora verano Madrid\n}\n\nfunction verificarSolapamiento(inicioEvento, finEvento, usuarioFechaHora) {\n  const inicio = new Date(inicioEvento);\n  const fin = new Date(finEvento);\n  const usuarioFecha = new Date(usuarioFechaHora);\n  return usuarioFecha >= inicio && usuarioFecha < fin;\n}\n\nconst eventosEncontrados = todosLosEventos.map(evento => {\n  const inicioEvento = evento.json.start?.dateTime || evento.json.start?.date;\n  const finEvento = evento.json.end?.dateTime || evento.json.end?.date;\n  const solapa = verificarSolapamiento(inicioEvento, finEvento, fechaHoraNormalizada);\n  return {\n    id: evento.json.id,\n    summary: evento.json.summary,\n    start: inicioEvento,\n    end: finEvento,\n    solapa: solapa\n  };\n});\n\nconst haySolapamiento = eventosEncontrados.some(evento => evento.solapa === true);\n\nreturn [{\n  json: {\n    result: haySolapamiento,\n    debug: {\n      fechaHoraSolicitada,\n      fechaHoraNormalizada,\n      eventosEncontrados\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        496
      ],
      "id": "41a355b5-1afe-4e85-aeb5-554cbfb582c4",
      "name": "Code7"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "b3be31f352404ba86060acb35b136d80e91f4c9d2fadf91921d0b632d982ff29@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Pruebas"
        },
        "returnAll": true,
        "timeMax": "={{ $now.plus({ year: 1 }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        256,
        496
      ],
      "id": "83867cd9-b783-4353-ab2e-92e70f864599",
      "name": "Get many events",
      "alwaysOutputData": false,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "BxLdTiBYRwntbItp",
          "name": "Google Calendar account 2"
        }
      }
    }
  ],
  "pinData": {
    "Disponibilidad Pruebas": [
      {
        "json": {
          "Fecha y hora": "2026-05-05T18:00:00"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-05-03T16:33:55.964Z",
      "createdAt": "2026-05-03T16:33:55.964Z",
      "role": "workflow:owner",
      "workflowId": "PatJQQO0y7D8Ig2v",
      "projectId": "Mg9CftDHMIrQGniA"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-05-04T17:54:28.000Z",
  "versionId": "512fb6b6-d09b-4cd4-af91-37ead5c35826"
}