Newworkflows/Disponibilidad Esturión.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-02-18T22:10:03.000Z",
    "createdAt": "2026-02-16T18:54:10.069Z",
    "versionId": "64e8e70b-197f-43cf-b840-d89558f0c7ee",
    "workflowId": "QURkLGwyKLMD7n5M",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "Fecha y Hora"
              }
            ]
          }
        },
        "id": "c055762a-8fe7-4141-a639-df2372f30060",
        "typeVersion": 1.1,
        "name": "Disponibilidad Esturión",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          -1168,
          512
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a3949635-7477-4332-9aa6-b6912dee31c4",
                "name": "Disponibilidad",
                "value": false,
                "type": "boolean"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -48,
          608
        ],
        "id": "ac716b75-7631-42af-acf8-a78b836c2cb5",
        "name": "Edit Fields6"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "77a01a69-ca3b-4ba1-97b6-496e734c7128",
                "name": "disponibilidad",
                "value": true,
                "type": "boolean"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -48,
          416
        ],
        "id": "648cbad4-576d-43c2-8581-1476dae0f59f",
        "name": "Edit Fields7"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "307f8081-ea6e-4446-8296-56983cabeb74",
                      "leftValue": "={{ $json.result }}",
                      "rightValue": "={{ $json.start.dateTime }}",
                      "operator": {
                        "type": "boolean",
                        "operation": "true",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Disponible"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "db38c069-4b77-47e4-9b23-c6e86477c7c5",
                      "leftValue": "={{ $json.result }}",
                      "rightValue": "={{ $json.start.dateTime }}",
                      "operator": {
                        "type": "boolean",
                        "operation": "false",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "No Disponible"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          -272,
          512
        ],
        "id": "ae0c0f13-ea49-4bea-859e-fad7631f2b57",
        "name": "Switch4"
      },
      {
        "parameters": {
          "jsCode": "return items.map(item => {\n  const fechaStr = item.json[\"Fecha y Hora\"]; // Corregido: usar el nombre exacto del campo\n  const start = new Date(fechaStr);\n  const end = new Date(start.getTime() + 3 * 60 * 60 * 1000); // +3 horas (cambiado de 1 a 3)\n  \n  // Función para formatear la fecha como YYYY-MM-DDTHH:mm:ss\n  function formatDate(date) {\n    const pad = (num) => num.toString().padStart(2, '0');\n    return `${date.getFullYear()}-${pad(date.getMonth() + 1)}-${pad(date.getDate())}T${pad(date.getHours())}:${pad(date.getMinutes())}:${pad(date.getSeconds())}`;\n  }\n  \n  item.json.start_time = formatDate(start);\n  item.json.end_time = formatDate(end);\n  \n  return item;\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -944,
          512
        ],
        "id": "6cb2913a-c03b-4484-97ac-7746345468b8",
        "name": "Code6"
      },
      {
        "parameters": {
          "jsCode": "// Obtener la fecha solicitada del nodo trigger (Disponibilidad Esturión)\nconst fechaHoraSolicitada = $('Disponibilidad Esturión').first().json['Fecha y Hora'];\n\n// Validar que existe la fecha\nif (!fechaHoraSolicitada) {\n  return [{json: {error: \"No se proporcionó 'Fecha y Hora'\"}}];\n}\n\n// Obtener todos los eventos del calendario desde Get many events\nconst todosLosEventos = $input.all();\n\n// Normalizar la fecha del usuario (zona horaria Europe/Madrid)\nlet fechaHoraNormalizada = fechaHoraSolicitada;\nif (!fechaHoraNormalizada.includes('+') && !fechaHoraNormalizada.includes('Z')) {\n  fechaHoraNormalizada = fechaHoraNormalizada + '+01:00'; // Hora estándar Madrid (invierno)\n}\n\n// Función para verificar si la hora solicitada se solapa con un evento existente\nfunction verificarSolapamiento(inicioEvento, finEvento, usuarioFechaHora) {\n  const inicio = new Date(inicioEvento);\n  const fin = new Date(finEvento);\n  const usuarioFecha = new Date(usuarioFechaHora);\n  \n  // Si la fecha del usuario cae dentro del rango del evento, hay solapamiento\n  return usuarioFecha >= inicio && usuarioFecha < fin;\n}\n\n// Procesar todos los eventos y verificar solapamientos\nconst eventosEncontrados = todosLosEventos.map(evento => {\n  const inicioEvento = evento.json.start?.dateTime || evento.json.start?.date;\n  const finEvento = evento.json.end?.dateTime || evento.json.end?.date;\n  const solapa = verificarSolapamiento(inicioEvento, finEvento, fechaHoraNormalizada);\n  \n  return {\n    id: evento.json.id,\n    summary: evento.json.summary,\n    start: inicioEvento,\n    end: finEvento,\n    solapa: solapa\n  };\n});\n\n// Verificar si hay algún evento que se solape\nconst haySolapamiento = eventosEncontrados.some(evento => evento.solapa === true);\n\n// Devolver resultado en el formato solicitado\nreturn [{\n  json: {\n    result: haySolapamiento,\n    debug: {\n      fechaHoraSolicitada: fechaHoraSolicitada,\n      fechaHoraNormalizada: fechaHoraNormalizada,\n      eventosEncontrados: eventosEncontrados\n    }\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -496,
          512
        ],
        "id": "3fc32531-b3ce-42ca-8c91-4019bcbe7477",
        "name": "Code7"
      },
      {
        "parameters": {
          "operation": "getAll",
          "calendar": {
            "__rl": true,
            "value": "3cf455fae61998f2cf7bfffba57a4e28188afc46dd5d892692826a9254905124@group.calendar.google.com",
            "mode": "list",
            "cachedResultName": "Restaurante Esturión"
          },
          "timeMax": "={{ $now.plus({ month: 1 }) }}",
          "options": {}
        },
        "type": "n8n-nodes-base.googleCalendar",
        "typeVersion": 1.3,
        "position": [
          -736,
          512
        ],
        "id": "9f4133ff-7b3b-4475-ac7b-ebec26537f4b",
        "name": "Get many events",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "BxLdTiBYRwntbItp",
            "name": "Google Calendar account 2"
          }
        }
      }
    ],
    "connections": {
      "Disponibilidad Esturión": {
        "main": [
          [
            {
              "node": "Code6",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch4": {
        "main": [
          [
            {
              "node": "Edit Fields7",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Edit Fields6",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code6": {
        "main": [
          [
            {
              "node": "Get many events",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code7": {
        "main": [
          [
            {
              "node": "Switch4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many events": {
        "main": [
          [
            {
              "node": "Code7",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Carlos Fernández",
    "name": "Disponibilidad Esturión",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "64e8e70b-197f-43cf-b840-d89558f0c7ee",
  "connections": {
    "Disponibilidad Esturión": {
      "main": [
        [
          {
            "node": "Code6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch4": {
      "main": [
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code6": {
      "main": [
        [
          {
            "node": "Get many events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code7": {
      "main": [
        [
          {
            "node": "Switch4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events": {
      "main": [
        [
          {
            "node": "Code7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-07T00:00:35.501Z",
  "id": "QURkLGwyKLMD7n5M",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Disponibilidad Esturión",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Fecha y Hora"
            }
          ]
        }
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "Disponibilidad Esturión",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -1168,
        512
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a3949635-7477-4332-9aa6-b6912dee31c4",
              "name": "Disponibilidad",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -48,
        608
      ],
      "id": "ac716b75-7631-42af-acf8-a78b836c2cb5",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "77a01a69-ca3b-4ba1-97b6-496e734c7128",
              "name": "disponibilidad",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -48,
        416
      ],
      "id": "648cbad4-576d-43c2-8581-1476dae0f59f",
      "name": "Edit Fields7"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "307f8081-ea6e-4446-8296-56983cabeb74",
                    "leftValue": "={{ $json.result }}",
                    "rightValue": "={{ $json.start.dateTime }}",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "No Disponible"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "db38c069-4b77-47e4-9b23-c6e86477c7c5",
                    "leftValue": "={{ $json.result }}",
                    "rightValue": "={{ $json.start.dateTime }}",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Disponible"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -272,
        512
      ],
      "id": "ae0c0f13-ea49-4bea-859e-fad7631f2b57",
      "name": "Switch4"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const fechaStr = item.json[\"Fecha y Hora\"]; // Corregido: usar el nombre exacto del campo\n  const start = new Date(fechaStr);\n  const end = new Date(start.getTime() + 3 * 60 * 60 * 1000); // +3 horas (cambiado de 1 a 3)\n  \n  // Función para formatear la fecha como YYYY-MM-DDTHH:mm:ss\n  function formatDate(date) {\n    const pad = (num) => num.toString().padStart(2, '0');\n    return `${date.getFullYear()}-${pad(date.getMonth() + 1)}-${pad(date.getDate())}T${pad(date.getHours())}:${pad(date.getMinutes())}:${pad(date.getSeconds())}`;\n  }\n  \n  item.json.start_time = formatDate(start);\n  item.json.end_time = formatDate(end);\n  \n  return item;\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -944,
        512
      ],
      "id": "6cb2913a-c03b-4484-97ac-7746345468b8",
      "name": "Code6"
    },
    {
      "parameters": {
        "jsCode": "// Obtener la fecha solicitada del nodo trigger (Disponibilidad Esturión)\nconst fechaHoraSolicitada = $('Disponibilidad Esturión').first().json['Fecha y Hora'];\n\n// Validar que existe la fecha\nif (!fechaHoraSolicitada) {\n  return [{json: {error: \"No se proporcionó 'Fecha y Hora'\"}}];\n}\n\n// Obtener todos los eventos del calendario desde Get many events\nconst todosLosEventos = $input.all();\n\n// Normalizar la fecha del usuario (zona horaria Europe/Madrid)\nlet fechaHoraNormalizada = fechaHoraSolicitada;\nif (!fechaHoraNormalizada.includes('+') && !fechaHoraNormalizada.includes('Z')) {\n  fechaHoraNormalizada = fechaHoraNormalizada + '+01:00'; // Hora estándar Madrid (invierno)\n}\n\n// Función para verificar si la hora solicitada se solapa con un evento existente\nfunction verificarSolapamiento(inicioEvento, finEvento, usuarioFechaHora) {\n  const inicio = new Date(inicioEvento);\n  const fin = new Date(finEvento);\n  const usuarioFecha = new Date(usuarioFechaHora);\n  \n  // Si la fecha del usuario cae dentro del rango del evento, hay solapamiento\n  return usuarioFecha >= inicio && usuarioFecha < fin;\n}\n\n// Procesar todos los eventos y verificar solapamientos\nconst eventosEncontrados = todosLosEventos.map(evento => {\n  const inicioEvento = evento.json.start?.dateTime || evento.json.start?.date;\n  const finEvento = evento.json.end?.dateTime || evento.json.end?.date;\n  const solapa = verificarSolapamiento(inicioEvento, finEvento, fechaHoraNormalizada);\n  \n  return {\n    id: evento.json.id,\n    summary: evento.json.summary,\n    start: inicioEvento,\n    end: finEvento,\n    solapa: solapa\n  };\n});\n\n// Verificar si hay algún evento que se solape\nconst haySolapamiento = eventosEncontrados.some(evento => evento.solapa === true);\n\n// Devolver resultado en el formato solicitado\nreturn [{\n  json: {\n    result: haySolapamiento,\n    debug: {\n      fechaHoraSolicitada: fechaHoraSolicitada,\n      fechaHoraNormalizada: fechaHoraNormalizada,\n      eventosEncontrados: eventosEncontrados\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -496,
        512
      ],
      "id": "3fc32531-b3ce-42ca-8c91-4019bcbe7477",
      "name": "Code7"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "3cf455fae61998f2cf7bfffba57a4e28188afc46dd5d892692826a9254905124@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Restaurante Esturión"
        },
        "timeMax": "={{ $now.plus({ month: 1 }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -736,
        512
      ],
      "id": "9f4133ff-7b3b-4475-ac7b-ebec26537f4b",
      "name": "Get many events",
      "alwaysOutputData": false,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "BxLdTiBYRwntbItp",
          "name": "Google Calendar account 2"
        }
      }
    }
  ],
  "pinData": {
    "Disponibilidad Esturión": [
      {
        "json": {
          "Fecha y Hora": "2026-02-20T22:00:00"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-02-07T00:00:35.513Z",
      "createdAt": "2026-02-07T00:00:35.513Z",
      "role": "workflow:owner",
      "workflowId": "QURkLGwyKLMD7n5M",
      "projectId": "Mg9CftDHMIrQGniA"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-19T11:31:46.041Z",
  "versionId": "c2614372-a103-4e39-8942-d8e585d7c50c"
}