Newworkflows/Disponibilidad Clinica.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-01-16T13:29:04.000Z",
    "createdAt": "2026-01-12T11:53:48.873Z",
    "versionId": "f7e6b287-7e37-4ca9-ad9f-f45595af20fd",
    "workflowId": "hVb2ST8T1ILN6YyK",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "Fecha"
              }
            ]
          }
        },
        "id": "c055762a-8fe7-4141-a639-df2372f30060",
        "typeVersion": 1.1,
        "name": "When Executed by Another Workflow",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          272,
          352
        ]
      },
      {
        "parameters": {
          "jsCode": "return items.map(item => {\n  const fecha = new Date(item.json.fecha);\n  \n  const fechaInicio = new Date(fecha);\n  \n  // Función para formatear fecha + horas\n  function formatFechaConHoras(fecha) {\n    return fecha.toISOString().slice(0, 19).replace('T', ' ');\n  }\n  \n  function fechaFinal(fecha) {\n    return (fecha.getHours() + ':' + fecha.getMinutes().toString().padStart(2,'0') + ':' + fecha.getSeconds().toString().padStart(2,'0'));\n  }\n  \n  return {\n    json: {\n      ...item.json,\n      fechaInicio: formatFechaConHoras(fechaInicio),\n      fechaFinal: fechaFinal(new Date(fechaInicio.getTime() + 30*60*1000)) // +30 min\n    }\n  };\n});\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          480,
          352
        ],
        "id": "5dedb177-0094-4530-a956-4af009695b07",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "operation": "getAll",
          "calendar": {
            "__rl": true,
            "value": "6a3cafde1495464bc5dc0cb2ff50199043fa5e58fed4f46eaec4cc27d79a7c28@group.calendar.google.com",
            "mode": "list",
            "cachedResultName": "Practica N8N Clinica"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleCalendar",
        "typeVersion": 1.3,
        "position": [
          688,
          352
        ],
        "id": "df3ed3ca-a0dc-44af-b370-157668fb7ccf",
        "name": "Get many events",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "BxLdTiBYRwntbItp",
            "name": "Google Calendar account 2"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Obtener la fecha y hora del usuario desde el webhook\nconst fechaUsuario = $input.first().json.body.conversation.timestamp.toDateTime('s').toLocal();\n\n// Función verificar solapamiento (horas solicitadas vs eventos)\nfunction verificarSolapamiento(eventoInicio, eventoFin, fechaSolicitada) {\n  const inicio = new Date(eventoInicio);\n  const fin = new Date(eventoFin);\n  const solicitada = new Date(fechaSolicitada);\n  \n  return solicitada >= inicio && solicitada <= fin;\n}\n\n// Obtener todos los eventos del calendario (simula Google Calendar API)\nconst todosEventos = [\n  {\n    start: \"2026-01-12T10:00:00\",\n    end: \"2026-01-12T11:00:00\",\n    summary: \"Reunión equipo\",\n    startDateTime: \"2026-01-12 10:00\"\n  },\n  {\n    start: \"2026-01-12T14:00:00\", \n    end: \"2026-01-12T15:30:00\",\n    summary: \"Llamada cliente\",\n    startDateTime: \"2026-01-12 14:00\"\n  }\n  // ... más eventos\n];\n\n// Filtrar eventos coincidentes\nconst eventosCoincidentes = todosEventos.filter(evento => \n  verificarSolapamiento(evento.start, evento.end, fechaUsuario)\n);\n\n// Normalizar fecha para respuesta (formato legible)\nconst fechaNormalizada = fechaUsuario.toFormat('yyyy-MM-dd HH:mm:ss');\n\n// Verificar disponibilidad\nconst eventosCoincidentesCount = eventosCoincidentes.length === 0;\n\n// Preparar respuesta\nconst respuesta = {\n  eventosEncontrados: todosEventos.length,\n  eventosCoincidentes: eventosCoincidentes,\n  fechaSolicitada: fechaUsuario.toISO(),\n  fechaNormalizada: fechaNormalizada,\n  disponible: eventosCoincidentesCount,\n  mensajeUsuario: eventosCoincidentesCount ? \n    \"No hay eventos solapados. ¡Disponible!\" : \n    `Hay ${eventosCoincidentes.length} eventos en conflicto`\n};\n\n// Devolver la respuesta como un nuevo item\nreturn [{ json: respuesta }];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          896,
          352
        ],
        "id": "edf710af-c484-4a19-b97e-a9a9e2945ff5",
        "name": "Code in JavaScript1"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.result }}",
                      "rightValue": "is true",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "3403f852-77fa-4a11-9032-6b5288e87806"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Disponible"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "d507c7b0-47c5-4a6b-b1bd-9a0e8d04d41e",
                      "leftValue": "={{ $json.result }}",
                      "rightValue": "is false",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "No Disponible"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          1104,
          352
        ],
        "id": "2061b4f5-75bf-46b8-91fe-b733fec61494",
        "name": "Switch"
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Get many events",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many events": {
        "main": [
          [
            {
              "node": "Code in JavaScript1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript1": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [],
          []
        ]
      }
    },
    "authors": "Carlos Fernández",
    "name": "Disponibilidad Clinica",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "f7e6b287-7e37-4ca9-ad9f-f45595af20fd",
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Get many events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [],
        []
      ]
    }
  },
  "createdAt": "2026-01-11T14:38:21.689Z",
  "id": "hVb2ST8T1ILN6YyK",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Disponibilidad Clinica",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Fecha"
            }
          ]
        }
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        272,
        352
      ]
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const fecha = new Date(item.json.fecha);\n  \n  const fechaInicio = new Date(fecha);\n  \n  // Función para formatear fecha + horas\n  function formatFechaConHoras(fecha) {\n    return fecha.toISOString().slice(0, 19).replace('T', ' ');\n  }\n  \n  function fechaFinal(fecha) {\n    return (fecha.getHours() + ':' + fecha.getMinutes().toString().padStart(2,'0') + ':' + fecha.getSeconds().toString().padStart(2,'0'));\n  }\n  \n  return {\n    json: {\n      ...item.json,\n      fechaInicio: formatFechaConHoras(fechaInicio),\n      fechaFinal: fechaFinal(new Date(fechaInicio.getTime() + 30*60*1000)) // +30 min\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        352
      ],
      "id": "5dedb177-0094-4530-a956-4af009695b07",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "6a3cafde1495464bc5dc0cb2ff50199043fa5e58fed4f46eaec4cc27d79a7c28@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Practica N8N Clinica"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        688,
        352
      ],
      "id": "df3ed3ca-a0dc-44af-b370-157668fb7ccf",
      "name": "Get many events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "BxLdTiBYRwntbItp",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Obtener la fecha y hora del usuario desde el webhook\nconst fechaUsuario = $input.first().json.body.conversation.timestamp.toDateTime('s').toLocal();\n\n// Función verificar solapamiento (horas solicitadas vs eventos)\nfunction verificarSolapamiento(eventoInicio, eventoFin, fechaSolicitada) {\n  const inicio = new Date(eventoInicio);\n  const fin = new Date(eventoFin);\n  const solicitada = new Date(fechaSolicitada);\n  \n  return solicitada >= inicio && solicitada <= fin;\n}\n\n// Obtener todos los eventos del calendario (simula Google Calendar API)\nconst todosEventos = [\n  {\n    start: \"2026-01-12T10:00:00\",\n    end: \"2026-01-12T11:00:00\",\n    summary: \"Reunión equipo\",\n    startDateTime: \"2026-01-12 10:00\"\n  },\n  {\n    start: \"2026-01-12T14:00:00\", \n    end: \"2026-01-12T15:30:00\",\n    summary: \"Llamada cliente\",\n    startDateTime: \"2026-01-12 14:00\"\n  }\n  // ... más eventos\n];\n\n// Filtrar eventos coincidentes\nconst eventosCoincidentes = todosEventos.filter(evento => \n  verificarSolapamiento(evento.start, evento.end, fechaUsuario)\n);\n\n// Normalizar fecha para respuesta (formato legible)\nconst fechaNormalizada = fechaUsuario.toFormat('yyyy-MM-dd HH:mm:ss');\n\n// Verificar disponibilidad\nconst eventosCoincidentesCount = eventosCoincidentes.length === 0;\n\n// Preparar respuesta\nconst respuesta = {\n  eventosEncontrados: todosEventos.length,\n  eventosCoincidentes: eventosCoincidentes,\n  fechaSolicitada: fechaUsuario.toISO(),\n  fechaNormalizada: fechaNormalizada,\n  disponible: eventosCoincidentesCount,\n  mensajeUsuario: eventosCoincidentesCount ? \n    \"No hay eventos solapados. ¡Disponible!\" : \n    `Hay ${eventosCoincidentes.length} eventos en conflicto`\n};\n\n// Devolver la respuesta como un nuevo item\nreturn [{ json: respuesta }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        352
      ],
      "id": "edf710af-c484-4a19-b97e-a9a9e2945ff5",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.result }}",
                    "rightValue": "is true",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "3403f852-77fa-4a11-9032-6b5288e87806"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Disponible"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d507c7b0-47c5-4a6b-b1bd-9a0e8d04d41e",
                    "leftValue": "={{ $json.result }}",
                    "rightValue": "is false",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "No Disponible"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1104,
        352
      ],
      "id": "2061b4f5-75bf-46b8-91fe-b733fec61494",
      "name": "Switch"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-01-11T14:38:21.703Z",
      "createdAt": "2026-01-11T14:38:21.703Z",
      "role": "workflow:owner",
      "workflowId": "hVb2ST8T1ILN6YyK",
      "projectId": "Mg9CftDHMIrQGniA"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-12T11:53:48.871Z",
  "versionId": "f7e6b287-7e37-4ca9-ad9f-f45595af20fd"
}