Newworkflows/Etiquetador de Correos.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-05-28T11:48:17.000Z",
    "createdAt": "2026-05-28T11:48:08.398Z",
    "versionId": "a4ef2885-c787-44ae-aff9-3bd01afb134b",
    "workflowId": "F9lKEUWN1qdbq0oE",
    "nodes": [
      {
        "parameters": {
          "amount": 1
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          384,
          104
        ],
        "id": "39bbf54f-e1ee-43ef-b741-f057ea535e9f",
        "name": "Wait",
        "webhookId": "c941edb1-813c-41f5-ac49-723022e3ee16"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4.1-mini"
          },
          "options": {
            "maxTokens": 4096
          }
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          608,
          224
        ],
        "id": "fd29cba6-a4bd-40d7-a690-3f668e510837",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "WvSLkCujVhY8jIGz",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $json.id }}",
          "contextWindowLength": 10
        },
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          736,
          224
        ],
        "id": "ce532cf1-7083-4249-94db-fca3af103bb1",
        "name": "Simple Memory"
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "Herramienta para crear una nueva etiqueta, usar solo si la etiqueta aún no existe.",
          "resource": "label",
          "operation": "create",
          "name": "={{ $fromAI('new_label_name', 'new label name', 'string') }}",
          "options": {}
        },
        "type": "n8n-nodes-base.gmailTool",
        "typeVersion": 2.1,
        "position": [
          864,
          224
        ],
        "id": "0c579a74-5437-4a67-92d1-8ef73870a196",
        "name": "Gmail - Create label",
        "webhookId": "73962162-dd71-4584-b74d-c817d91371aa",
        "credentials": {
          "gmailOAuth2": {
            "id": "BYnusElzyLGzOhVZ",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "Herramienta para leer todas las etiquetas de Gmail existentes.",
          "resource": "label",
          "returnAll": true
        },
        "type": "n8n-nodes-base.gmailTool",
        "typeVersion": 2.1,
        "position": [
          992,
          224
        ],
        "id": "f921ff86-9356-4d62-8b8f-2cc1a1d3d5c7",
        "name": "Gmail - Read labels",
        "webhookId": "527a8aca-1c5e-4c26-af73-c2af1c17c480",
        "credentials": {
          "gmailOAuth2": {
            "id": "BYnusElzyLGzOhVZ",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "Herramienta para agregar etiquetas a los mensajes",
          "operation": "addLabels",
          "messageId": "={{ $fromAI('gmail_message_id' ) }}",
          "labelIds": "={{ $fromAI('gmail_categories', 'array of label ids') }}"
        },
        "type": "n8n-nodes-base.gmailTool",
        "typeVersion": 2.1,
        "position": [
          1120,
          224
        ],
        "id": "f0dfb291-509a-48e9-a02c-159b404e00d0",
        "name": "Gmail - add label to message",
        "webhookId": "54744e6f-2112-4858-a1fe-16393660e60a",
        "credentials": {
          "gmailOAuth2": {
            "id": "BYnusElzyLGzOhVZ",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "Herramienta para leer un mensaje especifico según el ID del mensaje.",
          "operation": "get",
          "messageId": "={{ $fromAI('gmail_message_id', 'id of the gmail message, like 1998b030917020a4', 'string') }}"
        },
        "type": "n8n-nodes-base.gmailTool",
        "typeVersion": 2.1,
        "position": [
          1248,
          224
        ],
        "id": "5cb13990-f2a2-4d21-8904-19e121458e44",
        "name": "Gmail - Get Message",
        "webhookId": "30f235b0-9731-4436-bff5-3202f6e3c97e",
        "credentials": {
          "gmailOAuth2": {
            "id": "BYnusElzyLGzOhVZ",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Etiqueta el correo electrónico según los detalles a continuación:\n{{ JSON.stringify($json)  }}",
          "options": {
            "systemMessage": "=#ROL\nEres mi asistente administrativo inteligente (180IQ).\n\n#Objetivo:\nCategorizar automáticamente los correos entrantes según las etiquetas de Gmail existentes o crear una nueva si ninguna coincide.\n\n#Herramientas:\n- Obtener mensaje\n- Leer todas las etiquetas\n- Crear etiqueta\n- Asignar etiqueta al mensaje\n\n#Instrucciones:\n\n- Coincidencia de etiquetas:\nAnaliza el asunto, el remitente, el destinatario, las palabras clave y el contenido del correo.\nCompara con las etiquetas de Gmail existentes para encontrar la coincidencia más relevante.\n\n- Asignación de etiquetas:\nAsigna al correo la etiqueta existente más adecuada.\nElimina la etiqueta de la bandeja de entrada si el correo es menos importante (como anuncios, promociones, o \"Reclamar\") y mantén los correos normales e importantes en la bandeja de entrada.\nSi no existe una etiqueta adecuada, crea una nueva basada en las existentes. Intenta reutilizar las etiquetas existentes siempre que sea posible. Cree siempre una etiqueta como subetiqueta. Si no hay ninguna etiqueta aplicable, si la etiqueta principal ya existe, cree la nueva etiqueta debajo de la etiqueta existente. Si no hay ninguna etiqueta principal, cree la etiqueta AI y cree la nueva etiqueta debajo de esta.\n\n- Creación de etiquetas:\nAsegúrese de que las nuevas etiquetas se ajusten a la estructura de las existentes, incluyendo mayúsculas y minúsculas, delimitadores y prefijos.\n\n",
            "maxIterations": 5
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          856,
          0
        ],
        "id": "d133e10d-247e-4a08-8388-06b8f3ba4384",
        "name": "Etiquetador Gmail",
        "onError": "continueErrorOutput",
        "notes": "Objetivo:\nCategorizar automáticamente los correos electrónicos entrantes según las etiquetas de Gmail existentes o crear una nueva si ninguna coincide.\n\nHerramientas:\n- Obtener mensaje\n- Leer todas las etiquetas\n- Crear etiqueta\n- Asignar etiqueta al mensaje\n\nInstrucciones:\n\nCoincidencia de etiquetas:\n\nAnalice el asunto, el remitente, el destinatario, las palabras clave y el contenido del correo electrónico.\nCompárelo con las etiquetas de Gmail existentes para encontrar la coincidencia más relevante.\nAsignación de etiquetas:\n\nAsigne el correo electrónico a la etiqueta existente más adecuada.\nElimine la etiqueta de la bandeja de entrada si el correo electrónico es menos importante (como anuncios, promociones, o \"Reclamar\") y mantenga los correos electrónicos normales e importantes en la bandeja de entrada.\nSi no existe una etiqueta adecuada, cree una nueva etiqueta basada en las existentes. Intente reutilizar las etiquetas existentes siempre que sea posible. Cree siempre una etiqueta como subetiqueta. Si no hay ninguna etiqueta aplicable, si la etiqueta principal ya existe, cree la nueva etiqueta debajo de la etiqueta existente. Si no existe una etiqueta principal, cree la etiqueta AI y cree la nueva etiqueta debajo de esta. Creación de etiquetas:\n\nAsegúrese de que las nuevas etiquetas se ajusten a la estructura de las existentes, incluyendo el uso de mayúsculas y minúsculas, los delimitadores y los prefijos.\nEjemplos:\n\nSi el asunto del correo electrónico es \"Actualización del Proyecto Alfa\", asígnelo a [Proyecto Alfa] si existe.\nPara \"Consulta a un nuevo proveedor\", cree \"Consulta a un proveedor\" si no existe una etiqueta relevante.\nResultado:\nLos correos electrónicos se categorizan de forma coherente bajo las etiquetas adecuadas o recién creadas, manteniendo así la estructura organizativa de Gmail.\n"
      },
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyX",
                "value": 1
              }
            ]
          },
          "filters": {}
        },
        "type": "n8n-nodes-base.gmailTrigger",
        "typeVersion": 1.3,
        "position": [
          160,
          536
        ],
        "id": "59d617a9-bd86-416b-8111-1bb996459558",
        "name": "Gmail Trigger1",
        "credentials": {
          "gmailOAuth2": {
            "id": "BYnusElzyLGzOhVZ",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "amount": 1
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          384,
          536
        ],
        "id": "e7874725-7235-469a-8765-34af01998ee8",
        "name": "Wait1",
        "webhookId": "c941edb1-813c-41f5-ac49-723022e3ee16"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4.1-mini"
          },
          "options": {
            "maxTokens": 4096
          }
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          608,
          760
        ],
        "id": "d6b8b8df-134d-4fee-ac6b-dd5ac5f5c175",
        "name": "OpenAI Chat Model1",
        "credentials": {
          "openAiApi": {
            "id": "WvSLkCujVhY8jIGz",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $json.id }}",
          "contextWindowLength": 10
        },
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          736,
          760
        ],
        "id": "11d24089-e99f-4739-9abc-91737c6bb8ba",
        "name": "Simple Memory1"
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "Herramienta para agregar etiquetas a los mensajes",
          "operation": "addLabels",
          "messageId": "={{ $fromAI('gmail_message_id' ) }}",
          "labelIds": "={{ $fromAI('gmail_categories', 'array of label ids') }}"
        },
        "type": "n8n-nodes-base.gmailTool",
        "typeVersion": 2.1,
        "position": [
          864,
          760
        ],
        "id": "1abae834-be92-43e1-a4aa-f6384f067ffe",
        "name": "Gmail - add label to message1",
        "webhookId": "54744e6f-2112-4858-a1fe-16393660e60a",
        "credentials": {
          "gmailOAuth2": {
            "id": "BYnusElzyLGzOhVZ",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "Herramienta para leer un mensaje especifico según el ID del mensaje.",
          "operation": "get",
          "messageId": "={{ $fromAI('gmail_message_id', 'id of the gmail message, like 1998b030917020a4', 'string') }}"
        },
        "type": "n8n-nodes-base.gmailTool",
        "typeVersion": 2.1,
        "position": [
          992,
          760
        ],
        "id": "7dfcbbd8-77d1-49cb-9991-7a0dbbdd3877",
        "name": "Gmail - Get Message1",
        "webhookId": "30f235b0-9731-4436-bff5-3202f6e3c97e",
        "credentials": {
          "gmailOAuth2": {
            "id": "BYnusElzyLGzOhVZ",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Etiqueta el correo electrónico según los detalles a continuación:\n{{ JSON.stringify($json)  }}",
          "options": {
            "systemMessage": "=#ROL\nEres mi asistente administrativo inteligente (180IQ).\n\n#Objetivo:\nCategorizar automáticamente los correos entrantes según las etiquetas de Gmail existentes o crear una nueva si ninguna coincide.\n\n#Herramientas:\n- Obtener mensaje\n- Leer todas las etiquetas\n- Crear etiqueta\n- Asignar etiqueta al mensaje\n\n#Instrucciones:\n\n- Coincidencia de etiquetas:\nAnaliza el asunto, el remitente, el destinatario, las palabras clave y el contenido del correo.\nCompara con las etiquetas de Gmail existentes para encontrar la coincidencia más relevante.\n\n- Asignación de etiquetas:\nAsigna al correo la etiqueta existente más adecuada.\nElimina la etiqueta de la bandeja de entrada si el correo es menos importante (como anuncios, promociones, o \"Reclamar\") y mantén los correos normales e importantes en la bandeja de entrada.\nSi no existe una etiqueta adecuada, crea una nueva basada en las existentes. Intenta reutilizar las etiquetas existentes siempre que sea posible. Cree siempre una etiqueta como subetiqueta. Si no hay ninguna etiqueta aplicable, si la etiqueta principal ya existe, cree la nueva etiqueta debajo de la etiqueta existente. Si no hay ninguna etiqueta principal, cree la etiqueta AI y cree la nueva etiqueta debajo de esta.\n\n- Creación de etiquetas:\nAsegúrese de que las nuevas etiquetas se ajusten a la estructura de las existentes, incluyendo mayúsculas y minúsculas, delimitadores y prefijos.\n\n",
            "maxIterations": 5
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          856,
          536
        ],
        "id": "18704ea3-c5b0-4ac9-b9c4-8154d1150c25",
        "name": "Etiquetador Gmail1",
        "onError": "continueErrorOutput",
        "notes": "Objetivo:\nCategorizar automáticamente los correos electrónicos entrantes según las etiquetas de Gmail existentes o crear una nueva si ninguna coincide.\n\nHerramientas:\n- Obtener mensaje\n- Leer todas las etiquetas\n- Crear etiqueta\n- Asignar etiqueta al mensaje\n\nInstrucciones:\n\nCoincidencia de etiquetas:\n\nAnalice el asunto, el remitente, el destinatario, las palabras clave y el contenido del correo electrónico.\nCompárelo con las etiquetas de Gmail existentes para encontrar la coincidencia más relevante.\nAsignación de etiquetas:\n\nAsigne el correo electrónico a la etiqueta existente más adecuada.\nElimine la etiqueta de la bandeja de entrada si el correo electrónico es menos importante (como anuncios, promociones, o \"Reclamar\") y mantenga los correos electrónicos normales e importantes en la bandeja de entrada.\nSi no existe una etiqueta adecuada, cree una nueva etiqueta basada en las existentes. Intente reutilizar las etiquetas existentes siempre que sea posible. Cree siempre una etiqueta como subetiqueta. Si no hay ninguna etiqueta aplicable, si la etiqueta principal ya existe, cree la nueva etiqueta debajo de la etiqueta existente. Si no existe una etiqueta principal, cree la etiqueta AI y cree la nueva etiqueta debajo de esta. Creación de etiquetas:\n\nAsegúrese de que las nuevas etiquetas se ajusten a la estructura de las existentes, incluyendo el uso de mayúsculas y minúsculas, los delimitadores y los prefijos.\nEjemplos:\n\nSi el asunto del correo electrónico es \"Actualización del Proyecto Alfa\", asígnelo a [Proyecto Alfa] si existe.\nPara \"Consulta a un nuevo proveedor\", cree \"Consulta a un proveedor\" si no existe una etiqueta relevante.\nResultado:\nLos correos electrónicos se categorizan de forma coherente bajo las etiquetas adecuadas o recién creadas, manteniendo así la estructura organizativa de Gmail.\n"
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "Herramienta para crear una nueva etiqueta, usar solo si la etiqueta aún no existe.",
          "resource": "label",
          "operation": "create",
          "name": "={{ $fromAI('new_label_name', 'new label name', 'string') }}",
          "options": {}
        },
        "type": "n8n-nodes-base.gmailTool",
        "typeVersion": 2.1,
        "position": [
          1120,
          760
        ],
        "id": "70b3e14e-3efb-42fb-9e19-f0facb5851c5",
        "name": "Crear",
        "webhookId": "73962162-dd71-4584-b74d-c817d91371aa",
        "credentials": {
          "gmailOAuth2": {
            "id": "BYnusElzyLGzOhVZ",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "Herramienta para leer todas las etiquetas de Gmail existentes.",
          "resource": "label",
          "returnAll": true
        },
        "type": "n8n-nodes-base.gmailTool",
        "typeVersion": 2.1,
        "position": [
          1248,
          760
        ],
        "id": "54e124b3-437f-4067-b8fd-3f51505f1089",
        "name": "Leer Etiquetas",
        "webhookId": "527a8aca-1c5e-4c26-af73-c2af1c17c480",
        "credentials": {
          "gmailOAuth2": {
            "id": "BYnusElzyLGzOhVZ",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyX",
                "value": 1
              }
            ]
          },
          "filters": {}
        },
        "type": "n8n-nodes-base.gmailTrigger",
        "typeVersion": 1.3,
        "position": [
          160,
          104
        ],
        "id": "ae6dd2f7-9edd-4b20-bd77-f83fd6fc338f",
        "name": "Gmail Trigger",
        "credentials": {
          "gmailOAuth2": {
            "id": "BYnusElzyLGzOhVZ",
            "name": "Gmail account"
          }
        }
      }
    ],
    "connections": {
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Etiquetador Gmail",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Etiquetador Gmail",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Simple Memory": {
        "ai_memory": [
          [
            {
              "node": "Etiquetador Gmail",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Gmail - Create label": {
        "ai_tool": [
          [
            {
              "node": "Etiquetador Gmail",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Gmail - Read labels": {
        "ai_tool": [
          [
            {
              "node": "Etiquetador Gmail",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Gmail - add label to message": {
        "ai_tool": [
          [
            {
              "node": "Etiquetador Gmail",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Gmail - Get Message": {
        "ai_tool": [
          [
            {
              "node": "Etiquetador Gmail",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Gmail Trigger1": {
        "main": [
          [
            {
              "node": "Wait1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait1": {
        "main": [
          [
            {
              "node": "Etiquetador Gmail1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model1": {
        "ai_languageModel": [
          [
            {
              "node": "Etiquetador Gmail1",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Simple Memory1": {
        "ai_memory": [
          [
            {
              "node": "Etiquetador Gmail1",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Gmail - add label to message1": {
        "ai_tool": [
          [
            {
              "node": "Etiquetador Gmail1",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Gmail - Get Message1": {
        "ai_tool": [
          [
            {
              "node": "Etiquetador Gmail1",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Crear": {
        "ai_tool": [
          [
            {
              "node": "Etiquetador Gmail1",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Leer Etiquetas": {
        "ai_tool": [
          [
            {
              "node": "Etiquetador Gmail1",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Gmail Trigger": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Carlos Fernández",
    "name": "Version a4ef2885",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "a4ef2885-c787-44ae-aff9-3bd01afb134b",
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Etiquetador Gmail",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Etiquetador Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Etiquetador Gmail",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Create label": {
      "ai_tool": [
        [
          {
            "node": "Etiquetador Gmail",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Read labels": {
      "ai_tool": [
        [
          {
            "node": "Etiquetador Gmail",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - add label to message": {
      "ai_tool": [
        [
          {
            "node": "Etiquetador Gmail",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Get Message": {
      "ai_tool": [
        [
          {
            "node": "Etiquetador Gmail",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Etiquetador Gmail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Etiquetador Gmail1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "Etiquetador Gmail1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - add label to message1": {
      "ai_tool": [
        [
          {
            "node": "Etiquetador Gmail1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Get Message1": {
      "ai_tool": [
        [
          {
            "node": "Etiquetador Gmail1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Crear": {
      "ai_tool": [
        [
          {
            "node": "Etiquetador Gmail1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Leer Etiquetas": {
      "ai_tool": [
        [
          {
            "node": "Etiquetador Gmail1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-27T11:44:26.302Z",
  "id": "F9lKEUWN1qdbq0oE",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Etiquetador de Correos",
  "nodes": [
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        384,
        104
      ],
      "id": "39bbf54f-e1ee-43ef-b741-f057ea535e9f",
      "name": "Wait",
      "webhookId": "c941edb1-813c-41f5-ac49-723022e3ee16"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {
          "maxTokens": 4096
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        608,
        224
      ],
      "id": "fd29cba6-a4bd-40d7-a690-3f668e510837",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "WvSLkCujVhY8jIGz",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        736,
        224
      ],
      "id": "ce532cf1-7083-4249-94db-fca3af103bb1",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Herramienta para crear una nueva etiqueta, usar solo si la etiqueta aún no existe.",
        "resource": "label",
        "operation": "create",
        "name": "={{ $fromAI('new_label_name', 'new label name', 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        864,
        224
      ],
      "id": "0c579a74-5437-4a67-92d1-8ef73870a196",
      "name": "Gmail - Create label",
      "webhookId": "73962162-dd71-4584-b74d-c817d91371aa",
      "credentials": {
        "gmailOAuth2": {
          "id": "BYnusElzyLGzOhVZ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Herramienta para leer todas las etiquetas de Gmail existentes.",
        "resource": "label",
        "returnAll": true
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        992,
        224
      ],
      "id": "f921ff86-9356-4d62-8b8f-2cc1a1d3d5c7",
      "name": "Gmail - Read labels",
      "webhookId": "527a8aca-1c5e-4c26-af73-c2af1c17c480",
      "credentials": {
        "gmailOAuth2": {
          "id": "BYnusElzyLGzOhVZ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Herramienta para agregar etiquetas a los mensajes",
        "operation": "addLabels",
        "messageId": "={{ $fromAI('gmail_message_id' ) }}",
        "labelIds": "={{ $fromAI('gmail_categories', 'array of label ids') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1120,
        224
      ],
      "id": "f0dfb291-509a-48e9-a02c-159b404e00d0",
      "name": "Gmail - add label to message",
      "webhookId": "54744e6f-2112-4858-a1fe-16393660e60a",
      "credentials": {
        "gmailOAuth2": {
          "id": "BYnusElzyLGzOhVZ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Herramienta para leer un mensaje especifico según el ID del mensaje.",
        "operation": "get",
        "messageId": "={{ $fromAI('gmail_message_id', 'id of the gmail message, like 1998b030917020a4', 'string') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1248,
        224
      ],
      "id": "5cb13990-f2a2-4d21-8904-19e121458e44",
      "name": "Gmail - Get Message",
      "webhookId": "30f235b0-9731-4436-bff5-3202f6e3c97e",
      "credentials": {
        "gmailOAuth2": {
          "id": "BYnusElzyLGzOhVZ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Etiqueta el correo electrónico según los detalles a continuación:\n{{ JSON.stringify($json)  }}",
        "options": {
          "systemMessage": "=#ROL\nEres mi asistente administrativo inteligente (180IQ).\n\n#Objetivo:\nCategorizar automáticamente los correos entrantes según las etiquetas de Gmail existentes o crear una nueva si ninguna coincide.\n\n#Herramientas:\n- Obtener mensaje\n- Leer todas las etiquetas\n- Crear etiqueta\n- Asignar etiqueta al mensaje\n\n#Instrucciones:\n\n- Coincidencia de etiquetas:\nAnaliza el asunto, el remitente, el destinatario, las palabras clave y el contenido del correo.\nCompara con las etiquetas de Gmail existentes para encontrar la coincidencia más relevante.\n\n- Asignación de etiquetas:\nAsigna al correo la etiqueta existente más adecuada.\nElimina la etiqueta de la bandeja de entrada si el correo es menos importante (como anuncios, promociones, o \"Reclamar\") y mantén los correos normales e importantes en la bandeja de entrada.\nSi no existe una etiqueta adecuada, crea una nueva basada en las existentes. Intenta reutilizar las etiquetas existentes siempre que sea posible. Cree siempre una etiqueta como subetiqueta. Si no hay ninguna etiqueta aplicable, si la etiqueta principal ya existe, cree la nueva etiqueta debajo de la etiqueta existente. Si no hay ninguna etiqueta principal, cree la etiqueta AI y cree la nueva etiqueta debajo de esta.\n\n- Creación de etiquetas:\nAsegúrese de que las nuevas etiquetas se ajusten a la estructura de las existentes, incluyendo mayúsculas y minúsculas, delimitadores y prefijos.\n\n",
          "maxIterations": 5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        856,
        0
      ],
      "id": "d133e10d-247e-4a08-8388-06b8f3ba4384",
      "name": "Etiquetador Gmail",
      "onError": "continueErrorOutput",
      "notes": "Objetivo:\nCategorizar automáticamente los correos electrónicos entrantes según las etiquetas de Gmail existentes o crear una nueva si ninguna coincide.\n\nHerramientas:\n- Obtener mensaje\n- Leer todas las etiquetas\n- Crear etiqueta\n- Asignar etiqueta al mensaje\n\nInstrucciones:\n\nCoincidencia de etiquetas:\n\nAnalice el asunto, el remitente, el destinatario, las palabras clave y el contenido del correo electrónico.\nCompárelo con las etiquetas de Gmail existentes para encontrar la coincidencia más relevante.\nAsignación de etiquetas:\n\nAsigne el correo electrónico a la etiqueta existente más adecuada.\nElimine la etiqueta de la bandeja de entrada si el correo electrónico es menos importante (como anuncios, promociones, o \"Reclamar\") y mantenga los correos electrónicos normales e importantes en la bandeja de entrada.\nSi no existe una etiqueta adecuada, cree una nueva etiqueta basada en las existentes. Intente reutilizar las etiquetas existentes siempre que sea posible. Cree siempre una etiqueta como subetiqueta. Si no hay ninguna etiqueta aplicable, si la etiqueta principal ya existe, cree la nueva etiqueta debajo de la etiqueta existente. Si no existe una etiqueta principal, cree la etiqueta AI y cree la nueva etiqueta debajo de esta. Creación de etiquetas:\n\nAsegúrese de que las nuevas etiquetas se ajusten a la estructura de las existentes, incluyendo el uso de mayúsculas y minúsculas, los delimitadores y los prefijos.\nEjemplos:\n\nSi el asunto del correo electrónico es \"Actualización del Proyecto Alfa\", asígnelo a [Proyecto Alfa] si existe.\nPara \"Consulta a un nuevo proveedor\", cree \"Consulta a un proveedor\" si no existe una etiqueta relevante.\nResultado:\nLos correos electrónicos se categorizan de forma coherente bajo las etiquetas adecuadas o recién creadas, manteniendo así la estructura organizativa de Gmail.\n"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 1
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        160,
        536
      ],
      "id": "59d617a9-bd86-416b-8111-1bb996459558",
      "name": "Gmail Trigger1",
      "credentials": {
        "gmailOAuth2": {
          "id": "BYnusElzyLGzOhVZ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        384,
        536
      ],
      "id": "e7874725-7235-469a-8765-34af01998ee8",
      "name": "Wait1",
      "webhookId": "c941edb1-813c-41f5-ac49-723022e3ee16"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {
          "maxTokens": 4096
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        608,
        760
      ],
      "id": "d6b8b8df-134d-4fee-ac6b-dd5ac5f5c175",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "WvSLkCujVhY8jIGz",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        736,
        760
      ],
      "id": "11d24089-e99f-4739-9abc-91737c6bb8ba",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Herramienta para agregar etiquetas a los mensajes",
        "operation": "addLabels",
        "messageId": "={{ $fromAI('gmail_message_id' ) }}",
        "labelIds": "={{ $fromAI('gmail_categories', 'array of label ids') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        864,
        760
      ],
      "id": "1abae834-be92-43e1-a4aa-f6384f067ffe",
      "name": "Gmail - add label to message1",
      "webhookId": "54744e6f-2112-4858-a1fe-16393660e60a",
      "credentials": {
        "gmailOAuth2": {
          "id": "BYnusElzyLGzOhVZ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Herramienta para leer un mensaje especifico según el ID del mensaje.",
        "operation": "get",
        "messageId": "={{ $fromAI('gmail_message_id', 'id of the gmail message, like 1998b030917020a4', 'string') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        992,
        760
      ],
      "id": "7dfcbbd8-77d1-49cb-9991-7a0dbbdd3877",
      "name": "Gmail - Get Message1",
      "webhookId": "30f235b0-9731-4436-bff5-3202f6e3c97e",
      "credentials": {
        "gmailOAuth2": {
          "id": "BYnusElzyLGzOhVZ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Etiqueta el correo electrónico según los detalles a continuación:\n{{ JSON.stringify($json)  }}",
        "options": {
          "systemMessage": "=#ROL\nEres mi asistente administrativo inteligente (180IQ).\n\n#Objetivo:\nCategorizar automáticamente los correos entrantes según las etiquetas de Gmail existentes o crear una nueva si ninguna coincide.\n\n#Herramientas:\n- Obtener mensaje\n- Leer todas las etiquetas\n- Crear etiqueta\n- Asignar etiqueta al mensaje\n\n#Instrucciones:\n\n- Coincidencia de etiquetas:\nAnaliza el asunto, el remitente, el destinatario, las palabras clave y el contenido del correo.\nCompara con las etiquetas de Gmail existentes para encontrar la coincidencia más relevante.\n\n- Asignación de etiquetas:\nAsigna al correo la etiqueta existente más adecuada.\nElimina la etiqueta de la bandeja de entrada si el correo es menos importante (como anuncios, promociones, o \"Reclamar\") y mantén los correos normales e importantes en la bandeja de entrada.\nSi no existe una etiqueta adecuada, crea una nueva basada en las existentes. Intenta reutilizar las etiquetas existentes siempre que sea posible. Cree siempre una etiqueta como subetiqueta. Si no hay ninguna etiqueta aplicable, si la etiqueta principal ya existe, cree la nueva etiqueta debajo de la etiqueta existente. Si no hay ninguna etiqueta principal, cree la etiqueta AI y cree la nueva etiqueta debajo de esta.\n\n- Creación de etiquetas:\nAsegúrese de que las nuevas etiquetas se ajusten a la estructura de las existentes, incluyendo mayúsculas y minúsculas, delimitadores y prefijos.\n\n",
          "maxIterations": 5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        856,
        536
      ],
      "id": "18704ea3-c5b0-4ac9-b9c4-8154d1150c25",
      "name": "Etiquetador Gmail1",
      "onError": "continueErrorOutput",
      "notes": "Objetivo:\nCategorizar automáticamente los correos electrónicos entrantes según las etiquetas de Gmail existentes o crear una nueva si ninguna coincide.\n\nHerramientas:\n- Obtener mensaje\n- Leer todas las etiquetas\n- Crear etiqueta\n- Asignar etiqueta al mensaje\n\nInstrucciones:\n\nCoincidencia de etiquetas:\n\nAnalice el asunto, el remitente, el destinatario, las palabras clave y el contenido del correo electrónico.\nCompárelo con las etiquetas de Gmail existentes para encontrar la coincidencia más relevante.\nAsignación de etiquetas:\n\nAsigne el correo electrónico a la etiqueta existente más adecuada.\nElimine la etiqueta de la bandeja de entrada si el correo electrónico es menos importante (como anuncios, promociones, o \"Reclamar\") y mantenga los correos electrónicos normales e importantes en la bandeja de entrada.\nSi no existe una etiqueta adecuada, cree una nueva etiqueta basada en las existentes. Intente reutilizar las etiquetas existentes siempre que sea posible. Cree siempre una etiqueta como subetiqueta. Si no hay ninguna etiqueta aplicable, si la etiqueta principal ya existe, cree la nueva etiqueta debajo de la etiqueta existente. Si no existe una etiqueta principal, cree la etiqueta AI y cree la nueva etiqueta debajo de esta. Creación de etiquetas:\n\nAsegúrese de que las nuevas etiquetas se ajusten a la estructura de las existentes, incluyendo el uso de mayúsculas y minúsculas, los delimitadores y los prefijos.\nEjemplos:\n\nSi el asunto del correo electrónico es \"Actualización del Proyecto Alfa\", asígnelo a [Proyecto Alfa] si existe.\nPara \"Consulta a un nuevo proveedor\", cree \"Consulta a un proveedor\" si no existe una etiqueta relevante.\nResultado:\nLos correos electrónicos se categorizan de forma coherente bajo las etiquetas adecuadas o recién creadas, manteniendo así la estructura organizativa de Gmail.\n"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Herramienta para crear una nueva etiqueta, usar solo si la etiqueta aún no existe.",
        "resource": "label",
        "operation": "create",
        "name": "={{ $fromAI('new_label_name', 'new label name', 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1120,
        760
      ],
      "id": "70b3e14e-3efb-42fb-9e19-f0facb5851c5",
      "name": "Crear",
      "webhookId": "73962162-dd71-4584-b74d-c817d91371aa",
      "credentials": {
        "gmailOAuth2": {
          "id": "BYnusElzyLGzOhVZ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Herramienta para leer todas las etiquetas de Gmail existentes.",
        "resource": "label",
        "returnAll": true
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1248,
        760
      ],
      "id": "54e124b3-437f-4067-b8fd-3f51505f1089",
      "name": "Leer Etiquetas",
      "webhookId": "527a8aca-1c5e-4c26-af73-c2af1c17c480",
      "credentials": {
        "gmailOAuth2": {
          "id": "BYnusElzyLGzOhVZ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 1
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        160,
        104
      ],
      "id": "ae6dd2f7-9edd-4b20-bd77-f83fd6fc338f",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "BYnusElzyLGzOhVZ",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Madrid",
    "callerPolicy": "workflowsFromSameOwner",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "G3LUdMqnpavs5AUk",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2025-09-27T11:44:26.305Z",
      "createdAt": "2025-09-27T11:44:26.305Z",
      "role": "workflow:owner",
      "workflowId": "F9lKEUWN1qdbq0oE",
      "projectId": "Mg9CftDHMIrQGniA"
    }
  ],
  "staticData": {
    "node:Gmail Trigger": {
      "Gmail Trigger": {
        "lastTimeChecked": 1782762076,
        "possibleDuplicates": [
          "19f14e67b7d43cd5",
          "19f147cd595c70f4"
        ]
      }
    },
    "node:Gmail Trigger1": {
      "Gmail Trigger1": {
        "lastTimeChecked": 1782762076,
        "possibleDuplicates": [
          "19f14e67b7d43cd5",
          "19f147cd595c70f4"
        ]
      }
    }
  },
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2026-06-16T14:22:57.211Z",
  "versionId": "a4ef2885-c787-44ae-aff9-3bd01afb134b"
}