Newworkflows/FlowInvoiceBot.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-04-22T10:13:04.000Z",
    "createdAt": "2026-04-22T10:12:41.445Z",
    "versionId": "8c59a4de-cc0d-435b-ae12-4158905b9987",
    "workflowId": "6i8vuVqoP7zxuGE3",
    "nodes": [
      {
        "parameters": {
          "updates": [
            "message"
          ],
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegramTrigger",
        "typeVersion": 1.2,
        "position": [
          -400,
          -96
        ],
        "id": "bcf1595d-8eb3-458b-80a0-650b6f3c2109",
        "name": "Telegram Trigger",
        "webhookId": "dd80a0e6-a5b3-4f21-8993-a60f40bd3eed",
        "credentials": {
          "telegramApi": {
            "id": "KcOnwLzOSvSJfY1o",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.message.text }}",
                      "rightValue": "={{ $json.message.text }}",
                      "operator": {
                        "type": "string",
                        "operation": "exists",
                        "singleValue": true
                      },
                      "id": "2e1cea0d-0652-44ec-a75a-a398b64df960"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "texto"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "a6ede8a0-e014-4cc5-80c7-825c556941cd",
                      "leftValue": "={{ $json.message.voice }}",
                      "rightValue": "",
                      "operator": {
                        "type": "object",
                        "operation": "exists",
                        "singleValue": true
                      }
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          -192,
          -96
        ],
        "id": "981baedd-2817-4c86-947e-854e5722efb5",
        "name": "Switch"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "fa31fba7-29b4-4fe8-8a27-807fe46bedfe",
                "name": "Texto",
                "value": "={{ $json.message.text }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1360,
          -208
        ],
        "id": "ee3c83dc-8095-4cf1-bb96-aa5dc705033b",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "gpt-4.1-mini",
            "mode": "list",
            "cachedResultName": "GPT-4.1-MINI"
          },
          "messages": {
            "values": [
              {
                "content": "=Tu objetivo es analizar los mensajes y obtener el nombre de la empresa a la que se le va a crear la factura, la fecha, número de factura, localidad del cliente, CIF o NIF, servicio, descripción (sobre que trata el servicio) y precio del servicio. Deberás devolver un JSON con esta estructura SIEMPRE:\n\nSiempre devuelve como respuesta un json como este\n{\n  \"empresa\": \"\",\n  \"fecha\": \"\",\n  \"factura\": \"\",\n  \"servicio\": \"\",\n  \"descripcion\": \"\",\n  \"precio\": \"\"\n}\n\n\nSi el usuario no te proporciona la fecha, utiliza la fecha actual: {{ $today.format(\"dd/MM/yyyy\") }}\nEl “precio” deberás poner solamente el precio sin utilizar el símbolo de “€”\nEl “servicio” solamente tiene que ser de 1 o 2 palabras (ej. Automatización, Agente de IA, Sitio web etc), palabras muy directas.\n\nMensaje: {{ $json.Texto }} o {{ $('Switch1').item.json.Texto }}"
              }
            ]
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.8,
        "position": [
          1584,
          -208
        ],
        "id": "e7483ec9-2bd2-4c3e-ab3e-4aba09f06545",
        "name": "Message a model",
        "credentials": {
          "openAiApi": {
            "id": "WvSLkCujVhY8jIGz",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Lee el texto devuelto por el Message a model\nconst raw = $('Message a model').first().json.message.content;\n// --- Limpieza robusta del string ---\nlet s = String(raw).trim();\n// 1) Si viene dentro de ```json ... ``` o ``` ... ``` quítalo\ns = s\n  .replace(/^```(?:json)?\\s*/i, '')   // abre fence\n  .replace(/```$/i, '')               // cierra fence\n  .trim();\n// 2) Si por cualquier motivo hay texto extra, quédate con lo que haya entre el\n//    primer '{' y el último '}'\nconst firstBrace = s.indexOf('{');\nconst lastBrace  = s.lastIndexOf('}');\nif (firstBrace !== -1 && lastBrace !== -1) {\n  s = s.slice(firstBrace, lastBrace + 1).trim();\n}\n// 3) Quitar posibles comas colgantes (por si el modelo las puso)\ns = s.replace(/,\\s*([}\\]])/g, '$1');\nlet obj;\ntry {\n  obj = JSON.parse(s);\n} catch (e) {\n  throw new Error('No se pudo parsear el JSON del modelo. Recibido:\\n' + s);\n}\n\n// --- Cálculo de IVA y total ---\nconst precio = parseFloat(obj.precio) || 0;\nconst iva    = Math.round(precio * 0.21 * 100) / 100;\nconst total  = Math.round((precio + iva)  * 100) / 100;\n\n// Devuelve cada campo como parámetros separados\nreturn [\n  {\n    empresa:     obj.empresa     ?? '',\n    fecha:       obj.fecha       ?? '',\n    factura:     obj.factura     ?? '',\n    servicio:    obj.servicio    ?? '',\n    descripcion: obj.descripcion ?? '',\n    precio:      obj.precio      ?? '',\n    iva:         iva.toFixed(2),    // → \"735.00\"\n    total:       total.toFixed(2),  // → \"4235.00\"\n  }\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1936,
          -208
        ],
        "id": "59e5dcf1-c329-48e7-a174-8ece34c4441d",
        "name": "Code1"
      },
      {
        "parameters": {
          "operation": "copy",
          "fileId": {
            "__rl": true,
            "value": "1x8jxSagN-D8oJ3o2niwYlj2F0KRFCs0Dbb8PQhiZuJs",
            "mode": "list",
            "cachedResultName": "Plantilla Factura Original",
            "cachedResultUrl": "https://docs.google.com/document/d/1x8jxSagN-D8oJ3o2niwYlj2F0KRFCs0Dbb8PQhiZuJs/edit?usp=drivesdk"
          },
          "name": "=Factura nº{{ $('Code1').item.json.factura }} para {{ $json.Nombre }}",
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          2384,
          -208
        ],
        "id": "2adec5b6-3a6b-4080-99fd-bad114ae1267",
        "name": "Copy file",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "ogoHnuKajuUeabLc",
            "name": "Google Drive account 2"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "documentURL": "={{ $json.id }}",
          "actionsUi": {
            "actionFields": [
              {
                "action": "replaceAll",
                "text": "{{factura}}",
                "replaceText": "={{ $('Code1').item.json.factura }}"
              },
              {
                "action": "replaceAll",
                "text": "{{fecha}}",
                "replaceText": "={{ $('Code1').item.json.fecha }}"
              },
              {
                "action": "replaceAll",
                "text": "{{nombre_cliente}}",
                "replaceText": "={{ $('Get row(s) in sheet').item.json.Nombre }}"
              },
              {
                "action": "replaceAll",
                "text": "{{cif_cliente}}",
                "replaceText": "={{ $('Get row(s) in sheet').item.json.CIF }}"
              },
              {
                "action": "replaceAll",
                "text": "{{direccion_cliente}}",
                "replaceText": "={{ $('Get row(s) in sheet').item.json.Direccion }}"
              },
              {
                "action": "replaceAll",
                "text": "{{localidad_cliente}}",
                "replaceText": "={{ $('Get row(s) in sheet').item.json.Poblacion }},{{ $('Get row(s) in sheet').item.json.ZIP }},{{ $('Get row(s) in sheet').item.json.Provincia }},{{ $('Get row(s) in sheet').item.json.Pais }}"
              },
              {
                "action": "replaceAll",
                "text": "{{email_cliente}}",
                "replaceText": "={{ $('Get row(s) in sheet').item.json.Email }}"
              },
              {
                "action": "replaceAll",
                "text": "{{servicio}}",
                "replaceText": "={{ $('Code1').item.json.servicio }}"
              },
              {
                "action": "replaceAll",
                "text": "{{descripción}}",
                "replaceText": "={{ $('Code1').item.json.descripcion }}"
              },
              {
                "action": "replaceAll",
                "text": "{{precio}}",
                "replaceText": "={{ $('Code1').item.json.precio }}"
              },
              {
                "action": "replaceAll",
                "text": "{{iva}}",
                "replaceText": "={{ $('Code1').item.json.iva }}"
              },
              {
                "action": "replaceAll",
                "text": "{{total}}",
                "replaceText": "={{ $('Code1').item.json.total }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.googleDocs",
        "typeVersion": 2,
        "position": [
          2608,
          -208
        ],
        "id": "be3b9524-716e-4047-b49b-0056cd8d36c9",
        "name": "Update a document",
        "credentials": {
          "googleDocsOAuth2Api": {
            "id": "EQuab7P11WstZxCY",
            "name": "Google Docs account"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
          "text": "=Factura {{ $('Code1').item.json.factura }} generada para {{ $('Code1').item.json.empresa }}",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          2832,
          -208
        ],
        "id": "e3d4002f-84da-405e-8311-99d1274c5445",
        "name": "Send a text message",
        "webhookId": "ec4b843a-4c41-4f18-aff7-705c79f7dad1",
        "credentials": {
          "telegramApi": {
            "id": "KcOnwLzOSvSJfY1o",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "operation": "download",
          "fileId": {
            "__rl": true,
            "value": "={{ $('Update a document').item.json.documentId }}",
            "mode": "id"
          },
          "options": {
            "googleFileConversion": {
              "conversion": {
                "docsToFormat": "application/pdf",
                "drawingsToFormat": "application/pdf",
                "slidesToFormat": "application/pdf",
                "sheetsToFormat": "application/pdf"
              }
            }
          }
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          3056,
          -208
        ],
        "id": "42a67418-1057-472a-b70e-8c21ccd3bafc",
        "name": "Download file",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "6VlwsVsHMOKWAqpT",
            "name": "Google Drive account 3"
          }
        }
      },
      {
        "parameters": {
          "operation": "sendDocument",
          "chatId": "={{ $json.result.chat.id }}",
          "binaryData": true,
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          3280,
          -208
        ],
        "id": "a38415e5-c615-477c-bcae-6f2c6fdd4e4e",
        "name": "Send a document",
        "webhookId": "0d40a312-a19e-4e9c-ac14-f26f3067c383",
        "credentials": {
          "telegramApi": {
            "id": "KcOnwLzOSvSJfY1o",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1QPNVhK6DJlsbpo4p3R30Gfy1ssxXV9MeX3KVil3AbUg",
            "mode": "list",
            "cachedResultName": "CRM Hasekura automation",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QPNVhK6DJlsbpo4p3R30Gfy1ssxXV9MeX3KVil3AbUg/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Hoja 1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QPNVhK6DJlsbpo4p3R30Gfy1ssxXV9MeX3KVil3AbUg/edit#gid=0"
          },
          "filtersUI": {
            "values": [
              {
                "lookupColumn": "=Nombre",
                "lookupValue": "={{ $json.empresa }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.6,
        "position": [
          2160,
          -208
        ],
        "id": "ff4f6a2a-cff6-4142-aa73-e3103a208500",
        "name": "Get row(s) in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "b3iIwyK8DLzQZxfk",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "leftValue": "",
                    "typeValidation": "loose",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "41efe072-85c2-4e02-aa49-39ba029f5922",
                      "leftValue": "={{ $json.message.text }}",
                      "rightValue": "/Factura",
                      "operator": {
                        "type": "string",
                        "operation": "startsWith"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "/Factura"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "leftValue": "",
                    "typeValidation": "loose",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "8a74a2c7-651d-42f8-91f9-0d94b86762a5",
                      "leftValue": "={{ $json.Texto }}",
                      "rightValue": "/factura",
                      "operator": {
                        "type": "string",
                        "operation": "startsWith"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Au /factura"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "leftValue": "",
                    "typeValidation": "loose",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.message.text }}",
                      "rightValue": "/Cliente",
                      "operator": {
                        "type": "string",
                        "operation": "startsWith"
                      },
                      "id": "1afc99a8-28d4-47a9-bf77-66d38e4dfcbe"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "/Cliente"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": false,
                    "leftValue": "",
                    "typeValidation": "loose",
                    "version": 3
                  },
                  "conditions": [
                    {
                      "id": "d48ad844-b3c9-490e-bf2e-7eee1e551226",
                      "leftValue": "={{ $json.Texto }}",
                      "rightValue": "/cliente",
                      "operator": {
                        "type": "string",
                        "operation": "startsWith"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Au /cliente"
              }
            ]
          },
          "looseTypeValidation": true,
          "options": {
            "ignoreCase": true
          }
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          928,
          -144
        ],
        "id": "235cd48f-57d3-437d-ae17-2f2110b41e3d",
        "name": "Switch1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "fa31fba7-29b4-4fe8-8a27-807fe46bedfe",
                "name": "Texto",
                "value": "={{ $json.message.text }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1360,
          -16
        ],
        "id": "bed292bd-bfe3-47bf-bd74-b71240dc36d8",
        "name": "Edit Fields1"
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "gpt-4.1-mini",
            "mode": "list",
            "cachedResultName": "GPT-4.1-MINI"
          },
          "messages": {
            "values": [
              {
                "content": "=Extrae los datos del siguiente mensaje y devuelve SIEMPRE este JSON:\n{\n  \"nombre\": \"\",\n  \"cif\": \"\",\n  \"direccion\": \"\",\n  \"zip\": \"\",\n  \"localidad\": \"\",\n  \"provincia\": \"\",\n  \"pais\": \"\",\n  \"email\": \"\"\n}\n\n- El \"zip\" solo el número, sin texto adicional\n- Si falta algún campo déjalo como \"\"\n\nMensaje: {{ $json.Texto }}"
              }
            ]
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.8,
        "position": [
          1584,
          -16
        ],
        "id": "3c7a21fb-e64d-4bd3-ab5a-c98bb49577ef",
        "name": "Message a model1",
        "credentials": {
          "openAiApi": {
            "id": "WvSLkCujVhY8jIGz",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Lee el texto devuelto por el LLM\nconst raw = $('Message a model1').first().json.message.content;\n\n// --- Limpieza robusta del string ---\nlet s = String(raw).trim();\ns = s\n  .replace(/^```(?:json)?\\s*/i, '')\n  .replace(/```$/i, '')\n  .trim();\n\nconst firstBrace = s.indexOf('{');\nconst lastBrace  = s.lastIndexOf('}');\nif (firstBrace !== -1 && lastBrace !== -1) {\n  s = s.slice(firstBrace, lastBrace + 1).trim();\n}\ns = s.replace(/,\\s*([}\\]])/g, '$1');\n\nlet obj;\ntry {\n  obj = JSON.parse(s);\n} catch (e) {\n  throw new Error('No se pudo parsear el JSON del modelo. Recibido:\\n' + s);\n}\n\n// Devuelve los campos estructurados\nreturn [{ json: {\n  nombre:    obj.nombre    ?? '',\n  cif:       obj.cif       ?? '',\n  direccion: obj.direccion ?? '',\n  zip:       obj.zip       ?? '',\n  localidad: obj.localidad ?? '',\n  provincia: obj.provincia ?? '',\n  pais:      obj.pais      ?? '',\n  email:     obj.email     ?? '',\n}}];;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1936,
          -16
        ],
        "id": "82135023-fb66-4e13-bfc6-77d5b7e4436e",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "operation": "append",
          "documentId": {
            "__rl": true,
            "value": "1QPNVhK6DJlsbpo4p3R30Gfy1ssxXV9MeX3KVil3AbUg",
            "mode": "list",
            "cachedResultName": "CRM Hasekura automation",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QPNVhK6DJlsbpo4p3R30Gfy1ssxXV9MeX3KVil3AbUg/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Hoja 1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QPNVhK6DJlsbpo4p3R30Gfy1ssxXV9MeX3KVil3AbUg/edit#gid=0"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Nombre": "={{ $json.nombre }}",
              "CIF": "={{ $json.cif }}",
              "Direccion": "={{ $json.direccion }}",
              "ZIP": "={{ $json.zip }}",
              "Localidad": "={{ $json.localidad }}",
              "Provincia": "={{ $json.provincia }}",
              "Pais": "={{ $json.pais }}",
              "Email": "={{ $json.email }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "Nombre",
                "displayName": "Nombre",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "CIF",
                "displayName": "CIF",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Direccion",
                "displayName": "Direccion",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "ZIP",
                "displayName": "ZIP",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Localidad",
                "displayName": "Localidad",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Provincia",
                "displayName": "Provincia",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Pais",
                "displayName": "Pais",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Email",
                "displayName": "Email",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.7,
        "position": [
          2160,
          -16
        ],
        "id": "d858a813-36d1-44e3-88d8-21248571d0dd",
        "name": "Append row in sheet",
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "b3iIwyK8DLzQZxfk",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "chatId": "7040181107",
          "text": "=✅ Cliente {{ $json.Nombre }} guardado correctamente",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          2384,
          -16
        ],
        "id": "90168a2d-55cc-4d25-93e9-c9437d056028",
        "name": "Send a text message1",
        "webhookId": "53f242d5-b6ea-42b6-a1c9-20c1b9efde18",
        "credentials": {
          "telegramApi": {
            "id": "KcOnwLzOSvSJfY1o",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "url": "=https://api.telegram.org/bot8036032541:AAG54LqJNGt-8JWz4VuumrMrkzFmEQ-6O0c/getFile?file_id={{ $json.message.voice.file_id }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          32,
          -16
        ],
        "id": "5c547f9b-396a-4990-a9f2-a350f22626d3",
        "name": "HTTP Request"
      },
      {
        "parameters": {
          "resource": "audio",
          "operation": "transcribe",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 2.1,
        "position": [
          480,
          -16
        ],
        "id": "f56fb819-1735-44dd-bcdd-18449a56a34b",
        "name": "Transcribe a recording",
        "credentials": {
          "openAiApi": {
            "id": "WvSLkCujVhY8jIGz",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "url": "=https://api.telegram.org/file/bot8036032541:AAG54LqJNGt-8JWz4VuumrMrkzFmEQ-6O0c/{{ $json.result.file_path }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          256,
          -16
        ],
        "id": "fa550235-6f4c-4525-aa7a-ccedfc24f30e",
        "name": "HTTP Request1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1a99e4b3-846b-46dc-92ce-fa40c8440e90",
                "name": "Texto",
                "value": "={{ $json.text.replace(/^[Bb]arra\\s+/i, '/') }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          704,
          -16
        ],
        "id": "fd4393e6-e2a2-4720-a064-451941bdaa80",
        "name": "Edit Fields2"
      }
    ],
    "connections": {
      "Telegram Trigger": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "Switch1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Message a model",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Message a model": {
        "main": [
          [
            {
              "node": "Code1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code1": {
        "main": [
          [
            {
              "node": "Get row(s) in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Copy file": {
        "main": [
          [
            {
              "node": "Update a document",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update a document": {
        "main": [
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a text message": {
        "main": [
          [
            {
              "node": "Download file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download file": {
        "main": [
          [
            {
              "node": "Send a document",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get row(s) in sheet": {
        "main": [
          [
            {
              "node": "Copy file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch1": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields1": {
        "main": [
          [
            {
              "node": "Message a model1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Message a model1": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Append row in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Append row in sheet": {
        "main": [
          [
            {
              "node": "Send a text message1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "HTTP Request1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request1": {
        "main": [
          [
            {
              "node": "Transcribe a recording",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Transcribe a recording": {
        "main": [
          [
            {
              "node": "Edit Fields2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields2": {
        "main": [
          [
            {
              "node": "Switch1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Carlos Fernández",
    "name": "FlowInvoiceBot",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "8c59a4de-cc0d-435b-ae12-4158905b9987",
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copy file": {
      "main": [
        [
          {
            "node": "Update a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a document": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Send a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Copy file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-19T15:57:01.976Z",
  "id": "6i8vuVqoP7zxuGE3",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "FlowInvoiceBot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -400,
        -96
      ],
      "id": "bcf1595d-8eb3-458b-80a0-650b6f3c2109",
      "name": "Telegram Trigger",
      "webhookId": "dd80a0e6-a5b3-4f21-8993-a60f40bd3eed",
      "credentials": {
        "telegramApi": {
          "id": "KcOnwLzOSvSJfY1o",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "={{ $json.message.text }}",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "2e1cea0d-0652-44ec-a75a-a398b64df960"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a6ede8a0-e014-4cc5-80c7-825c556941cd",
                    "leftValue": "={{ $json.message.voice }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -192,
        -96
      ],
      "id": "981baedd-2817-4c86-947e-854e5722efb5",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fa31fba7-29b4-4fe8-8a27-807fe46bedfe",
              "name": "Texto",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1360,
        -208
      ],
      "id": "ee3c83dc-8095-4cf1-bb96-aa5dc705033b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Tu objetivo es analizar los mensajes y obtener el nombre de la empresa a la que se le va a crear la factura, la fecha, número de factura, localidad del cliente, CIF o NIF, servicio, descripción (sobre que trata el servicio) y precio del servicio. Deberás devolver un JSON con esta estructura SIEMPRE:\n\nSiempre devuelve como respuesta un json como este\n{\n  \"empresa\": \"\",\n  \"fecha\": \"\",\n  \"factura\": \"\",\n  \"servicio\": \"\",\n  \"descripcion\": \"\",\n  \"precio\": \"\"\n}\n\n\nSi el usuario no te proporciona la fecha, utiliza la fecha actual: {{ $today.format(\"dd/MM/yyyy\") }}\nEl “precio” deberás poner solamente el precio sin utilizar el símbolo de “€”\nEl “servicio” solamente tiene que ser de 1 o 2 palabras (ej. Automatización, Agente de IA, Sitio web etc), palabras muy directas.\n\nMensaje: {{ $json.Texto }} o {{ $('Switch1').item.json.Texto }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1584,
        -208
      ],
      "id": "e7483ec9-2bd2-4c3e-ab3e-4aba09f06545",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "WvSLkCujVhY8jIGz",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Lee el texto devuelto por el Message a model\nconst raw = $('Message a model').first().json.message.content;\n// --- Limpieza robusta del string ---\nlet s = String(raw).trim();\n// 1) Si viene dentro de ```json ... ``` o ``` ... ``` quítalo\ns = s\n  .replace(/^```(?:json)?\\s*/i, '')   // abre fence\n  .replace(/```$/i, '')               // cierra fence\n  .trim();\n// 2) Si por cualquier motivo hay texto extra, quédate con lo que haya entre el\n//    primer '{' y el último '}'\nconst firstBrace = s.indexOf('{');\nconst lastBrace  = s.lastIndexOf('}');\nif (firstBrace !== -1 && lastBrace !== -1) {\n  s = s.slice(firstBrace, lastBrace + 1).trim();\n}\n// 3) Quitar posibles comas colgantes (por si el modelo las puso)\ns = s.replace(/,\\s*([}\\]])/g, '$1');\nlet obj;\ntry {\n  obj = JSON.parse(s);\n} catch (e) {\n  throw new Error('No se pudo parsear el JSON del modelo. Recibido:\\n' + s);\n}\n\n// --- Cálculo de IVA y total ---\nconst precio = parseFloat(obj.precio) || 0;\nconst iva    = Math.round(precio * 0.21 * 100) / 100;\nconst total  = Math.round((precio + iva)  * 100) / 100;\n\n// Devuelve cada campo como parámetros separados\nreturn [\n  {\n    empresa:     obj.empresa     ?? '',\n    fecha:       obj.fecha       ?? '',\n    factura:     obj.factura     ?? '',\n    servicio:    obj.servicio    ?? '',\n    descripcion: obj.descripcion ?? '',\n    precio:      obj.precio      ?? '',\n    iva:         iva.toFixed(2),    // → \"735.00\"\n    total:       total.toFixed(2),  // → \"4235.00\"\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1936,
        -208
      ],
      "id": "59e5dcf1-c329-48e7-a174-8ece34c4441d",
      "name": "Code1"
    },
    {
      "parameters": {
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "1x8jxSagN-D8oJ3o2niwYlj2F0KRFCs0Dbb8PQhiZuJs",
          "mode": "list",
          "cachedResultName": "Plantilla Factura Original",
          "cachedResultUrl": "https://docs.google.com/document/d/1x8jxSagN-D8oJ3o2niwYlj2F0KRFCs0Dbb8PQhiZuJs/edit?usp=drivesdk"
        },
        "name": "=Factura nº{{ $('Code1').item.json.factura }} para {{ $json.Nombre }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2384,
        -208
      ],
      "id": "2adec5b6-3a6b-4080-99fd-bad114ae1267",
      "name": "Copy file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ogoHnuKajuUeabLc",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "replaceAll",
              "text": "{{factura}}",
              "replaceText": "={{ $('Code1').item.json.factura }}"
            },
            {
              "action": "replaceAll",
              "text": "{{fecha}}",
              "replaceText": "={{ $('Code1').item.json.fecha }}"
            },
            {
              "action": "replaceAll",
              "text": "{{nombre_cliente}}",
              "replaceText": "={{ $('Get row(s) in sheet').item.json.Nombre }}"
            },
            {
              "action": "replaceAll",
              "text": "{{cif_cliente}}",
              "replaceText": "={{ $('Get row(s) in sheet').item.json.CIF }}"
            },
            {
              "action": "replaceAll",
              "text": "{{direccion_cliente}}",
              "replaceText": "={{ $('Get row(s) in sheet').item.json.Direccion }}"
            },
            {
              "action": "replaceAll",
              "text": "{{localidad_cliente}}",
              "replaceText": "={{ $('Get row(s) in sheet').item.json.Poblacion }},{{ $('Get row(s) in sheet').item.json.ZIP }},{{ $('Get row(s) in sheet').item.json.Provincia }},{{ $('Get row(s) in sheet').item.json.Pais }}"
            },
            {
              "action": "replaceAll",
              "text": "{{email_cliente}}",
              "replaceText": "={{ $('Get row(s) in sheet').item.json.Email }}"
            },
            {
              "action": "replaceAll",
              "text": "{{servicio}}",
              "replaceText": "={{ $('Code1').item.json.servicio }}"
            },
            {
              "action": "replaceAll",
              "text": "{{descripción}}",
              "replaceText": "={{ $('Code1').item.json.descripcion }}"
            },
            {
              "action": "replaceAll",
              "text": "{{precio}}",
              "replaceText": "={{ $('Code1').item.json.precio }}"
            },
            {
              "action": "replaceAll",
              "text": "{{iva}}",
              "replaceText": "={{ $('Code1').item.json.iva }}"
            },
            {
              "action": "replaceAll",
              "text": "{{total}}",
              "replaceText": "={{ $('Code1').item.json.total }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        2608,
        -208
      ],
      "id": "be3b9524-716e-4047-b49b-0056cd8d36c9",
      "name": "Update a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "EQuab7P11WstZxCY",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "=Factura {{ $('Code1').item.json.factura }} generada para {{ $('Code1').item.json.empresa }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2832,
        -208
      ],
      "id": "e3d4002f-84da-405e-8311-99d1274c5445",
      "name": "Send a text message",
      "webhookId": "ec4b843a-4c41-4f18-aff7-705c79f7dad1",
      "credentials": {
        "telegramApi": {
          "id": "KcOnwLzOSvSJfY1o",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Update a document').item.json.documentId }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf",
              "drawingsToFormat": "application/pdf",
              "slidesToFormat": "application/pdf",
              "sheetsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3056,
        -208
      ],
      "id": "42a67418-1057-472a-b70e-8c21ccd3bafc",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "6VlwsVsHMOKWAqpT",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendDocument",
        "chatId": "={{ $json.result.chat.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3280,
        -208
      ],
      "id": "a38415e5-c615-477c-bcae-6f2c6fdd4e4e",
      "name": "Send a document",
      "webhookId": "0d40a312-a19e-4e9c-ac14-f26f3067c383",
      "credentials": {
        "telegramApi": {
          "id": "KcOnwLzOSvSJfY1o",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1QPNVhK6DJlsbpo4p3R30Gfy1ssxXV9MeX3KVil3AbUg",
          "mode": "list",
          "cachedResultName": "CRM Hasekura automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QPNVhK6DJlsbpo4p3R30Gfy1ssxXV9MeX3KVil3AbUg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QPNVhK6DJlsbpo4p3R30Gfy1ssxXV9MeX3KVil3AbUg/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "=Nombre",
              "lookupValue": "={{ $json.empresa }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2160,
        -208
      ],
      "id": "ff4f6a2a-cff6-4142-aa73-e3103a208500",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "b3iIwyK8DLzQZxfk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "41efe072-85c2-4e02-aa49-39ba029f5922",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/Factura",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "/Factura"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8a74a2c7-651d-42f8-91f9-0d94b86762a5",
                    "leftValue": "={{ $json.Texto }}",
                    "rightValue": "/factura",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Au /factura"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/Cliente",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    },
                    "id": "1afc99a8-28d4-47a9-bf77-66d38e4dfcbe"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "/Cliente"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d48ad844-b3c9-490e-bf2e-7eee1e551226",
                    "leftValue": "={{ $json.Texto }}",
                    "rightValue": "/cliente",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Au /cliente"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        928,
        -144
      ],
      "id": "235cd48f-57d3-437d-ae17-2f2110b41e3d",
      "name": "Switch1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fa31fba7-29b4-4fe8-8a27-807fe46bedfe",
              "name": "Texto",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1360,
        -16
      ],
      "id": "bed292bd-bfe3-47bf-bd74-b71240dc36d8",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Extrae los datos del siguiente mensaje y devuelve SIEMPRE este JSON:\n{\n  \"nombre\": \"\",\n  \"cif\": \"\",\n  \"direccion\": \"\",\n  \"zip\": \"\",\n  \"localidad\": \"\",\n  \"provincia\": \"\",\n  \"pais\": \"\",\n  \"email\": \"\"\n}\n\n- El \"zip\" solo el número, sin texto adicional\n- Si falta algún campo déjalo como \"\"\n\nMensaje: {{ $json.Texto }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1584,
        -16
      ],
      "id": "3c7a21fb-e64d-4bd3-ab5a-c98bb49577ef",
      "name": "Message a model1",
      "credentials": {
        "openAiApi": {
          "id": "WvSLkCujVhY8jIGz",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Lee el texto devuelto por el LLM\nconst raw = $('Message a model1').first().json.message.content;\n\n// --- Limpieza robusta del string ---\nlet s = String(raw).trim();\ns = s\n  .replace(/^```(?:json)?\\s*/i, '')\n  .replace(/```$/i, '')\n  .trim();\n\nconst firstBrace = s.indexOf('{');\nconst lastBrace  = s.lastIndexOf('}');\nif (firstBrace !== -1 && lastBrace !== -1) {\n  s = s.slice(firstBrace, lastBrace + 1).trim();\n}\ns = s.replace(/,\\s*([}\\]])/g, '$1');\n\nlet obj;\ntry {\n  obj = JSON.parse(s);\n} catch (e) {\n  throw new Error('No se pudo parsear el JSON del modelo. Recibido:\\n' + s);\n}\n\n// Devuelve los campos estructurados\nreturn [{ json: {\n  nombre:    obj.nombre    ?? '',\n  cif:       obj.cif       ?? '',\n  direccion: obj.direccion ?? '',\n  zip:       obj.zip       ?? '',\n  localidad: obj.localidad ?? '',\n  provincia: obj.provincia ?? '',\n  pais:      obj.pais      ?? '',\n  email:     obj.email     ?? '',\n}}];;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1936,
        -16
      ],
      "id": "82135023-fb66-4e13-bfc6-77d5b7e4436e",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1QPNVhK6DJlsbpo4p3R30Gfy1ssxXV9MeX3KVil3AbUg",
          "mode": "list",
          "cachedResultName": "CRM Hasekura automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QPNVhK6DJlsbpo4p3R30Gfy1ssxXV9MeX3KVil3AbUg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1QPNVhK6DJlsbpo4p3R30Gfy1ssxXV9MeX3KVil3AbUg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nombre": "={{ $json.nombre }}",
            "CIF": "={{ $json.cif }}",
            "Direccion": "={{ $json.direccion }}",
            "ZIP": "={{ $json.zip }}",
            "Localidad": "={{ $json.localidad }}",
            "Provincia": "={{ $json.provincia }}",
            "Pais": "={{ $json.pais }}",
            "Email": "={{ $json.email }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CIF",
              "displayName": "CIF",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Direccion",
              "displayName": "Direccion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ZIP",
              "displayName": "ZIP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Localidad",
              "displayName": "Localidad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Provincia",
              "displayName": "Provincia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pais",
              "displayName": "Pais",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2160,
        -16
      ],
      "id": "d858a813-36d1-44e3-88d8-21248571d0dd",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "b3iIwyK8DLzQZxfk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7040181107",
        "text": "=✅ Cliente {{ $json.Nombre }} guardado correctamente",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2384,
        -16
      ],
      "id": "90168a2d-55cc-4d25-93e9-c9437d056028",
      "name": "Send a text message1",
      "webhookId": "53f242d5-b6ea-42b6-a1c9-20c1b9efde18",
      "credentials": {
        "telegramApi": {
          "id": "KcOnwLzOSvSJfY1o",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot8036032541:AAG54LqJNGt-8JWz4VuumrMrkzFmEQ-6O0c/getFile?file_id={{ $json.message.voice.file_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        32,
        -16
      ],
      "id": "5c547f9b-396a-4990-a9f2-a350f22626d3",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        480,
        -16
      ],
      "id": "f56fb819-1735-44dd-bcdd-18449a56a34b",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "WvSLkCujVhY8jIGz",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/file/bot8036032541:AAG54LqJNGt-8JWz4VuumrMrkzFmEQ-6O0c/{{ $json.result.file_path }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        256,
        -16
      ],
      "id": "fa550235-6f4c-4525-aa7a-ccedfc24f30e",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1a99e4b3-846b-46dc-92ce-fa40c8440e90",
              "name": "Texto",
              "value": "={{ $json.text.replace(/^[Bb]arra\\s+/i, '/') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        704,
        -16
      ],
      "id": "fd4393e6-e2a2-4720-a064-451941bdaa80",
      "name": "Edit Fields2"
    }
  ],
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 807505770,
          "message": {
            "message_id": 59,
            "from": {
              "id": 5630687999,
              "is_bot": false,
              "first_name": "Beita🐈‍⬛",
              "language_code": "es"
            },
            "chat": {
              "id": 5630687999,
              "first_name": "Beita🐈‍⬛",
              "type": "private"
            },
            "date": 1776852213,
            "text": "/factura, crea una factura número 2 para Soluciones Iberia con CIF B45876231 con la dirección Calle Innovación 24 con el CIF 47008 en la localidad de Valladolid, en la provincia de Castilla y León, en el país de España y email solucionesoloiberias.gmail.com por valor de 2500 euros por un agente de voz que gestiona llamadas",
            "entities": [
              {
                "offset": 0,
                "length": 8,
                "type": "bot_command"
              },
              {
                "offset": 227,
                "length": 30,
                "type": "url"
              }
            ]
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "timezone": "Europe/Madrid",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-03-19T15:57:01.988Z",
      "createdAt": "2026-03-19T15:57:01.988Z",
      "role": "workflow:owner",
      "workflowId": "6i8vuVqoP7zxuGE3",
      "projectId": "Mg9CftDHMIrQGniA"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-04-22T10:12:41.442Z",
  "versionId": "8c59a4de-cc0d-435b-ae12-4158905b9987"
}