Newworkflows/Hair Secret Coria del Río.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-05-04T19:00:05.000Z",
    "createdAt": "2026-05-04T18:56:39.222Z",
    "versionId": "4a52334a-49bb-4819-b505-1535186e839d",
    "workflowId": "qOoKCA6Gnlgc1s5X",
    "nodes": [
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "34908a1a-910b-4240-b270-c5bae76d6672",
                "name": "accountID",
                "value": "={{ $json.message.from.id }}",
                "type": "string"
              },
              {
                "id": "a6833259-538b-4e5f-a62d-61de321e331c",
                "name": "Nombre",
                "value": "={{ $json.message.from.first_name }}",
                "type": "string"
              },
              {
                "id": "55ad0e2a-09a6-42b7-925d-d30a4b19661b",
                "name": "mensaje",
                "value": "={{ $json.message.text }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -656,
          400
        ],
        "id": "3eabd768-d73f-4fed-a008-e8a517d0226f",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "operation": "push",
          "list": "={{ $json.accountID }}",
          "messageData": "={{ $json.mensaje }}",
          "tail": true
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          464,
          496
        ],
        "id": "29ea379c-ea5a-4e09-8277-5433b0716c13",
        "name": "Redis",
        "credentials": {
          "redis": {
            "id": "rmwGdInGMfi5lhMd",
            "name": "Redis account"
          }
        }
      },
      {
        "parameters": {
          "operation": "get",
          "propertyName": "Mensaje",
          "key": "={{ $json.accountID }}",
          "options": {}
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          912,
          496
        ],
        "id": "b71ef991-4ac4-430d-943a-2076e003e209",
        "name": "Redis1",
        "credentials": {
          "redis": {
            "id": "rmwGdInGMfi5lhMd",
            "name": "Redis account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "96158e05-c548-462c-94c3-8138dd2ceaf9",
                "leftValue": "={{ $json.Mensaje[0] }}",
                "rightValue": "=",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1136,
          496
        ],
        "id": "9e786840-b362-497e-aa77-5cc5a66d7b10",
        "name": "If3"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "34908a1a-910b-4240-b270-c5bae76d6672",
                "name": "accountID",
                "value": "={{ $json.accountID }}",
                "type": "string"
              },
              {
                "id": "db3956f9-9900-4b56-ac29-ffe7889b2299",
                "name": "Nombre",
                "value": "={{ $json.Nombre }}",
                "type": "string"
              },
              {
                "id": "55ad0e2a-09a6-42b7-925d-d30a4b19661b",
                "name": "mensaje",
                "value": "={{ $('Edit Fields').item.json.mensaje }}",
                "type": "string"
              }
            ]
          },
          "options": {
            "ignoreConversionErrors": false
          }
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          240,
          496
        ],
        "id": "a6052813-f755-40bc-afe6-c0e55a8d27b1",
        "name": "Edit Fields1"
      },
      {
        "parameters": {
          "operation": "delete",
          "key": "={{ $('Edit Fields1').item.json.accountID }}"
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          1360,
          496
        ],
        "id": "2056ba80-deed-4fbc-8394-1c294f5f9634",
        "name": "Redis2",
        "credentials": {
          "redis": {
            "id": "rmwGdInGMfi5lhMd",
            "name": "Redis account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "5a1e36e3-f8de-419c-83ae-5cc7fead47df",
                "name": "mensaje",
                "value": "={{ $json.Mensaje }}",
                "type": "string"
              },
              {
                "id": "ed4e679f-704c-454a-88e4-d46623e9b6dd",
                "name": "Nombre",
                "value": "={{ $('Redis').item.json.Nombre }}",
                "type": "string"
              },
              {
                "id": "67bac86b-a225-4b80-8f56-0544eb594701",
                "name": "AccountID",
                "value": "={{ $('Redis').item.json.accountID }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1584,
          496
        ],
        "id": "79541d2e-fd59-4d1c-bb2b-43c097abeb9f",
        "name": "Edit Fields2"
      },
      {
        "parameters": {
          "operation": "push",
          "list": "={{ $json.Identificador }}",
          "messageData": "={{ $json.mensaje_audio }}",
          "tail": true
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          688,
          304
        ],
        "id": "30ea10ab-865f-45cf-9475-d9202d1f563f",
        "name": "Redis3",
        "credentials": {
          "redis": {
            "id": "rmwGdInGMfi5lhMd",
            "name": "Redis account"
          }
        }
      },
      {
        "parameters": {
          "operation": "get",
          "propertyName": "message",
          "key": "={{ $('Edit Fields3').item.json.Identificador }}",
          "options": {}
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          912,
          304
        ],
        "id": "b117dfb8-e591-4e6c-9492-77907e5fbdfd",
        "name": "Redis4",
        "credentials": {
          "redis": {
            "id": "rmwGdInGMfi5lhMd",
            "name": "Redis account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "34908a1a-910b-4240-b270-c5bae76d6672",
                "name": "accountID",
                "value": "={{ $('Edit Fields').item.json.accountID }}",
                "type": "string"
              },
              {
                "id": "861750b8-6d53-4256-833c-048704fb4711",
                "name": "conversationID",
                "value": "={{ $('Edit Fields').item.json.conversationID }}",
                "type": "string"
              },
              {
                "id": "db3956f9-9900-4b56-ac29-ffe7889b2299",
                "name": "sessionID",
                "value": "={{ $('Edit Fields').item.json.sessionID }}",
                "type": "string"
              },
              {
                "id": "cd35006e-6aca-472c-a395-8218acf4de48",
                "name": "Identificador",
                "value": "={{ $('Edit Fields').item.json.Identificador }}",
                "type": "string"
              },
              {
                "id": "54a552ab-1572-4814-8549-4887c93002c0",
                "name": "telefono",
                "value": "={{ $json.cleanedNumber }}",
                "type": "string"
              },
              {
                "id": "55ad0e2a-09a6-42b7-925d-d30a4b19661b",
                "name": "mensaje_audio",
                "value": "={{ $('Pasar de AU a Text').item.json.text }}",
                "type": "string"
              },
              {
                "id": "f1e69443-9dbe-4203-b32c-98bd1dcddbc1",
                "name": "data_time",
                "value": "={{ $('Edit Fields').item.json.data_time }}",
                "type": "string"
              }
            ]
          },
          "options": {
            "ignoreConversionErrors": false
          }
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          464,
          304
        ],
        "id": "9e4e829c-02a2-412d-a24b-92b58f73b823",
        "name": "Edit Fields3"
      },
      {
        "parameters": {
          "operation": "delete",
          "key": "={{ $('Edit Fields3').item.json.Identificador }}"
        },
        "type": "n8n-nodes-base.redis",
        "typeVersion": 1,
        "position": [
          1360,
          304
        ],
        "id": "5ae63aed-ebb6-4d09-8b3d-96ed3ebf0133",
        "name": "Redis5",
        "credentials": {
          "redis": {
            "id": "rmwGdInGMfi5lhMd",
            "name": "Redis account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "5a1e36e3-f8de-419c-83ae-5cc7fead47df",
                "name": "mensaje_audio",
                "value": "={{ $json.message.join(\" \") }}",
                "type": "string"
              },
              {
                "id": "ed4e679f-704c-454a-88e4-d46623e9b6dd",
                "name": "telefono",
                "value": "={{ $('Edit Fields3').item.json.telefono }}",
                "type": "string"
              },
              {
                "id": "67bac86b-a225-4b80-8f56-0544eb594701",
                "name": "Identificador",
                "value": "={{ $('Edit Fields3').item.json.Identificador }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1584,
          304
        ],
        "id": "443f7afd-edc8-471b-afc7-074464f8e72e",
        "name": "Edit Fields4"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Mensaje_texto_cliente: {{ $json.mensaje }}\nMensaje_audio_cliente: {{ $json.mensaje_audio }}\nAccountID Cliente: {{ $json.AccountID }}\n",
          "options": {
            "systemMessage": "=Identidad y propósito\nEres Lola, asistente virtual de atención al cliente de Hair Secret Coria del Río (Secretos del agua), integrada en el sistema n8n. Atiendes solicitudes de clientes con cordialidad, eficiencia y autonomía, usando las herramientas disponibles para gestionar citas, resolver dudas y ofrecer un servicio impecable.\n\nEstilo y tono(peluquería/estética → respuestas cortas)\n\nNo seas robótica; usa tono natural y humano, y emoticonos cuando convenga (no siempre el mismo). Responde siempre como lo haría una recepcionista amable de una peluquería, con calidez y cercanía. Cuando el cliente saluda, salúdale de vuelta antes de presentarte o preguntar. Nunca vayas directamente al grano sin antes reconocer al cliente. Usa frases naturales como \"¡Claro que sí!\", \"Por supuesto 😊\", \"Encantada de atenderle\" cuando sea apropiado.\nTrata siempre de usted.\nAl ser en el ámbito de peluquería y estética, usa respuestas más cortas, claras y concisas.\nUsa \"reservar\" en lugar de \"cuadrar\".\nFrases/plantillas de ejemplo (usar \"usted\")\n\"Para esta semana, los huecos disponibles pueden ser…\"\n\"Para poder reservar, ¿sería tan amable de facilitarme el servicio que desea, su nombre y apellidos?…\"\n\"Esta semana no hay disponibilidad para atenderles a todos el mismo día…\"\n(Recuerda: usar \"reservar\" en lugar de \"cuadrar\".)\nPresentación inicial (solo primer mensaje)\nAl inicio de la conversación con un cliente, preséntate diciendo quién eres y para quién trabajas con un mensaje como:\n\n\"Hola, soy Lola, la asistente virtual de Hair Secret Coria del Río (Secretos del agua).\"\nActo seguido, contesta al mensaje del cliente. Esto se hace solo en el primer mensaje. Para detectar si es inicio/apertura, analiza el mensaje.\nEntrada de mensajes y contexto\nEl mensaje del cliente {{ $json.mensaje }} o {{ $json.mensaje_audio }} es un conjunto de mensajes enviados por separado, que debes analizar de derecha a izquierda para entender el contexto completo.\nÁmbito de actuación\n\n🔁 REGLA 1 – Servicios a domicilio o en evento externo\nEsta regla SOLO se activa si el cliente menciona expresamente palabras como \"a domicilio\", \"en casa\", \"para un evento\", \"novia a domicilio\", \"peluquería en casa\" o \"servicio fuera del salón\". Si el cliente no menciona nada de esto, ignora completamente esta regla y no la incluyas en tu respuesta.\nSi el cliente solicita un servicio fuera del salón:\n→ Responder únicamente (sin añadir nada más):\n\"Para los servicios a domicilio y eventos externos, el equipo le llamará en cuanto tenga un hueco para acordar por teléfono los términos del servicio (dirección, horario y condiciones).\"\nNunca decir al cliente que puedes reservar. Ya que le llamará el equipo, solo debes decir el mensaje de arriba y, si te responde, tú responde con coherencia pero sin pedirle hora, día ni nada de eso.\n→ Terminar la ejecución sin más acciones.\n⚠️ No ofrecer alternativas ni explicaciones adicionales.\n⚠️ No continuar con gestión de citas ni uso de herramientas para estos casos.\n⚠️ No confirmar ni proponer horarios por chat para servicios a domicilio.\n\n📅 REGLA 2 – Gestión de citas\nLa semana actual se cuenta de lunes a domingo.\nSe pueden reservar citas para semanas futuras, siempre comprobando disponibilidad.\nSiempre que propongas u ofrezcas citas (semana en curso o futuras), valida la disponibilidad:\n\nEse día está habilitado\nLa hora está dentro del rango disponible\nSe respetan los huecos libres reales según las citas ya agendadas\n\n2.2. Citas para varios clientes\nSi el cliente quiere citas para varias personas, pide el número total de personas, nombre y fechas/horas, comprueba disponibilidad y agenda la cita si es posible.\n2.3. Proceso para reservar una cita\nMuy importante: para reservar debes pedir el nombre completo al cliente; si no te da su nombre no puedes reservar.\nIdentificación del tipo de servicio (asignación automática)\nEl cliente puede especificar el tipo de servicio; asígnalo automáticamente según su mensaje.\nEjemplos:\n\n\"Quiero cortarme el pelo\" → Corte (60 min)\n\"Quiero teñirme\" → Coloración con barros (120 min)\n\"Solo un tinte y corte\" → Coloración + Corte (150 min)\n\"Tratamiento para el pelo\" → Tratamiento capilar (90 min)\n\"Quiero un aminoproteico\" → Tratamiento aminoproteico (90 min)\n\"Peinado para un evento\" → Peinado (60 min)\n\n⚠️ No pedir detalles adicionales innecesarios.\nCalcular huecos disponibles\nUsa la tool \"Obtener muchos eventos en Google\" para sacar los eventos ya reservados. Las horas sin citas agendadas estarán disponibles.\nDuraciones por tipo de servicio:\n\nCorte: 60 min\nColoración con barros: 120 min\nColoración + Corte: 150 min\nTratamiento capilar: 90 min\nTratamiento aminoproteico: 90 min\nPeinado: 60 min\n\nUn hueco solo es válido si:\n\nInicio + duración no se solapa con ninguna cita.\nSe respetan inicio/fin de citas existentes.\nDejar 15 minutos de margen entre citas.\n\nHorario del salón:\n\nLunes a miércoles: 10:00 – 19:00\nJueves y viernes: 10:00 – 20:00\nSábado: 10:00 – 14:00\nDomingo: cerrado\n\nEj.: si hay cita 10:00–12:00, la siguiente podrá empezar desde las 12:15.\nCuando el cliente indica fecha y hora:\nUsar \"Obtener muchos eventos en Google\" para comprobar si esa fecha/hora está libre.\nSi NO está disponible → \"En esa fecha y hora el salón no está disponible\" y preguntar qué otro día u hora le vendría bien.\nSi está disponible → Informar que está disponible y continuar con el proceso de reserva.\nImportante (durante la reserva):\n\nNunca preguntar al cliente si quiere cancelar o modificar en el momento de reservar.\nCuando se ha confirmado una fecha y hora con el cliente nunca preguntes si prefiere otro horario.\nSolo se gestionan cancelaciones/modificaciones cuando el cliente lo pida expresamente.\n\n\n🔧 HERRAMIENTAS DISPONIBLES\nTOOL: Obtener muchos eventos en Google\nCuándo usar:\n\nEl cliente indica una fecha y hora específicas y necesitas validar disponibilidad\nEl cliente pregunta por disponibilidad de un día/hora específicos\nAntes de modificar o cancelar una cita (para buscar la cita existente del cliente por nombre)\nSiempre que necesites conocer los eventos ya agendados en el calendario\n\nActuación para comprobar disponibilidad:\n\nUsa esta tool para obtener todos los eventos del período relevante\nLa tool devuelve ÚNICAMENTE las citas ya reservadas. Si la fecha y hora solicitada por el cliente NO aparece en los resultados, significa que está LIBRE y disponible\nSolo está ocupada si existe un evento cuyo start y end engloba exactamente esa fecha y hora solicitada\nSi hay solapamiento → \"Esa hora no está disponible\" y preguntar otra opción\nSi no hay solapamiento → \"Esa hora está disponible\" y continuar con la reserva\n\nActuación para buscar cita de un cliente:\n\nObtén todos los eventos próximos\nBusca entre los resultados el evento cuyo título o descripción coincida con el nombre del cliente\nSi existe → muestra día, hora y servicio\nSi no existe → \"No encuentro ninguna cita a ese nombre\" y preguntar si puede estar a otro nombre\n\nProhibido:\n\nDar ejemplos de horarios alternativos no solicitados\nAsumir que una hora está ocupada si no aparece en los resultados de la tool\nAsumir disponibilidad sin usar esta tool primero\n\n\nTOOL: Agendar\nCuándo usar:\n\nLa disponibilidad ha sido confirmada (no hay solapamiento)\nEl cliente confirma que quiere reservar esa hora\nYa tienes TODOS los datos necesarios: nombre completo, teléfono, servicio, fecha y hora\n\nActuación:\n\nAsegurarte de tener: nombre completo (nombre + apellidos), teléfono, servicio solicitado, fecha y hora confirmadas\nSi falta algún dato → pedirlo de forma natural antes de usar la tool\nUsar la tool \"Agendar\" con todos los parámetros\nConfirmar: \"Su cita queda confirmada para el [día] a las [hora] para [servicio]\"\n\nProhibido:\n\nAgendar sin nombre completo y teléfono\nPedir datos antes de confirmar disponibilidad\nDecir \"si prefiere otro horario...\" tras confirmar\nPreguntar \"¿necesita algo más?\" al finalizar\n\n\nTOOL: Modificar\nCuándo usar:\n\nEl cliente solicita cambiar su cita (fecha, hora o servicio)\n\nActuación:\n\nPedir nombre completo del cliente\nUsar \"Obtener muchos eventos en Google\" para buscar su cita\nSi NO existe → \"No encuentro ninguna cita a ese nombre\" y preguntar si puede estar a otro nombre\nSi existe → mostrar detalles actuales (día, hora, servicio) y preguntar qué desea modificar\nEl cliente indica el nuevo dato\nSi cambia fecha u hora → usar \"Obtener muchos eventos en Google\" para validar disponibilidad\nSi está disponible → pedir confirmación al cliente\nUsar la tool \"Modificar\" con los nuevos datos\nConfirmar: \"Su cita ha sido modificada para el [nuevo día] a las [nueva hora]\"\n\nProhibido:\n\nModificar sin validar la nueva disponibilidad\nModificar sin confirmación expresa del cliente\n\n\nTOOL: Cancelar\nCuándo usar:\n\nEl cliente solicita cancelar su cita\nEl cliente dice que no podrá asistir\n\nActuación:\n\nPedir nombre completo del cliente\nUsar \"Obtener muchos eventos en Google\" para buscar su cita\nSi NO existe → \"No encuentro ninguna cita a ese nombre\" y preguntar si puede estar a otro nombre\nSi existe → mostrar detalles (día, hora, servicio) y pedir confirmación: \"¿Confirma que desea cancelar la cita del [día] a las [hora]?\"\nEsperar confirmación explícita del cliente\nUsar la tool \"Cancelar\"\nConfirmar: \"Su cita del [día] a las [hora] ha sido cancelada\"\n\nProhibido:\n\nCancelar sin confirmación expresa\nPreguntar el motivo de la cancelación\nOfrecer nueva cita sin que el cliente lo solicite\n\n\n🎯 Objetivo final\nEl cliente debe percibir un servicio eficiente, cálido y seguro, con control total de las citas y cumplimiento estricto de las reglas, evitando ofrecer huecos que no están disponibles.\nNorma operativa clave (antes de responder)\nAntes de responder a cualquier mensaje, usa siempre \"Obtener muchos eventos en Google\" para comprobar la disponibilidad real: huecos libres y ya ocupados. Así evitas ofrecer fechas/horas ocupadas y aseguras coherencia desde el primer momento.\nCasos y reglas adicionales\n\nNunca digas al cliente que, si tiene algún problema, contacte con otros servicios; en ese caso debes decir que llame al número de atención: [NUMERO_ATENCION].\nNo repitas mensajes varias veces; con decirlo una vez basta.\nSigue las reglas especificadas; no des más contexto del que pida el cliente. Pedir nombre y teléfono solo cuando confirme fecha y hora.\nNo repitas cosas constantemente.\nMensajes sin contexto o ajenos a peluquería/citas → responde False.\nSi el cliente saluda sin añadir ningún otro contexto → preséntate y pregunta en qué puedes ayudarle. Nunca respondas False a un saludo.\nPara reservar: pide nombre completo (nombre y apellidos) y teléfono.\nSi el cliente no recuerda su cita y te pide fecha/hora → pide nombre completo y verifica con \"Obtener muchos eventos en Google\".\nPreséntate solo en el inicio de conversación; luego no repitas quién eres ni dónde trabajas.\nTras reservar, no digas \"si prefiere otro horario…\".\nPide nombre y teléfono solo después de confirmar que quiere la hora y que está disponible.\nAl dar huecos, no asumas que quiere reservar; no pidas datos hasta su confirmación.\nSi la fecha/hora pedidas no tienen huecos, pregunta qué otro día u hora le vendría bien.\nNo digas el tipo de servicio que vas a reservar ni su duración (salvo que lo pregunte).\nSi es domingo, indica que el salón está cerrado.\nSi te pide que elijas tú la hora, pregunta qué día tenía pensado y luego propón una hora disponible pidiendo confirmación.\nAntes de reservar, verifica que el cliente quiere esa hora.\nNo menciones cancelaciones/cambios a menos que el cliente lo pida.\nNunca elijas una hora por el cliente sin confirmación.\nTen en cuenta día/hora actuales: no ofrezcas días u horas pasadas.\nAl terminar (reservar/modificar/cancelar o resolver dudas), no preguntes si puedes ayudar en algo más.\nTodo mensaje fuera de tu labor → responde False.\n\nProhibiciones explícitas y estrictas\n⚠️ Nunca decir que puedes enviar recordatorios.\n⚠️ Nunca repetir \"el salón trabaja de tal a tal hora\".\n⚠️ Nunca pedir detalles adicionales innecesarios.\n⚠️ Nunca firmar los mensajes con un nombre al final.\n⚠️ Nunca decir que contacte con otros servicios; indica que llame a [NUMERO_ATENCION].\n⚠️ Nunca dar ejemplos de horarios alternativos no solicitados.\n⚠️ Nunca decir \"No le pediré nombre ni teléfono hasta confirmar la fecha, la hora y el servicio.\"\nSepara siempre tu respuesta en un máximo de 3 mensajes cortos, divididos por doble salto de línea \\n\\n. Nunca uses más de 3 bloques.\n📌 Fecha de referencia\nLa fecha actual es {{ $now }}."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          2192,
          400
        ],
        "id": "42e1a157-da86-4de7-aa50-78d0509be621",
        "name": "AI Agent",
        "retryOnFail": false
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-5-mini",
            "mode": "list",
            "cachedResultName": "gpt-5-mini"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          1856,
          688
        ],
        "id": "0831deb0-197f-4559-9404-fcb3115bc3ba",
        "name": "OpenAI Chat Model",
        "credentials": {
          "openAiApi": {
            "id": "WvSLkCujVhY8jIGz",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('Edit Fields2').item.json.AccountID }}",
          "tableName": "=HairSecret"
        },
        "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
        "typeVersion": 1.3,
        "position": [
          2032,
          688
        ],
        "id": "dc5556e4-e617-40e9-ae71-c9e6230989a9",
        "name": "Postgres Chat Memory",
        "credentials": {
          "postgres": {
            "id": "lynsIk4t0FUvPeMz",
            "name": "Postgres account 2"
          }
        }
      },
      {
        "parameters": {
          "operation": "getAll",
          "calendar": {
            "__rl": true,
            "value": "b3be31f352404ba86060acb35b136d80e91f4c9d2fadf91921d0b632d982ff29@group.calendar.google.com",
            "mode": "list",
            "cachedResultName": "Pruebas"
          },
          "timeMax": "={{ $now.plus({ month: 1 }) }}",
          "options": {}
        },
        "type": "n8n-nodes-base.googleCalendarTool",
        "typeVersion": 1.3,
        "position": [
          2208,
          688
        ],
        "id": "031a354a-024b-41d0-9da7-e7e8dd0a46ff",
        "name": "Get many events in Google Calendar",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "BxLdTiBYRwntbItp",
            "name": "Google Calendar account 2"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "c536a974-fb1f-4d5b-9970-5d59a0121721",
                "leftValue": "={{ $json.parte_1 }}",
                "rightValue": "false",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          3136,
          400
        ],
        "id": "85718533-0fbc-43ff-9b02-e5f739c39e4f",
        "name": "If5"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "7371417a-70c7-4cb2-936c-5a09884e761b",
                "leftValue": "={{ $('Code in JavaScript').item.json.parte_2 }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          3808,
          400
        ],
        "id": "551ece88-7010-45b4-850f-107d4fc2bfdf",
        "name": "If6"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "79d91a9e-b4fa-47bd-a54a-6dcf817d24b5",
                "leftValue": "={{ $('Code in JavaScript').item.json.parte_3 }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          4480,
          400
        ],
        "id": "bf530d46-b52a-49fc-9446-51161e5f4c4e",
        "name": "If7"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "96158e05-c548-462c-94c3-8138dd2ceaf9",
                "leftValue": "={{ $json.message.last() }}",
                "rightValue": "={{ $('Edit Fields3').item.json.mensaje_audio }}",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1136,
          304
        ],
        "id": "4083c60b-2e29-40f7-9a31-3c9d31f9a376",
        "name": "If2"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "d6581874-f941-437c-b4a6-90cb46415c1d",
                "leftValue": "={{ $json.tipo_mensaje }}",
                "rightValue": "audio",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -432,
          400
        ],
        "id": "f4c69deb-e94d-41cf-b77e-4a07aacb4e31",
        "name": "If4"
      },
      {
        "parameters": {
          "description": "Usa esta herramienta cuando necesites más razonamiento"
        },
        "type": "@n8n/n8n-nodes-langchain.toolThink",
        "typeVersion": 1.1,
        "position": [
          2336,
          688
        ],
        "id": "145aeaee-12a2-4d7f-af63-6ae419597ddf",
        "name": "Think"
      },
      {
        "parameters": {
          "jsCode": "// Obtener el valor original del campo\nconst sender = $('If4').first().json.telefono;\n// Eliminar el prefijo '34' o '49' si existe, y quitar el dominio de WhatsApp\nconst cleanedNumber = sender\n  .replace(/^(\\+?34|\\+?49)/, '')       // Quita el '+34', '34', '+49' o '49' al inicio\n  .replace(/@s\\.whatsapp\\.net$/, ''); // Quita el '@s.whatsapp.net' al final\n\n// Devolver el número limpio\nreturn [\n  {\n    json: {\n      cleanedNumber\n    }\n  }\n];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          240,
          304
        ],
        "id": "cb064894-5d47-41bc-b95d-444f7213beb7",
        "name": "Quitar Prefijo AU"
      },
      {
        "parameters": {
          "url": "=https://n8n2nkz-chatwoot.vc1wee.easypanel.host{{ $json.body.conversation.messages[0].attachments[0].data_url.replace('http://https', '') }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -208,
          304
        ],
        "id": "1f028a75-acdf-43c6-a1f0-ff9cb9225901",
        "name": "Analizar AU"
      },
      {
        "parameters": {
          "resource": "audio",
          "operation": "transcribe",
          "binaryPropertyName": "=data",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 2.1,
        "position": [
          16,
          304
        ],
        "id": "eda50ff7-5587-485b-a8b4-fc0a36bc9924",
        "name": "Pasar de AU a Text",
        "credentials": {
          "openAiApi": {
            "id": "WvSLkCujVhY8jIGz",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "updates": [
            "message"
          ],
          "additionalFields": {}
        },
        "type": "n8n-nodes-base.telegramTrigger",
        "typeVersion": 1.2,
        "position": [
          -1104,
          400
        ],
        "id": "36a53755-4c0f-4695-924c-09fb44cf185b",
        "name": "Telegram Trigger",
        "webhookId": "d5e35569-e53f-4aee-84e1-1ce60c0a7d2d",
        "credentials": {
          "telegramApi": {
            "id": "KcOnwLzOSvSJfY1o",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "chatId": "7040181107",
          "text": "={{ $('Code in JavaScript').item.json.parte_1 }}",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          3584,
          400
        ],
        "id": "d79f4868-f366-400e-9b93-98d883b552cf",
        "name": "Send a text message",
        "webhookId": "239b1ab5-4b3a-4f6c-a3f9-252ce8517acb",
        "credentials": {
          "telegramApi": {
            "id": "KcOnwLzOSvSJfY1o",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "chatId": "7040181107",
          "text": "={{ $('Code in JavaScript').item.json.parte_2 }}",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          4256,
          400
        ],
        "id": "e33f9e60-64e0-453e-8b48-92531aa088ab",
        "name": "Send a text message1",
        "webhookId": "239b1ab5-4b3a-4f6c-a3f9-252ce8517acb",
        "credentials": {
          "telegramApi": {
            "id": "KcOnwLzOSvSJfY1o",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "chatId": "7040181107",
          "text": "={{ $('Code in JavaScript').item.json.parte_3 }}",
          "additionalFields": {
            "appendAttribution": false
          }
        },
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          4928,
          400
        ],
        "id": "afb24c8e-b044-4704-81d6-9964aa964de5",
        "name": "Send a text message2",
        "webhookId": "239b1ab5-4b3a-4f6c-a3f9-252ce8517acb",
        "credentials": {
          "telegramApi": {
            "id": "KcOnwLzOSvSJfY1o",
            "name": "Telegram account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "7ee3b3b5-9f3e-4d4a-90ce-8d9f32b9aca5",
                "leftValue": "={{ $json.message.text }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -880,
          400
        ],
        "id": "94fdec0b-fcc9-48e6-9383-45dfae2dab8b",
        "name": "If"
      },
      {
        "parameters": {
          "amount": 15
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          688,
          496
        ],
        "id": "f4ebf123-eaba-4361-9a80-92cfb2115d55",
        "name": "Wait",
        "webhookId": "c1e70af3-7f3a-42ec-ad8f-4317590e2842"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          3360,
          400
        ],
        "id": "51f019bf-07f8-4b82-b2df-27168bc58d10",
        "name": "Wait1",
        "webhookId": "60dd40e5-2dab-4298-aacc-8bb1812ad4f1"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          4032,
          400
        ],
        "id": "6e1e5d50-4d00-44a1-80c3-d91e410428ec",
        "name": "Wait2",
        "webhookId": "a2c44294-64c8-4619-9231-67320dd99052"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          4704,
          400
        ],
        "id": "82e43f94-89a1-42e9-b90c-1151ee04353a",
        "name": "Wait3",
        "webhookId": "612a41e3-e770-496c-bed1-88f3b7ee46f0"
      },
      {
        "parameters": {
          "jsCode": "const respuesta = $input.first().json.output;\n\nconst partes = respuesta\n  .split(/\\\\n\\\\n|\\n\\n/)\n  .map(p => p.replace(/\\\\n|\\n/g, ' ').trim())\n  .filter(p => p.length > 0);\n\nconst result = {};\npartes.forEach((p, i) => {\n  result[`parte_${i + 1}`] = p;\n});\n\nreturn [{ json: result }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2912,
          400
        ],
        "id": "307e2ce1-157e-48ed-b944-791f949136d9",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "operation": "delete",
          "calendar": {
            "__rl": true,
            "value": "b3be31f352404ba86060acb35b136d80e91f4c9d2fadf91921d0b632d982ff29@group.calendar.google.com",
            "mode": "list",
            "cachedResultName": "Pruebas"
          },
          "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
          "options": {}
        },
        "type": "n8n-nodes-base.googleCalendarTool",
        "typeVersion": 1.3,
        "position": [
          2720,
          688
        ],
        "id": "809e4e04-bf82-429d-9ded-577cc744eadf",
        "name": "Cancelar",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "BxLdTiBYRwntbItp",
            "name": "Google Calendar account 2"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "calendar": {
            "__rl": true,
            "value": "b3be31f352404ba86060acb35b136d80e91f4c9d2fadf91921d0b632d982ff29@group.calendar.google.com",
            "mode": "list",
            "cachedResultName": "Pruebas"
          },
          "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
          "updateFields": {
            "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
            "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
            "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
            "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
          }
        },
        "type": "n8n-nodes-base.googleCalendarTool",
        "typeVersion": 1.3,
        "position": [
          2576,
          688
        ],
        "id": "a68a28bd-b70a-4eee-8246-b8bba42a534b",
        "name": "Modificar",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "BxLdTiBYRwntbItp",
            "name": "Google Calendar account 2"
          }
        }
      },
      {
        "parameters": {
          "calendar": {
            "__rl": true,
            "value": "b3be31f352404ba86060acb35b136d80e91f4c9d2fadf91921d0b632d982ff29@group.calendar.google.com",
            "mode": "list",
            "cachedResultName": "Pruebas"
          },
          "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
          "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
          "additionalFields": {
            "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
            "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
          }
        },
        "type": "n8n-nodes-base.googleCalendarTool",
        "typeVersion": 1.3,
        "position": [
          2448,
          688
        ],
        "id": "40b730bb-edd3-435a-91ae-34aee60cd8ce",
        "name": "Agendar",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "BxLdTiBYRwntbItp",
            "name": "Google Calendar account 2"
          }
        }
      }
    ],
    "connections": {
      "Edit Fields": {
        "main": [
          [
            {
              "node": "If4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Redis": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Redis1": {
        "main": [
          [
            {
              "node": "If3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If3": {
        "main": [
          [
            {
              "node": "Redis2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields1": {
        "main": [
          [
            {
              "node": "Redis",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Redis2": {
        "main": [
          [
            {
              "node": "Edit Fields2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields2": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Redis3": {
        "main": [
          [
            {
              "node": "Redis4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Redis4": {
        "main": [
          [
            {
              "node": "If2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields3": {
        "main": [
          [
            {
              "node": "Redis3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Redis5": {
        "main": [
          [
            {
              "node": "Edit Fields4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields4": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Postgres Chat Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Get many events in Google Calendar": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "If5": {
        "main": [
          [],
          [
            {
              "node": "Wait1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If6": {
        "main": [
          [
            {
              "node": "Wait2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If7": {
        "main": [
          [
            {
              "node": "Wait3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If2": {
        "main": [
          [
            {
              "node": "Redis5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If4": {
        "main": [
          [
            {
              "node": "Analizar AU",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Think": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Quitar Prefijo AU": {
        "main": [
          [
            {
              "node": "Edit Fields3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Analizar AU": {
        "main": [
          [
            {
              "node": "Pasar de AU a Text",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Pasar de AU a Text": {
        "main": [
          [
            {
              "node": "Quitar Prefijo AU",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Telegram Trigger": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a text message": {
        "main": [
          [
            {
              "node": "If6",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a text message1": {
        "main": [
          [
            {
              "node": "If7",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Redis1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait1": {
        "main": [
          [
            {
              "node": "Send a text message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait2": {
        "main": [
          [
            {
              "node": "Send a text message1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait3": {
        "main": [
          [
            {
              "node": "Send a text message2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "If5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Cancelar": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Modificar": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Agendar": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Carlos Fernández",
    "name": "Version 4a52334a",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "4a52334a-49bb-4819-b505-1535186e839d",
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis1": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Redis2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis2": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis3": {
      "main": [
        [
          {
            "node": "Redis4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis4": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Redis3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis5": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If7": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Redis5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Analizar AU",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Quitar Prefijo AU": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analizar AU": {
      "main": [
        [
          {
            "node": "Pasar de AU a Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pasar de AU a Text": {
      "main": [
        [
          {
            "node": "Quitar Prefijo AU",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message1": {
      "main": [
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cancelar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Modificar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-05-02T13:30:14.824Z",
  "id": "qOoKCA6Gnlgc1s5X",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Hair Secret Coria del Río",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "34908a1a-910b-4240-b270-c5bae76d6672",
              "name": "accountID",
              "value": "={{ $json.message.from.id }}",
              "type": "string"
            },
            {
              "id": "a6833259-538b-4e5f-a62d-61de321e331c",
              "name": "Nombre",
              "value": "={{ $json.message.from.first_name }}",
              "type": "string"
            },
            {
              "id": "55ad0e2a-09a6-42b7-925d-d30a4b19661b",
              "name": "mensaje",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -656,
        400
      ],
      "id": "3eabd768-d73f-4fed-a008-e8a517d0226f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $json.accountID }}",
        "messageData": "={{ $json.mensaje }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        464,
        496
      ],
      "id": "29ea379c-ea5a-4e09-8277-5433b0716c13",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "rmwGdInGMfi5lhMd",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "Mensaje",
        "key": "={{ $json.accountID }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        912,
        496
      ],
      "id": "b71ef991-4ac4-430d-943a-2076e003e209",
      "name": "Redis1",
      "credentials": {
        "redis": {
          "id": "rmwGdInGMfi5lhMd",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "96158e05-c548-462c-94c3-8138dd2ceaf9",
              "leftValue": "={{ $json.Mensaje[0] }}",
              "rightValue": "=",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1136,
        496
      ],
      "id": "9e786840-b362-497e-aa77-5cc5a66d7b10",
      "name": "If3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "34908a1a-910b-4240-b270-c5bae76d6672",
              "name": "accountID",
              "value": "={{ $json.accountID }}",
              "type": "string"
            },
            {
              "id": "db3956f9-9900-4b56-ac29-ffe7889b2299",
              "name": "Nombre",
              "value": "={{ $json.Nombre }}",
              "type": "string"
            },
            {
              "id": "55ad0e2a-09a6-42b7-925d-d30a4b19661b",
              "name": "mensaje",
              "value": "={{ $('Edit Fields').item.json.mensaje }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": false
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        496
      ],
      "id": "a6052813-f755-40bc-afe6-c0e55a8d27b1",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Edit Fields1').item.json.accountID }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1360,
        496
      ],
      "id": "2056ba80-deed-4fbc-8394-1c294f5f9634",
      "name": "Redis2",
      "credentials": {
        "redis": {
          "id": "rmwGdInGMfi5lhMd",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5a1e36e3-f8de-419c-83ae-5cc7fead47df",
              "name": "mensaje",
              "value": "={{ $json.Mensaje }}",
              "type": "string"
            },
            {
              "id": "ed4e679f-704c-454a-88e4-d46623e9b6dd",
              "name": "Nombre",
              "value": "={{ $('Redis').item.json.Nombre }}",
              "type": "string"
            },
            {
              "id": "67bac86b-a225-4b80-8f56-0544eb594701",
              "name": "AccountID",
              "value": "={{ $('Redis').item.json.accountID }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1584,
        496
      ],
      "id": "79541d2e-fd59-4d1c-bb2b-43c097abeb9f",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $json.Identificador }}",
        "messageData": "={{ $json.mensaje_audio }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        688,
        304
      ],
      "id": "30ea10ab-865f-45cf-9475-d9202d1f563f",
      "name": "Redis3",
      "credentials": {
        "redis": {
          "id": "rmwGdInGMfi5lhMd",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "message",
        "key": "={{ $('Edit Fields3').item.json.Identificador }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        912,
        304
      ],
      "id": "b117dfb8-e591-4e6c-9492-77907e5fbdfd",
      "name": "Redis4",
      "credentials": {
        "redis": {
          "id": "rmwGdInGMfi5lhMd",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "34908a1a-910b-4240-b270-c5bae76d6672",
              "name": "accountID",
              "value": "={{ $('Edit Fields').item.json.accountID }}",
              "type": "string"
            },
            {
              "id": "861750b8-6d53-4256-833c-048704fb4711",
              "name": "conversationID",
              "value": "={{ $('Edit Fields').item.json.conversationID }}",
              "type": "string"
            },
            {
              "id": "db3956f9-9900-4b56-ac29-ffe7889b2299",
              "name": "sessionID",
              "value": "={{ $('Edit Fields').item.json.sessionID }}",
              "type": "string"
            },
            {
              "id": "cd35006e-6aca-472c-a395-8218acf4de48",
              "name": "Identificador",
              "value": "={{ $('Edit Fields').item.json.Identificador }}",
              "type": "string"
            },
            {
              "id": "54a552ab-1572-4814-8549-4887c93002c0",
              "name": "telefono",
              "value": "={{ $json.cleanedNumber }}",
              "type": "string"
            },
            {
              "id": "55ad0e2a-09a6-42b7-925d-d30a4b19661b",
              "name": "mensaje_audio",
              "value": "={{ $('Pasar de AU a Text').item.json.text }}",
              "type": "string"
            },
            {
              "id": "f1e69443-9dbe-4203-b32c-98bd1dcddbc1",
              "name": "data_time",
              "value": "={{ $('Edit Fields').item.json.data_time }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": false
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        304
      ],
      "id": "9e4e829c-02a2-412d-a24b-92b58f73b823",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Edit Fields3').item.json.Identificador }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1360,
        304
      ],
      "id": "5ae63aed-ebb6-4d09-8b3d-96ed3ebf0133",
      "name": "Redis5",
      "credentials": {
        "redis": {
          "id": "rmwGdInGMfi5lhMd",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5a1e36e3-f8de-419c-83ae-5cc7fead47df",
              "name": "mensaje_audio",
              "value": "={{ $json.message.join(\" \") }}",
              "type": "string"
            },
            {
              "id": "ed4e679f-704c-454a-88e4-d46623e9b6dd",
              "name": "telefono",
              "value": "={{ $('Edit Fields3').item.json.telefono }}",
              "type": "string"
            },
            {
              "id": "67bac86b-a225-4b80-8f56-0544eb594701",
              "name": "Identificador",
              "value": "={{ $('Edit Fields3').item.json.Identificador }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1584,
        304
      ],
      "id": "443f7afd-edc8-471b-afc7-074464f8e72e",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Mensaje_texto_cliente: {{ $json.mensaje }}\nMensaje_audio_cliente: {{ $json.mensaje_audio }}\nAccountID Cliente: {{ $json.AccountID }}\n",
        "options": {
          "systemMessage": "=Identidad y propósito\nEres Lola, asistente virtual de atención al cliente de Hair Secret Coria del Río (Secretos del agua), integrada en el sistema n8n. Atiendes solicitudes de clientes con cordialidad, eficiencia y autonomía, usando las herramientas disponibles para gestionar citas, resolver dudas y ofrecer un servicio impecable.\n\nEstilo y tono(peluquería/estética → respuestas cortas)\n\nNo seas robótica; usa tono natural y humano, y emoticonos cuando convenga (no siempre el mismo). Responde siempre como lo haría una recepcionista amable de una peluquería, con calidez y cercanía. Cuando el cliente saluda, salúdale de vuelta antes de presentarte o preguntar. Nunca vayas directamente al grano sin antes reconocer al cliente. Usa frases naturales como \"¡Claro que sí!\", \"Por supuesto 😊\", \"Encantada de atenderle\" cuando sea apropiado.\nTrata siempre de usted.\nAl ser en el ámbito de peluquería y estética, usa respuestas más cortas, claras y concisas.\nUsa \"reservar\" en lugar de \"cuadrar\".\nFrases/plantillas de ejemplo (usar \"usted\")\n\"Para esta semana, los huecos disponibles pueden ser…\"\n\"Para poder reservar, ¿sería tan amable de facilitarme el servicio que desea, su nombre y apellidos?…\"\n\"Esta semana no hay disponibilidad para atenderles a todos el mismo día…\"\n(Recuerda: usar \"reservar\" en lugar de \"cuadrar\".)\nPresentación inicial (solo primer mensaje)\nAl inicio de la conversación con un cliente, preséntate diciendo quién eres y para quién trabajas con un mensaje como:\n\n\"Hola, soy Lola, la asistente virtual de Hair Secret Coria del Río (Secretos del agua).\"\nActo seguido, contesta al mensaje del cliente. Esto se hace solo en el primer mensaje. Para detectar si es inicio/apertura, analiza el mensaje.\nEntrada de mensajes y contexto\nEl mensaje del cliente {{ $json.mensaje }} o {{ $json.mensaje_audio }} es un conjunto de mensajes enviados por separado, que debes analizar de derecha a izquierda para entender el contexto completo.\nÁmbito de actuación\n\n🔁 REGLA 1 – Servicios a domicilio o en evento externo\nEsta regla SOLO se activa si el cliente menciona expresamente palabras como \"a domicilio\", \"en casa\", \"para un evento\", \"novia a domicilio\", \"peluquería en casa\" o \"servicio fuera del salón\". Si el cliente no menciona nada de esto, ignora completamente esta regla y no la incluyas en tu respuesta.\nSi el cliente solicita un servicio fuera del salón:\n→ Responder únicamente (sin añadir nada más):\n\"Para los servicios a domicilio y eventos externos, el equipo le llamará en cuanto tenga un hueco para acordar por teléfono los términos del servicio (dirección, horario y condiciones).\"\nNunca decir al cliente que puedes reservar. Ya que le llamará el equipo, solo debes decir el mensaje de arriba y, si te responde, tú responde con coherencia pero sin pedirle hora, día ni nada de eso.\n→ Terminar la ejecución sin más acciones.\n⚠️ No ofrecer alternativas ni explicaciones adicionales.\n⚠️ No continuar con gestión de citas ni uso de herramientas para estos casos.\n⚠️ No confirmar ni proponer horarios por chat para servicios a domicilio.\n\n📅 REGLA 2 – Gestión de citas\nLa semana actual se cuenta de lunes a domingo.\nSe pueden reservar citas para semanas futuras, siempre comprobando disponibilidad.\nSiempre que propongas u ofrezcas citas (semana en curso o futuras), valida la disponibilidad:\n\nEse día está habilitado\nLa hora está dentro del rango disponible\nSe respetan los huecos libres reales según las citas ya agendadas\n\n2.2. Citas para varios clientes\nSi el cliente quiere citas para varias personas, pide el número total de personas, nombre y fechas/horas, comprueba disponibilidad y agenda la cita si es posible.\n2.3. Proceso para reservar una cita\nMuy importante: para reservar debes pedir el nombre completo al cliente; si no te da su nombre no puedes reservar.\nIdentificación del tipo de servicio (asignación automática)\nEl cliente puede especificar el tipo de servicio; asígnalo automáticamente según su mensaje.\nEjemplos:\n\n\"Quiero cortarme el pelo\" → Corte (60 min)\n\"Quiero teñirme\" → Coloración con barros (120 min)\n\"Solo un tinte y corte\" → Coloración + Corte (150 min)\n\"Tratamiento para el pelo\" → Tratamiento capilar (90 min)\n\"Quiero un aminoproteico\" → Tratamiento aminoproteico (90 min)\n\"Peinado para un evento\" → Peinado (60 min)\n\n⚠️ No pedir detalles adicionales innecesarios.\nCalcular huecos disponibles\nUsa la tool \"Obtener muchos eventos en Google\" para sacar los eventos ya reservados. Las horas sin citas agendadas estarán disponibles.\nDuraciones por tipo de servicio:\n\nCorte: 60 min\nColoración con barros: 120 min\nColoración + Corte: 150 min\nTratamiento capilar: 90 min\nTratamiento aminoproteico: 90 min\nPeinado: 60 min\n\nUn hueco solo es válido si:\n\nInicio + duración no se solapa con ninguna cita.\nSe respetan inicio/fin de citas existentes.\nDejar 15 minutos de margen entre citas.\n\nHorario del salón:\n\nLunes a miércoles: 10:00 – 19:00\nJueves y viernes: 10:00 – 20:00\nSábado: 10:00 – 14:00\nDomingo: cerrado\n\nEj.: si hay cita 10:00–12:00, la siguiente podrá empezar desde las 12:15.\nCuando el cliente indica fecha y hora:\nUsar \"Obtener muchos eventos en Google\" para comprobar si esa fecha/hora está libre.\nSi NO está disponible → \"En esa fecha y hora el salón no está disponible\" y preguntar qué otro día u hora le vendría bien.\nSi está disponible → Informar que está disponible y continuar con el proceso de reserva.\nImportante (durante la reserva):\n\nNunca preguntar al cliente si quiere cancelar o modificar en el momento de reservar.\nCuando se ha confirmado una fecha y hora con el cliente nunca preguntes si prefiere otro horario.\nSolo se gestionan cancelaciones/modificaciones cuando el cliente lo pida expresamente.\n\n\n🔧 HERRAMIENTAS DISPONIBLES\nTOOL: Obtener muchos eventos en Google\nCuándo usar:\n\nEl cliente indica una fecha y hora específicas y necesitas validar disponibilidad\nEl cliente pregunta por disponibilidad de un día/hora específicos\nAntes de modificar o cancelar una cita (para buscar la cita existente del cliente por nombre)\nSiempre que necesites conocer los eventos ya agendados en el calendario\n\nActuación para comprobar disponibilidad:\n\nUsa esta tool para obtener todos los eventos del período relevante\nLa tool devuelve ÚNICAMENTE las citas ya reservadas. Si la fecha y hora solicitada por el cliente NO aparece en los resultados, significa que está LIBRE y disponible\nSolo está ocupada si existe un evento cuyo start y end engloba exactamente esa fecha y hora solicitada\nSi hay solapamiento → \"Esa hora no está disponible\" y preguntar otra opción\nSi no hay solapamiento → \"Esa hora está disponible\" y continuar con la reserva\n\nActuación para buscar cita de un cliente:\n\nObtén todos los eventos próximos\nBusca entre los resultados el evento cuyo título o descripción coincida con el nombre del cliente\nSi existe → muestra día, hora y servicio\nSi no existe → \"No encuentro ninguna cita a ese nombre\" y preguntar si puede estar a otro nombre\n\nProhibido:\n\nDar ejemplos de horarios alternativos no solicitados\nAsumir que una hora está ocupada si no aparece en los resultados de la tool\nAsumir disponibilidad sin usar esta tool primero\n\n\nTOOL: Agendar\nCuándo usar:\n\nLa disponibilidad ha sido confirmada (no hay solapamiento)\nEl cliente confirma que quiere reservar esa hora\nYa tienes TODOS los datos necesarios: nombre completo, teléfono, servicio, fecha y hora\n\nActuación:\n\nAsegurarte de tener: nombre completo (nombre + apellidos), teléfono, servicio solicitado, fecha y hora confirmadas\nSi falta algún dato → pedirlo de forma natural antes de usar la tool\nUsar la tool \"Agendar\" con todos los parámetros\nConfirmar: \"Su cita queda confirmada para el [día] a las [hora] para [servicio]\"\n\nProhibido:\n\nAgendar sin nombre completo y teléfono\nPedir datos antes de confirmar disponibilidad\nDecir \"si prefiere otro horario...\" tras confirmar\nPreguntar \"¿necesita algo más?\" al finalizar\n\n\nTOOL: Modificar\nCuándo usar:\n\nEl cliente solicita cambiar su cita (fecha, hora o servicio)\n\nActuación:\n\nPedir nombre completo del cliente\nUsar \"Obtener muchos eventos en Google\" para buscar su cita\nSi NO existe → \"No encuentro ninguna cita a ese nombre\" y preguntar si puede estar a otro nombre\nSi existe → mostrar detalles actuales (día, hora, servicio) y preguntar qué desea modificar\nEl cliente indica el nuevo dato\nSi cambia fecha u hora → usar \"Obtener muchos eventos en Google\" para validar disponibilidad\nSi está disponible → pedir confirmación al cliente\nUsar la tool \"Modificar\" con los nuevos datos\nConfirmar: \"Su cita ha sido modificada para el [nuevo día] a las [nueva hora]\"\n\nProhibido:\n\nModificar sin validar la nueva disponibilidad\nModificar sin confirmación expresa del cliente\n\n\nTOOL: Cancelar\nCuándo usar:\n\nEl cliente solicita cancelar su cita\nEl cliente dice que no podrá asistir\n\nActuación:\n\nPedir nombre completo del cliente\nUsar \"Obtener muchos eventos en Google\" para buscar su cita\nSi NO existe → \"No encuentro ninguna cita a ese nombre\" y preguntar si puede estar a otro nombre\nSi existe → mostrar detalles (día, hora, servicio) y pedir confirmación: \"¿Confirma que desea cancelar la cita del [día] a las [hora]?\"\nEsperar confirmación explícita del cliente\nUsar la tool \"Cancelar\"\nConfirmar: \"Su cita del [día] a las [hora] ha sido cancelada\"\n\nProhibido:\n\nCancelar sin confirmación expresa\nPreguntar el motivo de la cancelación\nOfrecer nueva cita sin que el cliente lo solicite\n\n\n🎯 Objetivo final\nEl cliente debe percibir un servicio eficiente, cálido y seguro, con control total de las citas y cumplimiento estricto de las reglas, evitando ofrecer huecos que no están disponibles.\nNorma operativa clave (antes de responder)\nAntes de responder a cualquier mensaje, usa siempre \"Obtener muchos eventos en Google\" para comprobar la disponibilidad real: huecos libres y ya ocupados. Así evitas ofrecer fechas/horas ocupadas y aseguras coherencia desde el primer momento.\nCasos y reglas adicionales\n\nNunca digas al cliente que, si tiene algún problema, contacte con otros servicios; en ese caso debes decir que llame al número de atención: [NUMERO_ATENCION].\nNo repitas mensajes varias veces; con decirlo una vez basta.\nSigue las reglas especificadas; no des más contexto del que pida el cliente. Pedir nombre y teléfono solo cuando confirme fecha y hora.\nNo repitas cosas constantemente.\nMensajes sin contexto o ajenos a peluquería/citas → responde False.\nSi el cliente saluda sin añadir ningún otro contexto → preséntate y pregunta en qué puedes ayudarle. Nunca respondas False a un saludo.\nPara reservar: pide nombre completo (nombre y apellidos) y teléfono.\nSi el cliente no recuerda su cita y te pide fecha/hora → pide nombre completo y verifica con \"Obtener muchos eventos en Google\".\nPreséntate solo en el inicio de conversación; luego no repitas quién eres ni dónde trabajas.\nTras reservar, no digas \"si prefiere otro horario…\".\nPide nombre y teléfono solo después de confirmar que quiere la hora y que está disponible.\nAl dar huecos, no asumas que quiere reservar; no pidas datos hasta su confirmación.\nSi la fecha/hora pedidas no tienen huecos, pregunta qué otro día u hora le vendría bien.\nNo digas el tipo de servicio que vas a reservar ni su duración (salvo que lo pregunte).\nSi es domingo, indica que el salón está cerrado.\nSi te pide que elijas tú la hora, pregunta qué día tenía pensado y luego propón una hora disponible pidiendo confirmación.\nAntes de reservar, verifica que el cliente quiere esa hora.\nNo menciones cancelaciones/cambios a menos que el cliente lo pida.\nNunca elijas una hora por el cliente sin confirmación.\nTen en cuenta día/hora actuales: no ofrezcas días u horas pasadas.\nAl terminar (reservar/modificar/cancelar o resolver dudas), no preguntes si puedes ayudar en algo más.\nTodo mensaje fuera de tu labor → responde False.\n\nProhibiciones explícitas y estrictas\n⚠️ Nunca decir que puedes enviar recordatorios.\n⚠️ Nunca repetir \"el salón trabaja de tal a tal hora\".\n⚠️ Nunca pedir detalles adicionales innecesarios.\n⚠️ Nunca firmar los mensajes con un nombre al final.\n⚠️ Nunca decir que contacte con otros servicios; indica que llame a [NUMERO_ATENCION].\n⚠️ Nunca dar ejemplos de horarios alternativos no solicitados.\n⚠️ Nunca decir \"No le pediré nombre ni teléfono hasta confirmar la fecha, la hora y el servicio.\"\nSepara siempre tu respuesta en un máximo de 3 mensajes cortos, divididos por doble salto de línea \\n\\n. Nunca uses más de 3 bloques.\n📌 Fecha de referencia\nLa fecha actual es {{ $now }}."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        2192,
        400
      ],
      "id": "42e1a157-da86-4de7-aa50-78d0509be621",
      "name": "AI Agent",
      "retryOnFail": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1856,
        688
      ],
      "id": "0831deb0-197f-4559-9404-fcb3115bc3ba",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "WvSLkCujVhY8jIGz",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Edit Fields2').item.json.AccountID }}",
        "tableName": "=HairSecret"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        2032,
        688
      ],
      "id": "dc5556e4-e617-40e9-ae71-c9e6230989a9",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "lynsIk4t0FUvPeMz",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "b3be31f352404ba86060acb35b136d80e91f4c9d2fadf91921d0b632d982ff29@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Pruebas"
        },
        "timeMax": "={{ $now.plus({ month: 1 }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        2208,
        688
      ],
      "id": "031a354a-024b-41d0-9da7-e7e8dd0a46ff",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "BxLdTiBYRwntbItp",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c536a974-fb1f-4d5b-9970-5d59a0121721",
              "leftValue": "={{ $json.parte_1 }}",
              "rightValue": "false",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3136,
        400
      ],
      "id": "85718533-0fbc-43ff-9b02-e5f739c39e4f",
      "name": "If5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7371417a-70c7-4cb2-936c-5a09884e761b",
              "leftValue": "={{ $('Code in JavaScript').item.json.parte_2 }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3808,
        400
      ],
      "id": "551ece88-7010-45b4-850f-107d4fc2bfdf",
      "name": "If6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "79d91a9e-b4fa-47bd-a54a-6dcf817d24b5",
              "leftValue": "={{ $('Code in JavaScript').item.json.parte_3 }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4480,
        400
      ],
      "id": "bf530d46-b52a-49fc-9446-51161e5f4c4e",
      "name": "If7"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "96158e05-c548-462c-94c3-8138dd2ceaf9",
              "leftValue": "={{ $json.message.last() }}",
              "rightValue": "={{ $('Edit Fields3').item.json.mensaje_audio }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1136,
        304
      ],
      "id": "4083c60b-2e29-40f7-9a31-3c9d31f9a376",
      "name": "If2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d6581874-f941-437c-b4a6-90cb46415c1d",
              "leftValue": "={{ $json.tipo_mensaje }}",
              "rightValue": "audio",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -432,
        400
      ],
      "id": "f4c69deb-e94d-41cf-b77e-4a07aacb4e31",
      "name": "If4"
    },
    {
      "parameters": {
        "description": "Usa esta herramienta cuando necesites más razonamiento"
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        2336,
        688
      ],
      "id": "145aeaee-12a2-4d7f-af63-6ae419597ddf",
      "name": "Think"
    },
    {
      "parameters": {
        "jsCode": "// Obtener el valor original del campo\nconst sender = $('If4').first().json.telefono;\n// Eliminar el prefijo '34' o '49' si existe, y quitar el dominio de WhatsApp\nconst cleanedNumber = sender\n  .replace(/^(\\+?34|\\+?49)/, '')       // Quita el '+34', '34', '+49' o '49' al inicio\n  .replace(/@s\\.whatsapp\\.net$/, ''); // Quita el '@s.whatsapp.net' al final\n\n// Devolver el número limpio\nreturn [\n  {\n    json: {\n      cleanedNumber\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        304
      ],
      "id": "cb064894-5d47-41bc-b95d-444f7213beb7",
      "name": "Quitar Prefijo AU"
    },
    {
      "parameters": {
        "url": "=https://n8n2nkz-chatwoot.vc1wee.easypanel.host{{ $json.body.conversation.messages[0].attachments[0].data_url.replace('http://https', '') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -208,
        304
      ],
      "id": "1f028a75-acdf-43c6-a1f0-ff9cb9225901",
      "name": "Analizar AU"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        16,
        304
      ],
      "id": "eda50ff7-5587-485b-a8b4-fc0a36bc9924",
      "name": "Pasar de AU a Text",
      "credentials": {
        "openAiApi": {
          "id": "WvSLkCujVhY8jIGz",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1104,
        400
      ],
      "id": "36a53755-4c0f-4695-924c-09fb44cf185b",
      "name": "Telegram Trigger",
      "webhookId": "d5e35569-e53f-4aee-84e1-1ce60c0a7d2d",
      "credentials": {
        "telegramApi": {
          "id": "KcOnwLzOSvSJfY1o",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7040181107",
        "text": "={{ $('Code in JavaScript').item.json.parte_1 }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3584,
        400
      ],
      "id": "d79f4868-f366-400e-9b93-98d883b552cf",
      "name": "Send a text message",
      "webhookId": "239b1ab5-4b3a-4f6c-a3f9-252ce8517acb",
      "credentials": {
        "telegramApi": {
          "id": "KcOnwLzOSvSJfY1o",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7040181107",
        "text": "={{ $('Code in JavaScript').item.json.parte_2 }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4256,
        400
      ],
      "id": "e33f9e60-64e0-453e-8b48-92531aa088ab",
      "name": "Send a text message1",
      "webhookId": "239b1ab5-4b3a-4f6c-a3f9-252ce8517acb",
      "credentials": {
        "telegramApi": {
          "id": "KcOnwLzOSvSJfY1o",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7040181107",
        "text": "={{ $('Code in JavaScript').item.json.parte_3 }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4928,
        400
      ],
      "id": "afb24c8e-b044-4704-81d6-9964aa964de5",
      "name": "Send a text message2",
      "webhookId": "239b1ab5-4b3a-4f6c-a3f9-252ce8517acb",
      "credentials": {
        "telegramApi": {
          "id": "KcOnwLzOSvSJfY1o",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7ee3b3b5-9f3e-4d4a-90ce-8d9f32b9aca5",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -880,
        400
      ],
      "id": "94fdec0b-fcc9-48e6-9383-45dfae2dab8b",
      "name": "If"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        688,
        496
      ],
      "id": "f4ebf123-eaba-4361-9a80-92cfb2115d55",
      "name": "Wait",
      "webhookId": "c1e70af3-7f3a-42ec-ad8f-4317590e2842"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3360,
        400
      ],
      "id": "51f019bf-07f8-4b82-b2df-27168bc58d10",
      "name": "Wait1",
      "webhookId": "60dd40e5-2dab-4298-aacc-8bb1812ad4f1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4032,
        400
      ],
      "id": "6e1e5d50-4d00-44a1-80c3-d91e410428ec",
      "name": "Wait2",
      "webhookId": "a2c44294-64c8-4619-9231-67320dd99052"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4704,
        400
      ],
      "id": "82e43f94-89a1-42e9-b90c-1151ee04353a",
      "name": "Wait3",
      "webhookId": "612a41e3-e770-496c-bed1-88f3b7ee46f0"
    },
    {
      "parameters": {
        "jsCode": "const respuesta = $input.first().json.output;\n\nconst partes = respuesta\n  .split(/\\\\n\\\\n|\\n\\n/)\n  .map(p => p.replace(/\\\\n|\\n/g, ' ').trim())\n  .filter(p => p.length > 0);\n\nconst result = {};\npartes.forEach((p, i) => {\n  result[`parte_${i + 1}`] = p;\n});\n\nreturn [{ json: result }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2912,
        400
      ],
      "id": "307e2ce1-157e-48ed-b944-791f949136d9",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "b3be31f352404ba86060acb35b136d80e91f4c9d2fadf91921d0b632d982ff29@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Pruebas"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        2720,
        688
      ],
      "id": "809e4e04-bf82-429d-9ded-577cc744eadf",
      "name": "Cancelar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "BxLdTiBYRwntbItp",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "b3be31f352404ba86060acb35b136d80e91f4c9d2fadf91921d0b632d982ff29@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Pruebas"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "updateFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
          "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        2576,
        688
      ],
      "id": "a68a28bd-b70a-4eee-8246-b8bba42a534b",
      "name": "Modificar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "BxLdTiBYRwntbItp",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "b3be31f352404ba86060acb35b136d80e91f4c9d2fadf91921d0b632d982ff29@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Pruebas"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        2448,
        688
      ],
      "id": "40b730bb-edd3-435a-91ae-34aee60cd8ce",
      "name": "Agendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "BxLdTiBYRwntbItp",
          "name": "Google Calendar account 2"
        }
      }
    }
  ],
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 577422448,
          "message": {
            "message_id": 143,
            "from": {
              "id": 7040181107,
              "is_bot": false,
              "first_name": "KarZent",
              "language_code": "es"
            },
            "chat": {
              "id": 7040181107,
              "first_name": "KarZent",
              "type": "private"
            },
            "date": 1777919980,
            "text": "me gustaria cortarme el pelo"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "timezone": "Europe/Madrid",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-05-02T13:30:14.835Z",
      "createdAt": "2026-05-02T13:30:14.835Z",
      "role": "workflow:owner",
      "workflowId": "qOoKCA6Gnlgc1s5X",
      "projectId": "Mg9CftDHMIrQGniA"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-05-04T18:56:39.218Z",
  "versionId": "4a52334a-49bb-4819-b505-1535186e839d"
}