Newworkflows/Llamadas en frio Retail.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-24T13:04:08.470Z",
  "id": "fuPPkd9lqqbnG1yyWj4p_",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Llamadas en frio Retail",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "eec7731c-7e1a-4842-833e-93125b796005",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1BGA0kcE2eSGe6in_dYkumOWvqLW0TA7j5ThYa14hKds",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BGA0kcE2eSGe6in_dYkumOWvqLW0TA7j5ThYa14hKds/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BGA0kcE2eSGe6in_dYkumOWvqLW0TA7j5ThYa14hKds/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Estado",
              "lookupValue": "Pendiente"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "563ebd86-72f5-4556-9fbd-282c7e1a3f94",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "b3iIwyK8DLzQZxfk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9a363af6-1b63-449f-a72d-d324866a7bbb",
              "name": "Empresa",
              "value": "={{ $json.Empresa }}",
              "type": "string"
            },
            {
              "id": "3fd0b215-f838-4bfc-84d2-a7a7f9bddaa9",
              "name": "Telefono",
              "value": "={{ $json.Telefono }}",
              "type": "string"
            },
            {
              "id": "2b10f9e6-e023-468d-8123-1b28c9466384",
              "name": "Estado",
              "value": "={{ $json.Estado }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "c6b377b8-22ac-42b6-a336-c692e8fe79b2",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        624,
        0
      ],
      "id": "206ba090-bd8f-4779-9aca-59ba36e11987",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        1568,
        224
      ],
      "id": "5b9e7a23-7778-45ec-844a-72a6b72ade6e"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1BGA0kcE2eSGe6in_dYkumOWvqLW0TA7j5ThYa14hKds",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BGA0kcE2eSGe6in_dYkumOWvqLW0TA7j5ThYa14hKds/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1BGA0kcE2eSGe6in_dYkumOWvqLW0TA7j5ThYa14hKds/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Telefono",
              "lookupValue": "={{ $json.Telefono }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1056,
        96
      ],
      "id": "43ce62c3-4e75-40c1-8683-474a152cf575",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "b3iIwyK8DLzQZxfk",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        832,
        96
      ],
      "id": "15e0b327-6ad5-42ea-a5d3-b2343d4dc099",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-02-24T13:04:08.477Z",
      "createdAt": "2026-02-24T13:04:08.477Z",
      "role": "workflow:owner",
      "workflowId": "fuPPkd9lqqbnG1yyWj4p_",
      "projectId": "Mg9CftDHMIrQGniA"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-26T15:47:17.842Z",
  "versionId": "28887ffb-3bff-442d-b55a-8446d79ae22e"
}