Newworkflows/Modificar Evento Esturion.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-02-20T18:29:23.000Z",
    "createdAt": "2026-02-20T18:28:53.192Z",
    "versionId": "b853cc39-2a25-4a62-b657-b66ab38bbeaf",
    "workflowId": "r4N2wTKIasCoYE7U",
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "Titulo"
              },
              {
                "name": "Fecha inicio"
              },
              {
                "name": "Fecha fin"
              },
              {
                "name": "Descripción"
              },
              {
                "name": "ID"
              }
            ]
          }
        },
        "id": "c055762a-8fe7-4141-a639-df2372f30060",
        "typeVersion": 1.1,
        "name": "Modificar Evento Esturion",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "position": [
          272,
          352
        ]
      },
      {
        "parameters": {
          "jsCode": "// Obtener el ID y las nuevas fechas desde el nodo \"Modificar Evento Esturion\"\nconst idBuscado = $('Modificar Evento Esturion').first().json['ID'];\nconst nuevaFechaInicio = $('Modificar Evento Esturion').first().json['Fecha inicio'];\nconst nuevaFechaFin = $('Modificar Evento Esturion').first().json['Fecha fin'];\n\n// Obtener todos los eventos del Google Calendar\nconst eventos = $input.all();\n\n// Buscar el evento que coincida con el ID\nconst eventoEncontrado = eventos.find(evento => \n  evento.json.id === idBuscado\n);\n\n// Si no se encuentra\nif (!eventoEncontrado) {\n  return [{\n    json: {\n      error: 'No se encontró el evento',\n      id_buscado: idBuscado,\n      eventos_encontrados: eventos.length\n    }\n  }];\n}\n\n// Devolver el ID real de Google Calendar con las fechas actualizadas del trigger\nreturn [{\n  json: {\n    ID_real: eventoEncontrado.json.id,\n    Titulo: eventoEncontrado.json.summary,\n    Fecha_inicio: nuevaFechaInicio,\n    Fecha_fin: nuevaFechaFin,\n    Descripcion: eventoEncontrado.json.description\n  }\n}];\n"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          688,
          352
        ],
        "id": "966eb970-4071-4ab3-9a96-3974b781fb69",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "operation": "getAll",
          "calendar": {
            "__rl": true,
            "value": "3cf455fae61998f2cf7bfffba57a4e28188afc46dd5d892692826a9254905124@group.calendar.google.com",
            "mode": "list",
            "cachedResultName": "Restaurante Esturión"
          },
          "timeMax": "={{ $now.plus({ month: 1 }) }}",
          "options": {
            "query": "={{ $json.Titulo }}"
          }
        },
        "type": "n8n-nodes-base.googleCalendar",
        "typeVersion": 1.3,
        "position": [
          480,
          352
        ],
        "id": "eae79a0f-9bef-46f2-b730-7f596c53c87b",
        "name": "Get many events",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "BxLdTiBYRwntbItp",
            "name": "Google Calendar account 2"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "calendar": {
            "__rl": true,
            "value": "3cf455fae61998f2cf7bfffba57a4e28188afc46dd5d892692826a9254905124@group.calendar.google.com",
            "mode": "list",
            "cachedResultName": "Restaurante Esturión"
          },
          "eventId": "={{ $json.ID_real }}",
          "updateFields": {
            "description": "={{ $json.Descripcion }}",
            "end": "={{ $json.Fecha_fin }}",
            "start": "={{ $json.Fecha_inicio }}",
            "summary": "={{ $json.Titulo }}"
          }
        },
        "type": "n8n-nodes-base.googleCalendar",
        "typeVersion": 1.3,
        "position": [
          896,
          352
        ],
        "id": "3f0c4fe8-5b8d-4690-88b1-de45c297960b",
        "name": "Update an event1",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "BxLdTiBYRwntbItp",
            "name": "Google Calendar account 2"
          }
        }
      }
    ],
    "connections": {
      "Modificar Evento Esturion": {
        "main": [
          [
            {
              "node": "Get many events",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Update an event1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many events": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update an event1": {
        "main": [
          []
        ]
      }
    },
    "authors": "Carlos Fernández",
    "name": "Modificar Evento Esturion",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "b853cc39-2a25-4a62-b657-b66ab38bbeaf",
  "connections": {
    "Modificar Evento Esturion": {
      "main": [
        [
          {
            "node": "Get many events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Update an event1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update an event1": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2026-01-23T16:53:05.049Z",
  "id": "r4N2wTKIasCoYE7U",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Modificar Evento Esturion",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Titulo"
            },
            {
              "name": "Fecha inicio"
            },
            {
              "name": "Fecha fin"
            },
            {
              "name": "Descripción"
            },
            {
              "name": "ID"
            }
          ]
        }
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "Modificar Evento Esturion",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        272,
        352
      ]
    },
    {
      "parameters": {
        "jsCode": "// Obtener el ID y las nuevas fechas desde el nodo \"Modificar Evento Esturion\"\nconst idBuscado = $('Modificar Evento Esturion').first().json['ID'];\nconst nuevaFechaInicio = $('Modificar Evento Esturion').first().json['Fecha inicio'];\nconst nuevaFechaFin = $('Modificar Evento Esturion').first().json['Fecha fin'];\n\n// Obtener todos los eventos del Google Calendar\nconst eventos = $input.all();\n\n// Buscar el evento que coincida con el ID\nconst eventoEncontrado = eventos.find(evento => \n  evento.json.id === idBuscado\n);\n\n// Si no se encuentra\nif (!eventoEncontrado) {\n  return [{\n    json: {\n      error: 'No se encontró el evento',\n      id_buscado: idBuscado,\n      eventos_encontrados: eventos.length\n    }\n  }];\n}\n\n// Devolver el ID real de Google Calendar con las fechas actualizadas del trigger\nreturn [{\n  json: {\n    ID_real: eventoEncontrado.json.id,\n    Titulo: eventoEncontrado.json.summary,\n    Fecha_inicio: nuevaFechaInicio,\n    Fecha_fin: nuevaFechaFin,\n    Descripcion: eventoEncontrado.json.description\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        352
      ],
      "id": "966eb970-4071-4ab3-9a96-3974b781fb69",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "3cf455fae61998f2cf7bfffba57a4e28188afc46dd5d892692826a9254905124@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Restaurante Esturión"
        },
        "timeMax": "={{ $now.plus({ month: 1 }) }}",
        "options": {
          "query": "={{ $json.Titulo }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        480,
        352
      ],
      "id": "eae79a0f-9bef-46f2-b730-7f596c53c87b",
      "name": "Get many events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "BxLdTiBYRwntbItp",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "3cf455fae61998f2cf7bfffba57a4e28188afc46dd5d892692826a9254905124@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Restaurante Esturión"
        },
        "eventId": "={{ $json.ID_real }}",
        "updateFields": {
          "description": "={{ $json.Descripcion }}",
          "end": "={{ $json.Fecha_fin }}",
          "start": "={{ $json.Fecha_inicio }}",
          "summary": "={{ $json.Titulo }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        896,
        352
      ],
      "id": "3f0c4fe8-5b8d-4690-88b1-de45c297960b",
      "name": "Update an event1",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "BxLdTiBYRwntbItp",
          "name": "Google Calendar account 2"
        }
      }
    }
  ],
  "pinData": {
    "Modificar Evento Esturion": [
      {
        "json": {
          "Titulo": "Reserva Carlos Fernández - 5 personas",
          "Fecha inicio": "2026-02-26T21:30:00+01:00",
          "Fecha fin": "2026-02-26T23:30:00+01:00",
          "Descripción": "Reserva para 5 personas. Teléfono: 640310426. Solicitado por el cliente vía chat.",
          "ID": "1h903isr0262f13rui33fuj3po"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Europe/Madrid",
    "callerPolicy": "workflowsFromSameOwner",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-01-23T16:53:05.058Z",
      "createdAt": "2026-01-23T16:53:05.058Z",
      "role": "workflow:owner",
      "workflowId": "r4N2wTKIasCoYE7U",
      "projectId": "Mg9CftDHMIrQGniA"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-20T18:28:53.190Z",
  "versionId": "b853cc39-2a25-4a62-b657-b66ab38bbeaf"
}