Newworkflows/Modificar Pruebas.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Modificar Pruebas": {
      "main": [
        [
          {
            "node": "Get many events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Update an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-05-03T16:33:02.351Z",
  "id": "U2cFwwb6E8Q4RMaC",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Modificar Pruebas",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Titulo"
            },
            {
              "name": "Fecha inicio"
            },
            {
              "name": "Nueva fecha inicio"
            },
            {
              "name": "Fecha fin"
            },
            {
              "name": "Nueva fecha fin"
            },
            {
              "name": "Descripcion"
            },
            {
              "name": "ID"
            }
          ]
        }
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "Modificar Pruebas",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        432,
        496
      ]
    },
    {
      "parameters": {
        "jsCode": "// Accedemos a los datos que vienen del Trigger del Subworkflow (\"Modificar Pruebas\")\nconst input = $('Modificar Pruebas').item.json;\n\nconst id = input['ID'];\nconst titulo = input['Titulo'];\nconst fechaInicioStr = input['Fecha inicio'];\nconst descripcion = input['Descripcion'];\n\nif (!id || !fechaInicioStr) {\n  return [{ json: { error: \"Faltan datos obligatorios (ID o Fecha inicio)\" } }];\n}\n\n// Creamos los objetos de fecha\nconst inicio = new Date(fechaInicioStr);\n// Calculamos 30 minutos después para el fin (puedes usar el campo 'Fecha fin' si prefieres)\nconst fin = new Date(inicio.getTime() + (30 * 60 * 1000));\n\n// Función para formatear sin la 'Z' de UTC\nconst formatLocal = (date) => {\n  return date.toLocaleString('sv-SE').replace(' ', 'T');\n};\n\nreturn [{\n  json: {\n    'eventId': id,\n    'summary': titulo,\n    'description': descripcion,\n    'start': formatLocal(inicio),\n    'end': formatLocal(fin)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        496
      ],
      "id": "25bc028e-6a35-47bf-8645-cd8badd650a5",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "b3be31f352404ba86060acb35b136d80e91f4c9d2fadf91921d0b632d982ff29@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Pruebas"
        },
        "timeMax": "={{ $now.plus({ month: 1 }) }}",
        "options": {
          "query": "={{ $json.Titulo }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        656,
        496
      ],
      "id": "2d063712-85b1-4fad-ade5-975b3e5b5c7c",
      "name": "Get many events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "BxLdTiBYRwntbItp",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "b3be31f352404ba86060acb35b136d80e91f4c9d2fadf91921d0b632d982ff29@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Pruebas"
        },
        "eventId": "={{ $json.eventId }}",
        "updateFields": {
          "description": "={{ $json.description }}",
          "end": "={{ $json.start }}",
          "start": "={{ $json.end }}",
          "summary": "={{ $json.summary }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1088,
        496
      ],
      "id": "916f7465-17d0-4f12-8fff-cc4fd5a879c2",
      "name": "Update an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "BxLdTiBYRwntbItp",
          "name": "Google Calendar account 2"
        }
      }
    }
  ],
  "pinData": {
    "Modificar Pruebas": [
      {
        "json": {
          "Titulo": "Beatriz Garcia",
          "Fecha inicio": "2026-05-08T18:00:00+02:00",
          "Fecha fin": "2026-05-08T18:30:00+02:00",
          "Descripcion": "corte de puntas - Tel: 632215545",
          "ID": "a2gms03vqfe6spdstnhcnqp6ek"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "timezone": "Europe/Madrid",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "updatedAt": "2026-05-03T16:33:02.358Z",
      "createdAt": "2026-05-03T16:33:02.358Z",
      "role": "workflow:owner",
      "workflowId": "U2cFwwb6E8Q4RMaC",
      "projectId": "Mg9CftDHMIrQGniA"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-05-04T17:54:18.000Z",
  "versionId": "4fc2d5dd-319c-48f6-b182-4e90c2615e2b"
}