Newworkflows/Practica  UDIA Clinica.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis1": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Redis2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis2": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis3": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Redis4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis4": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Redis3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis5": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Disponibilidad Clinica": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Crear Eventos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Modificar Evento": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Cancelar Evento": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If7": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Redis5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-10T18:04:19.528Z",
  "id": "mJp5fbamZrQJccv1",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Practica  UDIA Clinica",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cf611be9-ebe6-48f4-af1c-6996d5dfb497",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -192,
        288
      ],
      "id": "6150be02-ae4c-4823-a8ac-abb5da757e06",
      "name": "Webhook",
      "webhookId": "cf611be9-ebe6-48f4-af1c-6996d5dfb497"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "844d9ab8-f2dd-47b5-8f29-29ea70e52009",
              "leftValue": "={{ $json.body.event }}",
              "rightValue": "=message_created",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        32,
        288
      ],
      "id": "b3767584-7fb6-4468-8750-608e1ee8790c",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "db7831e6-2930-4c9d-adbd-0b6cb1a0294b",
              "leftValue": "={{ $json.body.conversation.messages[0].sender_type }}",
              "rightValue": "Contact",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        256,
        288
      ],
      "id": "44e23bde-c449-4ceb-942b-e8d7971a8379",
      "name": "If1",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "34908a1a-910b-4240-b270-c5bae76d6672",
              "name": "accountID",
              "value": "={{ $json.body.account.id }}",
              "type": "string"
            },
            {
              "id": "861750b8-6d53-4256-833c-048704fb4711",
              "name": "conversationID",
              "value": "={{ $json.body.conversation.messages[0].conversation_id }}",
              "type": "string"
            },
            {
              "id": "db3956f9-9900-4b56-ac29-ffe7889b2299",
              "name": "sessionID",
              "value": "={{ $json.body.conversation.messages[0].source_id }}",
              "type": "string"
            },
            {
              "id": "cd35006e-6aca-472c-a395-8218acf4de48",
              "name": "Identificador",
              "value": "={{ $json.body.conversation.meta.sender.identifier }}",
              "type": "string"
            },
            {
              "id": "1f42345f-4d66-4ac4-9368-2b08b226d4b0",
              "name": "telefono",
              "value": "={{ $json.body.conversation.meta.sender.phone_number }}",
              "type": "string"
            },
            {
              "id": "55ad0e2a-09a6-42b7-925d-d30a4b19661b",
              "name": "mensaje",
              "value": "={{ $json.body.content }}",
              "type": "string"
            },
            {
              "id": "f1e69443-9dbe-4203-b32c-98bd1dcddbc1",
              "name": "data_time",
              "value": "={{ $json.body.conversation.timestamp.toDateTime('s').toLocal() }}",
              "type": "string"
            },
            {
              "id": "470e66ac-542e-461a-829b-aa96232dec8c",
              "name": "tipo_mensaje",
              "value": "={{ $json.body.conversation.messages[0].attachments[0].file_type }}",
              "type": "string"
            },
            {
              "id": "9dd36975-250a-4e22-a33e-e7068195cd65",
              "name": "body.conversation.messages[0].attachments[0].data_url",
              "value": "={{ $json.body.conversation.messages[0].attachments[0].data_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        288
      ],
      "id": "2da19914-9f4f-4142-b40d-770d35ccea53",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "// Obtener el valor original del campo\nconst sender = $input.first().json.telefono;\n\n// Limpiar el número:\n// - Eliminar el prefijo '34' o '49' si existe, y quitar el dominio de whatsapp\nconst cleanedNumber = sender\n  .replace(/^(\\+?34|\\+?49)/, '') // Quita el '+34', '34', '+49' o '49' al inicio\n  .replace(/@s\\.whatsapp\\.net$/, ''); // Quita el '@s.whatsapp.net' al final\n\n// Devolver el número limpio\nreturn [\n  {\n    json: {\n      cleanedNumber\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        384
      ],
      "id": "13d99f4a-d139-47c5-8e89-1eeaf8ab1836",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $json.Identificador }}",
        "messageData": "={{ $json.mensaje }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1824,
        384
      ],
      "id": "a101b8be-e8b7-416e-8c94-46cc3ad12b1d",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "rmwGdInGMfi5lhMd",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2048,
        384
      ],
      "id": "cb968fbd-72d0-46fc-af41-15e0603a4641",
      "name": "Wait",
      "webhookId": "71ac37ec-4a28-4234-a581-e5bf42c39a02"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "message",
        "key": "={{ $('Edit Fields1').item.json.Identificador }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2272,
        384
      ],
      "id": "a17d4e65-30c7-4450-8c86-97ff6448e2c5",
      "name": "Redis1",
      "credentials": {
        "redis": {
          "id": "rmwGdInGMfi5lhMd",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "96158e05-c548-462c-94c3-8138dd2ceaf9",
              "leftValue": "={{ $json.message.last() }}",
              "rightValue": "={{ $('Edit Fields1').item.json.mensaje }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2496,
        384
      ],
      "id": "87f36a24-6015-42ff-b4c2-b3db449f60fb",
      "name": "If3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "34908a1a-910b-4240-b270-c5bae76d6672",
              "name": "accountID",
              "value": "={{ $('Edit Fields').item.json.accountID }}",
              "type": "string"
            },
            {
              "id": "861750b8-6d53-4256-833c-048704fb4711",
              "name": "conversationID",
              "value": "={{ $('Edit Fields').item.json.conversationID }}",
              "type": "string"
            },
            {
              "id": "db3956f9-9900-4b56-ac29-ffe7889b2299",
              "name": "sessionID",
              "value": "={{ $('Edit Fields').item.json.sessionID }}",
              "type": "string"
            },
            {
              "id": "cd35006e-6aca-472c-a395-8218acf4de48",
              "name": "Identificador",
              "value": "={{ $('Edit Fields').item.json.Identificador }}",
              "type": "string"
            },
            {
              "id": "54a552ab-1572-4814-8549-4887c93002c0",
              "name": "telefono",
              "value": "={{ $json.cleanedNumber }}",
              "type": "string"
            },
            {
              "id": "55ad0e2a-09a6-42b7-925d-d30a4b19661b",
              "name": "mensaje",
              "value": "={{ $('Edit Fields').item.json.mensaje }}",
              "type": "string"
            },
            {
              "id": "f1e69443-9dbe-4203-b32c-98bd1dcddbc1",
              "name": "data_time",
              "value": "={{ $('Edit Fields').item.json.data_time }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": false
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1600,
        384
      ],
      "id": "179e837c-255c-49bb-b8d6-75bf5042e65f",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Edit Fields1').item.json.Identificador }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2720,
        384
      ],
      "id": "00fd0f52-d2b8-4bcb-a5db-37fd96e6eb34",
      "name": "Redis2",
      "credentials": {
        "redis": {
          "id": "rmwGdInGMfi5lhMd",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5a1e36e3-f8de-419c-83ae-5cc7fead47df",
              "name": "mensaje",
              "value": "={{ $json.propertyName.join(\" \") }}",
              "type": "string"
            },
            {
              "id": "ed4e679f-704c-454a-88e4-d46623e9b6dd",
              "name": "telefono",
              "value": "={{ $('Edit Fields1').item.json.telefono }}",
              "type": "string"
            },
            {
              "id": "67bac86b-a225-4b80-8f56-0544eb594701",
              "name": "Identificador",
              "value": "={{ $('Edit Fields1').item.json.Identificador }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2944,
        384
      ],
      "id": "bd69cdd7-2980-4903-9f73-87fd89949d86",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "url": "=https://n8n2nkz-chatwoot.vc1wee.easypanel.host{{ $json.body.conversation.messages[0].attachments[0].data_url.replace('http://https', '') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        928,
        192
      ],
      "id": "d658b372-9c2b-42f2-b30c-d7836b8ef85d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1152,
        192
      ],
      "id": "bf6a214d-709e-495a-a97f-21d94a964605",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "WvSLkCujVhY8jIGz",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Obtener el valor original del campo\nconst sender = $('If4').first().json.telefono;\n// Eliminar el prefijo '34' o '49' si existe, y quitar el dominio de WhatsApp\nconst cleanedNumber = sender\n  .replace(/^(\\+?34|\\+?49)/, '')       // Quita el '+34', '34', '+49' o '49' al inicio\n  .replace(/@s\\.whatsapp\\.net$/, ''); // Quita el '@s.whatsapp.net' al final\n\n// Devolver el número limpio\nreturn [\n  {\n    json: {\n      cleanedNumber\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        192
      ],
      "id": "898042a6-b62d-46fc-acdc-d05ed861d991",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $json.Identificador }}",
        "messageData": "={{ $json.mensaje_audio }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1824,
        192
      ],
      "id": "bfdfc907-e976-4ef8-b326-813035dbcfc5",
      "name": "Redis3",
      "credentials": {
        "redis": {
          "id": "rmwGdInGMfi5lhMd",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2048,
        192
      ],
      "id": "b9eada27-5df6-4608-9447-87ca35f2d63d",
      "name": "Wait1",
      "webhookId": "71ac37ec-4a28-4234-a581-e5bf42c39a02",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "message",
        "key": "={{ $('Edit Fields3').item.json.Identificador }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2272,
        192
      ],
      "id": "f07ba84f-df8a-4479-8511-d15a024202e7",
      "name": "Redis4",
      "credentials": {
        "redis": {
          "id": "rmwGdInGMfi5lhMd",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "34908a1a-910b-4240-b270-c5bae76d6672",
              "name": "accountID",
              "value": "={{ $('Edit Fields').item.json.accountID }}",
              "type": "string"
            },
            {
              "id": "861750b8-6d53-4256-833c-048704fb4711",
              "name": "conversationID",
              "value": "={{ $('Edit Fields').item.json.conversationID }}",
              "type": "string"
            },
            {
              "id": "db3956f9-9900-4b56-ac29-ffe7889b2299",
              "name": "sessionID",
              "value": "={{ $('Edit Fields').item.json.sessionID }}",
              "type": "string"
            },
            {
              "id": "cd35006e-6aca-472c-a395-8218acf4de48",
              "name": "Identificador",
              "value": "={{ $('Edit Fields').item.json.Identificador }}",
              "type": "string"
            },
            {
              "id": "54a552ab-1572-4814-8549-4887c93002c0",
              "name": "telefono",
              "value": "={{ $json.cleanedNumber }}",
              "type": "string"
            },
            {
              "id": "55ad0e2a-09a6-42b7-925d-d30a4b19661b",
              "name": "mensaje_audio",
              "value": "={{ $('Transcribe a recording').item.json.text }}",
              "type": "string"
            },
            {
              "id": "f1e69443-9dbe-4203-b32c-98bd1dcddbc1",
              "name": "data_time",
              "value": "={{ $('Edit Fields').item.json.data_time }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": false
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1600,
        192
      ],
      "id": "3115f3c6-85d3-44b2-8e71-1102456bbd2f",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Edit Fields3').item.json.Identificador }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2720,
        192
      ],
      "id": "581da7c6-31a3-46a1-8978-34c62be3599f",
      "name": "Redis5",
      "credentials": {
        "redis": {
          "id": "rmwGdInGMfi5lhMd",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5a1e36e3-f8de-419c-83ae-5cc7fead47df",
              "name": "mensaje_audio",
              "value": "={{ $json.message[0] }}",
              "type": "string"
            },
            {
              "id": "ed4e679f-704c-454a-88e4-d46623e9b6dd",
              "name": "telefono",
              "value": "={{ $('Edit Fields3').item.json.telefono }}",
              "type": "string"
            },
            {
              "id": "67bac86b-a225-4b80-8f56-0544eb594701",
              "name": "Identificador",
              "value": "={{ $('Edit Fields3').item.json.Identificador }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2944,
        192
      ],
      "id": "10fab21e-ba62-4149-b541-0c8b711ff53f",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Mensaje_texto_cliente: {{ $json.mensaje }}\nMensaje_audio_cliente: {{ $json.mensaje_audio }}\nTelefono cliente: {{ $json.telefono }}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Identidad y propósito\n\nEres Marta, asistente virtual de atención al cliente de Clinica Coria, integrada en el sistema n8n. Atiendes solicitudes de pacientes con cordialidad, eficiencia y autonomía, usando las herramientas disponibles para gestionar citas, resolver dudas y ofrecer un servicio impecable.\n\nEstilo y tono (sanitario → respuestas cortas)\n\nNo seas robótica; usa tono natural y humano, y emoticonos cuando convenga (no siempre el mismo).\n\nTrata siempre de usted.\n\nAl ser en el ámbito sanitario, usa respuestas más cortas, claras y concisas.\n\nUsa “agendar” en lugar de “cuadrar”.\n\nFrases/plantillas de ejemplo (usar “usted”)\n\n“Para esta semana, las citas disponibles pueden ser…”\n\n“Para poder agendar, ¿sería tan amable de facilitarme cuál sería el motivo de la consulta, nombre y apellidos?…”\n\n“Esta semana no hay disponibilidad para atenderles a los dos el mismo día…”\n(Recuerda: usar “agendar” en lugar de “cuadrar”.)\n\nPresentación inicial (solo primer mensaje)\n\nAl inicio de la conversación con un cliente, preséntate diciendo quién eres y para quién trabajas con un mensaje como:\n“Hola, soy Marta, la asistente virtual de la clínica de podología [NOMBRE_CLINICA].”\nActo seguido, contesta al mensaje del cliente. Esto se hace solo en el primer mensaje. Para detectar si es inicio/apertura, analiza el mensaje.\n\nEntrada de mensajes y contexto\n\nEl mensaje del cliente {{ $json.mensaje }} o {{ $json.mensaje_audio }} es un conjunto de mensajes enviados por separado, que debes analizar de derecha a izquierda para entender el contexto completo.\n\nÁmbito de actuación\n\nCualquier mensaje que no tenga que ver con tu labor de resolver dudas sobre los servicios de podología o gestionar la agenda de la clínica, siempre analizando el contexto y la memoria de ese chat, debes responder solo con: False.\n\nTodos los mensajes en los cuales no tengas contexto alguno responde False. Por ejemplo, mensajes como:\nEstás al día muchas gracias 😊, 😱😱😱, Qué fuerteeee, Mañana entraré por ahí, Nos vemos 😘😘, Buenas noches.\nAnaliza el mensaje del cliente y responde solo si tiene sentido que le digas de agendar; si es de otro tema responde False.\n\n🔁 REGLA 1 – Verificación obligatoria del número en cada mensaje\n\nSiempre, antes de procesar cualquier mensaje:\n\nEjecuta la herramienta Comprobar_numero con el teléfono actual del cliente:\n{{ $json.telefono }}\n\nSi el número está en Google Sheets → Responde únicamente:\nFalse\ny termina la ejecución sin más acciones.\n\nSi el número NO está en Google Sheets → continúa con el flujo normal y procesa {{ $json.mensaje }} o {{ $json.mensaje_audio }}.\n\n⚠️ Nunca mencionar el número del cliente en la conversación.\n⚠️ Nunca mencionar que has comprobado herramientas o el número del cliente.\n(La lista corresponde a familiares y amigos, que no deben recibir respuesta).\n\n🏠 REGLA 1-bis – Solicitudes a domicilio (derivación a llamada telefónica)\n\nTras aplicar la REGLA 1 y solo si el número NO está en Google Sheets, revisa {{ $json.mensaje }} o {{ $json.mensaje_audio }}.\nSi el cliente solicita una cita a domicilio (expresiones como: “a domicilio”, “venir a mi casa”, “visita en casa”, “servicio a domicilio”, “salida”, “ir a mi domicilio”, “me atiendan en casa”, “visita domiciliaria”, “que venga a casa”, etc.):\n\n→ Responder únicamente (sin añadir nada más):\n“Para las citas a domicilio, el/la especialista le llamará en cuanto tenga un hueco para acordar por teléfono los términos de la visita (dirección, horario y condiciones).”\n\nNunca decir al cliente que puedes agendar una cita. Ya que le llamará el equipo, solo debes decir el mensaje de arriba y, si te responde, tú responde con coherencia pero sin pedirle hora, día ni nada de eso.\n\n→ Terminar la ejecución sin más acciones.\n\n⚠️ No ofrecer alternativas ni explicaciones adicionales.\n⚠️ No continuar con gestión de citas ni uso de herramientas para estos casos.\n⚠️ No confirmar ni proponer horarios por chat para citas a domicilio.\n\n📅 REGLA 2 – Gestión de citas\n\n2.1. Alcance temporal y validación en Google Sheets (⚠️ Modificación solicitada)\n\nLa semana actual se cuenta de lunes a domingo.\n\nSe pueden agendar citas para semanas futuras, pero siempre debes comprobar y ceñirte al horario de trabajo en Google Sheets.\n\nGoogle Sheets se compone de todos los días de lunes a viernes del mes, con el horario que lleva la podóloga cada día.\n\nPara agendar, debes regirte obligatoriamente por ese horario.\n\nSiempre que propongas u ofrezcas citas (semana en curso o futuras), valida en Google Sheets que:\n\nEse día está habilitado (lunes a viernes según hoja).\n\nLa hora está dentro del rango marcado para ese día.\n\nSe respetan los huecos libres reales según los eventos ya agendados.\n(Quedan sustituidas reglas previas que limitaban a solo semana actual o que prohibían semanas futuras).\n\n2.2. Citas para dos personas\n\nSi el cliente quiere una cita para él y para otra persona, pide ambos nombres y fechas/horas para ambos, comprueba ambos horarios y agenda ambas citas si es posible.\n\n2.3. Proceso para agendar una cita\n\nMuy importante: para agendar debes pedir el nombre completo al cliente; si no te da su nombre no puedes agendar.\n\nIdentificación del servicio (asignación automática)\nEl cliente no sabe qué servicio necesita; asígnalo automáticamente según su mensaje.\nEjemplos:\n\n“Me duele la uña del dedo gordo” → Quiropodia (45 min)\n\n“Molestias al andar; creo que necesito plantillas” → Exploración plantillas (90 min)\n\n“Me recomendaron silicona para el dedo” → Silicona (60 min)\n\n“Solo quiero revisión” → Visita (45 min)\n⚠️ No pedir detalles clínicos adicionales (enrojecimiento, inflamación, etc.).\n\nCalcular huecos disponibles\n\nObtén todos los eventos ya agendados ese día.\n\nDuraciones por servicio:\n\nQuiropodia: 45 min\n\nExploración plantillas: 90 min\n\nSilicona: 60 min\n\nVisita: 45 min\n\nUsa la tool de obtener eventos para sacar los huecos ya agendados en la semana. Las horas sin eventos agendados estarán disponibles.\n\nUn hueco solo es válido si:\n\nInicio + duración no se solapa con ninguna cita.\n\nSe respetan inicio/fin de citas existentes.\n\nDejar 15 minutos de margen entre citas.\n\nEj.: si hay cita 10:00–10:45, la siguiente podrá empezar desde 11:00.\n\nAunque haya margen, puedes agendar dentro del horario disponible siempre que no haya solapamiento con otros servicios (tenlo en cuenta al calcular).\n\nCuando el cliente indica fecha y hora\n\nComprobar en Google Sheets:\n\nSi ese día está habilitado (lunes a viernes según hoja).\n\nSi la hora solicitada está en rango para ese día.\n\nSi NO está en rango → Responde:\n“En esa fecha y hora la podóloga no está disponible” y pide otra fecha (dentro de los días y horas habilitados).\n\nSi está en rango → comprueba disponibilidad real (sin solapes ni saltarse márgenes).\n\nSi ocupada → Responde:\n“Esa hora no está disponible” y pide nueva fecha/hora.\n\nSi disponible → Crea la cita con la herramienta de creación.\n\nImportante (durante el agendado)\n\nNunca preguntar al cliente si quiere cancelar o modificar en el momento de agendar.\n\nCuando se ha confirmado una fecha y hora con el cliente nunca preguntes si prefiere otro horario.\n\nSolo se gestionan cancelaciones/modificaciones cuando el cliente lo pida expresamente.\n\n🔧 Herramientas disponibles\n\nVerificación: Comprobar_numero (obligatoria en cada mensaje).\n\nHorarios semanales: Consultar Google Sheets.\n\nGestión de citas:\n\nComprobar disponibilidad\n\nCrear cita\n\nObtener próximas citas\n\nModificar cita\n\nCancelar cita\n\nComunicación:\n\nConfirmaciones\n\nNotificaciones de cambios/cancelaciones\n\nInformación general:\n\nTratamientos, horarios, dirección, profesionales\n\n🎯 Objetivo final\n\nEl paciente debe percibir un servicio eficiente, cálido y seguro, con control total de la agenda y cumplimiento estricto de las reglas, evitando ofrecer huecos que no están disponibles.\n\nNorma operativa clave (antes de responder)\nAntes de responder a cualquier mensaje, revisa siempre el calendario para comprobar la disponibilidad real: huecos libres y ya ocupados.\nAsí:\n\nEvitas pedir fechas/horas que ya estén ocupadas.\n\nAseguras coherencia y utilidad desde el primer momento.\n\nOfreces opciones viables.\n\n👉 En resumen: primero comprueba el calendario, luego responde.\n\nCasos y reglas adicionales (mantener tal cual, anonimizadas)\n\nNunca digas al cliente que, si se pone peor, vaya al médico/hospital/centro de salud; en ese caso debes decir que llame al número de atención: [NUMERO_ATENCION].\n\nNo repitas mensajes varias veces; con decirlo una vez basta.\n\nSigue las reglas especificadas; no des más contexto del que pida el cliente. Pedir nombre y teléfono solo cuando confirme fecha y hora.\n\nNo repitas cosas constantemente salvo que sea necesario.\n\nMensajes sin contexto o ajenos a podología/agenda → responde False (p. ej.: 😱😱😱, Qué fuerteeee, Mañana entraré por ahí, Nos vemos 😘😘, Buenas noches).\n\nPara agendar: pide nombre completo (nombre y apellidos) y teléfono.\n\nSi el cliente no recuerda su cita y te pide fecha/hora → pide nombre completo (con apellidos) y verifica la cita.\n\nPreséntate solo en el inicio de conversación; luego no repitas quién eres ni dónde trabajas.\n\nTras agendar, no digas “si prefiere otro horario…”.\n\nPide nombre y teléfono solo después de confirmar que quiere la hora y que está disponible.\n\nAl dar huecos, no asumas que quiere agendar; no pidas datos hasta su confirmación.\n\nSi la fecha/hora pedidas no tienen huecos esa semana, ofrece otros horarios; si necesita exactamente esa franja, que espere a la siguiente semana.\n\nNo digas el servicio que vas a agendar ni su duración (salvo que lo pregunte).\n\nSi es fin de semana, indica que no se agendan citas y que hable a partir del lunes (no menciones asignación de servicio).\n\nSi te pide que elijas tú la hora o “primer hueco disponible / final del día”, propón una hora disponible y pide confirmación.\n\nAntes de agendar, verifica que el cliente quiere esa hora (aunque te haya dado libertad).\n\nNo menciones cancelaciones/cambios a menos que el cliente lo pida.\n\nNunca elijas una hora por el cliente sin confirmación.\n\nSi no hay huecos para el servicio necesario, no ofrezcas huecos de otro servicio; si hay más días, pregunta por otro día.\n\nSi es viernes y no hay huecos, indica que pregunte la semana que viene.\n\nTen en cuenta día/hora actuales: no ofrezcas días u horas pasadas.\n\nPara sacar huecos, considera siempre día y hora actuales (no muestres días/horas pasados).\n\nAl terminar (agendar/modificar/cancelar o resolver dudas y detectar cierre), no preguntes si puedes ayudar en algo más.\n\nTodo mensaje fuera de tu labor (gestionar la agenda de podología) → responde False.\n\nSemanas futuras gestionadas por la podóloga: si el cliente responde a algo que ya fue acordado por el equipo para la semana siguiente, no digas que te hable la semana que viene para ver huecos; responde coherentemente con ese acuerdo.\n\nProhibiciones explícitas\n\n⚠️ Nunca decir que puedes enviar recordatorios.\n\n⚠️ Nunca repetir “la podóloga trabaja de tal a tal hora”.\n\n⚠️ Nunca pedir síntomas adicionales (enrojecimiento, inflamación…).\n\n⚠️ Nunca firmar los mensajes con un nombre al final (no estilo correo).\n\n⚠️ Nunca decir que vaya a médico/hospital/centro de salud si se pone peor; en ese caso, indica que llame a [NUMERO_ATENCION].\n\nUsa siempre el output parse para dividir tu respuesta en 3 partes, teniendo en cuenta el json del output parser que te dejo a continuación:\n\n{\n  \"Response\": {\n    \"Parte1\": \"...\",\n    \"Parte2\": \"...\",\n    \"Parte3\": \"...\"\n  }\n}\n\n\n📌 Fecha de referencia\nLa fecha actual es {{ $now }}."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        3616,
        288
      ],
      "id": "d24ac281-f74a-48d4-9e8f-eb950b2e201d",
      "name": "AI Agent",
      "retryOnFail": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        3168,
        512
      ],
      "id": "f33b323a-7319-445d-8853-5f5608312d1b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "WvSLkCujVhY8jIGz",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.Identificador }}",
        "tableName": "=Clínica"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        3296,
        512
      ],
      "id": "c2b31d42-f3b8-44ee-96c1-c19d72619b83",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "lynsIk4t0FUvPeMz",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "6a3cafde1495464bc5dc0cb2ff50199043fa5e58fed4f46eaec4cc27d79a7c28@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Practica N8N Clinica"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        3424,
        512
      ],
      "id": "7b589afa-0134-4ac8-89b2-993418a3572f",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "BxLdTiBYRwntbItp",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "description": "=llama a esta herramienta cuando detectes la intencion del usuario de comprobar su disponibilidad o si quiere agendar un evento, reunión, llamada, etc.\nLa fecha actual es {{ $now }}",
        "workflowId": {
          "__rl": true,
          "value": "hVb2ST8T1ILN6YyK",
          "mode": "list",
          "cachedResultUrl": "/workflow/hVb2ST8T1ILN6YyK",
          "cachedResultName": "Disponibilidad Clinica"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3552,
        512
      ],
      "id": "99ad39e8-724f-4709-ba01-3e95e20d5919",
      "name": "Disponibilidad Clinica"
    },
    {
      "parameters": {
        "description": "=Llama a esta herramienta cuando detectes la intención de el usuario de que quiere agendar un evento, cita, reuinion, llamada, etc, pero siempre una vez de haber comprobado la disponibilidad.\nLa fecha actual es {{ $now }}",
        "workflowId": {
          "__rl": true,
          "value": "9FuotR00GiWZy4qa",
          "mode": "list",
          "cachedResultUrl": "/workflow/9FuotR00GiWZy4qa",
          "cachedResultName": "Agendar Clinica"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3680,
        512
      ],
      "id": "459a2304-d297-48fa-adf9-930a16f5b9fd",
      "name": "Crear Eventos"
    },
    {
      "parameters": {
        "description": "=Llama a esta herramienta cuando detectes la intención del usuario de modificar un evento, llamada, reunión, etc. Para modificar la fecha o la hora de un evento primero tienes que comprobar la nueva fecha o la nueva hora que quiere el usuario.\nLa fecha actual es {{ $now }}",
        "workflowId": {
          "__rl": true,
          "value": "yaJGjaIHAGfmLMJJ",
          "mode": "list",
          "cachedResultUrl": "/workflow/yaJGjaIHAGfmLMJJ",
          "cachedResultName": "Modificar Clinica"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3808,
        512
      ],
      "id": "fc602eb2-d824-4fd7-8f18-5cdfd872b4c5",
      "name": "Modificar Evento"
    },
    {
      "parameters": {
        "description": "=Llama a esta herramienta cuando detectes la intención del usuario de cancelar o eliminar un evento, llamada, reunión, etc.\nLa fecha actual es {{ $now }}",
        "workflowId": {
          "__rl": true,
          "value": "o3MKJB4AHrXJM0kZ",
          "mode": "list",
          "cachedResultUrl": "/workflow/o3MKJB4AHrXJM0kZ",
          "cachedResultName": "Cancelar Clinica"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3936,
        512
      ],
      "id": "90d6deaf-6934-48e4-a4c3-07e5e18b88aa",
      "name": "Cancelar Evento"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"Response\": {\n    \"Parte1\": \"...\",\n    \"Parte2\": \"...\",\n    \"Parte3\": \"...\"\n  }\n}\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        4192,
        512
      ],
      "id": "7c823ee2-1119-464f-bcbe-4601a5d58715",
      "name": "Structured Output Parser",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        4272,
        720
      ],
      "id": "8c862192-8999-4adb-9658-99b7911ca90d",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "WvSLkCujVhY8jIGz",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c536a974-fb1f-4d5b-9970-5d59a0121721",
              "leftValue": "={{ $json.output.Response.Parte1 }}",
              "rightValue": "false",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4560,
        288
      ],
      "id": "ba26b4f8-e1ce-45d6-b5c6-f90746d548ac",
      "name": "If5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://n8n2nkz-chatwoot.vc1wee.easypanel.host//api/v1/accounts/{{ $('Edit Fields').item.json.accountID }}/conversations/{{ $('Edit Fields').item.json.conversationID }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\":{{ JSON.stringify($('AI Agent').item.json.output.Response.Parte1) }} ,\n  \"private\": false,\n  \"message_type\": \"outgoing\",\n  \"sender\": {\n    \"type\": \"bot\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4784,
        288
      ],
      "id": "8f648c1e-478d-48e4-8866-9187659dc888",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Zhnapx6EMtJKOOW9",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7371417a-70c7-4cb2-936c-5a09884e761b",
              "leftValue": "={{ $('AI Agent').item.json.output.Response.Parte2 }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5008,
        288
      ],
      "id": "795edc27-8dae-4c85-a0d7-216e128be8ec",
      "name": "If6"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5232,
        288
      ],
      "id": "25efc074-a9b9-4548-bf65-c2f7456df523",
      "name": "Wait2",
      "webhookId": "751bef90-71de-41d2-ac4f-795b995cc5dd"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "79d91a9e-b4fa-47bd-a54a-6dcf817d24b5",
              "leftValue": "={{ $('AI Agent').item.json.output.Response.Parte3 }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5680,
        288
      ],
      "id": "f7333fa1-b8f5-44a1-98de-3369dd38791b",
      "name": "If7"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5904,
        288
      ],
      "id": "e6316694-f051-4203-8ec1-a84528b3980e",
      "name": "Wait3",
      "webhookId": "751bef90-71de-41d2-ac4f-795b995cc5dd"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://n8n2nkz-chatwoot.vc1wee.easypanel.host//api/v1/accounts/{{ $('Edit Fields').item.json.accountID }}/conversations/{{ $('Edit Fields').item.json.conversationID }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\":{{ JSON.stringify($('AI Agent').item.json.output.Response.Parte2) }} ,\n  \"private\": false,\n  \"message_type\": \"outgoing\",\n  \"sender\": {\n    \"type\": \"bot\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5456,
        288
      ],
      "id": "1973bfa2-d90c-43db-a4dc-57ef239969ee",
      "name": "HTTP Request2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Zhnapx6EMtJKOOW9",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://n8n2nkz-chatwoot.vc1wee.easypanel.host//api/v1/accounts/{{ $('Edit Fields').item.json.accountID }}/conversations/{{ $('Edit Fields').item.json.conversationID }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\":{{ JSON.stringify($('AI Agent').item.json.output.Response.Parte3) }} ,\n  \"private\": false,\n  \"message_type\": \"outgoing\",\n  \"sender\": {\n    \"type\": \"bot\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        6128,
        288
      ],
      "id": "a72cfda5-e979-42b5-8ab3-74530c6220cc",
      "name": "HTTP Request3",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Zhnapx6EMtJKOOW9",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "96158e05-c548-462c-94c3-8138dd2ceaf9",
              "leftValue": "={{ $json.message.last() }}",
              "rightValue": "={{ $('Edit Fields3').item.json.mensaje_audio }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2496,
        192
      ],
      "id": "0c94a833-5148-42b9-ae1a-1b2cd315e8df",
      "name": "If2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d6581874-f941-437c-b4a6-90cb46415c1d",
              "leftValue": "={{ $json.tipo_mensaje }}",
              "rightValue": "audio",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        704,
        288
      ],
      "id": "ca53525b-fde1-47b1-9256-071612fb8ec0",
      "name": "If4"
    },
    {
      "parameters": {
        "description": "Usa esta herramienta cuando necesites más razonamiento"
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        4064,
        512
      ],
      "id": "a53f0e4b-6dac-4257-bc48-94b5057c3311",
      "name": "Think"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n2nkz-n8n.vc1wee.easypanel.host",
            "user-agent": "rest-client/2.1.0 (linux-musl x86_64) ruby/3.3.3p89",
            "content-length": "3176",
            "accept": "application/json",
            "accept-encoding": "gzip;q=1.0,deflate;q=0.6,identity;q=0.3",
            "content-type": "application/json",
            "x-forwarded-for": "172.19.0.1",
            "x-forwarded-host": "n8n2nkz-n8n.vc1wee.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "88eeb68a63a5",
            "x-real-ip": "172.19.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "account": {
              "id": 1,
              "name": "KZ"
            },
            "additional_attributes": {},
            "content_attributes": {},
            "content_type": "text",
            "content": null,
            "conversation": {
              "additional_attributes": {},
              "can_reply": true,
              "channel": "Channel::Api",
              "contact_inbox": {
                "id": 4,
                "contact_id": 2,
                "inbox_id": 1,
                "source_id": "2ec28364-cd73-40ed-8916-48903100d6eb",
                "created_at": "2026-01-10T18:08:59.565Z",
                "updated_at": "2026-01-10T18:08:59.565Z",
                "hmac_verified": false,
                "pubsub_token": "gurWbVcYvsKhvLhebMRnc8kk"
              },
              "id": 2,
              "inbox_id": 1,
              "messages": [
                {
                  "id": 237,
                  "content": null,
                  "account_id": 1,
                  "inbox_id": 1,
                  "conversation_id": 2,
                  "message_type": 1,
                  "created_at": 1768562210,
                  "updated_at": "2026-01-16T11:16:50.525Z",
                  "private": false,
                  "status": "sent",
                  "source_id": "WAID:ACA673BB1617852DE0175F7AF98DC0D9",
                  "content_type": "text",
                  "content_attributes": {},
                  "sender_type": "User",
                  "sender_id": 1,
                  "external_source_ids": {},
                  "additional_attributes": {},
                  "processed_message_content": null,
                  "sentiment": {},
                  "conversation": {
                    "assignee_id": null,
                    "unread_count": 0,
                    "last_activity_at": 1768562210,
                    "contact_inbox": {
                      "source_id": "2ec28364-cd73-40ed-8916-48903100d6eb"
                    }
                  },
                  "attachments": [
                    {
                      "id": 36,
                      "message_id": 237,
                      "file_type": "audio",
                      "account_id": 1,
                      "extension": null,
                      "data_url": "http://https/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBSUT09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--1467b25e643a2c0cc25f9ec7c1e616dd77831101/tr7c8.oga",
                      "thumb_url": "",
                      "file_size": 8766,
                      "width": null,
                      "height": null
                    }
                  ],
                  "sender": {
                    "id": 1,
                    "name": "Carlos",
                    "available_name": "Carlos",
                    "avatar_url": "",
                    "type": "user",
                    "availability_status": null,
                    "thumbnail": ""
                  }
                }
              ],
              "labels": [],
              "meta": {
                "sender": {
                  "additional_attributes": {},
                  "custom_attributes": {},
                  "email": null,
                  "id": 2,
                  "identifier": "22673300176922@lid",
                  "name": "34622924906",
                  "phone_number": "+34622924906",
                  "thumbnail": "http://https/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBEdz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--f764ed7dff8669a9ee46cdfac52428f39f7927b6/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJYW5CbkJqb0dSVlE2RTNKbGMybDZaVjkwYjE5bWFXeHNXd2RwQWZvdyIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--3ee3a98e3eb1528ac39b3dd1284c2b0d768e8e96/264751741_710510746666595_1701232651772483746_n.jpg",
                  "type": "contact"
                },
                "assignee": null,
                "team": null,
                "hmac_verified": false
              },
              "status": "open",
              "custom_attributes": {},
              "snoozed_until": null,
              "unread_count": 0,
              "first_reply_created_at": "2026-01-10T18:08:59.748Z",
              "priority": null,
              "waiting_since": 0,
              "agent_last_seen_at": 1768562108,
              "contact_last_seen_at": 0,
              "last_activity_at": 1768562210,
              "timestamp": 1768562210,
              "created_at": 1768068539
            },
            "created_at": "2026-01-16T11:16:50.525Z",
            "id": 237,
            "inbox": {
              "id": 1,
              "name": "Practica UDIA"
            },
            "message_type": "outgoing",
            "private": false,
            "sender": {
              "id": 1,
              "name": "Carlos",
              "email": "carlos.f.g.work@gmail.com",
              "type": "user"
            },
            "source_id": "WAID:ACA673BB1617852DE0175F7AF98DC0D9",
            "attachments": [
              {
                "id": 36,
                "message_id": 237,
                "file_type": "audio",
                "account_id": 1,
                "extension": null,
                "data_url": "http://https/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBSUT09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--1467b25e643a2c0cc25f9ec7c1e616dd77831101/tr7c8.oga",
                "thumb_url": "",
                "file_size": 8766,
                "width": null,
                "height": null
              }
            ],
            "event": "message_created"
          },
          "webhookUrl": "https://n8n2nkz-n8n.vc1wee.easypanel.host/webhook/cf611be9-ebe6-48f4-af1c-6996d5dfb497",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Europe/Madrid",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "updatedAt": "2026-01-10T18:04:19.579Z",
      "createdAt": "2026-01-10T18:04:19.579Z",
      "role": "workflow:owner",
      "workflowId": "mJp5fbamZrQJccv1",
      "projectId": "Mg9CftDHMIrQGniA"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-01-16T13:40:48.875Z",
  "versionId": "e191195b-f3b2-4f5b-ae2e-37c7e3a84727"
}