Newworkflows/Steel & Soul — Modificar Cita.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-04-13T12:10:34.000Z",
    "createdAt": "2026-04-13T12:03:48.472Z",
    "versionId": "b02309c5-5f1f-427f-8caf-055d2e51e9d4",
    "workflowId": "Ojm4L0K6gn2fgW5F",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "d0f285d2-58a3-4234-a71a-4b298f9068ac",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          432,
          320
        ],
        "id": "abb394bb-e669-4c93-bd9e-e311ebafcfda",
        "name": "Webhook",
        "webhookId": "d0f285d2-58a3-4234-a71a-4b298f9068ac"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\n  \"results\": [\n    {\n      \"toolCallId\": \"{{ $('code').item.json.tool_call_id }}\",\n      \"result\": \"{{ $json.output }}\"\n    }\n  ]\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.4,
        "position": [
          1344,
          320
        ],
        "id": "ce4412f7-2213-4b33-a971-18e23c257f29",
        "name": "Respond to Webhook"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Nombre cliente: {{ $json.nombre_cliente }}\nTelefono: {{ $json.telefono_cliente }}\n\nCambios solicitados:\n- Nueva fecha: {{ $json.nueva_fecha }}\n- Nueva hora: {{ $json.nueva_hora }}\n- Nuevo profesional: {{ $json.nuevo_profesional }}\n- Nuevo servicio: {{ $json.nuevo_servicio }}\n- Nueva duracion: {{ $json.nueva_duracion_minutos }} minutos\n\nBusca la cita de este cliente por su telefono en Google Calendar y aplica los cambios.",
          "options": {
            "systemMessage": "=Eres un asistente interno de Steel & Soul Original Edition. Tu única función es modificar citas existentes en Google Calendar.\n\nINSTRUCCIONES:\n1. Usa la tool Get Many de Google Calendar para obtener todos los eventos futuros.\n2. Busca el evento cuya descripcion contenga el telefono del cliente.\n3. Si encuentras el evento, aplica los cambios solicitados usando la tool Update.\n4. Modifica solo los campos informados — no toques los que no cambian.\n5. Si nueva_fecha esta vacia, mantén la fecha actual del evento.\n6. Si nueva_hora esta vacia, mantén la hora actual del evento.\n7. Si nuevo_servicio esta informado, actualiza el titulo del evento.\n8. Si nuevo_profesional esta informado, actualiza la descripcion del evento.\n9. Responde SIEMPRE en español de España.\n10. Responde SOLO con el resultado — sin saludos ni texto adicional.\n\nFORMATO DE RESPUESTA:\n- Si se modifica correctamente: \"Cita modificada correctamente para [nombre_cliente]. Nueva cita el [fecha] a las [hora] con [profesional] para [servicio].\"\n- Si no se encuentra la cita: \"No encontre ninguna cita asociada al telefono [telefono_cliente]. Por favor verifica los datos.\"\n- Si hay error: \"Error al modificar la cita. Por favor intentalo de nuevo.\""
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3,
        "position": [
          936,
          320
        ],
        "id": "94592bc2-05dd-4842-8f57-f87e1ac9a63b",
        "name": "AI Agent1"
      },
      {
        "parameters": {
          "jsCode": "const body = $input.first().json.body;\nconst toolCall = body.message.toolCalls[0];\nconst args = toolCall.function.arguments;\n\nreturn [{\n  json: {\n    tool_call_id: toolCall.id,\n    nombre_cliente: args.nombre_cliente || '',\n    telefono_cliente: args.telefono_cliente || '',\n    nueva_fecha: args.nueva_fecha || '',\n    nueva_hora: args.nueva_hora || '',\n    nuevo_profesional: args.nuevo_profesional || '',\n    nuevo_servicio: args.nuevo_servicio || '',\n    nueva_duracion_minutos: args.nueva_duracion_minutos || 30\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          656,
          320
        ],
        "id": "dbfac606-1927-4186-acc9-1fc15582ec16",
        "name": "code"
      },
      {
        "parameters": {
          "operation": "getAll",
          "calendar": {
            "__rl": true,
            "value": "30e5d3919f0baf3890a0a23cf852c554193852256f08a1eb071bdc8f963bfe67@group.calendar.google.com",
            "mode": "list",
            "cachedResultName": "Steel and Soul"
          },
          "timeMax": "={{ $now.plus({ year: 1 }) }}",
          "options": {}
        },
        "type": "n8n-nodes-base.googleCalendarTool",
        "typeVersion": 1.3,
        "position": [
          1008,
          544
        ],
        "id": "9fbfd61a-c6d9-49db-a253-170923bca44b",
        "name": "Get many events",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "BxLdTiBYRwntbItp",
            "name": "Google Calendar account 2"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "calendar": {
            "__rl": true,
            "value": "30e5d3919f0baf3890a0a23cf852c554193852256f08a1eb071bdc8f963bfe67@group.calendar.google.com",
            "mode": "list",
            "cachedResultName": "Steel and Soul"
          },
          "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
          "updateFields": {
            "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
            "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
            "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
            "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
          }
        },
        "type": "n8n-nodes-base.googleCalendarTool",
        "typeVersion": 1.3,
        "position": [
          1136,
          544
        ],
        "id": "ad517c80-7140-4c18-9e29-080e60163afe",
        "name": "Update event",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "BxLdTiBYRwntbItp",
            "name": "Google Calendar account 2"
          }
        }
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4.1-mini"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          880,
          544
        ],
        "id": "c417c627-6235-478b-9867-7f666d43783f",
        "name": "OpenAI",
        "credentials": {
          "openAiApi": {
            "id": "WvSLkCujVhY8jIGz",
            "name": "OpenAi account"
          }
        }
      }
    ],
    "connections": {
      "AI Agent1": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "code",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "code": {
        "main": [
          [
            {
              "node": "AI Agent1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many events": {
        "ai_tool": [
          [
            {
              "node": "AI Agent1",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Update event": {
        "ai_tool": [
          [
            {
              "node": "AI Agent1",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent1",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Carlos Fernández",
    "name": "Steel & Soul — Modificar Cita",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "b02309c5-5f1f-427f-8caf-055d2e51e9d4",
  "connections": {
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "code": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-04-08T12:06:34.448Z",
  "id": "Ojm4L0K6gn2fgW5F",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Steel & Soul — Modificar Cita",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d0f285d2-58a3-4234-a71a-4b298f9068ac",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        432,
        320
      ],
      "id": "abb394bb-e669-4c93-bd9e-e311ebafcfda",
      "name": "Webhook",
      "webhookId": "d0f285d2-58a3-4234-a71a-4b298f9068ac"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"results\": [\n    {\n      \"toolCallId\": \"{{ $('code').item.json.tool_call_id }}\",\n      \"result\": \"{{ $json.output }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1344,
        320
      ],
      "id": "ce4412f7-2213-4b33-a971-18e23c257f29",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Nombre cliente: {{ $json.nombre_cliente }}\nTelefono: {{ $json.telefono_cliente }}\n\nCambios solicitados:\n- Nueva fecha: {{ $json.nueva_fecha }}\n- Nueva hora: {{ $json.nueva_hora }}\n- Nuevo profesional: {{ $json.nuevo_profesional }}\n- Nuevo servicio: {{ $json.nuevo_servicio }}\n- Nueva duracion: {{ $json.nueva_duracion_minutos }} minutos\n\nBusca la cita de este cliente por su telefono en Google Calendar y aplica los cambios.",
        "options": {
          "systemMessage": "=Eres un asistente interno de Steel & Soul Original Edition. Tu única función es modificar citas existentes en Google Calendar.\n\nINSTRUCCIONES:\n1. Usa la tool Get Many de Google Calendar para obtener todos los eventos futuros.\n2. Busca el evento cuya descripcion contenga el telefono del cliente.\n3. Si encuentras el evento, aplica los cambios solicitados usando la tool Update.\n4. Modifica solo los campos informados — no toques los que no cambian.\n5. Si nueva_fecha esta vacia, mantén la fecha actual del evento.\n6. Si nueva_hora esta vacia, mantén la hora actual del evento.\n7. Si nuevo_servicio esta informado, actualiza el titulo del evento.\n8. Si nuevo_profesional esta informado, actualiza la descripcion del evento.\n9. Responde SIEMPRE en español de España.\n10. Responde SOLO con el resultado — sin saludos ni texto adicional.\n\nFORMATO DE RESPUESTA:\n- Si se modifica correctamente: \"Cita modificada correctamente para [nombre_cliente]. Nueva cita el [fecha] a las [hora] con [profesional] para [servicio].\"\n- Si no se encuentra la cita: \"No encontre ninguna cita asociada al telefono [telefono_cliente]. Por favor verifica los datos.\"\n- Si hay error: \"Error al modificar la cita. Por favor intentalo de nuevo.\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        936,
        320
      ],
      "id": "94592bc2-05dd-4842-8f57-f87e1ac9a63b",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst toolCall = body.message.toolCalls[0];\nconst args = toolCall.function.arguments;\n\nreturn [{\n  json: {\n    tool_call_id: toolCall.id,\n    nombre_cliente: args.nombre_cliente || '',\n    telefono_cliente: args.telefono_cliente || '',\n    nueva_fecha: args.nueva_fecha || '',\n    nueva_hora: args.nueva_hora || '',\n    nuevo_profesional: args.nuevo_profesional || '',\n    nuevo_servicio: args.nuevo_servicio || '',\n    nueva_duracion_minutos: args.nueva_duracion_minutos || 30\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        320
      ],
      "id": "dbfac606-1927-4186-acc9-1fc15582ec16",
      "name": "code"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "30e5d3919f0baf3890a0a23cf852c554193852256f08a1eb071bdc8f963bfe67@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Steel and Soul"
        },
        "timeMax": "={{ $now.plus({ year: 1 }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1008,
        544
      ],
      "id": "9fbfd61a-c6d9-49db-a253-170923bca44b",
      "name": "Get many events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "BxLdTiBYRwntbItp",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "30e5d3919f0baf3890a0a23cf852c554193852256f08a1eb071bdc8f963bfe67@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Steel and Soul"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "updateFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
          "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1136,
        544
      ],
      "id": "ad517c80-7140-4c18-9e29-080e60163afe",
      "name": "Update event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "BxLdTiBYRwntbItp",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        880,
        544
      ],
      "id": "c417c627-6235-478b-9867-7f666d43783f",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "WvSLkCujVhY8jIGz",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-04-08T12:06:34.460Z",
      "createdAt": "2026-04-08T12:06:34.460Z",
      "role": "workflow:owner",
      "workflowId": "Ojm4L0K6gn2fgW5F",
      "projectId": "Mg9CftDHMIrQGniA"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-04-13T12:03:48.469Z",
  "versionId": "b02309c5-5f1f-427f-8caf-055d2e51e9d4"
}