Newworkflows/Steel & Soul — Agendar Cita.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-04-19T19:09:24.000Z",
    "createdAt": "2026-04-13T00:38:05.144Z",
    "versionId": "08d9d4d8-f39c-41be-a1e8-dabb5301612f",
    "workflowId": "H7EquWUB4liqIkcYAkxgP",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "e2287af4-043f-4638-9231-161aa156b7bd",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -992,
          48
        ],
        "id": "0932737b-910c-4546-8fd0-6069bfb1a390",
        "name": "Agendar",
        "webhookId": "e2287af4-043f-4638-9231-161aa156b7bd"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\n  \"results\": [\n    {\n      \"toolCallId\": \"{{ $('code').item.json.tool_call_id }}\",\n      \"result\": \"{{ $json.output }}\"\n    }\n  ]\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.4,
        "position": [
          -80,
          48
        ],
        "id": "5b7640c2-48a6-49e2-8a02-683fb811cc7a",
        "name": "Respond to Webhook"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Nombre cliente: {{ $json.nombre_cliente }}\nTelefono: {{ $json.telefono_cliente }}\nServicio: {{ $json.servicio }}\nProfesional: {{ $json.profesional }}\nFecha: {{ $json.fecha }}\nHora: {{ $json.hora }}\nDuracion: {{ $json.duracion_minutos }} minutos\nNotas: {{ $json.notas }}\n\nCrea el evento en Google Calendar con estos datos.",
          "options": {
            "systemMessage": "=Eres un asistente interno de Steel & Soul Original Edition. Tu única función es crear eventos en Google Calendar cuando se agenda una cita.\n\nINSTRUCCIONES:\n1. Crea un evento en Google Calendar con los datos recibidos.\n2. El titulo del evento debe ser: [servicio] - [nombre_cliente]\n3. La descripcion del evento debe incluir: Telefono: [telefono_cliente] | Profesional: [profesional] | Notas: [notas]\n4. Usa la fecha y hora exactas recibidas — no las modifiques.\n5. Responde SIEMPRE en español de España.\n6. Responde SOLO con el resultado — sin saludos ni texto adicional.\n\nFORMATO DE RESPUESTA:\n- Si se crea correctamente: \"Cita confirmada para [nombre_cliente] el [fecha] a las [hora] con [profesional] para [servicio].\"\n- Si hay error: \"Error al crear la cita. Por favor intentalo de nuevo.\""
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3,
        "position": [
          -496,
          48
        ],
        "id": "bb1bd42e-0e76-42e9-8beb-6917882ebb05",
        "name": "AI Agent1"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4.1-mini"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          -592,
          256
        ],
        "id": "f8b0134c-24a8-4917-9794-2bb2637d5e8b",
        "name": "OpenAI Chat Model1",
        "credentials": {
          "openAiApi": {
            "id": "WvSLkCujVhY8jIGz",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('code').item.json.tool_call_id }}"
        },
        "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
        "typeVersion": 1.5,
        "position": [
          -432,
          256
        ],
        "id": "3cfff6b8-58a5-424a-803a-35240c27e483",
        "name": "Redis Chat Memory",
        "credentials": {
          "redis": {
            "id": "rmwGdInGMfi5lhMd",
            "name": "Redis account"
          }
        }
      },
      {
        "parameters": {
          "calendar": {
            "__rl": true,
            "value": "30e5d3919f0baf3890a0a23cf852c554193852256f08a1eb071bdc8f963bfe67@group.calendar.google.com",
            "mode": "list",
            "cachedResultName": "Steel and Soul"
          },
          "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
          "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
          "additionalFields": {
            "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
            "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
          }
        },
        "type": "n8n-nodes-base.googleCalendarTool",
        "typeVersion": 1.3,
        "position": [
          -272,
          272
        ],
        "id": "8df3f286-714d-4a91-9e04-227c1312371e",
        "name": "Create an event in Google Calendar",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "BxLdTiBYRwntbItp",
            "name": "Google Calendar account 2"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const body = $input.first().json.body;\nconst toolCall = body.message.toolCalls[0];\nconst args = toolCall.function.arguments;\n\nreturn [{\n  json: {\n    tool_call_id: toolCall.id,\n    nombre_cliente: args.nombre_cliente || '',\n    telefono_cliente: args.telefono_cliente || '',\n    servicio: args.servicio || '',\n    profesional: args.profesional || '',\n    fecha: args.fecha || '',\n    hora: args.hora || '',\n    duracion_minutos: args.duracion_minutos || 30,\n    notas: args.notas || ''\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -736,
          48
        ],
        "id": "0a537a3e-5253-4fe2-9c6e-1f080ad3edbb",
        "name": "code"
      }
    ],
    "connections": {
      "Agendar": {
        "main": [
          [
            {
              "node": "code",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent1": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model1": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent1",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Redis Chat Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent1",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Create an event in Google Calendar": {
        "ai_tool": [
          [
            {
              "node": "AI Agent1",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "code": {
        "main": [
          [
            {
              "node": "AI Agent1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Carlos Fernández",
    "name": "Steel & Soul — Agendar Cita",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "08d9d4d8-f39c-41be-a1e8-dabb5301612f",
  "connections": {
    "Agendar": {
      "main": [
        [
          {
            "node": "code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "code": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-23T12:39:52.245Z",
  "id": "H7EquWUB4liqIkcYAkxgP",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Steel & Soul — Agendar Cita",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e2287af4-043f-4638-9231-161aa156b7bd",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -992,
        48
      ],
      "id": "0932737b-910c-4546-8fd0-6069bfb1a390",
      "name": "Agendar",
      "webhookId": "e2287af4-043f-4638-9231-161aa156b7bd"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"results\": [\n    {\n      \"toolCallId\": \"{{ $('code').item.json.tool_call_id }}\",\n      \"result\": \"{{ $json.output }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -80,
        48
      ],
      "id": "5b7640c2-48a6-49e2-8a02-683fb811cc7a",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Nombre cliente: {{ $json.nombre_cliente }}\nTelefono: {{ $json.telefono_cliente }}\nServicio: {{ $json.servicio }}\nProfesional: {{ $json.profesional }}\nFecha: {{ $json.fecha }}\nHora: {{ $json.hora }}\nDuracion: {{ $json.duracion_minutos }} minutos\nNotas: {{ $json.notas }}\n\nCrea el evento en Google Calendar con estos datos.",
        "options": {
          "systemMessage": "=Eres un asistente interno de Steel & Soul Original Edition. Tu única función es crear eventos en Google Calendar cuando se agenda una cita.\n\nINSTRUCCIONES:\n1. Crea un evento en Google Calendar con los datos recibidos.\n2. El titulo del evento debe ser: [servicio] - [nombre_cliente]\n3. La descripcion del evento debe incluir: Telefono: [telefono_cliente] | Profesional: [profesional] | Notas: [notas]\n4. Usa la fecha y hora exactas recibidas — no las modifiques.\n5. Responde SIEMPRE en español de España.\n6. Responde SOLO con el resultado — sin saludos ni texto adicional.\n\nFORMATO DE RESPUESTA:\n- Si se crea correctamente: \"Cita confirmada para [nombre_cliente] el [fecha] a las [hora] con [profesional] para [servicio].\"\n- Si hay error: \"Error al crear la cita. Por favor intentalo de nuevo.\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -496,
        48
      ],
      "id": "bb1bd42e-0e76-42e9-8beb-6917882ebb05",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -592,
        256
      ],
      "id": "f8b0134c-24a8-4917-9794-2bb2637d5e8b",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "WvSLkCujVhY8jIGz",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('code').item.json.tool_call_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        -432,
        256
      ],
      "id": "3cfff6b8-58a5-424a-803a-35240c27e483",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "rmwGdInGMfi5lhMd",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "30e5d3919f0baf3890a0a23cf852c554193852256f08a1eb071bdc8f963bfe67@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Steel and Soul"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        -272,
        272
      ],
      "id": "8df3f286-714d-4a91-9e04-227c1312371e",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "BxLdTiBYRwntbItp",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst toolCall = body.message.toolCalls[0];\nconst args = toolCall.function.arguments;\n\nreturn [{\n  json: {\n    tool_call_id: toolCall.id,\n    nombre_cliente: args.nombre_cliente || '',\n    telefono_cliente: args.telefono_cliente || '',\n    servicio: args.servicio || '',\n    profesional: args.profesional || '',\n    fecha: args.fecha || '',\n    hora: args.hora || '',\n    duracion_minutos: args.duracion_minutos || 30,\n    notas: args.notas || ''\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -736,
        48
      ],
      "id": "0a537a3e-5253-4fe2-9c6e-1f080ad3edbb",
      "name": "code"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Europe/Madrid",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "G3LUdMqnpavs5AUk"
  },
  "shared": [
    {
      "updatedAt": "2026-02-23T12:39:52.251Z",
      "createdAt": "2026-02-23T12:39:52.251Z",
      "role": "workflow:owner",
      "workflowId": "H7EquWUB4liqIkcYAkxgP",
      "projectId": "Mg9CftDHMIrQGniA"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-04-20T17:47:52.726Z",
  "versionId": "08d9d4d8-f39c-41be-a1e8-dabb5301612f"
}