Newworkflows/Steel & Soul — Cancelar Cita.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-04-13T12:26:01.000Z",
    "createdAt": "2026-04-13T12:23:45.266Z",
    "versionId": "76f9b27f-3815-4499-8189-39de82784a56",
    "workflowId": "Q0enUCunXrEAABqI",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "ccd8a178-6957-4148-add7-bac86f94b5e2",
          "responseMode": "responseNode",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          448,
          336
        ],
        "id": "0598c19a-80b0-41f2-920c-60151a186e34",
        "name": "Webhook",
        "webhookId": "ccd8a178-6957-4148-add7-bac86f94b5e2"
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={\n  \"results\": [\n    {\n      \"toolCallId\": \"{{ $('Code').item.json.tool_call_id }}\",\n      \"result\": \"{{ $json.output }}\"\n    }\n  ]\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.4,
        "position": [
          1360,
          336
        ],
        "id": "efee71f2-fb7b-48ca-b238-c78ca77a028d",
        "name": "Respond to Webhook"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Nombre cliente: {{ $json.nombre_cliente }}\nTelefono: {{ $json.telefono_cliente }}\n\nBusca la cita de este cliente por su telefono en Google Calendar y cancelala.",
          "options": {
            "systemMessage": "=Eres un asistente interno de Steel & Soul Original Edition. Tu única función es cancelar citas existentes en Google Calendar.\n\nINSTRUCCIONES:\n1. Usa la tool Get Many de Google Calendar para obtener todos los eventos futuros.\n2. Busca el evento cuya descripcion contenga el telefono del cliente.\n3. Si encuentras el evento, eliminalo usando la tool Delete.\n4. Responde SIEMPRE en español de España.\n5. Responde SOLO con el resultado — sin saludos ni texto adicional.\n\nFORMATO DE RESPUESTA:\n- Si se cancela correctamente: \"Cita cancelada correctamente para [nombre_cliente]. Si necesitas reservar de nuevo, estoy a tu disposicion.\"\n- Si no se encuentra la cita: \"No encontre ninguna cita asociada al telefono [telefono_cliente]. Por favor verifica los datos.\"\n- Si hay error: \"Error al cancelar la cita. Por favor intentalo de nuevo.\""
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3,
        "position": [
          952,
          336
        ],
        "id": "2de5e83e-7625-44b3-9962-cc584667774c",
        "name": "AI Agent1"
      },
      {
        "parameters": {
          "operation": "getAll",
          "calendar": {
            "__rl": true,
            "value": "30e5d3919f0baf3890a0a23cf852c554193852256f08a1eb071bdc8f963bfe67@group.calendar.google.com",
            "mode": "list",
            "cachedResultName": "Steel and Soul"
          },
          "timeMax": "={{ $now.plus({ year: 1 }) }}",
          "options": {}
        },
        "type": "n8n-nodes-base.googleCalendarTool",
        "typeVersion": 1.3,
        "position": [
          1024,
          560
        ],
        "id": "53ce2f8c-b5d6-4931-9dca-032d36ccfd75",
        "name": "Get many events in Google Calendar",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "BxLdTiBYRwntbItp",
            "name": "Google Calendar account 2"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const body = $input.first().json.body;\nconst toolCall = body.message.toolCalls[0];\nconst args = toolCall.function.arguments;\n\nreturn [{\n  json: {\n    tool_call_id: toolCall.id,\n    nombre_cliente: args.nombre_cliente || '',\n    telefono_cliente: args.telefono_cliente || '',\n    fecha: args.fecha || '',\n    hora: args.hora || ''\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          672,
          336
        ],
        "id": "5a209de8-ce3e-4f47-8299-371f3c2a55f3",
        "name": "Code"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4.1-mini"
          },
          "builtInTools": {},
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          896,
          560
        ],
        "id": "beb67575-9c12-4ee9-82f2-757f68c7f126",
        "name": "OpenAI",
        "credentials": {
          "openAiApi": {
            "id": "WvSLkCujVhY8jIGz",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "operation": "delete",
          "calendar": {
            "__rl": true,
            "value": "30e5d3919f0baf3890a0a23cf852c554193852256f08a1eb071bdc8f963bfe67@group.calendar.google.com",
            "mode": "list",
            "cachedResultName": "Steel and Soul"
          },
          "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
          "options": {}
        },
        "type": "n8n-nodes-base.googleCalendarTool",
        "typeVersion": 1.3,
        "position": [
          1152,
          560
        ],
        "id": "de1e6a35-ebdd-4187-bfc9-789b337e1bca",
        "name": "Delete an event in Google Calendar",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "BxLdTiBYRwntbItp",
            "name": "Google Calendar account 2"
          }
        }
      }
    ],
    "connections": {
      "AI Agent1": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many events in Google Calendar": {
        "ai_tool": [
          [
            {
              "node": "AI Agent1",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Code",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code": {
        "main": [
          [
            {
              "node": "AI Agent1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent1",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Delete an event in Google Calendar": {
        "ai_tool": [
          [
            {
              "node": "AI Agent1",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Carlos Fernández",
    "name": "Steel & Soul — Cancelar Cita",
    "description": "",
    "autosaved": false
  },
  "activeVersionId": "76f9b27f-3815-4499-8189-39de82784a56",
  "connections": {
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Delete an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-04-08T12:05:59.702Z",
  "id": "Q0enUCunXrEAABqI",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Steel & Soul — Cancelar Cita",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ccd8a178-6957-4148-add7-bac86f94b5e2",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        512,
        336
      ],
      "id": "0598c19a-80b0-41f2-920c-60151a186e34",
      "name": "Webhook",
      "webhookId": "ccd8a178-6957-4148-add7-bac86f94b5e2"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"results\": [\n    {\n      \"toolCallId\": \"{{ $('Code').item.json.tool_call_id }}\",\n      \"result\": \"{{ $json.output }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1360,
        336
      ],
      "id": "efee71f2-fb7b-48ca-b238-c78ca77a028d",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Nombre cliente: {{ $json.nombre_cliente }}\nTelefono: {{ $json.telefono_cliente }}\n\nBusca la cita de este cliente por su telefono en Google Calendar y cancelala.",
        "options": {
          "systemMessage": "=Eres un asistente interno de Steel & Soul Original Edition. Tu única función es cancelar citas existentes en Google Calendar.\n\nINSTRUCCIONES:\n1. Usa la tool Get Many de Google Calendar para obtener todos los eventos futuros.\n2. Busca el evento cuya descripcion contenga el telefono del cliente.\n3. Si encuentras el evento, eliminalo usando la tool Delete.\n4. Responde SIEMPRE en español de España.\n5. Responde SOLO con el resultado — sin saludos ni texto adicional.\n\nFORMATO DE RESPUESTA:\n- Si se cancela correctamente: \"Cita cancelada correctamente para [nombre_cliente]. Si necesitas reservar de nuevo, estoy a tu disposicion.\"\n- Si no se encuentra la cita: \"No encontre ninguna cita asociada al telefono [telefono_cliente]. Por favor verifica los datos.\"\n- Si hay error: \"Error al cancelar la cita. Por favor intentalo de nuevo.\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        960,
        336
      ],
      "id": "2de5e83e-7625-44b3-9962-cc584667774c",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "30e5d3919f0baf3890a0a23cf852c554193852256f08a1eb071bdc8f963bfe67@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Steel and Soul"
        },
        "timeMax": "={{ $now.plus({ year: 1 }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1024,
        560
      ],
      "id": "53ce2f8c-b5d6-4931-9dca-032d36ccfd75",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "BxLdTiBYRwntbItp",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst toolCall = body.message.toolCalls[0];\nconst args = toolCall.function.arguments;\n\nreturn [{\n  json: {\n    tool_call_id: toolCall.id,\n    nombre_cliente: args.nombre_cliente || '',\n    telefono_cliente: args.telefono_cliente || '',\n    fecha: args.fecha || '',\n    hora: args.hora || ''\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        336
      ],
      "id": "5a209de8-ce3e-4f47-8299-371f3c2a55f3",
      "name": "Code"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        896,
        560
      ],
      "id": "beb67575-9c12-4ee9-82f2-757f68c7f126",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "WvSLkCujVhY8jIGz",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "30e5d3919f0baf3890a0a23cf852c554193852256f08a1eb071bdc8f963bfe67@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Steel and Soul"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1152,
        560
      ],
      "id": "de1e6a35-ebdd-4187-bfc9-789b337e1bca",
      "name": "Delete an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "BxLdTiBYRwntbItp",
          "name": "Google Calendar account 2"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "shared": [
    {
      "updatedAt": "2026-04-08T12:05:59.711Z",
      "createdAt": "2026-04-08T12:05:59.711Z",
      "role": "workflow:owner",
      "workflowId": "Q0enUCunXrEAABqI",
      "projectId": "Mg9CftDHMIrQGniA"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-04-13T17:15:34.597Z",
  "versionId": "e6ab0b10-b716-4c39-ab08-512c36801064"
}