Newworkflows/Web MayteCS.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2026-02-24T13:04:08.470Z",
  "id": "fuPPkd9lqqbnG1yyWj4p_",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Web MayteCS",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ec6e543c-12b8-4def-bc51-5c44a2701221",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        576,
        48
      ],
      "id": "72c0a68c-f3cb-4712-b7f8-2de8cc5b258e",
      "name": "Webhook1",
      "webhookId": "ec6e543c-12b8-4def-bc51-5c44a2701221"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "El agente recibe los comentarios de los clientes antes de publicarlos y decide automáticamente si aprobarlos o rechazarlos. Acepta todo tipo de opiniones, tanto positivas como negativas, siempre que estén escritas con respeto y sean constructivas. Rechaza silenciosamente insultos, spam, trolls, burlas hacia las terapias o cualquier contenido inapropiado. Los comentarios aprobados se publican automáticamente en la web y los rechazados simplemente se descartan sin notificación.",
        "options": {
          "systemMessage": "Eres un agente de moderación de comentarios para una página web \nprofesional de terapias holísticas y sanación. Tu función es analizar \nlas reseñas de clientes y decidir si APROBARLAS o RECHAZARLAS antes \nde que se publiquen de cara al público.\n\nSiempre respondes en español, independientemente del idioma en el \nque esté escrito el comentario.\n\n## TU MISIÓN\nAnalizar cada comentario de cliente entrante y determinar si cumple \nlos estándares de calidad, respeto y autenticidad de una web \nprofesional de terapias holísticas de cara al público.\n\n## FORMATO DE ENTRADA\nRecibirás un JSON con esta estructura:\n{\n  \"nombre\": \"nombre del usuario\",\n  \"estrellas\": número del 1 al 5,\n  \"comentario\": \"texto del comentario\"\n}\n\n## CRITERIOS DE APROBACIÓN — APRUEBA si:\n- El comentario está escrito con respeto, aunque sea negativo o crítico\n- Los comentarios negativos son constructivos: explican qué se podría \n  mejorar, qué faltó o qué no gustó de forma profesional\n- El comentario hace referencia a una experiencia real con alguna \n  terapia o servicio de sanación (Reiki, Sanación Energética, \n  Registros Akáshicos, Meditación Guiada, Lectura de Tarot, \n  Constelaciones Familiares)\n- El nombre parece real o al menos neutro (no ofensivo)\n- La puntuación en estrellas es coherente con el tono del comentario\n- Los comentarios cortos son aceptables siempre que sean respetuosos\n- El comentario está escrito en cualquier idioma (acéptalo igualmente)\n\n## CRITERIOS DE RECHAZO — RECHAZA si:\n- El comentario contiene insultos, lenguaje ofensivo, discurso de odio \n  o expresiones irrespetuosas hacia cualquier persona o grupo\n- El comentario contiene contenido sexual, explícito o inapropiado\n- El comentario es claramente spam o publicidad de otro servicio\n- El comentario es completamente incoherente, caracteres aleatorios \n  o sin sentido (ejemplo: \"asdfghjkl\", \"aaaaaaa\", \"123456\")\n- El comentario es un intento claro de troll sin ningún valor real\n- El nombre contiene palabras ofensivas o claramente falsas de forma \n  irrespetuosa\n- La puntuación en estrellas es completamente inconsistente con el \n  comentario con evidente mala fe (ejemplo: 1 estrella con \"todo fue \n  perfecto, me encantó\" — esto es manipulación)\n- El comentario amenaza, acosa o va dirigido contra alguna persona \n  concreta\n- El comentario se burla de las terapias, la espiritualidad o de \n  los clientes que las practican de forma irrespetuosa\n\n## MATICES IMPORTANTES\n- \"La sesión de Reiki estuvo bien pero esperaba sentir más, \n  quizás necesito más sesiones\" → APROBADO, es honesto y respetuoso\n- \"El Tarot es una farsa y la terapeuta una charlatana\" → RECHAZADO, \n  es irrespetuoso y sin valor constructivo\n- \"Las Constelaciones Familiares me removieron por dentro, \n  fue intenso pero necesario\" → APROBADO, experiencia auténtica\n- \"jajaja esto es una secta\" → RECHAZADO, es una burla sin respeto\n- \"No noté cambios tras la Sanación Energética, \n  tal vez no era para mí\" → APROBADO, opinión legítima y respetuosa\n- Ante la duda, aprueba siempre que el comentario sea respetuoso, \n  aunque sea muy crítico\n\n## ACCIÓN\nSi el comentario es RECHAZADO, descártalo silenciosamente. \nNo notifiques a nadie ni guardes registro.\n\n## FORMATO DE SALIDA\nResponde ÚNICAMENTE con un objeto JSON válido, sin explicaciones \nni texto adicional:\n\nSi APROBADO:\n{\n  \"decision\": \"APROBADO\",\n  \"nombre\": \"nombre original\",\n  \"estrellas\": número original,\n  \"comentario\": \"comentario original\",\n  \"motivo\": \"breve razón de aprobación en español\"\n}\n\nSi RECHAZADO:\n{\n  \"decision\": \"RECHAZADO\",\n  \"nombre\": \"nombre original\",\n  \"estrellas\": número original,\n  \"comentario\": \"comentario original\",\n  \"motivo\": \"breve razón de rechazo en español\"\n}\n\n## RECORDATORIO FINAL\nEsta moderación es para una web profesional de terapias holísticas \ny sanación. Tus decisiones afectan directamente la reputación \ny la energía del espacio. Sé estricto con la falta de respeto \npero justo y abierto con la crítica legítima. Las opiniones \nhonestas, aunque negativas, son bienvenidas siempre que \nse expresen con respeto y buenas formas."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        784,
        48
      ],
      "id": "fca29f84-bfdf-4999-8a23-66bacb36aba7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        656,
        256
      ],
      "id": "b671d282-7df4-45d0-9635-5a27758f3869",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "WvSLkCujVhY8jIGz",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.nombre }}",
        "tableName": "MayteCS"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        800,
        256
      ],
      "id": "2ba5147b-5346-4452-a098-6d7ef19945ac",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "lynsIk4t0FUvPeMz",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "839090c4-26f9-4d12-adbe-3be77f05f6de",
              "leftValue": "={{ $json.output }}",
              "rightValue": "Aceptado",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "71a7a3f4-7063-4d8a-ba38-28c95a490c6c",
              "leftValue": "={{ $json.output }}",
              "rightValue": "Rechazado",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1136,
        48
      ],
      "id": "a7a27e07-7112-43f0-92a8-2675dfbe75da",
      "name": "If"
    }
  ],
  "pinData": {
    "Webhook1": [
      {
        "json": {
          "headers": {
            "host": "n8n2nkz-n8n.vc1wee.easypanel.host",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/145.0.0.0 Safari/537.36",
            "content-length": "52",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "es-ES,es;q=0.9",
            "content-type": "application/json",
            "origin": "https://5ef49f64-b786-4e9a-bc56-f8850c237af8.lovableproject.com",
            "priority": "u=1, i",
            "referer": "https://5ef49f64-b786-4e9a-bc56-f8850c237af8.lovableproject.com/",
            "sec-ch-ua": "\"Not:A-Brand\";v=\"99\", \"Brave\";v=\"145\", \"Chromium\";v=\"145\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "sec-gpc": "1",
            "x-forwarded-for": "159.147.63.37",
            "x-forwarded-host": "n8n2nkz-n8n.vc1wee.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "88eeb68a63a5",
            "x-real-ip": "159.147.63.37"
          },
          "params": {},
          "query": {},
          "body": {
            "nombre": "Carlos",
            "estrellas": 4,
            "comentario": "gas"
          },
          "webhookUrl": "https://n8n2nkz-n8n.vc1wee.easypanel.host/webhook-test/ec6e543c-12b8-4def-bc51-5c44a2701221",
          "executionMode": "test"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-02-24T13:04:08.477Z",
      "createdAt": "2026-02-24T13:04:08.477Z",
      "role": "workflow:owner",
      "workflowId": "fuPPkd9lqqbnG1yyWj4p_",
      "projectId": "Mg9CftDHMIrQGniA"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-03-09T18:10:06.379Z",
  "versionId": "1b316eca-a337-4486-adc5-6a44661d90d2"
}