workflows/Backup.json
{
  "active": false,
  "connections": {
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "github_status": {
      "main": [
        [
          {
            "node": "same",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "different",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "same": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "different": {
      "main": [
        [
          {
            "node": "GitHub Edit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "new": {
      "main": [
        [
          {
            "node": "GitHub Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Edit": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Create": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 12 hours": {
      "main": [
        [
          {
            "node": "Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n": {
      "main": [
        [
          {
            "node": "OneAtATime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isDiffOrNew": {
      "main": [
        [
          {
            "node": "github_status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "isDiffOrNew",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variables": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OneAtATime": {
      "main": [
        [
          {
            "node": "Fin",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-21T10:32:41.964Z",
  "id": "3zurMHCklwsouHYH",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Backup",
  "nodes": [
    {
      "parameters": {},
      "id": "316e1913-7a04-4448-9d98-bcb47ddb0422",
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -1536,
        224
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json[\"github_status\"]}}",
        "rules": {
          "rules": [
            {
              "value2": "same"
            },
            {
              "value2": "different",
              "output": 1
            },
            {
              "value2": "new",
              "output": 2
            }
          ]
        }
      },
      "id": "7b29f791-0b62-4660-8f1d-8e9778ec2067",
      "name": "github_status",
      "type": "n8n-nodes-base.switch",
      "position": [
        -160,
        352
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "d58585d5-fb85-4ca0-9f0c-9bd6c1505834",
      "name": "same",
      "type": "n8n-nodes-base.noOp",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "abd267d4-6095-4494-b7d6-e776cb5df6d8",
      "name": "different",
      "type": "n8n-nodes-base.noOp",
      "position": [
        0,
        224
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "36d6cc70-1b03-4f0b-8469-15a59953cc54",
      "name": "new",
      "type": "n8n-nodes-base.noOp",
      "position": [
        0,
        560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": "={{$node[\"Variables\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Variables\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Variables\"].json[\"repo\"][\"path\"]}}{{$node[\"OneAtATime\"].json[\"name\"]}}.json",
        "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
        "commitMessage": "=[N8N Backup] {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
      },
      "id": "51fea315-e9c2-44cd-a580-eee5862e0ce1",
      "name": "GitHub Edit",
      "type": "n8n-nodes-base.github",
      "position": [
        160,
        320
      ],
      "typeVersion": 1,
      "webhookId": "9a7df154-b7d6-44eb-97a4-7ca181d52d74",
      "credentials": {
        "githubApi": {
          "id": "k1oV1bLI53oGhlag",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": "={{$node[\"Variables\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Variables\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Variables\"].json[\"repo\"][\"path\"]}}{{$node[\"OneAtATime\"].json[\"name\"]}}.json",
        "fileContent": "={{$node[\"isDiffOrNew\"].json[\"n8n_data_stringy\"]}}",
        "commitMessage": "=[N8N Backup] {{$node[\"OneAtATime\"].json[\"name\"]}}.json ({{$json[\"github_status\"]}})"
      },
      "id": "0b587652-59f4-41e8-bdf9-792b2545bbef",
      "name": "GitHub Create",
      "type": "n8n-nodes-base.github",
      "position": [
        160,
        560
      ],
      "typeVersion": 1,
      "webhookId": "6eb0df8b-0807-4440-9281-06510eae9c73",
      "credentials": {
        "githubApi": {
          "id": "k1oV1bLI53oGhlag",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 12
            }
          ]
        }
      },
      "id": "e40dd720-aa72-41c2-9fbf-fee792778bc6",
      "name": "Every 12 hours",
      "type": "n8n-nodes-base.cron",
      "position": [
        -1536,
        480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "addb5f4a-09cf-41e3-9446-e92755c0f9d7",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        -1168,
        352
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "7knIsTeOpXKeRaPW",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// File Returned with Content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Get JSON Objects\n  var origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64'));\n  var n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON Objects\n  var orderedOriginal = {}\n  var orderedActual = {}\n  \n  Object.keys(origWorkflow).sort().forEach(function(key) {\n    orderedOriginal[key] = origWorkflow[key];\n  });\n  \n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n\n  // Determine Difference\n  if ( JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual) ) {\n    $input.all()[0].json.github_status = \"same\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.content_decoded = orderedOriginal;\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n// No File Returned / New Workflow\n} else {\n  // Order JSON Object\n  var n8nWorkflow = ($input.all()[1].json);\n  var orderedActual = {}\n  Object.keys(n8nWorkflow).sort().forEach(function(key) {\n    orderedActual[key] = n8nWorkflow[key];\n  });\n  \n  // Proper Formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return Items\nreturn $input.all();"
      },
      "id": "7fcc09bb-6657-4e15-9036-32a49ab314a5",
      "name": "isDiffOrNew",
      "type": "n8n-nodes-base.code",
      "position": [
        -320,
        352
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "2326b229-0152-47cf-911e-9e0a145149bc",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        -464,
        352
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "repo.owner",
              "value": "CarlKZ"
            },
            {
              "name": "repo.name",
              "value": "Backup"
            },
            {
              "name": "repo.path",
              "value": "workflows/"
            }
          ]
        },
        "options": {}
      },
      "id": "b0f10f0d-9fa1-4abb-b788-7f9e58121f2f",
      "name": "Variables",
      "type": "n8n-nodes-base.set",
      "position": [
        -1360,
        352
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "cd4547cd-b068-494f-ba6b-c7cb8654ef66",
      "name": "Fin",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -816,
        128
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "5afefe8b-9987-439b-8552-823c6cb5b27f",
      "name": "OneAtATime",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -960,
        352
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": "={{$node[\"Variables\"].json[\"repo\"][\"owner\"]}}",
        "repository": "={{$node[\"Variables\"].json[\"repo\"][\"name\"]}}",
        "filePath": "={{$node[\"Variables\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "91d27d99-841c-425b-800b-ca80090e531d",
      "name": "Get a file",
      "type": "n8n-nodes-base.github",
      "position": [
        -704,
        240
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "webhookId": "18b40e79-8ed9-4c02-8c9f-a676a8eb08d1",
      "credentials": {
        "githubApi": {
          "id": "k1oV1bLI53oGhlag",
          "name": "GitHub account"
        }
      },
      "continueOnFail": true
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Madrid",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "shared": [
    {
      "createdAt": "2025-08-21T10:32:41.973Z",
      "updatedAt": "2025-08-21T10:32:41.973Z",
      "role": "workflow:owner",
      "workflowId": "3zurMHCklwsouHYH",
      "projectId": "76fyU5IRbEoCs8Xl"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-09-15T16:56:21.000Z",
  "versionId": "347fb82d-826e-4497-b47b-226f96827306"
}