workflows/Practica 1 Grupo.json
{
  "active": false,
  "connections": {
    "If": {
      "main": [
        [],
        []
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [],
        []
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        []
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-21T10:44:46.183Z",
  "id": "XnsRWcOEcyrwDMTd",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Practica 1 Grupo",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Presupuesto }}",
                    "rightValue": "={{ 10000 }}",
                    "operator": {
                      "type": "number",
                      "operation": "gt"
                    },
                    "id": "861c0837-8bab-4bf8-a029-a5d1cce9a5aa"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7e0ad678-b1d0-4b75-84bc-ddd21895a075",
                    "leftValue": "={{ $json.Presupuesto }}",
                    "rightValue": "={{ 9999 }}",
                    "operator": {
                      "type": "number",
                      "operation": "lt"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        160,
        -256
      ],
      "id": "30344f8e-4b3d-46d5-877d-bf7166d17b5f",
      "name": "Switch"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e3003587-0efa-4c09-9edf-977d125aa2e1",
              "leftValue": "={{ $json.Presupuesto }}",
              "rightValue": 10000,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        160,
        -448
      ],
      "id": "273a4b8f-63be-4821-946e-26007470f52e",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "15JS_TCL1Q5i5rl-_8yPRcCQ_8Z6y2B3sdW_QSpfHYpc",
          "mode": "list",
          "cachedResultName": "Clasificación",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15JS_TCL1Q5i5rl-_8yPRcCQ_8Z6y2B3sdW_QSpfHYpc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15JS_TCL1Q5i5rl-_8yPRcCQ_8Z6y2B3sdW_QSpfHYpc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nombre": "={{ $json.Nombre }}",
            "Correo": "={{ $json.Email }}",
            "Pais": "={{ $json['Nacionalidad Actual'] }}",
            "Presupuesto": "={{ $json.Presupuesto }}",
            "Categoria": "=Vip"
          },
          "matchingColumns": [
            "Nombre"
          ],
          "schema": [
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Correo",
              "displayName": "Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pais",
              "displayName": "Pais",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Presupuesto",
              "displayName": "Presupuesto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Categoria",
              "displayName": "Categoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        496,
        -336
      ],
      "id": "22fc8303-c8c2-4a3c-8a02-280ebc387c25",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OQx52SMsKkOUpwda",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "15JS_TCL1Q5i5rl-_8yPRcCQ_8Z6y2B3sdW_QSpfHYpc",
          "mode": "list",
          "cachedResultName": "Clasificación",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15JS_TCL1Q5i5rl-_8yPRcCQ_8Z6y2B3sdW_QSpfHYpc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15JS_TCL1Q5i5rl-_8yPRcCQ_8Z6y2B3sdW_QSpfHYpc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nombre": "={{ $json.Nombre }}",
            "Correo": "={{ $json.Correo }}",
            "Pais": "={{ $json.Pais }}",
            "Presupuesto": "={{ $json.Presupuesto }}",
            "Categoria": "={{ $json.Categoria }}"
          },
          "matchingColumns": [
            "Nombre"
          ],
          "schema": [
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Correo",
              "displayName": "Correo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pais",
              "displayName": "Pais",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Presupuesto",
              "displayName": "Presupuesto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Categoria",
              "displayName": "Categoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        496,
        -160
      ],
      "id": "07c951aa-a767-447c-96da-25414ae0e69f",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OQx52SMsKkOUpwda",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Google Sheets Trigger').item.json.Presupuesto }}",
                    "rightValue": 10000,
                    "operator": {
                      "type": "number",
                      "operation": "gt"
                    },
                    "id": "861c0837-8bab-4bf8-a029-a5d1cce9a5aa"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7e0ad678-b1d0-4b75-84bc-ddd21895a075",
                    "leftValue": "={{ $('Google Sheets Trigger').item.json.Presupuesto }}",
                    "rightValue": 9999,
                    "operator": {
                      "type": "number",
                      "operation": "lt"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -352,
        -416
      ],
      "id": "56205b1e-4129-4c47-b8a7-1a6e83b9f255",
      "name": "Switch1"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "15JS_TCL1Q5i5rl-_8yPRcCQ_8Z6y2B3sdW_QSpfHYpc",
          "mode": "list",
          "cachedResultName": "Clasificación",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15JS_TCL1Q5i5rl-_8yPRcCQ_8Z6y2B3sdW_QSpfHYpc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15JS_TCL1Q5i5rl-_8yPRcCQ_8Z6y2B3sdW_QSpfHYpc/edit#gid=0"
        },
        "includeInOutput": "both",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -80,
        -448
      ],
      "id": "ef91fb82-650c-4ddc-9b8e-88386f0d9831",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "jF86WhiKlLRfLWrF",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Recogida Presupuesto",
        "formDescription": "Recogemos los presupuestos para enumerarlos por orden de prioridad",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Nombre",
              "placeholder": "Aquí tu nombre"
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "placeholder": "Aquí tu email"
            },
            {
              "fieldLabel": "Nacionalidad Actual",
              "placeholder": "Aquí tu nacionalidad"
            },
            {
              "fieldLabel": "Presupuesto",
              "fieldType": "number",
              "placeholder": "Aquí tu presupuesto Max"
            }
          ]
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -96,
        -256
      ],
      "id": "ff140912-7b6d-49e9-91bd-93a053230b78",
      "name": "On form submission",
      "webhookId": "9fbe00e8-ff1d-4c2b-b776-6d7f36975180"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-08-21T10:44:46.196Z",
      "updatedAt": "2025-08-21T10:44:46.196Z",
      "role": "workflow:owner",
      "workflowId": "XnsRWcOEcyrwDMTd",
      "projectId": "76fyU5IRbEoCs8Xl"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-23T18:20:38.000Z",
  "versionId": "22535f4c-3fc5-4657-88e6-1d28f92aafe1"
}