workflows/Practica 1 Grupo.json
{
  "active": false,
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append or update row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-21T10:44:46.183Z",
  "id": "XnsRWcOEcyrwDMTd",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Practica 1 Grupo",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Presupuesto }}",
                    "rightValue": "={{ 10000 }}",
                    "operator": {
                      "type": "number",
                      "operation": "gt"
                    },
                    "id": "861c0837-8bab-4bf8-a029-a5d1cce9a5aa"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7e0ad678-b1d0-4b75-84bc-ddd21895a075",
                    "leftValue": "={{ $json.Presupuesto }}",
                    "rightValue": "={{ 9999 }}",
                    "operator": {
                      "type": "number",
                      "operation": "lt"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        128,
        -224
      ],
      "id": "30344f8e-4b3d-46d5-877d-bf7166d17b5f",
      "name": "Switch"
    },
    {
      "parameters": {
        "formTitle": "Recogida Presupuesto",
        "formDescription": "Recogemos los presupuestos para enumerarlos por orden de prioridad",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Nombre",
              "placeholder": "Aquí tu nombre"
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "placeholder": "Aquí tu email"
            },
            {
              "fieldLabel": "Pais",
              "placeholder": "Aquí tu nacionalidad"
            },
            {
              "fieldLabel": "Presupuesto",
              "fieldType": "number",
              "placeholder": "Aquí tu presupuesto Max"
            }
          ]
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -96,
        -224
      ],
      "id": "ff140912-7b6d-49e9-91bd-93a053230b78",
      "name": "On form submission",
      "webhookId": "9fbe00e8-ff1d-4c2b-b776-6d7f36975180"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Pais }}",
                    "rightValue": "=España",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "861c0837-8bab-4bf8-a029-a5d1cce9a5aa"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7e0ad678-b1d0-4b75-84bc-ddd21895a075",
                    "leftValue": "={{ $json.Pais }}",
                    "rightValue": "España",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        352,
        -416
      ],
      "id": "7a9341d7-65c6-4d4a-9d39-b0e56a746114",
      "name": "Switch1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Pais }}",
                    "rightValue": "=España",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "861c0837-8bab-4bf8-a029-a5d1cce9a5aa"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7e0ad678-b1d0-4b75-84bc-ddd21895a075",
                    "leftValue": "={{ $json.Pais }}",
                    "rightValue": "=España",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        352,
        -32
      ],
      "id": "04fd9e4c-3603-4907-917e-b1a312bcde89",
      "name": "Switch2"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "15JS_TCL1Q5i5rl-_8yPRcCQ_8Z6y2B3sdW_QSpfHYpc",
          "mode": "list",
          "cachedResultName": "Clasificación",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15JS_TCL1Q5i5rl-_8yPRcCQ_8Z6y2B3sdW_QSpfHYpc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15JS_TCL1Q5i5rl-_8yPRcCQ_8Z6y2B3sdW_QSpfHYpc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nombre": "={{ $json.Nombre }}",
            "Pais": "={{ $json.Pais }}",
            "Presupuesto": "={{ $json.Presupuesto }}",
            "Categoria": "=General",
            "Email": "={{ $json.Email }}",
            "Departamento": "Internacional"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Pais",
              "displayName": "Pais",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Presupuesto",
              "displayName": "Presupuesto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Categoria",
              "displayName": "Categoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Departamento",
              "displayName": "Departamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        576,
        64
      ],
      "id": "56ed6a02-389e-4adf-903b-2bcf9ff55b63",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OQx52SMsKkOUpwda",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "15JS_TCL1Q5i5rl-_8yPRcCQ_8Z6y2B3sdW_QSpfHYpc",
          "mode": "list",
          "cachedResultName": "Clasificación",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15JS_TCL1Q5i5rl-_8yPRcCQ_8Z6y2B3sdW_QSpfHYpc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15JS_TCL1Q5i5rl-_8yPRcCQ_8Z6y2B3sdW_QSpfHYpc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nombre": "={{ $json.Nombre }}",
            "Pais": "={{ $json.Pais }}",
            "Presupuesto": "={{ $json.Presupuesto }}",
            "Categoria": "=General",
            "Email": "={{ $json.Email }}",
            "Departamento": "Nacional"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Pais",
              "displayName": "Pais",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Presupuesto",
              "displayName": "Presupuesto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Categoria",
              "displayName": "Categoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Departamento",
              "displayName": "Departamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        576,
        -128
      ],
      "id": "07c951aa-a767-447c-96da-25414ae0e69f",
      "name": "Append or update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OQx52SMsKkOUpwda",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "15JS_TCL1Q5i5rl-_8yPRcCQ_8Z6y2B3sdW_QSpfHYpc",
          "mode": "list",
          "cachedResultName": "Clasificación",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15JS_TCL1Q5i5rl-_8yPRcCQ_8Z6y2B3sdW_QSpfHYpc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15JS_TCL1Q5i5rl-_8yPRcCQ_8Z6y2B3sdW_QSpfHYpc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nombre": "={{ $json.Nombre }}",
            "Pais": "={{ $json.Pais }}",
            "Presupuesto": "={{ $json.Presupuesto }}",
            "Categoria": "=Vip",
            "Email": "={{ $json.Email }}",
            "Departamento": "Internacional"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Pais",
              "displayName": "Pais",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Presupuesto",
              "displayName": "Presupuesto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Categoria",
              "displayName": "Categoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Departamento",
              "displayName": "Departamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        576,
        -320
      ],
      "id": "22fc8303-c8c2-4a3c-8a02-280ebc387c25",
      "name": "Append or update row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OQx52SMsKkOUpwda",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "15JS_TCL1Q5i5rl-_8yPRcCQ_8Z6y2B3sdW_QSpfHYpc",
          "mode": "list",
          "cachedResultName": "Clasificación",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15JS_TCL1Q5i5rl-_8yPRcCQ_8Z6y2B3sdW_QSpfHYpc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15JS_TCL1Q5i5rl-_8yPRcCQ_8Z6y2B3sdW_QSpfHYpc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.Email }}",
            "Nombre": "={{ $json.Nombre }}",
            "Pais": "={{ $json.Pais }}",
            "Presupuesto": "={{ $json.Presupuesto }}",
            "Categoria": "Vip",
            "Departamento": "Nacional"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Pais",
              "displayName": "Pais",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Presupuesto",
              "displayName": "Presupuesto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Categoria",
              "displayName": "Categoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Departamento",
              "displayName": "Departamento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        576,
        -512
      ],
      "id": "2c71ae82-b012-4be0-b5d1-69cbe991758a",
      "name": "Append or update row in sheet3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OQx52SMsKkOUpwda",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-08-21T10:44:46.196Z",
      "updatedAt": "2025-08-21T10:44:46.196Z",
      "role": "workflow:owner",
      "workflowId": "XnsRWcOEcyrwDMTd",
      "projectId": "76fyU5IRbEoCs8Xl"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-25T10:18:08.000Z",
  "versionId": "1d82345a-b977-4b56-8d6f-fd5e21daf73b"
}