workflows/Steel & Soul 2.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Create spreadsheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete an event": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event1": {
      "main": [
        [
          {
            "node": "Send a text message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete an event1": {
      "main": [
        [
          {
            "node": "Send a text message5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event2": {
      "main": [
        [
          {
            "node": "Send a text message6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete an event2": {
      "main": [
        [
          {
            "node": "Send a text message8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event3": {
      "main": [
        [
          {
            "node": "Send a text message9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete an event3": {
      "main": [
        [
          {
            "node": "Send a text message11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event4": {
      "main": [
        [
          {
            "node": "Send a text message12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete an event4": {
      "main": [
        [
          {
            "node": "Send a text message14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Abraham": {
      "main": [
        [
          {
            "node": "Create an event2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get an event2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete an event2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Benji": {
      "main": [
        [
          {
            "node": "Create an event3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get an event3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete an event3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mario": {
      "main": [
        [
          {
            "node": "Create an event1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get an event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete an event1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jesus": {
      "main": [
        [
          {
            "node": "Create an event4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get an event4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete an event4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Andres": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get an event1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Empleados Coria",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Empleados Isla",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Empleados Coria": {
      "main": [
        [
          {
            "node": "Abraham",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Benji",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mario",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Andres",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Jesus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event6": {
      "main": [
        [
          {
            "node": "Send a text message13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete an event6": {
      "main": [
        [
          {
            "node": "Send a text message15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jesus1": {
      "main": [
        [
          {
            "node": "Create an event6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get an event5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete an event6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event7": {
      "main": [
        [
          {
            "node": "Send a text message16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete an event7": {
      "main": [
        [
          {
            "node": "Send a text message17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jesus2": {
      "main": [
        [
          {
            "node": "Create an event7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get an event6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete an event7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Empleados Isla": {
      "main": [
        [
          {
            "node": "Jesus1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Jesus2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message17": {
      "main": [
        []
      ]
    },
    "Create spreadsheet": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-05T17:11:22.789Z",
  "id": "v0PNbNt21kLrc4kL",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Steel & Soul 2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "aff3527e-8d80-4e97-af09-d82e272611bf",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -4016,
        592
      ],
      "id": "3dbbb16d-811d-4888-9a05-22538e44a81e",
      "name": "Webhook",
      "webhookId": "aff3527e-8d80-4e97-af09-d82e272611bf"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "carlosfernandezgonzalez18@gmail.com",
          "mode": "list",
          "cachedResultName": "carlosfernandezgonzalez18@gmail.com"
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -2880,
        -176
      ],
      "id": "1b4bfa3b-9c23-41dd-b888-f4eb729afe62",
      "name": "Create an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "TOmUG1HvfAS01h77",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "calendar": {
          "__rl": true,
          "value": "carlosfernandezgonzalez18@gmail.com",
          "mode": "list",
          "cachedResultName": "carlosfernandezgonzalez18@gmail.com"
        },
        "eventId": "citas",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -2880,
        16
      ],
      "id": "f170b5c9-d1ea-43bb-ade0-10636966b4dc",
      "name": "Get an event1",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "TOmUG1HvfAS01h77",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "carlosfernandezgonzalez18@gmail.com",
          "mode": "list",
          "cachedResultName": "carlosfernandezgonzalez18@gmail.com"
        },
        "eventId": "Citas",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -2880,
        208
      ],
      "id": "adb9748a-870e-4035-a758-51b00f92e0c7",
      "name": "Delete an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "TOmUG1HvfAS01h77",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7040481107",
        "text": "[ CLIENTE ] Ha agendado una cita con Andres a las [ HORA, DIA y LUGAR ]",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2656,
        -176
      ],
      "id": "49263ea8-ae8c-451f-bfc8-70e238bc338a",
      "name": "Send a text message",
      "webhookId": "cd11056a-e1de-4513-8ff6-f577823d4475",
      "credentials": {
        "telegramApi": {
          "id": "LMFStuVXJKfeRhz1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7040481107",
        "text": "[ CLIENTE ] Ha cancelado su cita con Andres a las [ HORA, DIA y LUGAR ]",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2656,
        208
      ],
      "id": "24c7662f-69ce-4e9c-b169-e12604345ddc",
      "name": "Send a text message2",
      "webhookId": "cd11056a-e1de-4513-8ff6-f577823d4475",
      "credentials": {
        "telegramApi": {
          "id": "LMFStuVXJKfeRhz1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "carlosfernandezgonzalez18@gmail.com",
          "mode": "list",
          "cachedResultName": "carlosfernandezgonzalez18@gmail.com"
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -2880,
        -752
      ],
      "id": "de361099-017d-46ad-a4f6-14ea17b033ce",
      "name": "Create an event1",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "TOmUG1HvfAS01h77",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "calendar": {
          "__rl": true,
          "value": "carlosfernandezgonzalez18@gmail.com",
          "mode": "list",
          "cachedResultName": "carlosfernandezgonzalez18@gmail.com"
        },
        "eventId": "citas",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -2880,
        -560
      ],
      "id": "1cc21997-774f-4c1d-a7c7-d4305cc31300",
      "name": "Get an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "TOmUG1HvfAS01h77",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "carlosfernandezgonzalez18@gmail.com",
          "mode": "list",
          "cachedResultName": "carlosfernandezgonzalez18@gmail.com"
        },
        "eventId": "Citas",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -2880,
        -368
      ],
      "id": "e12ccc55-63ee-49e2-8938-ca9330533349",
      "name": "Delete an event1",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "TOmUG1HvfAS01h77",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7040481107",
        "text": "[ CLIENTE ] Ha agendado una cita con Mario a las [ HORA, DIA y LUGAR ]",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2656,
        -752
      ],
      "id": "6599e0d7-213c-49c4-aae9-6291bb3816f4",
      "name": "Send a text message3",
      "webhookId": "cd11056a-e1de-4513-8ff6-f577823d4475",
      "credentials": {
        "telegramApi": {
          "id": "LMFStuVXJKfeRhz1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7040481107",
        "text": "[ CLIENTE ] Ha cancelado su cita con Benji a las [ HORA, DIA y LUGAR ]",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2656,
        -368
      ],
      "id": "3e9d7454-c25f-4fcb-9081-c34434d6f506",
      "name": "Send a text message5",
      "webhookId": "cd11056a-e1de-4513-8ff6-f577823d4475",
      "credentials": {
        "telegramApi": {
          "id": "LMFStuVXJKfeRhz1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "carlosfernandezgonzalez18@gmail.com",
          "mode": "list",
          "cachedResultName": "carlosfernandezgonzalez18@gmail.com"
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -2880,
        -1904
      ],
      "id": "7bf51033-da14-4528-9bd1-fc13a30b59af",
      "name": "Create an event2",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "TOmUG1HvfAS01h77",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "calendar": {
          "__rl": true,
          "value": "carlosfernandezgonzalez18@gmail.com",
          "mode": "list",
          "cachedResultName": "carlosfernandezgonzalez18@gmail.com"
        },
        "eventId": "citas",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -2880,
        -1712
      ],
      "id": "9563cd3f-4fae-422e-b147-5bab18bdee20",
      "name": "Get an event2",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "TOmUG1HvfAS01h77",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "carlosfernandezgonzalez18@gmail.com",
          "mode": "list",
          "cachedResultName": "carlosfernandezgonzalez18@gmail.com"
        },
        "eventId": "Citas",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -2880,
        -1520
      ],
      "id": "d40058a8-1a4c-4b5f-8abe-009a115ee02d",
      "name": "Delete an event2",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "TOmUG1HvfAS01h77",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7040481107",
        "text": "[ CLIENTE ] Ha agendado una cita con Abraham a las [ Hora y lugar de la cita ]",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2656,
        -1904
      ],
      "id": "c4233005-d459-4661-a3dd-4fb026293d81",
      "name": "Send a text message6",
      "webhookId": "cd11056a-e1de-4513-8ff6-f577823d4475",
      "credentials": {
        "telegramApi": {
          "id": "LMFStuVXJKfeRhz1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7040481107",
        "text": "[ CLIENTE ] Ha cancelado su cita con Abraham a las [ Hora y lugar de la cita ]",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2656,
        -1520
      ],
      "id": "96a45ead-9513-4d21-85af-c64518e38788",
      "name": "Send a text message8",
      "webhookId": "cd11056a-e1de-4513-8ff6-f577823d4475",
      "credentials": {
        "telegramApi": {
          "id": "LMFStuVXJKfeRhz1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "carlosfernandezgonzalez18@gmail.com",
          "mode": "list",
          "cachedResultName": "carlosfernandezgonzalez18@gmail.com"
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -2880,
        -1328
      ],
      "id": "c9963728-2176-40dd-9892-c2bcd5f3e1d6",
      "name": "Create an event3",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "TOmUG1HvfAS01h77",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "calendar": {
          "__rl": true,
          "value": "carlosfernandezgonzalez18@gmail.com",
          "mode": "list",
          "cachedResultName": "carlosfernandezgonzalez18@gmail.com"
        },
        "eventId": "citas",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -2880,
        -1136
      ],
      "id": "7b55ce3d-76ae-41c6-b4c5-7a9e948e6dc7",
      "name": "Get an event3",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "TOmUG1HvfAS01h77",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "carlosfernandezgonzalez18@gmail.com",
          "mode": "list",
          "cachedResultName": "carlosfernandezgonzalez18@gmail.com"
        },
        "eventId": "Citas",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -2880,
        -944
      ],
      "id": "35e37ac7-9c14-4ba1-9fc0-87caa7642a8c",
      "name": "Delete an event3",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "TOmUG1HvfAS01h77",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7040481107",
        "text": "[ CLIENTE ] Ha agendado una cita con Benji a las [ HORA, DIA y LUGAR ]",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2656,
        -1328
      ],
      "id": "89c4aefe-4a02-4dd2-aadc-59c5ebadf758",
      "name": "Send a text message9",
      "webhookId": "cd11056a-e1de-4513-8ff6-f577823d4475",
      "credentials": {
        "telegramApi": {
          "id": "LMFStuVXJKfeRhz1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7040481107",
        "text": "[ CLIENTE ] Ha cancelado su cita con Benji a las [ HORA, DIA y LUGAR ]",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2656,
        -944
      ],
      "id": "d05b542b-9e3d-4bfe-967c-d71f8384f82a",
      "name": "Send a text message11",
      "webhookId": "cd11056a-e1de-4513-8ff6-f577823d4475",
      "credentials": {
        "telegramApi": {
          "id": "LMFStuVXJKfeRhz1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "carlosfernandezgonzalez18@gmail.com",
          "mode": "list",
          "cachedResultName": "carlosfernandezgonzalez18@gmail.com"
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -2880,
        400
      ],
      "id": "3673674d-a76d-4caa-a7b5-f221384269fe",
      "name": "Create an event4",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "TOmUG1HvfAS01h77",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "calendar": {
          "__rl": true,
          "value": "carlosfernandezgonzalez18@gmail.com",
          "mode": "list",
          "cachedResultName": "carlosfernandezgonzalez18@gmail.com"
        },
        "eventId": "citas",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -2880,
        592
      ],
      "id": "fc6216e5-ca7a-4a69-bcf4-703111941fa0",
      "name": "Get an event4",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "TOmUG1HvfAS01h77",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "carlosfernandezgonzalez18@gmail.com",
          "mode": "list",
          "cachedResultName": "carlosfernandezgonzalez18@gmail.com"
        },
        "eventId": "Citas",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -2880,
        784
      ],
      "id": "173754d3-9f73-4cf0-a63e-8489f520b0d8",
      "name": "Delete an event4",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "TOmUG1HvfAS01h77",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7040481107",
        "text": "[ CLIENTE ] Ha agendado una cita con Jesus a las [ HORA, DIA y LUGAR ]",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2656,
        400
      ],
      "id": "2efa8953-ede4-4672-9790-16abde635438",
      "name": "Send a text message12",
      "webhookId": "cd11056a-e1de-4513-8ff6-f577823d4475",
      "credentials": {
        "telegramApi": {
          "id": "LMFStuVXJKfeRhz1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7040481107",
        "text": "[ CLIENTE ] Ha cancelado su cita con Jesus a las [ HORA, DIA y LUGAR ]",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2656,
        784
      ],
      "id": "c20a1223-814f-49d0-bb9c-3358ea7dfcbc",
      "name": "Send a text message14",
      "webhookId": "cd11056a-e1de-4513-8ff6-f577823d4475",
      "credentials": {
        "telegramApi": {
          "id": "LMFStuVXJKfeRhz1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "agendar",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "60442f01-a9d1-4621-8a5e-43e75508e7c2"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Agendar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c28181ab-9870-423d-84fc-ae0999315009",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "confirmar",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Confirmar "
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4fb1388d-98fb-4bc0-b9bc-87c393543795",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "cancelar",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cancelar"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -3104,
        -1728
      ],
      "id": "65e55778-abd0-4d9b-9923-8d93b049310e",
      "name": "Abraham"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "agendar",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "60442f01-a9d1-4621-8a5e-43e75508e7c2"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Agendar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c28181ab-9870-423d-84fc-ae0999315009",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "confirmar",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Confirmar "
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4fb1388d-98fb-4bc0-b9bc-87c393543795",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "cancelar",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cancelar"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -3104,
        -1152
      ],
      "id": "2cb14e87-f92c-4829-b0d2-9c1782e3eaf2",
      "name": "Benji"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "agendar",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "60442f01-a9d1-4621-8a5e-43e75508e7c2"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Agendar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c28181ab-9870-423d-84fc-ae0999315009",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "confirmar",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Confirmar "
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4fb1388d-98fb-4bc0-b9bc-87c393543795",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "cancelar",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cancelar"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -3104,
        -576
      ],
      "id": "9701bd30-9850-43e1-a636-ab4da3d6de67",
      "name": "Mario"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "agendar",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "60442f01-a9d1-4621-8a5e-43e75508e7c2"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Agendar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c28181ab-9870-423d-84fc-ae0999315009",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "confirmar",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Confirmar "
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4fb1388d-98fb-4bc0-b9bc-87c393543795",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "cancelar",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cancelar"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -3104,
        576
      ],
      "id": "ea467618-0fb2-4494-b843-962c844f3059",
      "name": "Jesus"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "agendar",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "60442f01-a9d1-4621-8a5e-43e75508e7c2"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Agendar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c28181ab-9870-423d-84fc-ae0999315009",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "confirmar",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Confirmar "
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4fb1388d-98fb-4bc0-b9bc-87c393543795",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "cancelar",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cancelar"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -3104,
        0
      ],
      "id": "53934342-e81d-4bc5-b9d6-21aa5c26483e",
      "name": "Andres"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "",
                    "rightValue": "Sucursal Coria",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "95a3a78c-ff98-455a-9a48-381df819c3f0"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Coria del Rio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "eb00e324-1483-4f8d-93eb-be6ec80b010a",
                    "leftValue": "",
                    "rightValue": "Sucursal Isla Mayor",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Isla Mayor"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -3552,
        592
      ],
      "id": "cfbeb4c0-08ab-435f-894f-3fae2798ca13",
      "name": "Switch"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "Abraham",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "d82b9fb3-aab5-4dac-b83c-a692f5377199"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Abraham"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dff19182-43ac-46e7-a9c7-d10a7c7c7c69",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "Benji",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Benji"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "055aee37-a646-4d9b-8627-1998fd5afabb",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "Mario",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Mario"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "434e1ba9-c1f8-4249-9cfa-2a014790ddb0",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "Andres",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Andres"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a2ecd642-cb20-4f60-974e-07fb189bbdc2",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "Jesus",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Jesus"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -3328,
        -608
      ],
      "id": "5c9bb91d-015f-4edb-8c84-a0dc69011c4b",
      "name": "Empleados Coria"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "",
                    "rightValue": "Abraham,",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "01ae23d5-eb9b-4b6a-bcba-0e941a6e0a72"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Abraham"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4c08d2b8-caee-4dd5-b364-94c527f94859",
                    "leftValue": "",
                    "rightValue": "Miguel",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Miguel"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -3328,
        1456
      ],
      "id": "265d2f27-48db-4c8a-be02-528b49f83811",
      "name": "Empleados Isla"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "carlosfernandezgonzalez18@gmail.com",
          "mode": "list",
          "cachedResultName": "carlosfernandezgonzalez18@gmail.com"
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -2880,
        976
      ],
      "id": "1a4629b4-caf4-455e-89dc-5b12dc532859",
      "name": "Create an event6",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "TOmUG1HvfAS01h77",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "calendar": {
          "__rl": true,
          "value": "carlosfernandezgonzalez18@gmail.com",
          "mode": "list",
          "cachedResultName": "carlosfernandezgonzalez18@gmail.com"
        },
        "eventId": "citas",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -2880,
        1168
      ],
      "id": "dd45b8e9-f0da-4802-a763-c236ea3322ea",
      "name": "Get an event5",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "TOmUG1HvfAS01h77",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "carlosfernandezgonzalez18@gmail.com",
          "mode": "list",
          "cachedResultName": "carlosfernandezgonzalez18@gmail.com"
        },
        "eventId": "Citas",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -2880,
        1360
      ],
      "id": "0b6b40f6-e03e-480a-b0f6-996c08554ac3",
      "name": "Delete an event6",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "TOmUG1HvfAS01h77",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7040481107",
        "text": "[ CLIENTE ] Ha agendado una cita con Jesus a las [ HORA, DIA y LUGAR ]",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2656,
        976
      ],
      "id": "1bb82ef3-1e71-4dac-93b3-2d46b01f2705",
      "name": "Send a text message13",
      "webhookId": "cd11056a-e1de-4513-8ff6-f577823d4475",
      "credentials": {
        "telegramApi": {
          "id": "LMFStuVXJKfeRhz1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7040481107",
        "text": "[ CLIENTE ] Ha cancelado su cita con Jesus a las [ HORA, DIA y LUGAR ]",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2656,
        1360
      ],
      "id": "8aee8474-af60-41a6-9e1e-04710735fdac",
      "name": "Send a text message15",
      "webhookId": "cd11056a-e1de-4513-8ff6-f577823d4475",
      "credentials": {
        "telegramApi": {
          "id": "LMFStuVXJKfeRhz1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "agendar",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "60442f01-a9d1-4621-8a5e-43e75508e7c2"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Agendar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c28181ab-9870-423d-84fc-ae0999315009",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "confirmar",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Confirmar "
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4fb1388d-98fb-4bc0-b9bc-87c393543795",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "cancelar",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cancelar"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -3104,
        1152
      ],
      "id": "64ba9a68-8a32-42ce-a70d-901f2ad5967e",
      "name": "Jesus1"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "carlosfernandezgonzalez18@gmail.com",
          "mode": "list",
          "cachedResultName": "carlosfernandezgonzalez18@gmail.com"
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -2880,
        1552
      ],
      "id": "42703901-daeb-4e49-9fb3-57f1770f397e",
      "name": "Create an event7",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "TOmUG1HvfAS01h77",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "calendar": {
          "__rl": true,
          "value": "carlosfernandezgonzalez18@gmail.com",
          "mode": "list",
          "cachedResultName": "carlosfernandezgonzalez18@gmail.com"
        },
        "eventId": "citas",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -2880,
        1744
      ],
      "id": "6f166ff7-be7f-4cc5-8772-6bd426871916",
      "name": "Get an event6",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "TOmUG1HvfAS01h77",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "carlosfernandezgonzalez18@gmail.com",
          "mode": "list",
          "cachedResultName": "carlosfernandezgonzalez18@gmail.com"
        },
        "eventId": "Citas",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -2880,
        1936
      ],
      "id": "40e83ad0-4276-4f0a-844a-9a69b69e0494",
      "name": "Delete an event7",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "TOmUG1HvfAS01h77",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7040481107",
        "text": "[ CLIENTE ] Ha agendado una cita con Jesus a las [ HORA, DIA y LUGAR ]",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2656,
        1552
      ],
      "id": "81a0dda4-9410-47e0-a19d-51792113596f",
      "name": "Send a text message16",
      "webhookId": "cd11056a-e1de-4513-8ff6-f577823d4475",
      "credentials": {
        "telegramApi": {
          "id": "LMFStuVXJKfeRhz1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7040481107",
        "text": "[ CLIENTE ] Ha cancelado su cita con Jesus a las [ HORA, DIA y LUGAR ]",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2656,
        1936
      ],
      "id": "7ce4fdf4-20b8-4fd7-805d-ce3711fe4de0",
      "name": "Send a text message17",
      "webhookId": "cd11056a-e1de-4513-8ff6-f577823d4475",
      "credentials": {
        "telegramApi": {
          "id": "LMFStuVXJKfeRhz1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "agendar",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "60442f01-a9d1-4621-8a5e-43e75508e7c2"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Agendar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c28181ab-9870-423d-84fc-ae0999315009",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "confirmar",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Confirmar "
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4fb1388d-98fb-4bc0-b9bc-87c393543795",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "cancelar",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cancelar"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -3104,
        1728
      ],
      "id": "9cff50db-d51e-424a-b122-a7db4eea474a",
      "name": "Jesus2"
    },
    {
      "parameters": {
        "resource": "spreadsheet",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -3776,
        592
      ],
      "id": "c691c3cf-9273-4912-843e-9059e40bbca8",
      "name": "Create spreadsheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OQx52SMsKkOUpwda",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-05T17:11:22.798Z",
      "updatedAt": "2025-09-05T17:11:22.798Z",
      "role": "workflow:owner",
      "workflowId": "v0PNbNt21kLrc4kL",
      "projectId": "76fyU5IRbEoCs8Xl"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-09-10T10:14:19.000Z",
  "versionId": "f2d290d9-3d25-43dc-b4cd-2c956ba0ffee"
}