workflows/Steel & Soul 2.json
{
  "active": false,
  "connections": {
    "Create an event": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete an event": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event1": {
      "main": [
        [
          {
            "node": "Send a text message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete an event1": {
      "main": [
        [
          {
            "node": "Send a text message5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event2": {
      "main": [
        [
          {
            "node": "Send a text message6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete an event2": {
      "main": [
        [
          {
            "node": "Send a text message8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event3": {
      "main": [
        [
          {
            "node": "Send a text message9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete an event3": {
      "main": [
        [
          {
            "node": "Send a text message11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event4": {
      "main": [
        [
          {
            "node": "Send a text message12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete an event4": {
      "main": [
        [
          {
            "node": "Send a text message14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Abraham": {
      "main": [
        [
          {
            "node": "Create an event2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get an event2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete an event2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Benji": {
      "main": [
        [
          {
            "node": "Create an event3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get an event3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete an event3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mario": {
      "main": [
        [
          {
            "node": "Create an event1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get an event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete an event1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jesus": {
      "main": [
        [
          {
            "node": "Create an event4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get an event4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete an event4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Andres": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get an event1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Empleados": {
      "main": [
        [
          {
            "node": "Abraham",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Benji",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mario",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Andres",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Jesus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Empleados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-05T17:11:22.789Z",
  "id": "v0PNbNt21kLrc4kL",
  "isArchived": false,
  "meta": null,
  "name": "Steel & Soul 2",
  "nodes": [
    {
      "parameters": {
        "path": "aff3527e-8d80-4e97-af09-d82e272611bf",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2064,
        -672
      ],
      "id": "3dbbb16d-811d-4888-9a05-22538e44a81e",
      "name": "Webhook",
      "webhookId": "aff3527e-8d80-4e97-af09-d82e272611bf"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "carlosfernandezgonzalez18@gmail.com",
          "mode": "list",
          "cachedResultName": "carlosfernandezgonzalez18@gmail.com"
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -672,
        -480
      ],
      "id": "691f9aeb-55b6-45b5-853e-484abd5babeb",
      "name": "Create an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "TOmUG1HvfAS01h77",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "calendar": {
          "__rl": true,
          "value": "carlosfernandezgonzalez18@gmail.com",
          "mode": "list",
          "cachedResultName": "carlosfernandezgonzalez18@gmail.com"
        },
        "eventId": "citas",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -672,
        -288
      ],
      "id": "bfd1a565-81f3-4550-ba2c-25bf20cdb2d3",
      "name": "Get an event1",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "TOmUG1HvfAS01h77",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "carlosfernandezgonzalez18@gmail.com",
          "mode": "list",
          "cachedResultName": "carlosfernandezgonzalez18@gmail.com"
        },
        "eventId": "Citas",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -672,
        -96
      ],
      "id": "62b0d70e-d551-413e-a375-df9853a52485",
      "name": "Delete an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "TOmUG1HvfAS01h77",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7040481107",
        "text": "[ CLIENTE ] Ha agendado una cita con Andres a las [ HORA, DIA y LUGAR ]",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -448,
        -480
      ],
      "id": "36729c96-7451-44ad-ba00-63e66baf3600",
      "name": "Send a text message",
      "webhookId": "cd11056a-e1de-4513-8ff6-f577823d4475",
      "credentials": {
        "telegramApi": {
          "id": "LMFStuVXJKfeRhz1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7040481107",
        "text": "[ CLIENTE ] Ha cancelado su cita con Andres a las [ HORA, DIA y LUGAR ]",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -448,
        -96
      ],
      "id": "17130b23-2d6d-4e6c-ac36-beff9e5a76d9",
      "name": "Send a text message2",
      "webhookId": "cd11056a-e1de-4513-8ff6-f577823d4475",
      "credentials": {
        "telegramApi": {
          "id": "LMFStuVXJKfeRhz1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "carlosfernandezgonzalez18@gmail.com",
          "mode": "list",
          "cachedResultName": "carlosfernandezgonzalez18@gmail.com"
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -1312,
        -864
      ],
      "id": "bf57c8bc-f33b-4071-af0f-8a3c9897ee6a",
      "name": "Create an event1",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "TOmUG1HvfAS01h77",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "calendar": {
          "__rl": true,
          "value": "carlosfernandezgonzalez18@gmail.com",
          "mode": "list",
          "cachedResultName": "carlosfernandezgonzalez18@gmail.com"
        },
        "eventId": "citas",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -1312,
        -672
      ],
      "id": "66fd066f-2c0b-4dd7-ae85-fa1b4e86494f",
      "name": "Get an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "TOmUG1HvfAS01h77",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "carlosfernandezgonzalez18@gmail.com",
          "mode": "list",
          "cachedResultName": "carlosfernandezgonzalez18@gmail.com"
        },
        "eventId": "Citas",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -1312,
        -480
      ],
      "id": "a9833126-38e9-4b66-8ce5-abac0c8a6a2b",
      "name": "Delete an event1",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "TOmUG1HvfAS01h77",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7040481107",
        "text": "[ CLIENTE ] Ha agendado una cita con Mario a las [ HORA, DIA y LUGAR ]",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1088,
        -864
      ],
      "id": "0c0e990c-7305-418a-9217-e1cfda43c488",
      "name": "Send a text message3",
      "webhookId": "cd11056a-e1de-4513-8ff6-f577823d4475",
      "credentials": {
        "telegramApi": {
          "id": "LMFStuVXJKfeRhz1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7040481107",
        "text": "[ CLIENTE ] Ha cancelado su cita con Benji a las [ HORA, DIA y LUGAR ]",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1088,
        -480
      ],
      "id": "c6916f1f-f5ae-4dae-9e92-5a0ddc7c29ab",
      "name": "Send a text message5",
      "webhookId": "cd11056a-e1de-4513-8ff6-f577823d4475",
      "credentials": {
        "telegramApi": {
          "id": "LMFStuVXJKfeRhz1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "carlosfernandezgonzalez18@gmail.com",
          "mode": "list",
          "cachedResultName": "carlosfernandezgonzalez18@gmail.com"
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -1312,
        -1616
      ],
      "id": "663f2252-abee-4630-8d71-a3b41f5a2053",
      "name": "Create an event2",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "TOmUG1HvfAS01h77",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "calendar": {
          "__rl": true,
          "value": "carlosfernandezgonzalez18@gmail.com",
          "mode": "list",
          "cachedResultName": "carlosfernandezgonzalez18@gmail.com"
        },
        "eventId": "citas",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -1312,
        -1424
      ],
      "id": "f98efd38-c596-4712-996e-6a6fe732c055",
      "name": "Get an event2",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "TOmUG1HvfAS01h77",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "carlosfernandezgonzalez18@gmail.com",
          "mode": "list",
          "cachedResultName": "carlosfernandezgonzalez18@gmail.com"
        },
        "eventId": "Citas",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -1312,
        -1232
      ],
      "id": "6435e727-674b-4548-a3d1-01a713949a09",
      "name": "Delete an event2",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "TOmUG1HvfAS01h77",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7040481107",
        "text": "[ CLIENTE ] Ha agendado una cita con Abraham a las [ Hora y lugar de la cita ]",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1088,
        -1616
      ],
      "id": "4c0ed2f6-4b36-4a6c-8d69-81321ec0ea32",
      "name": "Send a text message6",
      "webhookId": "cd11056a-e1de-4513-8ff6-f577823d4475",
      "credentials": {
        "telegramApi": {
          "id": "LMFStuVXJKfeRhz1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7040481107",
        "text": "[ CLIENTE ] Ha cancelado su cita con Abraham a las [ Hora y lugar de la cita ]",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1088,
        -1232
      ],
      "id": "75f418ed-0dba-4c66-800c-35ab4c4c2506",
      "name": "Send a text message8",
      "webhookId": "cd11056a-e1de-4513-8ff6-f577823d4475",
      "credentials": {
        "telegramApi": {
          "id": "LMFStuVXJKfeRhz1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "carlosfernandezgonzalez18@gmail.com",
          "mode": "list",
          "cachedResultName": "carlosfernandezgonzalez18@gmail.com"
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -672,
        -1232
      ],
      "id": "15863bca-c27c-4e1f-9087-1ecde3d1cbfd",
      "name": "Create an event3",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "TOmUG1HvfAS01h77",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "calendar": {
          "__rl": true,
          "value": "carlosfernandezgonzalez18@gmail.com",
          "mode": "list",
          "cachedResultName": "carlosfernandezgonzalez18@gmail.com"
        },
        "eventId": "citas",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -672,
        -1040
      ],
      "id": "fb0116b9-335e-48a3-844b-ae0528d1fc5d",
      "name": "Get an event3",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "TOmUG1HvfAS01h77",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "carlosfernandezgonzalez18@gmail.com",
          "mode": "list",
          "cachedResultName": "carlosfernandezgonzalez18@gmail.com"
        },
        "eventId": "Citas",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -672,
        -848
      ],
      "id": "81a54d8c-300e-4fe1-9321-54ed131c6b99",
      "name": "Delete an event3",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "TOmUG1HvfAS01h77",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7040481107",
        "text": "[ CLIENTE ] Ha agendado una cita con Benji a las [ HORA, DIA y LUGAR ]",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -448,
        -1232
      ],
      "id": "197f3cb6-6206-4f80-b81e-f5e20b26c9d5",
      "name": "Send a text message9",
      "webhookId": "cd11056a-e1de-4513-8ff6-f577823d4475",
      "credentials": {
        "telegramApi": {
          "id": "LMFStuVXJKfeRhz1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7040481107",
        "text": "[ CLIENTE ] Ha cancelado su cita con Benji a las [ HORA, DIA y LUGAR ]",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -448,
        -848
      ],
      "id": "a3200ff7-c060-42f3-8667-cda99f8d95a4",
      "name": "Send a text message11",
      "webhookId": "cd11056a-e1de-4513-8ff6-f577823d4475",
      "credentials": {
        "telegramApi": {
          "id": "LMFStuVXJKfeRhz1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "carlosfernandezgonzalez18@gmail.com",
          "mode": "list",
          "cachedResultName": "carlosfernandezgonzalez18@gmail.com"
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -1296,
        -80
      ],
      "id": "d84b6c5e-6383-443f-a96c-acbd259bc0fb",
      "name": "Create an event4",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "TOmUG1HvfAS01h77",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "calendar": {
          "__rl": true,
          "value": "carlosfernandezgonzalez18@gmail.com",
          "mode": "list",
          "cachedResultName": "carlosfernandezgonzalez18@gmail.com"
        },
        "eventId": "citas",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -1296,
        112
      ],
      "id": "15acbf43-502e-400d-8373-fdad309e2681",
      "name": "Get an event4",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "TOmUG1HvfAS01h77",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "carlosfernandezgonzalez18@gmail.com",
          "mode": "list",
          "cachedResultName": "carlosfernandezgonzalez18@gmail.com"
        },
        "eventId": "Citas",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -1296,
        304
      ],
      "id": "eab6de8f-a899-4e40-804b-194c852e3c02",
      "name": "Delete an event4",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "TOmUG1HvfAS01h77",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7040481107",
        "text": "[ CLIENTE ] Ha agendado una cita con Jesus a las [ HORA, DIA y LUGAR ]",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1072,
        -80
      ],
      "id": "71ff24d8-bed1-4039-b610-727290e36fd5",
      "name": "Send a text message12",
      "webhookId": "cd11056a-e1de-4513-8ff6-f577823d4475",
      "credentials": {
        "telegramApi": {
          "id": "LMFStuVXJKfeRhz1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7040481107",
        "text": "[ CLIENTE ] Ha cancelado su cita con Jesus a las [ HORA, DIA y LUGAR ]",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1072,
        304
      ],
      "id": "e772a44a-5d47-4f79-ba0c-a8782c34f8bb",
      "name": "Send a text message14",
      "webhookId": "cd11056a-e1de-4513-8ff6-f577823d4475",
      "credentials": {
        "telegramApi": {
          "id": "LMFStuVXJKfeRhz1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "agendar",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "60442f01-a9d1-4621-8a5e-43e75508e7c2"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Agendar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c28181ab-9870-423d-84fc-ae0999315009",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "confirmar",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Confirmar "
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4fb1388d-98fb-4bc0-b9bc-87c393543795",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "cancelar",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cancelar"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1536,
        -1440
      ],
      "id": "ac6da394-48c6-4209-9f78-e16d5149b3c0",
      "name": "Abraham"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "agendar",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "60442f01-a9d1-4621-8a5e-43e75508e7c2"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Agendar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c28181ab-9870-423d-84fc-ae0999315009",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "confirmar",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Confirmar "
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4fb1388d-98fb-4bc0-b9bc-87c393543795",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "cancelar",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cancelar"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -896,
        -1056
      ],
      "id": "064e82c3-c7c8-4296-a6c2-3d0adb32d423",
      "name": "Benji"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "agendar",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "60442f01-a9d1-4621-8a5e-43e75508e7c2"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Agendar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c28181ab-9870-423d-84fc-ae0999315009",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "confirmar",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Confirmar "
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4fb1388d-98fb-4bc0-b9bc-87c393543795",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "cancelar",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cancelar"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1536,
        -688
      ],
      "id": "caaf94f0-4c67-4346-84b1-6d233f520610",
      "name": "Mario"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "agendar",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "60442f01-a9d1-4621-8a5e-43e75508e7c2"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Agendar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c28181ab-9870-423d-84fc-ae0999315009",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "confirmar",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Confirmar "
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4fb1388d-98fb-4bc0-b9bc-87c393543795",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "cancelar",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cancelar"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1520,
        96
      ],
      "id": "eeba2a0a-e304-41b3-b9d4-f793a75cb66c",
      "name": "Jesus"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "agendar",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "60442f01-a9d1-4621-8a5e-43e75508e7c2"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Agendar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c28181ab-9870-423d-84fc-ae0999315009",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "confirmar",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Confirmar "
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4fb1388d-98fb-4bc0-b9bc-87c393543795",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "cancelar",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cancelar"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -896,
        -304
      ],
      "id": "a64dc374-3874-4b82-b45c-f158cb670769",
      "name": "Andres"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "Abraham",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "d82b9fb3-aab5-4dac-b83c-a692f5377199"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Abraham"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dff19182-43ac-46e7-a9c7-d10a7c7c7c69",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "Benji",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Benji"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "055aee37-a646-4d9b-8627-1998fd5afabb",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "Mario",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Mario"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "434e1ba9-c1f8-4249-9cfa-2a014790ddb0",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "Andres",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Andres"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a2ecd642-cb20-4f60-974e-07fb189bbdc2",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "Jesus",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Jesus"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1760,
        -720
      ],
      "id": "5f9bdf76-be26-4abf-8a65-11c0942e09f6",
      "name": "Empleados"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-05T17:11:22.798Z",
      "updatedAt": "2025-09-05T17:11:22.798Z",
      "role": "workflow:owner",
      "workflowId": "v0PNbNt21kLrc4kL",
      "projectId": "76fyU5IRbEoCs8Xl"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-05T18:13:38.000Z",
  "versionId": "7135a04c-1d2c-4688-9be5-15209786257e"
}