workflows/Steel and soul 3.json
{
  "active": false,
  "connections": {
    "Create an event": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get many events",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get many events1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events": {
      "main": [
        [
          {
            "node": "Get an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events1": {
      "main": [
        [
          {
            "node": "Delete an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get an event": {
      "main": [
        []
      ]
    },
    "Delete an event": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event1": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Create an event1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get many events2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get many events3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events2": {
      "main": [
        [
          {
            "node": "Get an event1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events3": {
      "main": [
        [
          {
            "node": "Delete an event1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete an event1": {
      "main": [
        [
          {
            "node": "Send a text message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-10T10:14:30.664Z",
  "id": "qntX4BeH0MkIqj27",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Steel and soul 3",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d1ce4a41-3a63-49ec-978f-0a5afb682e4a",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -352,
        304
      ],
      "id": "b828f41d-ab4b-463e-8d4b-e8f1b552862e",
      "name": "Webhook",
      "webhookId": "d1ce4a41-3a63-49ec-978f-0a5afb682e4a"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "carlosfernandezgonzalez18@gmail.com",
          "mode": "list",
          "cachedResultName": "carlosfernandezgonzalez18@gmail.com"
        },
        "start": "={{ $json.body.args.date }}",
        "end": "={{ $json.body.args.date.plus(1, 'hour') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        576,
        -176
      ],
      "id": "41cbfa88-0271-4ffc-91d4-944549b7b52a",
      "name": "Create an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "TOmUG1HvfAS01h77",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.name }}",
                    "rightValue": "Agendar",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "7180a638-3c08-4163-89b5-a8d54ac0069f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Agendar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "659866eb-c952-4806-9667-a40f385569e0",
                    "leftValue": "={{ $json.body.name }}",
                    "rightValue": "Confirmar",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Confirmar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "36d5cc95-a9cc-4127-8b3e-ef83c9c501c6",
                    "leftValue": "={{ $json.body.name }}",
                    "rightValue": "Cancelar",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cancelar"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        256,
        -16
      ],
      "id": "6c2b8dee-f179-4604-a68f-5338311fdb23",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "carlosfernandezgonzalez18@gmail.com",
          "mode": "list",
          "cachedResultName": "carlosfernandezgonzalez18@gmail.com"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        576,
        0
      ],
      "id": "ba4a6c79-2364-4d51-ad9a-0351ae553431",
      "name": "Get many events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "TOmUG1HvfAS01h77",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "carlosfernandezgonzalez18@gmail.com",
          "mode": "list",
          "cachedResultName": "carlosfernandezgonzalez18@gmail.com"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        576,
        176
      ],
      "id": "6c759154-3199-4a09-9126-316c4e3ef156",
      "name": "Get many events1",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "TOmUG1HvfAS01h77",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "calendar": {
          "__rl": true,
          "value": "carlosfernandezgonzalez18@gmail.com",
          "mode": "list",
          "cachedResultName": "carlosfernandezgonzalez18@gmail.com"
        },
        "eventId": "={{ $json.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        816,
        0
      ],
      "id": "3d83b5d0-4db1-4f2a-b508-9fe5f22a8a1c",
      "name": "Get an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "TOmUG1HvfAS01h77",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "carlosfernandezgonzalez18@gmail.com",
          "mode": "list",
          "cachedResultName": "carlosfernandezgonzalez18@gmail.com"
        },
        "eventId": "={{ $json.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        816,
        176
      ],
      "id": "6343cb4e-85ee-4aa2-9ea2-f031d5c75df6",
      "name": "Delete an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "TOmUG1HvfAS01h77",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7040181107",
        "text": "=El Cliente {{ $('Webhook').item.json.body.args.clientName }} ha agendado una cita con {{ $('Webhook').item.json.body.args.barberName }} para el {{ $('Webhook').item.json.body.args.date }} a las {{ $('Webhook').item.json.body.args.time }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        816,
        -176
      ],
      "id": "97efb437-46ee-44ea-9b2f-6c264430b2b5",
      "name": "Send a text message",
      "webhookId": "58491cbd-d72b-4ac4-ab97-bed0b46302ff",
      "credentials": {
        "telegramApi": {
          "id": "LMFStuVXJKfeRhz1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7040181107",
        "text": "=El Cliente {{ $('Webhook').item.json.body.args.clientName }} ha agendado una cita con {{ $('Webhook').item.json.body.args.barberName }} para el {{ $('Webhook').item.json.body.args.date }} a las {{ $('Webhook').item.json.body.args.time }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1024,
        176
      ],
      "id": "16176511-95f7-4c90-ac57-3ce25f20b286",
      "name": "Send a text message2",
      "webhookId": "58491cbd-d72b-4ac4-ab97-bed0b46302ff",
      "credentials": {
        "telegramApi": {
          "id": "LMFStuVXJKfeRhz1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.name }}",
                    "rightValue": "Agendar_Citas_Coria",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "ecc71724-aed2-47dc-9ef2-b76887403828"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Coria del Río"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2a5d8a7e-0f2d-4e38-b59d-3ed4e2054350",
                    "leftValue": "={{ $json.body.call.transcript_object[0].content }}",
                    "rightValue": "Agendar_Citas_Isla_Mayor",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Isla Mayor"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -48,
        304
      ],
      "id": "f7ce1e43-21aa-4700-ae81-8b8cc724488e",
      "name": "Switch2"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "carlosfernandezgonzalez18@gmail.com",
          "mode": "list",
          "cachedResultName": "carlosfernandezgonzalez18@gmail.com"
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        592,
        432
      ],
      "id": "263fd6d4-471b-4cec-bc9e-0ccc872256f6",
      "name": "Create an event1",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "TOmUG1HvfAS01h77",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.name }}",
                    "rightValue": "Agendar",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "7180a638-3c08-4163-89b5-a8d54ac0069f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Agendar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "659866eb-c952-4806-9667-a40f385569e0",
                    "leftValue": "={{ $json.body.name }}",
                    "rightValue": "Confirmar",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Confirmar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "36d5cc95-a9cc-4127-8b3e-ef83c9c501c6",
                    "leftValue": "={{ $json.body.name }}",
                    "rightValue": "Cancelar",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cancelar"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        272,
        592
      ],
      "id": "8374b7cb-5cf1-4ba3-8e4e-ff3e0f242ab0",
      "name": "Switch1"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "carlosfernandezgonzalez18@gmail.com",
          "mode": "list",
          "cachedResultName": "carlosfernandezgonzalez18@gmail.com"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        592,
        608
      ],
      "id": "dfde4719-f890-4e86-bc42-b960c7676f8d",
      "name": "Get many events2",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "TOmUG1HvfAS01h77",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "carlosfernandezgonzalez18@gmail.com",
          "mode": "list",
          "cachedResultName": "carlosfernandezgonzalez18@gmail.com"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        592,
        784
      ],
      "id": "273df043-a1a6-4239-bd59-2201f63faf3a",
      "name": "Get many events3",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "TOmUG1HvfAS01h77",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "calendar": {
          "__rl": true,
          "value": "carlosfernandezgonzalez18@gmail.com",
          "mode": "list",
          "cachedResultName": "carlosfernandezgonzalez18@gmail.com"
        },
        "eventId": "={{ $json.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        832,
        608
      ],
      "id": "4cb1a4f1-e467-4d32-ba96-61d218204e9c",
      "name": "Get an event1",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "TOmUG1HvfAS01h77",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "carlosfernandezgonzalez18@gmail.com",
          "mode": "list",
          "cachedResultName": "carlosfernandezgonzalez18@gmail.com"
        },
        "eventId": "={{ $json.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        832,
        784
      ],
      "id": "647833bf-efcb-416a-8287-d6e7b0e6ce85",
      "name": "Delete an event1",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "TOmUG1HvfAS01h77",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7040181107",
        "text": "=El Cliente {{ $('Webhook').item.json.body.args.clientName }} ha agendado una cita con {{ $('Webhook').item.json.body.args.barberName }} para el {{ $('Webhook').item.json.body.args.date }} a las {{ $('Webhook').item.json.body.args.time }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        832,
        432
      ],
      "id": "8d7c28f8-8440-40ad-9dee-4a16a66ddd83",
      "name": "Send a text message1",
      "webhookId": "58491cbd-d72b-4ac4-ab97-bed0b46302ff",
      "credentials": {
        "telegramApi": {
          "id": "LMFStuVXJKfeRhz1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7040181107",
        "text": "=El Cliente {{ $('Webhook').item.json.body.args.clientName }} ha agendado una cita con {{ $('Webhook').item.json.body.args.barberName }} para el {{ $('Webhook').item.json.body.args.date }} a las {{ $('Webhook').item.json.body.args.time }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1040,
        784
      ],
      "id": "35b41330-f23c-45a6-b0db-c76367f1d3ca",
      "name": "Send a text message3",
      "webhookId": "58491cbd-d72b-4ac4-ab97-bed0b46302ff",
      "credentials": {
        "telegramApi": {
          "id": "LMFStuVXJKfeRhz1",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-10T10:14:30.669Z",
      "updatedAt": "2025-09-10T10:14:30.669Z",
      "role": "workflow:owner",
      "workflowId": "qntX4BeH0MkIqj27",
      "projectId": "76fyU5IRbEoCs8Xl"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-09-12T17:34:05.000Z",
  "versionId": "6b662d73-995d-481a-809e-c7f3ac217a54"
}